#CatalogMenu1 h4 {
    font-size: 14px;
}

.container section:first-child {
    min-height: 600px;
}

.container section div.row.teasers > div {
    height: inherit;
    /*margin-left: 10px;*/
}

div.row.teasers > div > p.button {
    position: inherit;
}

/* TAN(06.06.2013) */

.pricelist th.cart-order-discount-amount, 
.pricelist td.cart-orderline-product-price, 
.pricelist td.colspan-standard-sixth-column {
    display: none;
}


/* END ----| */

.error {
    border-color: red !important;
}

.top5 { margin-top:5px; }
.top7 { margin-top:7px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top17 { margin-top:17px; }
.top30 { margin-top:30px; }

.table-hover>tbody>tr>td.sum-cell {
    border-bottom-color: black;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-top-color: black;
    border-top-width: 1px;  
}
.table-hover>tbody>tr>td.right-cell, .table-hover>thead>tr>th.right-cell {   
    text-align: right;
}