﻿a {
    color: #33B5E5;
}

.mini-cart-inner-container.active, .mini-cart-inner-container.active > a, .mini-cart-inner-container:hover, .mini-cart-inner-container:hover > a {
    border: 1px solid rgba(0,0,0,0);
    border-bottom: 0px;
    border-radius: 4px 4px 0 0;
    background-color: #33B5E5;
    color: #FFFFFF;
}

.mini-cart-inner-container > div,
.mini-cart-inner-container > a {
    margin: 4px 0 0 4px;
}

.mini-cart {
    vertical-align: bottom;
    text-align: right;
}

.mini-cart-container > a {
    vertical-align: bottom;
    padding: 8px 0 0 0;
}

.mini-cart-content-link,
.mini-cart-content-link:hover 
 {
    text-decoration: none;

}

.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
  color: #333333;
  text-decoration: none;
  background-color: #33B5E5;
}

.navbar .nav > li > a:hover,
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover {
  border-bottom: 1px solid transparent;
}

.navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle {
    background-color: #33B5E5;
    color: #FFFFFF;
}

/* */
.nav-tabs li.active > a,
.nav-tabs li.active > a:hover {
  color: #ffffff;
  background-color: #33b5e5;
  border-color: transparent;
}

.nav-tabs li > a:hover {
    color: #ffffff;
  background-color: #4fcfff;
  border-color: transparent;
}

.nav-list li > a:hover {
    background-color: #4fcfff;
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}