﻿* {
	margin: 0;
	padding: 0;
	font-family: Segoe, Helvetica, Arial, sans-serif;
	font-size: 100%;
	line-height: 1.6;
}

img {
	max-width: 100%;
}

body {
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: none;
	width: 100%!important;
	height: 100%;
}

a {
	color: #348eda;
}

.btn-primary {
	text-decoration: none;
	color: #FFF;
	background-color: #348eda;
	border: solid #348eda;
	border-width: 10px 20px;
	line-height: 2;
	font-weight: bold;
	margin-right: 10px;
	text-align: center;
	cursor: pointer;
	display: inline-block;
	border-radius: 25px;
}

.btn-secondary {
	text-decoration: none;
	color: #FFF;
	background-color: #aaa;
	border: solid #aaa;
	border-width: 10px 20px;
	line-height: 2;
	font-weight: bold;
	margin-right: 10px;
	text-align: center;
	cursor: pointer;
	display: inline-block;
	border-radius: 25px;
}

.last {
	margin-bottom: 0;
}

.first {
	margin-top: 0;
}

.padding {
	padding: 10px 0;
}

table.mail-addresses {
    width: 100%;
    max-width: 600px;
}

.first-td {
    width: 200px;
}

.second-td {
    padding:20px;
    text-align:right;
}

p.button-margin {
    margin-top: 20px;
    margin-bottom: 20px;
}

table.body-wrap {
    max-width: 650px;
	padding: 20px;
}

table.body-wrap .container {
    border: none; /* 1px solid #f0f0f0; */
}

table.footer-wrap {
	width: 100%;	
	clear: both!important;
}

.footer-wrap .container p {
	font-size: 12px;
	color: #666;

}

table.footer-wrap a {
	color: #999;
}

h1, h2, h3 {
	font-family: Segoe, Helvetica, Arial, sans-serif;
	line-height: 1.1;
	margin-bottom: 15px;
	color: #000;
	margin: 10px 0 20px;
	line-height: 1.2;
	font-weight: 200;
}

h1 {
	font-size: 36px;
}
h2 {
	font-size: 28px;
}
h3 {
	font-size: 22px;
}

p, ul, ol {
	margin-bottom: 10px;
	font-weight: normal;
	font-size: 14px;
}

ul li, ol li {
	margin-left: 5px;
	list-style-position: inside;
}

/* Set a max-width, and make it display as block so it will automatically stretch to that width, but will also shrink down on a phone or something */
.container {
	display: block!important;
	max-width: 600px!important;
	margin: 0 auto!important; /* makes it centered */
	clear: both!important;
}

/* Set the padding on the td rather than the div for Outlook compatibility */
.body-wrap .container {
	padding: 20px;
}

/* This should also be a block element, so that it will fill 100% of the .container */
.content {
	max-width: 600px;
	margin: 0 auto;
	display: block;
}

/* Let's make sure tables in the content area are 100% wide */
.content table {
	width: 100%;
}

.logo {
    margin: 20px;
}

td.sum-cell {
    border-bottom: 1px solid black;
    border-top-color: black;
    border-top-width: 1px;
}

table.fixed-table {
    table-layout: fixed;
    width: 210px;
}

td.fix-width {
    width: 100px;
}

th {
    text-align: left;
}