﻿@using Resources
@model Controllers.RegistrationModel

@{
    ViewBag.Title = System.Configuration.ConfigurationManager.AppSettings["SHOP_TITLE"] + " - " + Language.LABEL_MENU_LOGIN;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        @if (Model.IsSuccess && !Model.IsApproved)
        {
            <h1>@Language.LABEL_USER_GREETING @Model.ContactName</h1>
        }
        else if (Model.IsSuccess && Model.IsApproved)
        {
            <h1>@Language.LABEL_PAGE_HAS_EXPIRED</h1>
        }
        else
        {
            <h1>@Language.LABEL_SOMETHING_WENT_WRONG</h1>
        }
    </div>
    <div class="col-sm-12">
        @if (Model.IsSuccess && !Model.IsApproved)
        {
            <p>
                @Language.LABEL_USER_GREETING @Model.ContactName. @Language.LABEL_USER_ACCOUNT_CREATED_WITH_LOGIN @Model.UserLogin
                <br />
                @Language.LABEL_USER_ACCOUNT_NEED_TO_ACTIVATE_LINE_1
                <br />
                @Language.LABEL_USER_ACCOUNT_NEED_TO_ACTIVATE_LINE_2
            </p>
        }
        else if (Model.IsSuccess && Model.IsApproved)
        {
            <p>
                @Language.LABEL_PAGE_HAS_EXPIRED
            </p>
        }
        else
        {
            <p>
                @Language.LABEL_CONTACT_SUPPORT_FOR_HELP.
            </p>
        }
    </div>
</div>
