﻿@using System.Configuration
@using Resources
@model Controllers.RegistrationModel
@{
    ViewBag.Title = ConfigurationManager.AppSettings["SHOP_TITLE"] + " - " + Language.LABEL_REGISTER_AS_NEW_USER;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-12">

        @if (Model.IsSuccess)
        {
            <h4>@Language.LABEL_REGISTRATION_CONFIRM_OK</h4>
            <p>@Html.ActionLink(Language.LABEL_MENU_LOGIN, "Login")</p>
        }
        else
        {
            <h4>@Language.LABEL_REGISTRATION_CONFIRM_ERROR</h4>
        }
    </div>
</div>
