﻿@using Resources
@model ViewModels.LoginModel

@{
    ViewBag.Title = System.Configuration.ConfigurationManager.AppSettings["SHOP_TITLE"] + " - " + Language.LABEL_MENU_LOGIN;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <h1>@Language.LABEL_MENU_LOGIN</h1>
    </div>
    <div class="col-sm-12">
        <div class="form-horizontal">
            @using (Html.BeginForm(new {ViewBag.ReturnUrl}))
            {
                @Html.AntiForgeryToken()
                
                if (!ViewData.ModelState.IsValid)
		        {
			        <div class="alert alert-danger alert-dismissable">
				        <button class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				        @Html.ValidationSummary(true, string.Empty, new {Class = ""})
			        </div>
		        }

                <div class="form-group">
                    @Html.LabelFor(m => m.UserName, new {@class = "control-label col-sm-2"})
                    <div class="col-sm-4">
                        @Html.TextBoxFor(m => m.UserName, new {@class = "form-control", id = "login-box", autofocus="autofocus"})
                        @Html.ValidationMessageFor(m => m.UserName)
                    </div>
                </div>
                <div class="form-group">

                    @Html.LabelFor(m => m.Password, new {@class = "control-label col-sm-2"})
                    <div class="col-sm-4">
                        @Html.PasswordFor(m => m.Password, new {@class = "form-control"})
                        @Html.ValidationMessageFor(m => m.Password)
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-4">
                        <div class="checkbox">
                            <label>
                                @Html.CheckBoxFor(m => m.RememberMe, new {@class = "checkbox"}) <span class="displaced-label">@Language.LABEL_REMEMBER_ME</span>
                            </label>
                        </div>
                    </div>
                </div>

                <button class="btn btn-sm btn-primary col-sm-offset-2"><i class="fa fa-sign-in"></i>&nbsp;@Language.LABEL_MENU_LOGIN</button>
            }
        </div>
        <div class="col-sm-offset-2">
            <p class="new-account">
                <a href="@Url.Action("Register", "Accounts")" class="btn btn-warning btn-sm"><i class="fa fa-user-plus"></i>&nbsp;@Language.ACTION_REGISTER</a> <a href="@Url.Action("RequestNewPassword", "Accounts")" class="btn btn-default btn-sm"><i class="fa fa-question-circle"></i>&nbsp;@Language.LABEL_LOST_PASSWORD_SUBJECT</a>
            </p>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $(function() {
            $("#login-box").focus();
        });
    });
</script>