﻿@using System.Configuration
@model dynamic

@{
    ViewBag.Title = ConfigurationManager.AppSettings["SHOP_TITLE"] + " - " + Resources.Language.LABEL_MENU_LOGOUT;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <h1>@ViewBag.Title</h1>
    </div>
    <div class="col-sm-12">
        <p>@Resources.Language.LABEL_LOGOUT_COMPLETE</p>
    </div>
</div>
