﻿@using System.Configuration
@using Resources
@model ViewModels.RegisterUserFormModel


@{
    ViewBag.Title = ConfigurationManager.AppSettings["SHOP_TITLE"] + " - " + Language.LABEL_REGISTER_AS_NEW_USER;
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <h1>@Language.LABEL_REGISTER_AS_NEW_USER</h1>
    </div>
	<div class="col-md-12">
		<p>@Language.LABEL_STARMARKED_INPUT_IS_REQUIRED</p>
	</div>
</div>

<div class="row">
	@using (@Html.BeginForm("Register", "Accounts", FormMethod.Post, new {@class = "form-horizontal col-md-11", @role = "form"}))
	{
		@Html.AntiForgeryToken()

		if (!ViewData.ModelState.IsValid)
		{
			<div class="alert alert-danger alert-dismissable">
				<button class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				@Html.ValidationSummary(false, string.Empty, new {Class = ""})
			</div>
		}

		@Html.Partial("Partials/_RegisterForm", @Model)
     
		<div class="form-group">
			<div class="controls col-sm-12 input-group col-sm-offset-2">
				<button type="submit" class="btn btn-primary"><i class="fa fa-send"></i> @Language.ACTION_SUBMIT</button>&nbsp;
			</div>
		</div>
	}
</div>