﻿@using Resources
@model ViewModels.RequestNewPasswordViewModel


@{
    ViewBag.Title = Language.LABEL_I_FORGOT_MY_PASSWORD;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<p>
    @Language.MESSAGE_DID_YOU_FORGET_YOUR_EMAIL_THEN_RECIEVE_A_NEW
</p>

<div class="row">
    @using (@Html.BeginForm("RequestNewPassword", "Accounts", FormMethod.Post, new { @class = "form-horizontal col-md-11", @role = "form" }))
    {
        @Html.AntiForgeryToken()

        if (!ViewData.ModelState.IsValid)
        {
            <div class="alert alert-danger alert-dismissable">
                <button class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                @Html.ValidationSummary(false, string.Empty, new {Class = ""})
            </div>
        }
        else if(@Model.Success)
        {
            <div class="alert alert-success alert-dismissable">
                <button class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                @Html.DisplayTextFor(u => u.Message)
            </div>
        }

        <div class="form-group">
            <label class="control-label col-sm-2">@Language.LABEL_USERDATA_LOGIN</label>
            <div class="controls col-sm-4 input-group">
                @Html.TextBoxFor(u => u.UserName, new { Class = "form-control" })
                <span class="input-group-addon">*</span>
            </div>
            <div class="clearfix"></div>
            <div class="col-sm-offset-2 col-sm-4">
                @Html.ValidationMessageFor(u => u.UserName)
            </div>
        </div>
     
        <div class="form-group">
            <label class="control-label col-sm-2">@Language.LABEL_USERDATA_EMAIL</label>
            <div class="controls col-sm-4 input-group">
                @Html.TextBoxFor(u => u.EmailAddress, new { Class = "form-control" })
                <span id="" class="input-group-addon">*</span>
            </div>
            <div class="clearfix"></div>
            <div class="col-sm-offset-2 col-sm-4">
                @Html.ValidationMessageFor(u => u.EmailAddress)
            </div>
        </div>

        <div class="form-group">
            <div class="controls col-sm-12 input-group col-sm-offset-2">
                <button type="submit" class="btn btn-primary"><i class="fa fa-send"></i> @Language.ACTION_SUBMIT</button>&nbsp;
            </div>
        </div>
    }
</div>
