﻿@using Resources
@using ViewModels
@model ViewModels.ResetPasswordViewModel

@{
    ViewBag.Title = Language.Label_create_new_password_for_your_account;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<div class="row">
    @using (@Html.BeginForm("UpdateResetPassword", "Accounts", FormMethod.Post, new { @class = "form-horizontal col-md-11", @role = "form" }))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(u => u.ResetToken);

        if (!ViewData.ModelState.IsValid)
        {
            <div class="alert alert-danger alert-dismissable">
                <button class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                @Html.ValidationSummary(false, string.Empty, new {Class = ""})
            </div>
        }
        else if(@Model.Success)
        {
            <div class="alert alert-success alert-dismissable">
                <button class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                @Html.DisplayTextFor(u => u.Message)
            </div>
        }

        if (ViewData.ModelState.IsValid)
        {
            <div class="form-group">
                <label class="control-label col-sm-2">@Language.LABEL_USERDATA_LOGIN</label>
                <div class="controls col-sm-4 input-group">
                    @Html.TextBoxFor(u => u.UserName, new {Class = "form-control"})
                    <span class="input-group-addon">*</span>
                </div>
                <div class="clearfix"></div>
                <div class="col-sm-offset-2 col-sm-4">
                    @Html.ValidationMessageFor(u => u.UserName)
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">@Language.LABEL_USERDATA_NEW_PASSWORD</label>
                <div class="controls col-sm-4 input-group">
                    @Html.TextBoxFor(u => u.Password, new {Class = "form-control", type = "password"})
                    <span id="" class="input-group-addon">*</span>
                </div>
                <div class="col-sm-offset-2 col-sm-4">
                    @Html.ValidationMessageFor(u => u.Password)
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">@Language.LABEL_USERDATA_NEW_PASSWORD_CONFIRM</label>
                <div class="controls col-sm-4 input-group">
                    @Html.TextBoxFor(u => u.ConfirmedPassword, new {Class = "form-control", type = "password"})
                    <span id="" class="input-group-addon">*</span>
                </div>
                <div class="col-sm-offset-2 col-sm-4">
                    @Html.ValidationMessageFor(u => u.ConfirmedPassword)
                </div>
            </div>

            <div class="form-group">
                <div class="controls col-sm-12 input-group col-sm-offset-2">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-send"></i> @Language.ACTION_SUBMIT</button>&nbsp;
                </div>
            </div>
        }
    }
</div>
