﻿@using Resources
@model ViewModels.LoginModel

@{
    ViewBag.Title = System.Configuration.ConfigurationManager.AppSettings["SHOP_TITLE"] + " - " + Language.LABEL_MENU_LOGIN;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <h1>@Language.LABEL_MENU_LOGIN</h1>
        <p>@Language.LABEL_ENTER_GOOGLE_AUTHENTICATOR_CODE</p>
    </div>
    <div class="col-sm-12">
        <div class="form-horizontal">
            @using (Html.BeginForm(new { ViewBag.ReturnUrl }))
            {
 @Html.AntiForgeryToken()
                
                if (!ViewData.ModelState.IsValid)
                {

                <div class="alert alert-danger alert-dismissable">
                    <button class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    @Html.ValidationSummary(true, string.Empty, new { Class = "" })
                </div>
                }

                <div class="form-group">

                    @Html.LabelFor(m => m.Pin, new {@class = "control-label col-sm-2"})
                    <div class="col-sm-4">
                        @Html.PasswordFor(m => m.Pin, new {@class = "form-control"})
                        @Html.ValidationMessageFor(m => m.Pin)
                    </div>
                </div>

                <div>
                    @Html.Hidden("Password", @Model.Password)
                    @Html.Hidden("UserName", @Model.UserName)
                </div>
                
                <button class="btn btn-sm btn-primary col-sm-offset-2"><i class="fa fa-sign-in"></i>&nbsp;@Language.LABEL_MENU_LOGIN</button>
            }
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $(function () {
            $("#login-box").focus();
        });
    });
</script>