﻿@using System.Linq
@model ViewModels.ResetPasswordViewModel

@{
    Page.Title = "Password reset";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h1>@Resources.Language.Label_password_reset_heading</h1>

    <p></p>

    @if (Model.Success)
    {
        <div class="alert alert-success alert-dismissable">
            <button class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            @Html.DisplayTextFor(u => u.Message)
        </div>
    }

    @if (!ViewData.ModelState.IsValid)
    {
        string messages = string.Join("; ", ViewData.ModelState.Values
                                        .SelectMany(x => x.Errors)
                                        .Select(x => x.ErrorMessage));
        <div class="alert alert-danger alert-dismissable">
            <button class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <h3>@Resources.Language.Label_password_reset_failed</h3>
            <p>@messages</p>
        </div>
    }

</div>
