﻿<!--
Template information used by the Catalog Manager
#NAME=Cart Page
#DESCRIPTION=Displays a cart page.
#GROUPTEMPLATE=TRUE
#PRODUCTTEMPLATE=FALSE
#PROPERTYGROUP=NAME, ALIAS, REDIRECTURL, TEMPLATE, TITLE, CONTROLLER | Page Properties
#PROPERTYGROUP=HTMLDESC | Additional Info
-->

@using System.Configuration
@using Resources
@model ViewModels.CartViewModel
@{
    ViewBag.Title = ConfigurationManager.AppSettings["SHOP_TITLE"] + " - " + Language.LABEL_MINI_CART_HEAD;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        @if (!ViewData.ModelState.IsValid)
        {
            <div class="alert alert-danger alert-dismissable alert-top">
                <button class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                @Html.ValidationSummary(false, string.Empty, new { Class = "" })
            </div>
        }
    </div>
</div>

@if (Model.ProductItems.Count <= 0)
{
    @Html.Partial("Partials/_OrderEmpty", @Model)
}
else
{
    <div id="cart-list">
        <table class="table table-hover table-condensed">
            <thead>
                <tr>
                    <th class="column product-name col-md-5 col-sm-4">
                        @Language.LABEL_PRODUCT
                    </th>
                    <th class="column product-quantity col-md-1 col-sm-1 col-xs-1">
                        @Language.LABEL_QUANTITY
                    </th>
                    <th class="column product-price col-md-1 col-sm-1 hidden-xs">
                        @Language.LABEL_PRICE
                    </th>
                    <th class="column product-discount-amount col-md-1 col-sm-1 hidden-xs">
                        @Language.LABEL_DISC_AMOUNT
                    </th>
                    <th class="column product-discount-percentage col-md-1 col-sm-1 hidden-xs">
                        @Language.LABEL_DISC_PROCENT
                    </th>
                    <th class="column product-line-total col-md-1 col-sm-2 col-xs-3">
                        @Language.LABEL_LINE_TOTAL
                    </th>
                </tr>
            </thead>
            <tbody>
                @Html.Partial("Partials/_OrderItems", @Model.ProductItems)
            </tbody>
        </table>
        <div class="row">
            @Html.Action("PopularProducts", "MostPopular")
            <div class="col-md-4 col-sm-4" id="cart-total-list">
                <table class="table table-hover">
                    <tr>
                        <td class="column product-discount-procent">
                            @Language.LABEL_INVOICE_DISCOUNT
                        </td>
                        <td class="column last-column">- @Model.OrderTotals.Discount
                        </td>
                    </tr>
                    <tr>
                        <td class="column product-discount-procent">
                            @Language.LABEL_SERVICE_CHARGE
                        </td>
                        <td class="column last-column">
                            @Model.OrderTotals.ServiceCharge
                        </td>
                    </tr>
                    <tr class="sub-total">
                        <td class="column product-discount-procent sum-cell">
                            @Language.LABEL_SUB_TOTAL
                        </td>
                        <td class="column-8 last-column product-line-total sum-cell">
                            @Model.OrderTotals.SubTotal
                        </td>
                    </tr>
                    <tr>
                        <td class="column product-discount-procent">
                            @Language.LABEL_SHIPPING
                        </td>
                        <td class="column last-column">
                            @Model.OrderTotals.FreightCost
                        </td>
                    </tr>
                    <tr>
                        <td class="column product-discount-procent">
                            @Language.LABEL_HANDLING
                        </td>
                        <td class="column last-column">
                            @Model.OrderTotals.HandlingFee
                        </td>
                    </tr>
                    <tr>
                        <td class="column product-discount-procent">
                            @Language.LABEL_PAYMENT_FEE
                        </td>
                        <td class="column last last-column">
                            @Model.OrderTotals.PaymentFee
                        </td>
                    </tr>
                    <tr>
                        <td class="column product-discount-procent">
                            @Language.LABEL_TOTAL @Language.LABEL_EXCLUSIVE_VAT
                        </td>
                        <td class="column total last last-column">
                            @Model.OrderTotals.Total
                        </td>
                    </tr>
                    @foreach (var obj in Model.OrderTotals.TaxAmounts.Keys)
                    {
                        <tr>
                            <td class="column product-discount-procent">
                                @Language.LABEL_TAXAMOUNT @obj%
                            </td>
                            <td class="column last last-column">
                                @Model.OrderTotals.TaxAmounts[@obj]
                            </td>
                        </tr>
                    }
                    <tr>
                        <td class="column product-discount-procent sum-cell">
                            @Language.LABEL_TOTAL @Language.LABEL_INCLUSIVE_VAT
                        </td>
                        <td class="column last last-column sum-cell">
                            @Model.OrderTotals.TotalInclTax
                        </td>
                    </tr>
                    <tr>
                        <td class="column product-discount-procent">
                            @Language.LABEL_HANDLING_AND_SHIPPING
                        </td>
                        <td class="column last last-column">
                            <a href="@Url.Action("ChangeShippingProvider", "Checkout")">@Model.OrderTotals.ShippingHandlingProviderName</a>
                        </td>
                    </tr>
                </table>
                @Html.Action("PromotionBox", "Promotions")
            </div>
        </div>
        @Html.Partial("EditorTemplates/AdditionalInfo", @Model.Header)
    </div>
}

<div class="row">
    <div class="col-xs-12 no-padding-xs">
        @Html.Raw(Model.CmsEditedFields.HtmlContent)
    </div>
</div>

<div class="row">
    <div class="col-xs-12 no-padding-xs">
        <p class="description-text">
            @(Model.PricesIncludeTax ? Language.LABEL_PRICES_ARE_INLUDING_TAX : Language.LABEL_PRICES_ARE_EXLUDING_TAX)
        </p>
    </div>
</div>
