﻿@using System.Configuration
@using Resources
@{
    Layout = "~/EISCMS/Views/_CMSLayout.cshtml";
    ViewBag.Title = ConfigurationManager.AppSettings["SHOP_TITLE"] + " - " + CmsLanguage.LABEL_BUSINESS_CENTER;
}

<div class="row">
    <div class="col-sm-12">
        <h1 class="page-header">@CmsLanguage.LABEL_BUSINESS_CENTER</h1>
    </div>
    
    <div class="col-md-12 col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-line-chart fa-fw"></i>&nbsp;@CmsLanguage.LABEL_INFO_PANEL
            </div>
            <div class="panel-body">
                @Html.Partial("Partials/_InfoPanel")
            </div>
        </div>
            
        <div class="panel panel-default visible-lg">
            <div class="panel-heading">
                <i class="fa fa-link fa-fw"></i>&nbsp;@CmsLanguage.LABEL_USEFUL_LINKS
            </div>
            <div class="panel-body">
                @Html.Partial("Partials/_UsefulLinks")
            </div>
        </div>
    </div>

    <div class="col-md-12 col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-area-chart fa-fw"></i>&nbsp;@CmsLanguage.LABEL_SALES
            </div>
            <div class="panel-body">
                @Html.Partial("Partials/_SalesChart")
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-shopping-cart fa-fw"></i>&nbsp;@CmsLanguage.LABEL_LAST_10_ORDERS
            </div>
            <div class="panel-body">
                @Html.Action("LastOrders", "BusinessCenter")
            </div>
        </div>
        
        <div class="panel panel-default hidden-lg">
            <div class="panel-heading">
                <i class="fa fa-link fa-fw"></i>&nbsp;@CmsLanguage.LABEL_USEFUL_LINKS
            </div>
            <div class="panel-body">
                @Html.Partial("Partials/_UsefulLinks")
            </div>
        </div>
    </div>
    
</div>

<script>
    $(document).ready(function () {
        drawGraph(365);

        $("#chatSalesPills li").click(function() {
            $("#chatSalesPills li").removeClass("active");
            $(this).addClass("active");
            drawGraph($(this).data("days"));
        });
    });
</script>
<script src="@Url.Content("~/EISCMS/Content/js/plugins/flot/jquery.flot.js")"></script>
<script src="@Url.Content("~/EISCMS/Content/js/plugins/flot/jquery.flot.time.js")"></script>
<script src="@Url.Content("~/EISCMS/Content/js/plugins/flot/jquery.flot.resize.js")"></script>