﻿@using System.Configuration
@using Resources
@{
    Layout = "~/EISCMS/Views/_CMSLayout.cshtml";
    ViewBag.Title = ConfigurationManager.AppSettings["SHOP_TITLE"] + " - " + CmsLanguage.LABEL_KPI;
    var daysWithoutReport = (int) ViewData["DaysWithoutReport"];
}

<div class="row">
    <div class="col-sm-12">
        <h1 class="page-header">@CmsLanguage.LABEL_KPI</h1>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-lg-7">
        <div class="panel">
            <div class="panel-body">
                <div class="page-top-bar col-sm-12">
                    <div class="form-inline" id="periodSelector">
                        <div class="form-group">
                            Select period: <input placeholder="dd/mm/yyyy" data-toggle="tooltip" data-trigger="manual" title="@CmsLanguage.LABEL_NO_DATA_IN_THESE_DATES" class="form-control" type="text" name="startDate" />
                        </div>
                        - 
                        <div class="form-group">
                            <input placeholder="dd/mm/yyyy" data-toggle="tooltip" data-trigger="manual" title="@CmsLanguage.LABEL_NO_DATA_IN_THESE_DATES" class="form-control" type="text" name="endDate" />
                        </div><br/><br/>
                        <div class="form-group">
                            @CmsLanguage.LABEL_COMPARE_WITH <select class="form-control" name="period">
                                              <option value="PP">@CmsLanguage.LABEL_PREVIOUS_PERIOD</option>
                                              <option value="LY">@CmsLanguage.LABEL_LAST_YEAR</option>
                                          </select>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary" onclick="applyPeriod()" id="ApplyPeriod"><i class="fa fa-check-circle"></i>&nbsp;@Language.ACTION_ACCEPT_2</button>
                        </div>
                    </div>

                    @if (daysWithoutReport >= 15)
                    {
                        using (Html.BeginForm("GenerateReport", "BusinessCenter"))
                        {
                            @Html.AntiForgeryToken()
                            <a href="#" class="btn btn-primary"><i class="fa fa-magic"></i>&nbsp;@CmsLanguage.LABEL_GENERATE_REPORT (@daysWithoutReport @CmsLanguage.LABEL_DAYS_WITHOUT_REPORT)</a>
                        }
                    }
                </div>
                <div class="col-sm-12 col-md-12">
                    <table class="table" id="kpiTable">
                        <thead>
                            <tr>
                                <th></th>
                                <th class="kpi-total startDateField firstPeriod"></th>
                                <th class="kpi-total startDateField secondPeriod"></th>
                                <th class="kpi-percentage">@Language.ACTION_CHANGE</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>@CmsLanguage.LABEL_TOTAL_LOGINS</td>
                                <td class="kpi-total totalLoginsField firstPeriod"></td>
                                <td class="kpi-total totalLoginsField secondPeriod"></td>
                                <td class="kpi-percentage positive-value"></td>
                            </tr>
                            <tr>
                                <td>@CmsLanguage.LABEL_NEW_USERS</td>
                                <td class="kpi-total newUsersField firstPeriod"></td>
                                <td class="kpi-total newUsersField secondPeriod"></td>
                                <td class="kpi-percentage positive-value"></td>
                            </tr>
                            <tr>
                                <td>@CmsLanguage.LABEL_TOTAL_REVENUE_WITHOUT_VAT</td>
                                <td class="kpi-total totalRevenueNoVATField firstPeriod"></td>
                                <td class="kpi-total totalRevenueNoVATField secondPeriod"></td>
                                <td class="kpi-percentage positive-value"></td>
                            </tr>
                            <tr>
                                <td>@CmsLanguage.LABEL_TOTAL_ORDERS</td>
                                <td class="kpi-total totalOrdersField firstPeriod"></td>
                                <td class="kpi-total totalOrdersField secondPeriod"></td>
                                <td class="kpi-percentage positive-value"></td>
                            </tr>
                            <tr>
                                <td>@CmsLanguage.LABEL_TOTAL_ITEMS_SOLD</td>
                                <td class="kpi-total totalItemsField firstPeriod"></td>
                                <td class="kpi-total totalItemsField secondPeriod"></td>
                                <td class="kpi-percentage positive-value"></td>
                            </tr>
                            <tr>
                                <td>@CmsLanguage.LABEL_AVERAGE_PRICE_PER_ITEM</td>
                                <td class="kpi-total avgItemPrizeField firstPeriod"></td>
                                <td class="kpi-total avgItemPrizeField secondPeriod"></td>
                                <td class="kpi-percentage positive-value"></td>
                            </tr>
                            <tr>
                                <td>@CmsLanguage.LABEL_AVERAGE_ITEMS_PER_ORDER</td>
                                <td class="kpi-total avgOrderSizeField firstPeriod"></td>
                                <td class="kpi-total avgOrderSizeField secondPeriod"></td>
                                <td class="kpi-percentage positive-value"></td>
                            </tr>
                            <tr>
                                <td>@CmsLanguage.LABEL_CONVERSION_RATE</td>
                                <td class="kpi-total conversionRateField firstPeriod"></td>
                                <td class="kpi-total conversionRateField secondPeriod"></td>
                                <td class="kpi-percentage positive-value"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        ajaxCallToSelectPeriod(getOneMonthDate(), getTodaysDate(), "PP");
        
        $("td.kpi-percentage:contains('-')").removeClass("positive-value").addClass("negative-value");
        $("td.kpi-percentage:contains('N/A')").removeClass("positive-value");

        $("input[name=startDate]").datepicker({
            dateFormat: "dd/mm/yy",
            maxDate: -1,
            firstDay: 1,
            changeMonth: true,
            onClose: function (selectedDate) {
                $("input[name=endDate]").datepicker("option", "minDate", selectedDate);
            }
        });
        $("input[name=endDate]").datepicker({
            dateFormat: "dd/mm/yy",
            maxDate: 0,
            firstDay: 1,
            changeMonth: true,
            onClose: function (selectedDate) {
                $("input[name=startDate]").datepicker("option", "maxDate", selectedDate);
            }
        });

        $("input[name=startDate]").click(function() {
            $("input[name=startDate]").tooltip("hide");
        });

        $("input[name=endDate]").click(function () {
            $("input[name=endDate]").tooltip("hide");
        });
    });
</script>