﻿@using System.Configuration
@using Resources
@model ViewModels.Order.OrderViewModel
@{
    Layout = "~/EISCMS/Views/_CMSLayout.cshtml";
    ViewBag.Title = ConfigurationManager.AppSettings["SHOP_TITLE"] + " - " + @CmsLanguage.LABEL_BUSINESS_CENTER;
}

<div class="row">
    <div class="col-sm-12" id="orderDetail">
        @Html.Partial("../shared/Order/_Order", Model)
    </div>
</div>