﻿@using System.Configuration
@using Resources
@model FormModels.CompanyInfoFormModel
@{
    Layout = "~/EISCMS/Views/_CMSLayout.cshtml";
    ViewBag.Title = ConfigurationManager.AppSettings["SHOP_TITLE"] + " - " + CmsLanguage.LABEL_SETTINGS;
}

<div class="row">
    <div class="col-sm-12">
        <h1 class="page-header">@CmsLanguage.LABEL_SETTINGS</h1>
    </div>
</div>
<div class="row">
    <div class="col-sm-8">
        
                @using (@Html.BeginForm("Settings", "BusinessCenter", FormMethod.Post, new {@class = "form-horizontal", @role = "form"}))
                {
                    @Html.AntiForgeryToken()

                    if (!ViewData.ModelState.IsValid)
                    {
                        <div class="alert alert-danger alert-dismissable">
                            <button class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            @Html.ValidationSummary(false, string.Empty, new {Class = ""})
                        </div>
                    } else if (ViewData.ModelState.IsValid && Model.IsSuccess)
	                {
		                <div class="alert alert-success alert-dismissable">
			                <button class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			                @Html.Raw(HttpUtility.HtmlDecode(Html.ValidationSummary(false, String.Format("<i class=\"fa fa-check\"></i> " + @Resources.Language.LABEL_SUCCESS), new {Class = ""}).ToString()))
		                </div>
	                }
                    <div class="panel panel-default">
                        <div class="panel-body">
                            
                            <div class="form-group">
                                <label class="control-label-left col-sm-2">@Language.LABEL_USERDATA_COMPANY</label>
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(c => c.CompanyName, new {Class = "form-control"})
                                </div>
                            </div>

                            @*<div class="form-group">
                        <label class="control-label-left col-sm-2">@Language.LABEL_COMPANY_VAT_NO</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(c => c.CompanyVATNo, new {Class = "form-control"})
                        </div>
                    </div>*@

                            <div class="form-group">
                                <label class="control-label-left col-sm-2">@Language.LABEL_USERDATA_ADDRESS_1</label>
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(c => c.Address1, new {Class = "form-control"})
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label-left col-sm-2">@Language.LABEL_USERDATA_ADDRESS_2</label>
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(c => c.Address2, new {Class = "form-control"})
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label-left col-sm-2">@Language.LABEL_USERDATA_EMAIL</label>
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(c => c.EmailAddress, new {Class = "form-control"})
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label-left col-sm-2">@Language.LABEL_USERDATA_CITY</label>
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(c => c.CityName, new {Class = "form-control"})
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label-left col-sm-2">@Language.LABEL_USERDATA_ZIPCODE</label>
                                <div class="col-sm-2">
                                    @Html.TextBoxFor(c => c.ZipCode, new {Class = "form-control"})
                                </div>
                            </div>
        
                            <div class="form-group">
                                <label class="control-label-left col-sm-2">@Language.LABEL_COUNTRY_CODE</label>
                                <div class="col-sm-2">
                                    @Html.TextBoxFor(c => c.CountryGuid, new {Class = "form-control"})
                                </div>
                            </div>
        
                            <div class="form-group">
                                <label class="control-label-left col-sm-2">@Language.LABEL_USERDATA_COUNTRY</label>
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(c => c.CountryName, new {Class = "form-control"})
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label-left col-sm-2">@Language.LABEL_WEBSITE</label>
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(c => c.HomePage, new {Class = "form-control"})
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label-left col-sm-2">@Language.LABEL_PHONENO</label>
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(c => c.PhoneNo, new {Class = "form-control"})
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label-left col-sm-2">@Language.LABEL_FAXNO</label>
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(c => c.FaxNo, new {Class = "form-control"})
                                </div>
                            </div>
        
                            <input type="hidden" value="@Model.CompanyGuid" />
        
                            <button class="btn btn-primary pull-right" type="submit"><i class="fa fa-send"></i>&nbsp;@Language.ACTION_SUBMIT</button>
                        </div>
                    </div>
                    
                }
    </div>
</div>   
    