﻿@using System.Configuration
@using System.Threading
@using Resources
@model FormModels.ServiceOrder.ServiceOrderItemFormModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = ConfigurationManager.AppSettings["SHOP_TITLE"] + " - " + @Language.LABEL_NEW_SERVICE_ORDER;
}

@section header {
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Scripts/Bundles/jquery-ui/jquery.ui.smoothness.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/datatables/dataTables.bootstrap.css")" />
    <script type="text/javascript" src="@Url.Content("~/Content/datatables/jquery.dataTables.js")"> </script>
    <script type="text/javascript" src="@Url.Content("~/Content/datatables/dataTables.bootstrap.js")"> </script>
}

<div class="row service-order">
    <div class="col-md-6">
        <a href="@Url.Action("Index", "ServiceOrder")" class="btn btn-default btn-sm pull-left back-btn"><i class="fa fa-arrow-circle-left fa-lg"></i>&nbsp;@Language.SO_LABEL_INPUT_BACK_BUTTON</a>
    </div>
    <div class="col-md-6">
        <a href="@Url.Action("CreateByCustomer")" id="FindCustomerButton" class="btn btn-info btn-sm pull-right"><i class="fa fa-user"></i>&nbsp;@Language.ACTION_FIND_CUSTOMER</a>
    </div>

</div>
<hr/>
<div class="row">
    <div class="col-sm-12">
        <h2>@Language.SO_LABEL_FIND_SERVICE_ITEM</h2>
    </div>
    @if (ViewBag.CustomerGuid != null)
    {
        <div class="col-md-12">
            <a href="@Url.Action("NewServiceOrder", new {customerGuid = ViewBag.CustomerGuid, addressGuid = ViewBag.AddressGuid})" class="btn btn-primary"><i class="fa fa-times"></i>&nbsp;@Language.LABEL_CREATE_WITHOUT_SERVICE_ITEM</a>                
        </div>
    }

    <div class="col-md-12 col-sm-12 col-xs-12">
        @Html.ValidationSummary(false, null, new {@class = "alert alert-danger"})
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="dataTable table" id="SelectServiceItem">
            <thead>
                <tr>
                    <th>@Language.LABEL_SERVICE_ITEM_NUMBER</th>
                    <th>@Language.LABEL_SERIAL_NUMBER</th>
                    <th>@Language.LABEL_PRODUCT_ID</th>
                    <th>@Language.LABEL_DESCRIPTION</th>
                    <th>@Language.SO_LABEL_INPUT_CUSTOMER</th>
                    <th>@Language.SO_LABEL_SHIPPINGCITY</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<hr/>

<script>
    $(document).ready(function() {
        var rootUrl = '@Url.Content("~/")';
        var language = '@Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName';
        var languageUrl = rootUrl + 'Content/datatables/i18n/' + language + '.txt';

        var customerGuid = '@ViewBag.CustomerGuid';
        var addressGuid = '@ViewBag.AddressGuid';

        var customerGuidUrl = "";
        var addressGuidUrl = "";

        if (customerGuid != "")
            customerGuidUrl = "?customerGuid=" + customerGuid;

        if (addressGuid != "") {
            var symbol = "?";
            if (customerGuid != "")
                symbol = "&";
            addressGuidUrl = symbol + "addressGuid=" + addressGuid;

        }

        $("#SelectServiceItem").dataTable({
            "processing": true,
            "serverSide": true,
            "ajax": {
                "url": rootUrl + "ServiceOrder/GetServiceItems" + customerGuidUrl + addressGuidUrl,
                "type": "POST"
            },
            "responsive": true,
            "bAutoWidth": false,
            "order": [0, 'asc'],
            "language": {
                "url": languageUrl,
            },
            "columns":
            [
                {
                    "data": "ServiceItemNo",
                    "className": "ServiceItemNo",
                    "render": function(data, type, full) {
                        var column = "<a href='@Url.Action("NewServiceOrderFor", "ServiceOrder", new {serviceItem = "__data__"})'>__data__</a>";
                        return column.replace(/__data__/g, data);
                    }
                },
                {
                    "data": "SerialNo",
                    "className": "SerialNo"
                },
                {
                    "data": "ItemNo",
                    "className": "ItemNo"
                },
                {
                    "data": "Description",
                    "className": "Description"
                },
                {
                    "data": "CustomerGuid",
                    "className": "CustomerGuid",
                    "render": function(data, type, full) {
                        return full.CustomerName;
                    }
                },
                {
                    "data": "AddressGuid",
                    "className": "AddressGuid",
                    "render": function(data, type, full) {
                        return full.CustomerAddress;
                    }
                }
            ]
        });

    });
</script>