﻿@using System.Configuration
@using System.Threading
@using EISCS.Shop.BO.BAS
@using Resources
@model FormModels.ServiceOrder.ServiceOrderItemFormModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = ConfigurationManager.AppSettings["SHOP_TITLE"] + " - " + Language.LABEL_NEW_SERVICE_ORDER;
    var serviceItemEnabled = ConfigurationManager.AppSettings.Get("ENABLE_SERVICE_ITEM") == "1";
}

@section header {
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Scripts/Bundles/jquery-ui/jquery.ui.smoothness.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/datatables/dataTables.bootstrap.css")" />
    <script type="text/javascript" src="@Url.Content("~/Content/datatables/jquery.dataTables.js")"> </script>
    <script type="text/javascript" src="@Url.Content("~/Content/datatables/dataTables.bootstrap.js")"> </script>
}

<div class="row service-order">
    <div class="col-md-6">
        <a href="@Url.Action("Index", "ServiceOrder")" class="btn btn-default btn-sm pull-left back-btn"><i class="fa fa-arrow-circle-left fa-lg"></i>&nbsp;@Language.SO_LABEL_INPUT_BACK_BUTTON</a>
    </div>
    @if (serviceItemEnabled)
    {
        <div class="col-md-6">
            <a href="@Url.Action("Create")" id="FindCustomerButton" class="btn btn-info btn-sm pull-right"><i class="fa fa-rocket"></i>&nbsp;@Language.SO_LABEL_FIND_SERVICE_ITEM</a>
        </div>
    }
    
</div>

<hr/>

<div class="row">
    <div class="col-sm-12">
        <h1>@Language.SO_HEADER_SELECT_CUSTOMER</h1>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
        @Html.ValidationSummary(false, null, new { @class = "alert alert-danger" })
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="dataTable table" id="SelectCustomer">
            <thead>
                <tr>
                    <th>@Language.SO_LABEL_SHIPPINGCUSTOMER</th>
                    <th>@Language.SO_LABEL_SHIPPINGADDRESS</th>
                    <th>@Language.SO_LABEL_SHIPPINGZIP</th>
                    <th>@Language.SO_LABEL_SHIPPINGCITY</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<hr/>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <a href="@Url.Action("CreateByCustomerAddress", "ServiceOrder")" type="button" id="ContinueButton" class="btn btn-success btn-sm pull-right hidden">@Language.ACTION_NEXT <i class="fa fa-arrow-circle-right"></i></a>
    </div>
</div>

<script>
    $(document).ready(function () {
        var rootUrl = '@Url.Content("~/")';

        var language = '@Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName';
        var languageUrl = rootUrl + 'Content/datatables/i18n/' + language + '.txt';

        $("#SelectCustomer").dataTable({
            "processing": true,
            "serverSide": true,
            "ajax": {
                "url": rootUrl + "ServiceOrder/GetCustomers",
                "type": "POST"
            },
            "responsive": true,
            "bAutoWidth": false,
            "order": [0, 'asc'],
            "lengthMenu": [ 5, 10, 25, 50, 75, 100 ],
            "pageLength": 5,
            "language": {
                "url": languageUrl,
            },
            "columns":
            [
                {
                    "data": "CustomerGuid",
                    "className": "CustomerGuid",
                    "render": function (data, type, full) {
                        var column = "<a href='@Url.Action("CreateByCustomerAddress","ServiceOrder", new {customerGuid = "__data__"})'>" + full.CompanyName + "</a>";
                        return column.replace(/__data__/g, data);
                    }
                },
                {
                    "data": "Address",
                    "render": function (data, type, full) {
                        if (data != null && full.Address2 != "")
                            return data + ", " + full.Address2;
                        return data;
                    } 
                },
                {
                    "data": "ZipCode"
                },
                {
                    "data": "CityName"
                }
            ]
        });
    });
</script>