﻿@using System.Configuration
@using System.Threading
@using EISCS.ExpandITFramework.Util
@using Resources
@model ViewModels.Customer.CustomerViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = ConfigurationManager.AppSettings["SHOP_TITLE"] + " - " + @Language.LABEL_NEW_SERVICE_ORDER;
}

@section header {
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Scripts/Bundles/jquery-ui/jquery.ui.smoothness.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/datatables/dataTables.bootstrap.css")" />
    <script type="text/javascript" src="@Url.Content("~/Content/datatables/jquery.dataTables.js")"> </script>
    <script type="text/javascript" src="@Url.Content("~/Content/datatables/dataTables.bootstrap.js")"> </script>
}

<div class="row service-order">
    <div class="col-md-6">
        <a href="@Url.Action("CreateByCustomer", "ServiceOrder")" class="btn btn-default btn-sm pull-left back-btn"><i class="fa fa-arrow-circle-left fa-lg"></i>&nbsp;@Language.SO_LABEL_INPUT_BACK_BUTTON</a>
    </div>
    <div class="col-md-6">
        <a href="@Url.Action("Create")" id="FindCustomerButton" class="btn btn-info btn-sm pull-right"><i class="fa fa-rocket"></i>&nbsp;@Language.SO_LABEL_FIND_SERVICE_ITEM</a>
    </div>
</div>

<hr/>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        @Html.ValidationSummary(false, null, new { @class = "alert alert-danger" })
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>@Model.CompanyName: @Language.LABEL_MAIN_ADDRESS</h3>
        <table class="table dataTable" id="MainAddress">
            <thead>
                <tr>
                    <th>@Language.LABEL_ADDRESS</th>
                    <th>@Language.SO_LABEL_CONTACTPERSON</th>
                    <th>@Language.LABEL_USERDATA_ZIPCODE</th>
                    <th>@Language.LABEL_USERDATA_CITY</th>
                    <th>@Language.LABEL_USERDATA_COUNTRY</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @if (!@Model.Address2.IsNullOrEmpty())
                        {
                            <a href='@Url.Action("Create","ServiceOrder", new {addressGuid = "0", customerGuid = ViewBag.CustomerGuid})'>@Model.Address1, @Model.Address2</a>
                        }
                        else
                        {
                            <a href='@Url.Action("Create","ServiceOrder", new {addressGuid = "0", customerGuid = ViewBag.CustomerGuid})'>@Model.Address1</a>
                        }
                    </td>
                    <td>@Model.ContactName</td>
                    <td>@Model.ZipCode</td>
                    <td>@Model.CityName</td>
                    <td>@Model.CountryGuid</td>
                </tr>
            </tbody>
        </table>
        <h3>@Model.CompanyName: @Language.LABEL_OTHER_ADDRESSES</h3>
        <table class="dataTable table" id="SelectCustomer">
            <thead>
                <tr>
                    <th>@Language.LABEL_ADDRESS</th>
                    <th>@Language.SO_LABEL_CONTACTPERSON</th>
                    <th>@Language.LABEL_USERDATA_ZIPCODE</th>
                    <th>@Language.LABEL_USERDATA_CITY</th>
                    <th>@Language.LABEL_USERDATA_COUNTRY</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        var rootUrl = '@Url.Content("~/")';
        var customerGuid = '@ViewBag.CustomerGuid';
        var language = '@Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName';
        var languageUrl = rootUrl + 'Content/datatables/i18n/' + language + '.txt';

        $("#MainAddress").dataTable({
            "info": false,
            "paging": false,
            "ordering": false,
            "searching": false
        });

        $("#SelectCustomer").dataTable({
            "processing": true,
            "serverSide": true,
            "ajax": {
                "url": rootUrl + "ServiceOrder/GetAddressesForCustomer?customerGuid=" + customerGuid,
                "type": "POST"
            },
            "responsive": true,
            "bAutoWidth": false,
            "order": [0, 'asc'],
            "lengthMenu": [ 5, 10, 25, 50, 75, 100 ],
            "pageLength": 5,
            "language": {
                "url": languageUrl,
            },
            "columns":
            [
                {
                    "data": "AddressGuid",
                    "render": function (data, type, full) {
                        var column = "<a href='@Url.Action("Create","ServiceOrder", new {addressGuid = "__data__", customerGuid = "__customer__"})'>" + full.Address1 + "</a>";
                        return column.replace(/__data__/g, data).replace(/__customer__/g, customerGuid);
                    },
                },
                {
                    "data": "ContactPerson"
                },
                                {
                    "data": "ZipCode"
                },
                {
                    "data": "CityName"
                },
                {
                    "data": "CountryGuid"
                }
            ]
        });
    });
</script>