﻿@using System.Configuration
@using EISCS.ExpandITFramework.Util
@using EISCS.Shop.DO.BAS.Dto
@using Resources
@using UIHelpers
@using ViewModels.ServiceOrderCommentLine
@model ViewModels.ServiceOrder.ServiceOrderDetailViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = ConfigurationManager.AppSettings["SHOP_TITLE"] + " - " + @Language.SO_HEADER_SERVICEORDER_SERVICEITEM;
}

@functions {

    public string GetPhoneNumbers()
    {
        string phonenumber = Model.ShiptoPhoneNo;
        if (!string.IsNullOrEmpty(Model.ShiptoPhoneNo2))
            phonenumber += " / " + Model.ShiptoPhoneNo2;

        return phonenumber;
    }

}

<div class="row service-order">
    <div class="col-md-6">
        <a href="@Url.Action("Index", "ServiceOrder")" class="btn btn-default btn-sm"><i class="fa fa-arrow-circle-left fa-lg"></i> @Resources.Language.SO_LABEL_INPUT_BACK_BUTTON</a>
    </div>
    <div class="col-md-6 btn-actions">
        <a href="@Url.Action("Delete", "ServiceOrder", new { serviceOrderGuid = @Model.ServiceOrderGuid })" class="pull-right delete-btn trash-can red"><i class="fa fa-trash-o fa-lg"></i></a>
        <a href="@Url.Action("Edit", "ServiceOrder", new { serviceOrderGuid = @Model.ServiceOrderGuid })" class="pull-right edit-btn"><i class="fa fa-edit fa-lg"></i></a>
        <a href="@Url.Action("Create", "ServiceOrder")" class="pull-right create-btn green"><i class="fa fa-plus-circle fa-lg green"></i></a>
    </div>
</div>
<hr />
@Html.ValidationSummary(true)
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">@Model.ServiceOrderType (@Model.ServiceHeaderGuid)</h3>
            </div>
                <ul class="list-group">
                    @if (!string.IsNullOrEmpty(@Model.JobDescription))
                    {
                        <li class="list-group-item">@Model.JobDescription</li>
                    }
                    <li class="list-group-item">@Language.SO_LABEL_SERVICEORDER_STARTDATE: @Model.SelectedStartDate.ToLongDateString()</li>
                    
                    @if (Model.SelectedFinishDate != DateTime.MinValue)
                    {
                        <li class="list-group-item">@Language.SO_HEADER_COLUMN_FINISHDATE: @Model.SelectedFinishDate.ToLongDateString()</li>
                    }
                    
                    @if (@Model.CreatedComment != null)
                    {
                        <li class="list-group-item">
                            @Model.CreatedComment.CommentText
                        </li>
                    }
                    @if (@Model.ServiceItem != null)
                    {
                        if (!Model.ServiceItem.Description.IsNullOrEmpty())
                        {
                            <li class="list-group-item">
                                @Language.SO_HEADER_SERVICEORDER_SERVICEITEM: @Model.ServiceItem.Description
                            </li>
                        }
                        if (!string.IsNullOrEmpty(Model.ServiceItem.SerialNo))
                        {
                            <li class="list-group-item">
                                @Language.LABEL_SERIAL_NUMBER: @Model.ServiceItem.SerialNo
                            </li>
                        }
                    }
                    @if (Model.HasReport)
                    {
                        foreach (var report in @Model.Reports)
                        {
                        <li class="list-group-item">
                            <a href="@Url.Action("Report", "ServiceOrder", new {reportGuid = report.ReportGuid})" target="_blank"><i class="fa fa-2x fa-file-pdf-o"></i> @Language.LABEL_VIEW_REPORT&nbsp; (@report.ReportName)</a>
                        </li>
                        }
                    }
            </ul>
            
            <div class="panel-footer">
                <div>
                    <label style="font-size: 18px;">@Language.SO_LABEL_SERVICEORDERSTATUS:</label> 
                    @Html.Raw(ServiceOrderViewHelper.GetServiceOrderStatusTranslation((Model.SelectedStatus == null) ? string.Empty : Model.SelectedStatus.StatusGuid, "13"))
                </div>
                @if (Model.BillableStatus != null)
                {
                    <div><label style="font-size: 18px;">Fakbar:</label> @Model.BillableStatus</div>
                }
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title contact-info header">@Language.SO_HEADER_DETAIL_CONTACT_INFO</h3>
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="list-group-text">
                        <span class="btn btn-default disabled">
                            <i class="fa fa-male fa-lg"></i>
                        </span>
                    </div>
                    <span>@Model.ShiptoContactName</span>
                </li>
                <li class="list-group-item">
                    <div class="list-group-text">
                        <span class="btn btn-default disabled">
                            <i class="fa fa-building-o fa-lg"></i>
                        </span>
                    </div>
                    <span>@Model.ShiptoAddress</span>
                </li>
                @if (Model.ShowAddress2)
                {
                    <li class="list-group-item">
                        <div class="list-group-text">
                            <span class="btn btn-default disabled">
                                <i class="fa fa-building-o fa-lg"></i>
                            </span>
                        </div>
                        <span>@Model.ShiptoAddress2</span>
                    </li>
                }
                <li class="list-group-item">
                    <div class="list-group-text">
                        <span class="btn btn-default disabled">
                            <i class="fa fa-road fa-lg"></i>
                        </span>
                    </div>
                    <span>@Model.ShiptoZipCode @Model.ShiptoCityName</span>
                </li>
                <li class="list-group-item">
                    <div class="list-group-text">
                        <span class="btn btn-default disabled">
                            <i class="fa fa-phone fa-lg"></i>
                        </span>
                    </div>
                    <span>@GetPhoneNumbers()</span>
                </li>
                <li class="list-group-item">
                    <div class="list-group-text">
                        <span class="btn btn-default disabled">
                            <i class="fa fa-inbox fa-lg"></i>
                        </span>
                    </div>
                    <span>@Model.ShiptoEmailAddress</span>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 service-order-comment-panel">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">@Language.SO_HEADER_DETAIL_COMMENT</h3>
            </div>
            <div class="panel-body">
                <div class="input-area col-md-12">
                    @using (Html.BeginForm("Create", "ServiceOrderComment", FormMethod.Post, new { @role = "form", @class = "form", @id = "ServiceOrderCommentForm" }))
                    {
                        <div class="form-group">
                            @Html.TextAreaFor(x => x.CommentForm.Comment, new { @class="form-control", @rows = "6"})
                        </div>
                        <div class="form-group">
                            <button id="AddCommentBtn" class="btn btn-primary"><i class="fa fa-plus"></i>&nbsp;@Language.SO_LABEL_INPUT_COMMENT_ADD</button>
                        </div>
                        @Html.HiddenFor(x => x.CommentForm.ServiceOrderGuid)
                        @Html.HiddenFor(x => x.CommentForm.UserGuid)
                        @Html.HiddenFor(x => x.CommentForm.UserType)
                        @Html.HiddenFor(x => x.CommentForm.PortalUserName)
                    }
                </div>
            </div>
            <ul class="list-group comment-area">
                @foreach (var comment in @Model.Comments)
                {
                    if (comment.CommentType == ServiceOrderCommentLineType.MessageToInvoice) {
                        <li class="list-group-item list-group-item-info" id="comment-@comment.BASGuid">
                            @Html.Partial("partials/_Comment", comment)
                        </li>
                    } else if (comment.CommentType == ServiceOrderCommentLineType.MessageFromPortal) {
                        <li class="list-group-item" id="comment-@comment.BASGuid">
                            @Html.Partial("partials/_Comment", comment)
                        </li>
                    } else if (comment.CommentType == ServiceOrderCommentLineType.MessageToFromOffice) {
                        <li class="list-group-item list-group-item-danger" id="comment-@comment.BASGuid">
                            @Html.Partial("partials/_Comment", comment)
                        </li>
                    }
                }
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">@Language.SO_HEADER_DETAIL_FILES</h3>
            </div>
            <div class="panel-body">
                <div class="col-md-12 attachment-form-area" style="margin-bottom: 15px;">
                    @using (Html.BeginForm("Upload", "ServiceAttachment", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form", @role = "form" }))
                    {
                        @Html.Partial("partials/_AttachmentForm", @Model)
                        @Html.HiddenFor(x => x.ServiceOrderGuid)
                        @Html.HiddenFor(x => x.BASGuid)

                        <button class="btn btn-primary" id="UploadFileBtn" name="UploadFileBtn"><i class="fa fa-plus"></i> @Resources.Language.SO_LABEL_INPUT_ADD_FILE</button>               
                    }
                </div>
                <div class="col-md-12 attachment-area">
                    @Html.Partial("partials/_Attachments", @Model)
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        
        $("#AddCommentBtn").on("click", function (e) {
            e.preventDefault();
            var comment = $("textarea[name='CommentForm.Comment']").val();
            var serviceOrderGuid = $("input[name='CommentForm.ServiceOrderGuid']").val();
            var userGuid = $("input[name='CommentForm.UserGuid']").val();
            var portalContactName = $("input[name='CommentForm.PortalUserName']").val();
            var userType = "PORTAL";

            var data = { Comment: comment, ServiceOrderGuid: serviceOrderGuid, UserGuid: userGuid, PortalUserName: portalContactName, UserType: userType };
            $.ajax({
                type: 'post',
                url: '@Url.Action("Create", "ServiceOrderComment")',
                data: data
            }).done(function (result) {
                $(".comment-area").prepend(result);
                $("#CommentForm_Comment").val('');
            }).fail(function() {
                alert("@Language.SO_ERROR_UNKNOWNERROR");
            });
        });

       
            $(".delete-comment").on('click', function () {
                var element = $(this);
                var basGuid = element.data("comment-guid");
                var ajaxCall1 = $.get("@Url.Action("Delete", "ServiceOrdercomment")", { basGuid : basGuid });
                $.when(ajaxCall1).then(function (result) {
                    if (!result) {
                        var deletedElement = $('#comment-' + basGuid);
                        deletedElement.fadeOut("slow", function () {
                            deletedElement.remove();
                        });
                    }
                });
            });

        $(".delete-attachment").each(function () {
            $(this).on('click', function () {
                var element = $(this);
                var basguid = element.data("guid").replace('id-', '');
                var serviceOrderGuid = $(this).data("serviceorderguid").replace('id-', '');

                var ajaxCall1 = $.get("@Url.Action("Delete", "ServiceAttachment")", { uniqueGuid: basguid, serviceOrderBasGuid: basguid, serviceOrderGuid: serviceOrderGuid });
                $.when(ajaxCall1).then(function (result) {
                    if (!result) {
                        var deletedElement = $('#attachment-' + basguid);
                        deletedElement.fadeOut("slow", function () {
                            deletedElement.remove();
                        });
                    }
                });
            });
        });

        if ($('.field-validation-error').length > 0) {
            $("html,body").animate({ scrollTop: $(".field-validation-error").offset().top }, "fast");
        }
    });
</script>
