﻿@using System.Configuration
@using Resources
@model FormModels.ServiceOrder.ServiceOrderItemFormModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = ConfigurationManager.AppSettings["SHOP_TITLE"] + " - " + @Language.SO_HEADER_SERVICEORDER_SERVICEITEM;
}

@section header {
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Scripts/Bundles/jquery-ui/jquery.ui.smoothness.css")" />
}

<div class="row service-order">
    <div class="col-md-12">
        <a href="@Url.Action("Details", "ServiceOrder", new {serviceOrderGuid = @Model.ServiceOrderGuid})" class="btn btn-default btn-sm pull-left"><i class="fa fa-arrow-circle-left fa-lg"></i> @Language.SO_LABEL_INPUT_BACK_BUTTON</a>
    </div>
</div>
<hr/>
<div class="col-md-12 col-sm-12 col-xs-12">
    @if (!ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger alert-dismissable">
            <button class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            @Html.ValidationSummary(true, string.Empty, new {Class = ""})
        </div>
    }
</div>
<div class="col-md-12">
    @using (@Html.BeginForm("Edit", "ServiceOrder", new { serviceOrderGuid = @Model.ServiceOrderGuid, Id = "" }, FormMethod.Post, new { @class = "form-horizontal", @role = "form" }))
    {
        @Html.AntiForgeryToken()

        @Html.Partial("partials/_ServiceOrderItemForm", @Model)
        <div class="form-group">
            <div class="col-md-7">
                <button id="EditButton" type="submit" class="btn btn-primary"><i class="fa fa-save"></i>&nbsp;@Language.SO_LABEL_INPUT_SAVE</button>
            </div>
        </div>
    }
</div>

<script type="text/javascript">
    var isFormEditMode = '@Model.IsInEditMode';

    @{
        string serviceItemLabel = "";

        if (@Model.CurrentServiceItem != null)
        {
            serviceItemLabel = @Model.CurrentServiceItem.ItemNo + " - " + @Model.CurrentServiceItem.Description;
        }

        string customerId = "";
        string companyName = "";

        if (@Model.CurrentPortalCustomer != null)
        {
            customerId = @Model.CurrentPortalCustomer.CustomerGuid;
            companyName = @Model.CurrentPortalCustomer.CompanyName;
        }

        if (@Model.CurrentShopCustomer != null)
        {
            customerId = @Model.CurrentShopCustomer.CustomerGuid;
            companyName = @Model.CurrentShopCustomer.CompanyName;
        }
    };

    $(document).ready(function() {
        $("#SearchCustomers").val("@companyName");
        $("#ServiceItemSearch").val("@serviceItemLabel");
        $("#SelectedCustomerAddressId").val("@Html.Raw(MvcHtmlString.Create(Model.SelectedCustomerDeliveryAddress))");
        $("#SelectedCustomerId").val("@customerId");

        if (isFormEditMode == "False") {
            $("#EditButton").remove();
        }
    });
</script>