﻿<!--
    Template information used by the Catalog Manager
    #NAME=Service Portal
    #DESCRIPTION=Displays a service portal.
    #GROUPTEMPLATE=TRUE
    #PRODUCTTEMPLATE=FALSE
    #PROPERTYGROUP=NAME, ALIAS, REDIRECTURL, TEMPLATE, STARTDATE, ENDDATE, TITLE, CONTROLLER | Page Properties
    #PROPERTYGROUP=HTMLDESC | HTML
    #PROPERTYGROUP=DESCRIPTION | GROUP INFO
    -->

@using System.Configuration
@using ViewModels.ServiceOrder
@model ServiceOrderViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = ConfigurationManager.AppSettings["SHOP_TITLE"] + " - " + @Resources.Language.SO_LABEL_SERVICE_PORTAL;
}

@section header
{
    <link rel="stylesheet" href="@Url.Content("~/Content/datatables/dataTables.bootstrap.css")" />
    <script type="text/javascript" src="@Url.Content("~/Content/datatables/jquery.dataTables.js")"> </script>
    <script type="text/javascript" src="@Url.Content("~/Content/datatables/dataTables.bootstrap.js")"> </script>
}

<div class="row">
    <div class="col-md-12">
        <h1>@Resources.Language.SO_LABEL_SERVICE_PORTAL</h1>
        @Html.Raw(Model.HtmlContent)
    </div>
</div>

@if (Model != null && Model.CurrentUser != null && Model.CurrentUser.UserAccess("Portal"))
{ 
    <div class="row service-order">
        <div class="col-sm-6">
            @if (Model.CurrentUser.UserAccess("CreateServiceOrder"))
            {
                <a href="@Url.Action("Create", "ServiceOrder")" class="btn btn-primary btn-sm create-btn"><i class="fa fa-plus"></i> @Resources.Language.SO_LABEL_INPUT_ADD</a>
            }
        </div>
        <div class="col-sm-6">
            <div class="btn-group pull-right" role="group">
                <button type="button" id="ActiveOrdersButton" class="btn btn-info btn-sm"><i class="fa fa-lightbulb-o"></i> @Resources.Language.SO_LABEL_SERVICEORDER_STATUS_ACTIVE</button>
                <button type="button" id="HistoryButton" class="btn btn-info btn-sm"><i class="fa fa-history"></i> @Resources.Language.LABEL_HISTORY_INFORMATION</button>
            </div>
            <div class="btn-group col-sm-6 pull-right" role="group">
                <a href="@Url.Action("Reports", "ServiceOrder")" class="pull-right btn btn-sm btn-default"><i class="fa fa-file-text-o"></i>&nbsp;@Resources.Language.LABEL_REPORTS</a>
            </div>
        </div>
    </div>
    <hr/>

    @Html.Partial("partials/_ServiceOrderList", Model)
}

