﻿@using System.Configuration
@using Resources
@model FormModels.ServiceOrder.ServiceOrderItemFormModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = ConfigurationManager.AppSettings["SHOP_TITLE"] + " - " + @Language.SO_LABEL_SERVICE_ORDER_NEW_SERVICE_ITEM;
}

@section header {
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Scripts/Bundles/jquery-ui/jquery.ui.smoothness.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/datatables/dataTables.bootstrap.css")" />
    <script type="text/javascript" src="@Url.Content("~/Content/datatables/jquery.dataTables.js")"> </script>
    <script type="text/javascript" src="@Url.Content("~/Content/datatables/dataTables.bootstrap.js")"> </script>
}

<div class="row service-order">
    <div class="col-md-6">
        <a href="@Url.Action("Create", "ServiceOrder")" class="btn btn-default btn-sm pull-left back-btn"><i class="fa fa-arrow-circle-left fa-lg"></i> @Language.SO_LABEL_INPUT_BACK_BUTTON</a>
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        @Html.ValidationSummary(true, null, new { @class = "alert alert-danger" })
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        @using (@Html.BeginForm("NewServiceOrderFor", "ServiceOrder", new {Id = ""}, FormMethod.Post, new { @class = "form-horizontal", @role = "form" }))
        {
            @Html.AntiForgeryToken()

            @Html.Partial("partials/_ServiceOrderItemForm", @Model)
        
            @Html.Hidden("CustomerGuid", @Model.CurrentShopCustomer.CustomerGuid, new { @id = "CustomerGuid" })
            @Html.Hidden("SelectedCustomerAddressId", @Model.CurrentShopCustomer.CustomerGuid, new { @id = "SelectedCustomerAddressId" })
            @Html.Hidden("IsProductSelected", "", new { @id = "IsProductSelected" })
        
            @Html.HiddenFor(x => x.ServiceOrderGuid)
            @Html.HiddenFor(x => x.SelectedTask)
            @Html.HiddenFor(x => x.SelectedStatus)
            @Html.HiddenFor(x => x.CurrentStatusItem.StatusGuid)
            @Html.HiddenFor(x => x.SelectedCustomerId)
        <div class="form-group">
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary"><i class="fa fa-plus"></i> @Resources.Language.SO_LABEL_INPUT_CREATE_BUTTON</button>
            </div>
        </div>
        }
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $("#SelectedCustomerId").val("@Model.SelectedCustomerId");
    });
</script>