﻿<!--
    Template information used by the Catalog Manager
    #NAME=Service Order Reports
    #DESCRIPTION=Displays a list of Service Order reports.
    #GROUPTEMPLATE=TRUE
    #PRODUCTTEMPLATE=FALSE
    #PROPERTYGROUP=NAME, ALIAS, REDIRECTURL, TEMPLATE, STARTDATE, ENDDATE, TITLE, CONTROLLER | Page Properties
    #PROPERTYGROUP=HTMLDESC | HTML
    #PROPERTYGROUP=DESCRIPTION | GROUP INFO
    -->
@using System.Configuration
@using System.Threading
@using Resources
@using ViewModels.ServiceOrder
@model ReportViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = ConfigurationManager.AppSettings["SHOP_TITLE"] + " - " + @Resources.Language.LABEL_REPORTS;
}

@section header
{
    <link rel="stylesheet" href="@Url.Content("~/Content/datatables/dataTables.bootstrap.css")" />
    <script type="text/javascript" src="@Url.Content("~/Content/datatables/jquery.dataTables.js")"> </script>
    <script type="text/javascript" src="@Url.Content("~/Content/datatables/dataTables.bootstrap.js")"> </script>
}

<div class="row service-order">
    <div class="col-md-6">
        <a href="@Url.Action("Index", "ServiceOrder")" class="btn btn-default btn-sm pull-left back-btn"><i class="fa fa-arrow-circle-left fa-lg"></i>&nbsp;@Language.SO_LABEL_INPUT_BACK_BUTTON</a>
    </div>
</div>
<hr/>


<div class="row">
    <div class="col-md-12">
        <h1>@Language.LABEL_REPORTS</h1>
        @Html.Raw(Model.HtmlContent)
    </div>
</div>

<table class="table table-hover" id="reportTable">
    <thead>
        <tr>
            <th>@Language.LABEL_DATE</th>
            <th>@Language.SO_HEADER_COLUMN_REFERENCE_NUMBER</th>
            <th>@Language.SO_HEADER_SERVICEORDER_SERVICEITEM</th>
            <th>@Language.LABEL_SERIAL_NUMBER</th>
            <th>@Language.LABEL_LOCATION</th>
            <th>@Language.LABEL_REPORT</th>
            <th>@Language.LABEL_DESCRIPTION</th>
            <th></th>
        </tr>
    </thead>
</table>

<script type="text/javascript" charset="utf-8">
    var rootUrl = '@Url.Content("~/")';
    $(document).ready(function () {
        var language = '@Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName';
        var languageUrl = rootUrl + 'Content/datatables/i18n/' + language + '.txt';

        $("#reportTable").dataTable({
            "processing": true,
            "serverSide": true,
            "ajax": {
                "url": rootUrl + "ServiceOrder/GetReports",
                "type": "POST"
            },
            "responsive": true,
            'language': { 'url': languageUrl },
            "bAutoWidth": false,
            "order": [0, 'desc'],
            "columns":
            [
                {
                    "data": "CompletedTime",
                    "type": "date",
                    "render": function (data, type, full) {
                        return dotNETDate.toFullString(data);
                    },
                },
                {
                    "data": "ServiceOrderGuid",
                    "render": function(data, type, full) {
                        var column = "<a href='@Url.Action("Details", "ServiceOrder", new { serviceOrderGuid = "__data__" })'>__data__<a>";
                        return column.replace(/__data__/g, data);
                    }
                },
                {
                    "data": "ServiceItem.Description",
                    "render": function(data, type, full) {
                        if (data == null)
                            return "";
                        return data;
                    }
                },
                {
                    "data": "ServiceItem.SerialNo",
                    "render": function (data, type, full) {
                        if (data == null)
                            return "";
                        return data;
                    }
                },
                {
                    "data": "ServiceOrder.LocationofServiceItem",
                    "render": function(data, type, full) {
                        if (data == null)
                            return full.ServiceOrder.ShiptoAddress + ", " + full.ServiceOrder.ShiptoCityName;
                        return data;
                    }
                },
                { "data": "ReportTypeGuid" },
                { "data": "Description"},
                {
                    "data": "ReportGuid",
                    "render": function (data, type, full) {
                        var column = "<a href='@Url.Action("Report", "ServiceOrder", new { reportGuid = "__data__" })' target='_blank'><i class='fa fa-2x fa-file-pdf-o'></i><a>";
                        return column.replace(/__data__/g, data);
                    },
                    "orderable": false
                }
            ]
        });
    });
</script>