﻿@using System.Configuration
@using Resources
@model ViewModels.Cms.BusinessCenterRegisterUserFormModel
@{
    ViewBag.Title = ConfigurationManager.AppSettings["SHOP_TITLE"] + " - " + CmsLanguage.CATMAN_LABEL_ADD_USER;
    Layout = "~/EISCMS/Views/_CMSLayout.cshtml";
}

<div class="col-sm-12">
    <h1 class="page-header">@CmsLanguage.CATMAN_LABEL_ADD_USER</h1>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <p>
                    @Language.LABEL_STARMARKED_INPUT_IS_REQUIRED
                </p>
                @using (@Html.BeginForm("AddUser", "UserManagement", FormMethod.Post, new { @class = "form-horizontal col-md-11", @role = "form" }))
                {
                    @Html.AntiForgeryToken()

                    if (!ViewData.ModelState.IsValid)
                    {
                    <div class="alert alert-danger alert-dismissable">
                        <button class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        @Html.ValidationSummary(false, string.Empty, new { Class = "" })
                    </div>
                    }

                    @Html.Partial("Partials/_RegisterUserForm", @Model)

                    <div class="form-group">
                        <div class="controls col-sm-12 input-group col-sm-offset-2">
                            <button type="submit" class="btn btn-primary"><i class="fa fa-send"></i>&nbsp;@Language.ACTION_SUBMIT</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
