﻿@using System.Configuration
@using Resources
@using System.Collections.Generic
@model IEnumerable<EISCS.Shop.DO.Dto.CustomerTableBase>
@{
    Layout = "~/EISCMS/Views/_CMSLayout.cshtml";
    ViewBag.Title = ConfigurationManager.AppSettings["SHOP_TITLE"] + " - " + @Language.SO_LABEL_INPUT_ACCOUNT_MANAGEMENT_USERS;
}

<div class="row">
    <div class="col-sm-12">
        <h1 class="page-header">@Language.SO_LABEL_INPUT_CUSTOMERS</h1>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-condensed hover" id="usersList">
                        <thead>
                            <tr>
                                <th>@Language.LABEL_USERDATA_COMPANY</th>
                                <th>@Language.LABEL_USERDATA_CURRENCY_1</th>
                                <th>@Language.LABEL_USERDATA_COUNTRY</th>
                                <th>@Language.LABEL_USERDATA_ADDRESS_1</th>
                                <th>@Language.LABEL_USERDATA_CITY</th>
                                <th>@Language.LABEL_USERDATA_ZIPCODE</th>
                            </tr>
                        </thead>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var rootUrl = '@Url.Content("~/")';
    var languageGuid = '@ViewBag.CurrentLanguageGuid';
    drawUsersListDataTable(languageGuid);

    function drawUsersListDataTable(language) {
        var languageUrl = rootUrl + 'Content/datatables/i18n/' + language + '.txt';
        var usersTable = $("#usersList").dataTable({
            "order": [0, 'asc'],
            "language": {
                "url": languageUrl,
            },
            "processing": true,
            "serverSide": true,
            "ajax": {
                "url": rootUrl + "cms/UserManagement/GetCustomersList",
                "type": "POST"
            },
            "responsive": true,
            "bAutoWidth": false,
            "columns": [
                {
                    "data": "CustomerGuid",
                    "render": function(data, type, full) {
                        var thisColumn = '<a class="" href="@Url.Action("Customer", "UserManagement", new {customerGuid = "__data__"})">' + full.CompanyName + '</a>';
                        return thisColumn.replace(/__data__/g, data);
                    },
                },
                { "data": "CurrencyGuid" },
                { "data": "CountryGuid" },
                { "data": "Address1" },
                { "data": "CityName" },
                { "data": "ZipCode" }
            ],
            "lengthMenu": [[10, 25, 50, 100, 500, -1], [10, 25, 50, 100, 500, "@Language.SO_LABEL_INPUT_SELECT_ALL"]]
        });
        $(usersTable).on('click', '.dlete', function (event) {
            if (confirm('@CmsLanguage.CATMAN_CONFIRM_DELETE')) {
                window.location = rootUrl + 'UserManagement/DeleteCustomer?customerGuid=' + $(this).attr('id');
            }
        });
    }
</script>