﻿@using System.Configuration
@using Resources
@model ViewModels.Customer.CustomerViewModel
@{
    Layout = "~/EISCMS/Views/_CMSLayout.cshtml";
    ViewBag.Title = ConfigurationManager.AppSettings["SHOP_TITLE"] + " - " + @Language.SO_HEADER_SERVICEORDER_CUSTOMERINFO;
}

<div class="row">
    <div class="col-sm-12">
        <h1 class="page-header">@Language.LABEL_DETAILS: @Model.CompanyName</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <i class="fa fa-user"></i>&nbsp;@Model.ContactName - <a href="mailto:@Model.EmailAddress" id="emailLink"><i class="fa fa-envelope"></i>&nbsp;@Model.EmailAddress</a>
                </h3>
            </div>
            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        @Html.LabelFor(x => x.Address1, new { Class = "control-label col-sm-3" })
                        <div class="col-sm-9">
                            <p class="form-control-static">@Model.Address1</p>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.Address2, new { Class = "control-label col-sm-3" })
                        <div class="col-sm-9">
                            <p class="form-control-static">@Model.Address2</p>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.CityName, new { Class = "control-label col-sm-3" })
                        <div class="col-sm-9">
                            <p class="form-control-static">@Model.CityName</p>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.ZipCode, new { Class = "control-label col-sm-3" })
                        <div class="col-sm-9">
                            <p class="form-control-static">@Model.ZipCode</p>
                        </div>
                    </div>
                    @if (!string.IsNullOrWhiteSpace(Model.CountryGuid))
                    {
                        <div class="form-group">
                            @Html.LabelFor(x => x.CountryGuid, new { Class = "control-label col-sm-3" })
                            <div class="col-sm-9">
                                <p class="form-control-static">
                                    @Model.CountryList[Model.CountryGuid]
                                </p>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>