﻿@using System.Configuration
@using Resources
@model ViewModels.Cms.BusinessCenterRegisterUserFormModel
@{
    Layout = "~/EISCMS/Views/_CMSLayout.cshtml";
    ViewBag.Title = ConfigurationManager.AppSettings["SHOP_TITLE"] + " - " + @Language.LABEL_DETAILS;
}

<div class="row">
    <div class="col-sm-12">
        <h1 class="page-header">@Language.LABEL_DETAILS</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <i class="fa fa-user"></i>&nbsp;@Model.ContactName - <a href="mailto:@Model.EmailAddress" id="emailLink"><i class="fa fa-envelope"></i>&nbsp;@Model.EmailAddress</a>
                    <a class="btn btn-default btn-xs pull-right" href="@Url.Action("EditUser", "UserManagement", new {userGuid=Model.UserGuid})"><i class="fa fa-edit"></i>&nbsp;@Language.SO_TOOLTIP_EDIT</a>
                </h3>
            </div>
            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        @Html.LabelFor(x => x.Address1, new {Class="control-label col-sm-3"})
                        <div class="col-sm-9">
                            <p class="form-control-static">@Model.Address1</p>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.Address2, new {Class="control-label col-sm-3"})
                        <div class="col-sm-9">
                            <p class="form-control-static">@Model.Address2</p>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.CityName, new {Class="control-label col-sm-3"})
                        <div class="col-sm-9">
                            <p class="form-control-static">@Model.CityName</p>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.ZipCode, new {Class="control-label col-sm-3"})
                        <div class="col-sm-9">
                            <p class="form-control-static">@Model.ZipCode</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">@Language.LABEL_USERDATA_COUNTRY</label>
                        <div class="col-sm-9">
                            <p class="form-control-static">
                                @if (!string.IsNullOrWhiteSpace(Model.CountryGuid))
                                {
                                    @Model.CountryList[Model.CountryGuid]    
                                }
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.CompanyName, new {Class="control-label col-sm-3"})
                        <div class="col-sm-9">
                            <p class="form-control-static">@Model.CompanyName</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">@Language.LABEL_SITE_LANGUAGE</label>
                        <div class="col-sm-9">
                            <p class="form-control-static">
                                @if (!string.IsNullOrWhiteSpace(Model.LanguageGuid))
                                {
                                    @Model.LanguageList[Model.LanguageGuid]    
                                }
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.UserCreated, new {Class="control-label col-sm-3"})
                        <div class="col-sm-9">
                            <p class="form-control-static">@Model.UserCreated</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">@CmsLanguage.LABEL_ROLE</label>
                        <div class="col-sm-9">
                            <p class="form-control-static">
                                @if (Model.RoleId != null && Model.RoleList.ContainsKey(Model.RoleId))
                                {
                                    @Model.RoleList[Model.RoleId]
                                }
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <i class="fa fa-shopping-cart"></i>&nbsp;@CmsLanguage.LABEL_ORDERS
                </h3>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <div class="lastOrdersWrapper" role="grid">
                        <table class="table table-striped table-bordered table-hover dataTable no-footer" id="lastOrders">
                            <thead>
                                <tr>
                                    <th class="text-center">@CmsLanguage.LABEL_PRODUCTS</th>
                                    <th class="text-center">@CmsLanguage.LABEL_TOTAL_INCL_TAX</th>
                                    <th class="text-center">@Language.LABEL_USERDATA_CURRENCY_1</th>
                                    <th class="text-center">@CmsLanguage.LABEL_DATE</th>
                                </tr>
                            </thead>
                            <!-- data by dataTables -->
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        var rootUrl = '@Url.Content("~/")';
        var languageGuid = '@ViewBag.CurrentLanguageGuid';
        drawLastOrdersDataTable(languageGuid);

        function drawLastOrdersDataTable(language) {
            var languageUrl = rootUrl + 'Content/datatables/i18n/' + language + '.txt';
            ExpandIT_ProductTable.Table = $("#lastOrders").dataTable({
                "order": [3, 'desc'],
                "processing": true,
                "serverSide": true,
                "ajax": {
                    "url": '@Url.Action("_GetLastOrders", "UserManagement", new {userGuid = Model.UserGuid})',
                    "type": "POST"
                },
                "language": {
                    "url": languageUrl,
                },
                "responsive": true,
                "searching": false,
                "bAutoWidth": false,
                "columns": [
                    {
                        "data": "Lines",
                        "render" : function(data, type, full) {
                            return totalQuantity(data);
                        },
                        "className" : "text-center"
                    },
                    {
                        "data": "TotalInclTax",
                        "className": "text-center",
                        "render" : function(data, type, full) {
                            return data.toFixed(2);
                        }
                    },
                    {
                        "data": "CurrencyGuid",
                        "className": "text-center"
                    },
                    {
                        "data": "HeaderDate",
                        "className": "text-center",
                        "type": "date",
                        "render": function (data, type, full) {
                            return dotNETDate.toFullString(data);
                        }
                    }
                ],
                "columnDefs": [
                    { 'orderable': false, 'aTargets': [0] }
                ],
                "drawCallback": function() {
                }
            });
        }
    });

    function totalQuantity(data) {
        var total = 0;
        for (var d in data) {
            total += data[d]["Quantity"];
        }
        return total;
    }
</script>