﻿@using System.Configuration
@using Resources
@model FormModels.Cms2.FormModels.RoleFormModel
@{
    Layout = "~/EISCMS/Views/_CMSLayout.cshtml";
    ViewBag.Title = ConfigurationManager.AppSettings["SHOP_TITLE"] + " - " + CmsLanguage.LABEL_EDIT_ROLE;
}

<div class="row">
    <div class="col-sm-12">
        <h1 class="page-header">@CmsLanguage.LABEL_EDIT_ROLE</h1>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-body">
                @using (@Html.BeginForm("EditRole", "UserManagement", FormMethod.Post, new { @class = "form-horizontal col-md-11", @role = "form" }))
                {
                    @Html.Partial("Partials/_EditRoleForm", @Model)

                    <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i>&nbsp;@CmsLanguage.CATMAN_ACTION_SAVE</button>
                }
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        if ($("#RoleDescription").val()) {
            $("#RoleDescription").parents(".form-group").removeClass("has-error").addClass("has-success");
        }

        $("#RoleDescription").on("input", function() {
            if ($(this).val()) {
                $(this).parents(".form-group").removeClass("has-error").addClass("has-success");
            } else {
                $(this).parents(".form-group").removeClass("has-success").addClass("has-error");
            }
        });
    });
</script>