﻿@using System.Configuration
@using Resources
@model FormModels.Cms2.FormModels.RoleFormModel
@{
    Layout = "~/EISCMS/Views/_CMSLayout.cshtml";
    ViewBag.Title = ConfigurationManager.AppSettings["SHOP_TITLE"] + " - " + CmsLanguage.LABEL_ROLES;
}

<div class="row">
    <div class="col-sm-12">
        <h1 class="page-header">@CmsLanguage.LABEL_ROLE_MANAGEMENT</h1>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-condensed" id="rolesList">
                        <thead>
                            <tr>
                                <th>@CmsLanguage.LABEL_ROLE_ID</th>
                                <th>@CmsLanguage.LABEL_ROLE_DESCRIPTION</th>
                                <th class="text-center" style="width:45px">@CmsLanguage.LABEL_ACTION</th>
                            </tr>
                        </thead>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div id="heading-add-role" class="panel-heading" role="tab">
                <h2 class="panel-title">
                    <a aria-controls="add-role" href="#add-role" data-toggle="collapse"><i class="fa fa-minus-circle"></i>&nbsp;@CmsLanguage.LABEL_ADD_ROLE</a>
                </h2>
            </div>
            <div id="add-role" class="collapse panel-collapse in" aria-labelledby="add-role" role="tabpanel">
                <div class="panel-body">
                    @using (@Html.BeginForm("AddRole", "UserManagement", FormMethod.Post, new { @class = "form-horizontal col-md-11", @role = "form" }))
                    {
                        @Html.Partial("Partials/_RegisterRoleForm", @Model)

                        <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i>&nbsp;@CmsLanguage.CATMAN_ACTION_SAVE</button>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                @CmsLanguage.LABEL_DELETE_ROLE
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div id="modal-text"></div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            @Html.DropDownList("ModalRoles", new List<SelectListItem>(), new {@class = "form-control"})
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times-circle"></i>&nbsp;@CmsLanguage.CATMAN_BUTTONTEXT_CANCEL</button>
                <a class="btn btn-danger btn-ok disabled"><i class="fa fa-trash"></i>&nbsp;@CmsLanguage.CATMAN_ACTION_DELETE</a>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        if ($("#add-role #RoleId").val()) {
            $("#add-role #RoleId").parents(".form-group").removeClass("has-error").addClass("has-success");
        }

        if ($("#add-role #RoleDescription").val()) {
            $("#add-role #RoleDescription").parents(".form-group").removeClass("has-error").addClass("has-success");
        }

        $("#add-role #RoleId").on("input", function () {
            if ($(this).val()) {
                $(this).parents(".form-group").removeClass("has-error").addClass("has-success");
            } else {
                $(this).parents(".form-group").removeClass("has-success").addClass("has-error");
            }
        });

        $("#add-role #RoleDescription").on("input", function () {
            if ($(this).val()) {
                $(this).parents(".form-group").removeClass("has-error").addClass("has-success");
            } else {
                $(this).parents(".form-group").removeClass("has-success").addClass("has-error");
            }
        });
    });

    var rootUrl = '@Url.Content("~/")';
    var languageGuid = '@ViewBag.CurrentLanguageGuid';

    $("#add-role").on("show.bs.collapse", function () {
        $("h2.panel-title").find("i").removeClass("fa-plus-circle").addClass("fa-minus-circle");
    });

    $("#add-role").on("hide.bs.collapse", function () {
        $("h2.panel-title").find("i").removeClass("fa-minus-circle").addClass("fa-plus-circle");
    });

    drawUsersListDataTable(languageGuid);

    $('#confirm-delete').on('show.bs.modal', function (e) {
        var theRoleId = $(e.relatedTarget).data('href');
        $(this).find('.btn-ok').attr('href', rootUrl + 'UserManagement/DeleteRole?roleId=' + theRoleId);
        $("#modal-text").html("@CmsLanguage.CATMAN_ACTION_DELETE " + theRoleId + " @CmsLanguage.LABEL_DELETE_ROLE_ID_MESSAGE_1");
        ShowModal(theRoleId);
    });

    $("#confirm-delete").on('hidden.bs.modal', function () {
        $("#ModalRoles").html("");
    });

    $("#ModalRoles").on('change', function () {
        $(".btn-ok").removeClass("disabled");
        var href = $(".btn-ok").attr('href'); //+ "&substituteRoleId=" + $(this).val();
        if (href.indexOf("&substituteRoleId") < 0) {
            href += "&substituteRoleId=" + $(this).val();
        } else {
            href = href.substring(0, href.indexOf("&substituteRoleId")) + "&substituteRoleId=" + $(this).val();
        }
        $(".btn-ok").attr('href', href);
    });

    function drawUsersListDataTable(language) {
        var languageUrl = rootUrl + 'Content/datatables/i18n/' + language + '.txt';
        var rolesTable = $("#rolesList").dataTable({
            "order": [0, 'asc'],
            "language": {
                "url": languageUrl,
            },
            "processing": true,
            "serverSide": true,
            "ajax": {
                "url": rootUrl + "cms/UserManagement/GetRolesList",
                "type": "POST"
            },
            "responsive": true,
            "bAutoWidth": false,
            "columns": [
                { "data": "RoleId" },
                { "data": "RoleDescription" },
                {
                    "targets": -1,
                    "className": "text-center",
                    "data": "RoleId",
                    "render": function (data, type, full) {
                        var readOnly = full.ReadOnly;
                        if (!readOnly) {
                            var thisColumn = '<div class="btn-group" role="group">' +
                                '<a class="btn btn-primary btn-xs" href="@Url.Action("EditRole", "UserManagement", new { roleId = "__data__" })" title="@Language.SO_TOOLTIP_EDIT"><i class="fa fa-edit"></i></a>' +
                                '<button data-href="__data__" data-toggle="modal"data-target="#confirm-delete" class="btn btn-danger btn-xs dlete" id="' + data + '" title="@Language.ACTION_DELETE"><i class="fa fa-remove"></i></button>' +
                                '</div>';
                            return thisColumn.replace(/__data__/g, data);
                        }
                        return "";
                    }
                }
            ],
            "ordering": false,
            "searching": false,
            "paging": false,
            "info": false,
            "lengthMenu": [-1]
        });
        @*$(rolesTable).on('click', '.dlete', function (event) {
                var roleGuid = $(this).attr('id');
                if ((roleGuid == 'Admin') || (roleGuid == 'Anonymous') || (roleGuid == 'B2B') || (roleGuid == 'B2C')) {
                    alert('Go fuck yourselves');
                } else if (confirm('@CmsLanguage.CATMAN_CONFIRM_DELETE')) {
                window.location = rootUrl + 'UserManagement/DeleteRole?roleId=' + $(this).attr('id');
            }
            });*@
    }

    function ShowModal(theRoleId) {
        $.ajax({
            url: rootUrl + "UserManagement/GetRoleList/",
            type: 'POST',
            dataType: 'json',
            success: function (data) {

                var options = $('#ModalRoles');

                options.append($('<option disabled selected />').val(null).text("SELECT"));

                $.each(data, function () {
                    if (this.Key != theRoleId)
                        options.append($('<option />').val(this.Key).text(this.Key));
                });
            }
        });
    }
</script>
