﻿@using System.Configuration
@using Resources
@model ViewModels.Cms.ImpersonationViewModel
@{
    Layout = "~/EISCMS/Views/_CMSLayout.cshtml";
    ViewBag.Title = ConfigurationManager.AppSettings["SHOP_TITLE"] + " - " + @Language.SO_LABEL_INPUT_ACCOUNT_MANAGEMENT_USERS;
}

<div class="row">
    <div class="col-sm-12">
        <h1 class="page-header">@Language.SO_HEADER_ACCOUNT_MANAGEMENT_USERS</h1>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="col-sm-12">
                <div class="page-top-bar-right">
                    <a href="@Url.Action("ExportUsersToCSV", "UserManagement")" class="btn btn-info"><i class="fa fa-download"></i>&nbsp;@Language.ACTION_EXPORT_TO_CSV</a>
                </div>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-condensed" id="usersList">
                        <thead>
                            <tr>
                                <th>@Language.LABEL_NAME</th>
                                <th>@Language.LABEL_USERDATA_ADDRESS_1</th>
                                <th>@Language.LABEL_USERDATA_ZIPCODE</th>
                                <th>@Language.LABEL_USERDATA_CITY</th>
                                <th>@Language.LABEL_USERDATA_COUNTRY</th>
                                <th>@Language.LABEL_USERDATA_EMAIL</th>
                                <th>@CmsLanguage.LABEL_CUSTOMER</th>
                                <th>@CmsLanguage.LABEL_ROLE</th>
                                <th style="width:138px"></th>
                            </tr>
                        </thead>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ConfirmChangeRole" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                @Language.LABEL_CONFIRMATION
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div id="modal-text">
                            <p>@CmsLanguage.MESSAGE_ASSIGN_ROLE</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times-circle"></i>&nbsp;@CmsLanguage.CATMAN_BUTTONTEXT_CANCEL</button>
                <button type="button" class="btn btn-primary" id="ConfirmButton"><i class="fa fa-check"></i>&nbsp;@CmsLanguage.CATMAN_ACTION_SAVE</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var languageGuid = '@ViewBag.CurrentLanguageGuid';
    drawUsersListDataTable(languageGuid);
    var userGuid, roleId;

    function drawUsersListDataTable(language) {
        var languageUrl = '@Url.Content("~/")' + 'Content/datatables/i18n/' + language + '.txt';
        var usersTable = $("#usersList").dataTable({
            "order": [0, 'asc'],
            "language": {
                "url": languageUrl,
            },
            "processing": true,
            "serverSide": true,
            "ajax": {
                "url": '@Url.Content("~/")' + "cms/UserManagement/GetUsersList",
                "type": "POST"
            },
            "responsive": true,
            "bAutoWidth": false,
            "columns": [
            { "data": "ContactName" },
            { "data": "Address1" },
            { "data": "ZipCode" },
            { "data": "CityName" },
            { "data": "CountryGuid" },
            { "data": "EmailAddress" },
            //{
            //    "data": "LastOrder",
            //    "type": "date",
            //    "render": function (data, type, full) {
            //        return convertNETDateToString(data);
            //    }
            //},
            {
                "data": "CustomerGuid",
                "render": function(data, type, full) {
                    return full.CustomerName;
                }
            },
            {
                "data": "RoleId",
                "className": "text-center",
                "render": function (data, type, full) {
                    var returnValue = "<select class='select form-control' custom='" + full.UserGuid + "' >";
                    var listItems = "<option value=''";
                    if (full.RoleId == "") {
                        listItems += "' selected>@Language.ACTION_SELECT</option>";
                    } else {
                        listItems += ">@Language.ACTION_SELECT</option>";
                    }
                    for (var key in full.RoleList) {
                        if (key == full.RoleId) {
                            listItems += "<option value='" + key + "' selected>" + key + "</option>";
                        } else {
                            listItems += "<option value='" + key + "'>" + key + "</option>";
                        }
                    }
                    return returnValue.concat(listItems, "</select>");
                }
            },
                {
                    "targets": -1,
                    "data": "UserGuid",
                    "className": "text-center",
                    "render": function (data, type, full) {
                        var thisColumn = '<div class="btn-group" role="group">' +
                            '<a class="btn btn-primary btn-xs" href="@Url.Action("Details", "UserManagement", new { userGuid = "__data__" })" title="@Language.LABEL_DETAILS"><i class="fa fa-search"></i></a>' +
                            '<a class="btn btn-primary btn-xs" href="@Url.Action("EditUser", "UserManagement", new { userGuid = "__data__" })" title="@Language.SO_TOOLTIP_EDIT"><i class="fa fa-edit"></i></a>' +
                            '<a class="btn btn-primary btn-xs"  target="_blank" href="@Model.RemoteUrl?userGuid=__data__&returnUrl=@Model.ReturnUrl" title="@Language.LABEL_IMPERSONATION"><i class="fa fa-hand-pointer-o"></i></a>' +
                            '<a class="btn btn-danger btn-xs" href="@Url.Action("DeleteUser", "UserManagement", new { userGuid = "__data__" })" title="@Language.ACTION_DELETE"><i class="fa fa-remove"></i></a>' +
                            '</div>';
                        return thisColumn.replace(/__data__/g, data);
                    }
                    
                }
            ],
            "columnDefs": [
                { 'orderable': false, 'aTargets': [-1] }
            ],
            "lengthMenu": [[10, 25, 50, 100, 500, -1], [10, 25, 50, 100, 500, "@Language.SO_LABEL_INPUT_SELECT_ALL"]]
        });
        $(usersTable).on('change', '.select', function (event) {
            userGuid = $(this).attr("custom");
            roleId = $(this).val();
            $("#ConfirmChangeRole").modal();
        });

        $("#ConfirmButton").click(function() {
            $.ajax({
                type: "POST",
                async: false,
                url: rootUrl + "UserManagement/UpdateUserRole",
                data: "userGuid=" + userGuid + "&roleId=" + roleId,
                success: function (result) {
                    $("#ConfirmChangeRole").modal("hide");
                }, error: function () {
                    $("#ConfirmChangeRole").modal("hide");
                    alert("@Language.SO_ERROR_UNKNOWNERROR");
                }
            });
        });

        $(usersTable).on('change', '.select_customer', function (event) {
            if (confirm("Do you want to assign this customer to this user?")) {
                //window.location = rootUrl + 'UserManagement/UpdateUserRole?userGuid=' + $(this).attr('custom') + '&roleId=' + $(this).val();
                $.ajax({
                    type: "POST",
                    async: false,
                    url: rootUrl + "UserManagement/UpdateUserCustomer",
                    data: "userGuid=" + $(this).attr("custom") + "&customerGuid=" + $(this).val(),
                    success: function (result) {
                        alert("Updated User Customer");
                    }, error: function () {
                        alert("Could not update User Customer");
                    }
                });
            }
        });
    }
</script>
