﻿@using System.Configuration
@using System.Linq
@using System.Web.UI.WebControls
@using EISCS.Shop.DO.Dto
@using Resources
@model Controllers.Cms2.AccessRoleMatrix
@{
    ViewBag.Title = ConfigurationManager.AppSettings["SHOP_TITLE"] + " - " + CmsLanguage.ROLE_ACCESS_MANAGEMENT;
    Layout = "~/EISCMS/Views/_CMSLayout.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <h1 class="page-header">@CmsLanguage.ROLE_ACCESS_MANAGEMENT</h1>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-body">
                @using (@Html.BeginForm("Edit", "UserManagement", FormMethod.Post, new { @class = "form-horizontal", @role = "form", @id = "rolematrixform" }))
                {
                    <table class="table table-striped table-bordered table-condensed">
                        <tr>
                            <th>@CmsLanguage.LABEL_ACCESS_CLASS</th>
                            <th colspan="@Model.Roles.Count()">@CmsLanguage.LABEL_ROLE</th>
                            <th>@CmsLanguage.LABEL_CLASS_DESCRIPTION</th>
                        </tr>
                        @{
                    string previous = "";
                        }
                        @foreach (var access in Model.Accesses)
                        {
                            AccessTable acc = access;
                            string current = Model.AccessTypes.First(m => m.Equals(acc.AccessType));
                            if (previous != current)
                            {
                            <tr class="active">
                                <td>@current</td>
                                @foreach (var accessRole in Model.Roles)
                                {
                                    <td>@accessRole.RoleId</td>
                                }
                                <td></td>
                            </tr>
                            }
                            previous = current;
                            <tr>
                                <td>@access.AccessClass</td>
                                @foreach (var accessRole in Model.Roles)
                                {
                                    <td>
                                        @{
                                    RoleTable role = accessRole;
                                    AccessTable access1 = access;
                                    string chkboxId = role.RoleId + "_" + access1.AccessClass;
                                        }
                                        <input type="checkbox" id="@chkboxId" name="@chkboxId" checked="@Model.AccessRoles.Any(x => x.RoleId == role.RoleId && x.AccessClass == access1.AccessClass)"/>
                                    </td>
                                }
                                <td>@access.ClassDescription</td>
                            </tr>
                        }
                    </table>
                    <div class="row">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-primary pull-right" id="usrolebtn"><i class="fa fa-save"></i>&nbsp;@CmsLanguage.CATMAN_ACTION_SAVE</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
