﻿@using Controllers
@model ImpersonationModel

@{
    ViewBag.Title = Resources.Language.LABEL_IMPERSONATION ;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Resources.Language.LABEL_IMPERSONATION</h2>

<p>@Model.Message</p>
