﻿@using EISCS.ExpandITFramework.Util
@using Resources
@model FormModels.Cms2.FormModels.RoleFormModel

@Html.AntiForgeryToken()

<div class="form-group @if (!ViewData.ModelState.IsValid) {<text>has-error</text>}">
    <label class="control-label col-sm-2">@CmsLanguage.LABEL_ROLE_ID</label>
    <div class="controls col-sm-4 input-group">
        @Html.TextBoxFor(r => r.RoleId, new {Class = "form-control"})
        <span class="input-group-addon">*</span>
    </div>
    <div class="clearfix"></div>
    <div class="col-sm-4 col-sm-offset-2 help-block">
        @Html.ValidationMessageFor(r => r.RoleId)
    </div>
</div>

<div class="form-group @if (!ViewData.ModelState.IsValid) {<text>has-error</text>}">
    <label class="control-label col-sm-2">@Language.LABEL_DESCRIPTION</label>
    <div class="controls col-sm-4 input-group">
        @Html.TextBoxFor(r => r.RoleDescription, new { Class = "form-control" })
        <span class="input-group-addon">*</span>
    </div>
    <div class="clearfix"></div>
    <div class="col-sm-4 col-sm-offset-2 help-block">
        @Html.ValidationMessageFor(r => r.RoleDescription)
    </div>
</div>