﻿<!--
Template information used by the Catalog Manager
#NAME=Favorites
#DESCRIPTION=Displays a group of subgroups and the products in the group.
#GROUPTEMPLATE=TRUE
#PRODUCTTEMPLATE=FALSE
#PROPERTYGROUP=NAME, ALIAS, REDIRECTURL, TEMPLATE, STARTDATE, ENDDATE, TITLE, CONTROLLER | Page Properties
#PROPERTYGROUP=HTMLDESC | HTML
#PROPERTYGROUP=DESCRIPTION | GROUP INFO
-->

@using System.Configuration
@using Resources
@model Controllers.Templates.FavoriteModel
@{
    ViewBag.Title = ConfigurationManager.AppSettings["SHOP_TITLE"] + " - " + @Language.LABEL_FAVORITES;
    Layout = "~/Views/Shared/_ProductPageLayout.cshtml";
}

<div class="row cms-content">
    <div class="col-sm-12">
        @Html.Raw(Model.HtmlContent)
    </div>
</div>

@Html.Partial("../GroupProduct/Partials/_ProductList", @Model.ProductsView)
@Html.Partial("../shared/_Pager", @Model.ProductsView)

<script type="text/javascript">
    $(document).ready(function () {
        var markUrl = '@Url.Action("MarkAsFavorite", "Favorite")?productGuid=';
        var unmarkUrl = '@Url.Action("UnmarkAsFavorite", "Favorite")?productGuid=';
        $(document).ready(markAndUnMarkFavorites(unmarkUrl, markUrl, true));
    });
</script>
