﻿@using ViewModels.ServiceAttachment
@model ViewModels.ServiceOrder.ServiceOrderDetailViewModel

@if (@Model.Attachments.Any())
{
    foreach (ServiceAttachmentListViewModel attachment in @Model.Attachments)
    {
    <div id="attachment-@attachment.BASGuid" class="col-md-12 col-xs-12 well well-sm attachment-@attachment.BASGuid" data-guid="@attachment.BASGuid">
        <div class="col-md-9 col-xs-12"><a href="@Url.Action("GetFile", "ServiceAttachment", new { attachmentGuid = attachment.BASGuid })">@attachment.FileName</a> <span style="margin-left:10px">@attachment.Description</span></div>
        <div class="col-md-2 col-xs-11">
            @attachment.SavedTime
        </div>
        <div class="col-md-1 col-xs-1"><span class="pull-right delete-attachment delete-btn" data-guid="id-@attachment.BASGuid" data-serviceorderguid="id-@Model.ServiceOrderGuid" style="cursor: pointer;"><i class="fa fa-trash-o fa-lg"></i></span></div>
    </div>
    }
}