﻿@using Resources
@model ViewModels.ServiceOrder.ServiceOrderDetailViewModel 

<div class="form-group">
    <input type="file" name="File" id="FileField" class="form-control" />
    @Html.ValidationMessageFor(x =>x.File)
</div>
<div class="form-group">
    @Html.TextAreaFor(x => x.AttachmentComment, new{@class="form-control", @rows = 6, @placeholder=@Language.SO_LABEL_INPUT_COMMENT_ADD})
    @Html.ValidationMessageFor(x => x.AttachmentComment)
</div>