﻿@using EISCS.Shop.DO.BAS.Dto
@using Resources
@model ViewModels.ServiceOrderCommentLine.ServiceOrderCommentLineViewModel
<div class="row">
    <div class="col-md-1 text-center">
        @switch (Model.CommentType)
            {
                case ServiceOrderCommentLineType.MessageToInvoice:
                    <i class="fa fa-user-plus fa-3x"></i>
                    break;
                case ServiceOrderCommentLineType.MessageToFromOffice:
                    <i class="fa fa-user-secret fa-3x"></i>
                    break;
                default:
                    <i class="fa fa-user fa-3x"></i>
                    break;
            }
    </div>
    <div class="col-md-11">
        <span class="pull-right">
            @switch (Model.CommentType)
            {
                case ServiceOrderCommentLineType.MessageToInvoice:
                    <span class="label label-primary">@Language.LABEL_MESSAGE_TO_INVOICE</span>
                    break;
                case ServiceOrderCommentLineType.MessageToFromOffice:
                    <span class="label label-danger">@Language.LABEL_MESSAGE_TO_OFFICE</span>
                    break;
                default:
                    <span class="label label-default">@Language.LABEL_MESSAGE_FROM_PORTAL</span>
                    break;
            }
        </span>
        @switch (Model.UserType)
        {
            case "PORTAL":
                <span class="comment-author"><i class="fa fa-laptop"></i> @Language.LABEL_FROM_PORTAL: @Model.PortalUserName @@ <em>@Model.CommentDate</em></span>
                break;
            case "PLANNINGBOARD":
                <span comment-author><i class="fa fa-building-o"></i> <abbr title="@Model.UserGuid">@Language.LABEL_FROM_OFFICE</abbr> @@ <em>@Model.CommentDate</em></span>
                break;
            case "MOBILE":
                <span comment-author><i class="fa fa-mobile"></i> <abbr title="@Model.UserGuid">@Language.LABEL_FROM_MOBILE_SERVICE</abbr> @@ <em>@Model.CommentDate</em></span>
                break;
            default:
                <span comment-author><i class="fa fa-laptop"></i> @@ <em>@Model.CommentDate</em></span>
                break;
        }
        @if (Model.UserGuid == ViewBag.UserGuid)
        {
            <text>&nbsp;|&nbsp;<a class="text-danger delete-comment" data-comment-guid="@Model.BASGuid" href="#">@Language.ACTION_DELETE</a></text>
        }
    </div>
    <div class="col-md-11">
        <p>@Model.CommentText</p>
    </div>
</div>
