﻿@using FormModels.ServiceOrder
@using UIHelpers
@model ServiceOrderItemFormModel

<hr />
<h4>Kundeinfo</h4>
<hr />

<div class="form-group">
    <label class="@ServiceOrderViewHelper.GetFormLabelClassName()">Find kunde</label>
    <div class="@ServiceOrderViewHelper.FormFieldWidthCssClass()">
        <input type="text" class="form-control customer-searchfield" id="SearchCustomers" name="searchCustomers" placeholder="Indtast nummer eller navn" value="@Html.ValueFor(x => x.CurrentShopCustomer.CustomerGuid)" />
        @Html.ValidationMessageFor(x => x.SelectedCustomerId)
    </div>
</div>

<div class="form-group">
    <label class="@ServiceOrderViewHelper.GetFormLabelClassName()">Kontakt</label>
    <div class="@ServiceOrderViewHelper.FormFieldWidthCssClass()">
        <label class="form-control" id="BillToContactNameLabel">@Html.ValueFor(x => x.CurrentShopCustomer.ContactName)</label>
    </div>
</div>

<div class="form-group">
    <label class="@ServiceOrderViewHelper.GetFormLabelClassName()">Adresse</label>
    <div class="@ServiceOrderViewHelper.FormFieldWidthCssClass()">
        <label class="form-control" id="CustomerAddress">@Html.ValueFor(x => x.CurrentShopCustomer.Address)</label>
    </div>
</div>

<div class="form-group">
    <label class="@ServiceOrderViewHelper.GetFormLabelClassName()">Postnr. / By</label>
    <div class="@ServiceOrderViewHelper.FormFieldWidthCssClass()">
        <label class="form-control" id="CustomerCity">@Html.ValueFor(x => x.CurrentShopCustomer.ZipCode) @Html.ValueFor(x => x.CurrentShopCustomer.CityName)</label>
    </div>
</div>