﻿@model FormModels.ServiceOrder.ServiceOrderItemFormModel

<div class="form-group">
    @Html.LabelFor(x => x.SelectedCustomerDeliveryAddress, new{@class = "control-label col-md-4"})
    <div class="col-md-6">
        @Html.DropDownListFor(x => x.SelectedCustomerDeliveryAddress, new SelectList(@Model.CustomerAddressList, "key", "value", ""), @Resources.Language.SO_HEADER_SELECT_CUSTOMER_ADDRESS, new { @class="form-control", @id = "CustomerDeliveryAddress"})
        <i class="fa fa-spin fa-spinner ajax-loading-icon customer-address fa-lg" id="CustomerAddressLoadingIcon" style="z-index: -2"></i>
        @Html.ValidationMessageFor(x => x.SelectedCustomerDeliveryAddress)
    </div>
</div>

<script type="text/javascript">
    
    $(document).ready(function () {
        $("#CustomerDeliveryAddress").on("change", function () {
            var selectedCustomerId = getCustomerIdFieldValue();
            var selectedCustomerAddressId = $(this).val();
            console.log("this value: " + selectedCustomerAddressId);
            setHiddenField(getCustomerAddressIdFieldId(), $(this).val());

            var ajaxUrl = '@Url.Action("FindCustomerAddressById", "Search")?customerId=' + selectedCustomerId + '&customerAddressId=' + $(this).val();
            $.ajax({
                url: ajaxUrl,
                type: 'get',
                cache: false,
                dataType: 'json',
                before: function () {
                    toggleElement('CustomerAddressLoadingIcon', true);
                },
                success: function (json) {
                    toggleElement('CustomerAddressLoadingIcon', false);
                    $("#ServiceItemSearch").val("");
                    
                    var customerAddress = json;
                    $("#ShiptoContactName").val(customerAddress['ContactPerson']);
                    $("#ShipToCompanyName").val(customerAddress['CompanyName']);
                    $("#ShiptoContactName").val(customerAddress['ContactPerson']);
                    $("#ShipToAddress").val(customerAddress['Address1']);
                    $("#ShipToZipCode").val(customerAddress['ZipCode']);
                    $("#ShipToCityName").val(customerAddress['CityName']);
                    $("#ShipToPhoneNo").val(customerAddress['PhoneNo']);
                    $("#ShipToPhoneNo2").val('');
                    $("#ShiptoEmailAddress").val(customerAddress['EMailAddress']);
                },
                error: function (xmlHttpRequest, textStatus, errorThrown) {
                    console.log('Some error occoured', textStatus, errorThrown);
                }
            });
        });
    });
</script>