﻿@using Resources
@using UIHelpers
@model FormModels.ServiceOrder.ServiceOrderItemFormModel

<div class="row">
    <h4 class="col-md-10 so-create-header">@Language.SO_HEADER_SERVICEORDER_CUSTOMERINFO</h4>
</div>

<div class="form-group customer-auto-complete">
    <label class="@ServiceOrderViewHelper.GetFormLabelClassName()">@Html.DisplayNameFor(x => x.ShipToCompanyName)</label>
    <div class="@ServiceOrderViewHelper.FormFieldWidthCssClass()">
        <input type="text" class="form-control" id="SearchCustomers" name="searchCustomers" placeholder="@Language.SO_PLACEHOLDER_CUSTOMER_SEARCH" value="@Html.ValueFor(x => x.SelectedCustomerId)" />
        <i class="fa fa-spinner ajax-loading-icon fa-spin fa-lg customer-icon" id="CustomerLoadingIcon" style="display: none;"></i>
        @Html.ValidationMessageFor(x => x.SelectedCustomerId)
    </div>
</div>

<script type="text/javascript">

    function PopulateDeliveryAddressDropdown(customerId) {
        var ajaxUrl = '@Url.Action("FindCustomerDeliveryAddressByCustomer", "Search")?customerId=';

        $.ajax({
            url: (ajaxUrl + customerId),
            type: 'get',
            cache: false,
            dataType: 'json',
            beforeSend: function () {
                toggleElement("CustomerLoadingIcon", true);
            },
            success: function (json) {
                toggleElement("CustomerLoadingIcon", false);
                if (json == '' || json == null) {
                    $("#CustomerDeliveryAddress").empty().append('<option value="">@Language.SO_LABEL_CUSTOMER_ADDRESS_NO_ELEMENTS</option>');
                } else {
                    $("#CustomerDeliveryAddress").empty();
                    $("#CustomerDeliveryAddress").empty().append('<option value="">@Resources.Language.SO_HEADER_SELECT_CUSTOMER_ADDRESS</option>');
                    $.each(json, function (index) {
                        var element = json[index];
                        $("#CustomerDeliveryAddress").append('<option value="' + (element['AddressGuid']) + '">' + (element['Address1'] + ' - ' + element['ZipCode'] + ' - ' + element['CityName']) + '</option>');
                    });
                }
            },
            error: function (xmlHttpRequest, textStatus, errorThrown) {
                console.log('Some error occoured', textStatus, errorThrown);
            }
        });
    }

    $(document).ready(function() {

        $("#SearchCustomers").on("click", function() {
            $(this).select();
        });

        $("#SearchCustomers").autocomplete({
            source: function (request, response) {
                var autocompleteUrl = '@Url.Action("FindPortalCustomer", "Search")?searchQuery=' + request.term;
                $.ajax({
                    url: autocompleteUrl,
                    type: 'get',
                    chache: false,
                    dataType: 'json',
                    beforeSend: function () {
                        toggleElement("CustomerLoadingIcon", true);
                    },
                    success: function(json) {
                        toggleElement("CustomerLoadingIcon", false);
                        response($.map(json, function(data) {
                            return {
                                label: (data.CustomerGuid + " - " + data.CompanyName),
                                customerGuid: data.CustomerGuid,
                                companyName: data.CompanyName,
                                contactName: data.ContactName,
                                address: data.Address1,
                                emailAddress: data.EmailAddress,
                                cityName: data.CityName,
                                zipCode: data.ZipCode
                            };
                        }));
                    },
                    error: function(xmlHttpRequest, textStatus, errorThrown) {
                        console.log('Some error occoured', textStatus, errorThrown);
                    }
                });
            },
            minLength: 2,
            select: function(event, ui) {
                var item = ui.item;
                var customerGuid = item.customerGuid;
                setHiddenField(getCustomerIdFieldId(), customerGuid);
                PopulateDeliveryAddressDropdown(customerGuid);
            }
        });
    });
</script>