﻿@using EISCS.Shop.DO.Dto
@using Resources
@using UIHelpers
@using System.Configuration;
@model FormModels.ServiceOrder.ServiceOrderItemFormModel

<div class="row">
    <h4 class="col-md-10 so-create-header">@Language.SO_HEADER_SERVICEORDER_JOBINFO</h4>
</div>

@if (Model.User.UserAccess("EditServiceOrderProject"))
{
    if (ConfigurationManager.AppSettings.Get("ENABLE_SERVICE_ORDER_PROJECTS")=="1")
    {
        <div class="form-group">
            <label class="@ServiceOrderViewHelper.GetFormLabelClassName()">@Html.LabelFor(x => x.SelectedProject)</label>
            <div class="@ServiceOrderViewHelper.FormFieldWidthCssClass()">
                @if (Model.Projects.Any())
                {
                        @Html.DropDownListFor(x => x.SelectedProject, new SelectList(Model.Projects, "key", "value", Model.Projects), Language.SO_PLACEHOLDER_LIST_PROJECT, new {@class = "form-control"})
                    
                }
                else
                {
                    <select class="form-control" id="SelectedProject" name="SelectedProject"><option value="NONE">@Language.SO_PLACEHOLDER_LIST_NO_PROJECTS</option></select>
                }
                @Html.ValidationMessageFor(x => x.SelectedProject)
            </div>
        </div>
    }
}
    
@if (Model.User.UserAccess("EditServiceOrderJobType") && Model.User.RoleId == "Admin")
{
    <div class="form-group">
        <label class="@ServiceOrderViewHelper.GetFormLabelClassName()" for="@Html.DisplayNameFor(x => x.SelectedTask)">@Html.DisplayNameFor(x => x.SelectedTask)</label>
        <div class="@ServiceOrderViewHelper.FormFieldWidthCssClass()">
            @if (Model.Tasks.Any())
            {
                <div class="input-group">
                    @Html.DropDownListFor(x => x.SelectedTask, new SelectList(Model.Tasks, "Key", "Value"), Language.SO_PLACEHOLDER_LIST_TASKS, new {@class = "form-control"})
                    <div class="input-group-addon">*</div>
                </div>
            }
            else
            {
                <select class="form-control" id="SelectedTask" name="SelectedTask"><option value="">@Language.SO_PLACEHOLDER_LIST_NO_TASKS</option></select>
            }

            @Html.ValidationMessageFor(x => x.SelectedTask)
        </div>
    </div>
}    

@if (Model.User.UserAccess("EditServiceOrderJobStatus") && Model.User.RoleId == "Admin")
{
    <div class="form-group">
        <label class="@ServiceOrderViewHelper.GetFormLabelClassName()" for="@Html.DisplayNameFor(x => x.ServiceOrderStatusList)">@Html.DisplayNameFor(x => x.ServiceOrderStatusList)</label>
        <div class="@ServiceOrderViewHelper.FormFieldWidthCssClass()">
            <div class="input-group">
                @Html.DropDownListFor(x => x.SelectedStatus, new SelectList(Model.StatusList(), "key", "value"), Language.SO_PLACEHOLDER_LIST_STATUS, new {@class = "form-control"})
                <div class="input-group-addon">*</div>
            </div>
            @Html.ValidationMessageFor(x => x.SelectedStatus)
        </div>
    </div>
}
 
@*@if (Model.User.UserAccess("EditServiceOrderServiceManager"))
{
    if (@Model.User.UserAccess("EditServiceOrderServiceManager"))
    {
        <div class="form-group">
            <label class="@ServiceOrderViewHelper.GetFormLabelClassName()" for="@Html.DisplayNameFor(x => x.SelectedServiceManager)">@Html.DisplayNameFor(x => x.SelectedServiceManager)</label>
            <div class="@ServiceOrderViewHelper.FormFieldWidthCssClass()">
                @if (@Model.ServiceManagers.Any())
                {
                    @Html.DropDownListFor(x => x.SelectedServiceManager, new SelectList(@Model.ServiceManagers, "Key", "Value"), Language.SO_PLACEHOLDER_LIST_SERVICEMANAGER, new {@class = "form-control"})
                    ;
                }
                else
                {
                    <select class="form-control" id="SelectedServiceManager" name="SelectedServiceManager"><option value="">@Language.SO_PLACEHOLDER_LIST_NO_SERVICEMANAGERS</option></select>
                }
                @Html.ValidationMessageFor(x => x.SelectedServiceManager)
            </div>
        </div>
    }
}*@

@if (Model.User.UserAccess("EditServiceOrderDepartment") && Model.User.RoleId == "Admin")
{
    <div class="form-group">
        <label class="@ServiceOrderViewHelper.GetFormLabelClassName()" for="@Html.DisplayNameFor(x => x.SelectedDepartment)">@Html.DisplayNameFor(x => x.SelectedDepartment)</label>
        <div class="@ServiceOrderViewHelper.FormFieldWidthCssClass()">
            <div class="input-group">
                @Html.DropDownListFor(x => x.SelectedDepartment, new SelectList(@Model.DepartmentItems, "key", "value", @Model.SelectedDepartment), Language.SO_PLACEHOLDER_LIST_DEPARTMENT, new {@class = "form-control", @placeholder = Language.SO_PLACEHOLDER_LIST_DEPARTMENT})
                <div class="input-group-addon">*</div>
            </div>
            @Html.ValidationMessageFor(x => x.SelectedDepartment)
        </div>
    </div>
}

@if (Model.User.UserAccess("EditServiceOrderTechnician"))
{
    <div class="form-group">
        <label class="@ServiceOrderViewHelper.GetFormLabelClassName()" for="@Language.SO_LABEL_TECHNICIAN">@Language.SO_LABEL_TECHNICIAN</label>
        <div class="@ServiceOrderViewHelper.FormFieldWidthCssClass()">
            @if (Model.Technicians.Any())
            {
                @Html.DropDownListFor(x => x.SelectedTechnician, new SelectList(Model.Technicians, "key", "value"), Language.SO_PLACEHOLDER_TECHNICIAN, new {@class = "form-control"})
                ;
            }
            else
            {
                <select id="SelectedTechnician" name="SelectedTechnician" class="form-control"><option value="NONE">@Language.SO_PLACEHOLDER_LIST_NO_TECHNICIAN</option></select>
            }
            @Html.ValidationMessageFor(x => x.SelectedTechnician)
        </div>
    </div>
}

<div class="form-group">
    <label class="@ServiceOrderViewHelper.GetFormLabelClassName()" for="@Html.DisplayNameFor(x => x.SelectedStartDate)">@Html.DisplayNameFor(x => x.SelectedStartDate)</label>
    <div class="@ServiceOrderViewHelper.FormFieldWidthCssClass()">
        @Html.TextBox("SelectedStartDate", string.Format("{0:d}", @Model.SelectedStartDate), new {@class = "form-control datetimepicker", @type = "text", @placeholder = Language.SO_PLACEHOLDER_STARTDATE})
        @Html.ValidationMessageFor(x => x.SelectedStartDate)
    </div>
</div>

<div class="form-group">
    <label class="@ServiceOrderViewHelper.GetFormLabelClassName()" for="@Html.DisplayNameFor(x => x.JobDescription)">@Html.DisplayNameFor(x => x.JobDescription)</label>
    <div class="@ServiceOrderViewHelper.FormFieldWidthCssClass()">
        @Html.TextAreaFor(x => x.JobDescription, new {@class = "form-control", @placeholder = Language.SO_PLACEHOLDER_SHORT_DESCRIPTION})
        @Html.ValidationMessageFor(x => x.JobDescription)
    </div>
</div>

<div class="form-group">
    <label class="@ServiceOrderViewHelper.GetFormLabelClassName()" for="@Html.DisplayNameFor(x => x.LongDescription)">@Html.DisplayNameFor(x => x.LongDescription)</label>
    <div class="@ServiceOrderViewHelper.FormFieldWidthCssClass()">
        @Html.TextAreaFor(x => x.LongDescription, new {@class = "form-control", @rows = "3", @placeholder = Language.SO_PLACEHOLDER_LONG_DESCRIPTION})
        @Html.ValidationMessageFor(x => x.LongDescription)
    </div>
</div>

@if (Model.Description != null)
{
    <div class="form-group">
    <label class="@ServiceOrderViewHelper.GetFormLabelClassName()" for="@Html.DisplayNameFor(x => x.Description)">@Html.DisplayNameFor(x => x.Description)</label>
    <div class="@ServiceOrderViewHelper.FormFieldWidthCssClass()">
        @Html.TextBoxFor(x => x.Description, new {@class = "form-control", @type = "text", @placeholder = Language.LABEL_DESCRIPTION})
        @Html.ValidationMessageFor(x => x.Description)
    </div>
</div>
}