﻿@using Resources
@using UIHelpers
@model FormModels.ServiceOrder.ServiceOrderItemFormModel

<div class="row">
    <h4 class="col-md-10 so-create-header">@Language.SO_HEADER_SERVICEORDER_SERVICEITEM</h4>
</div>

<div class="form-group" id="FindServiceItemContainer">
    <label class="control-label @ServiceOrderViewHelper.GetFormLabelClassName()" id="ServiceItemSerchLabel">@Language.SO_LABEL_FIND_SERVICE_ITEM</label>
    <label class="control-label @ServiceOrderViewHelper.GetFormLabelClassName()" id="CreateServiceItemLabel" style="display: none;">@Language.SO_LABEL_SERVICE_ITEM_HEADER</label>
    <div class="@ServiceOrderViewHelper.FormFieldWidthCssClass()">
        <input type="text" name="" id="ServiceItemSearch" class="form-control" value="" placeholder="@Language.SO_PLACEHOLDER_SERVICEORDER_FIND_SERVICEITEM" />
        <div class="input-group">
            <input type="text" class="form-control" name="CreateServiceItemDescription" id="ServiceItemDescription" value="" placeholder="@Language.SO_LABEL_SERVICE_ITEM_PLACEHOLDER_SEARCH" />
            <span class="input-group-btn" id="ServiceItemDescriptionBtnGroup">
                <button class="btn btn-success" type="button" id="CreateServiceItemBtn">@Language.SO_LABEL_SERVICE_ITEM_BTN_SAVE</button>
            </span>
        </div>
        <label class="checkbox-inline" id="FindServiceItemProduct">
            <input type="checkbox" name="" id="CBFindServiceItemProduct" class="" value="0"/> @Language.SO_LABEL_SERVICE_ITEM_PRODUCT_SEARCH
        </label>
        <label class="checkbox-inline" id="CreateServiceItem">
            <input type="checkbox" name="" id="CBCreateServiceItem" class="" value=""/> @Language.SO_LABEL_SERVICE_ITEM_CREATE_NEW
        </label>
        <i class="fa fa-spinner ajax-loading-icon fa-spin fa-lg service-item-icon service-item" id="ServiceItemLoadingIcon"></i>
        <i class="fa fa-warning ajax-alert-icon fa-lg service-item-icon none-found" id="ServiceIemNoElements" style="color: orange;"></i>
    </div>
</div>

<div class="form-group" id="CreateNewServiceItem">
    <div class="@ServiceOrderViewHelper.FormFieldWidthCssClass()"></div>
</div>

<script type="text/javascript">

    function populateSelectedServiceItemHiddenFields(item) {
        var isProductSelected = ($("#CBFindServiceItemProduct").is(":checked"));
        console.log(item);
        if (isProductSelected == true) {
            $('#ServiceItemNo').val("");
            $('#ItemNo').val(item.itemNo);
            $('#Description').val(item.description);
        }
        
        if (isProductSelected == false) {
            $('#ServiceItemNo').val(item.serviceItemNo);
            $('#ItemNo').val("");
            $('#Description').val("");
        }
    }
    
    function getAutoCompleteSerchUrl(searchString) {
        var autocompleteurl;
        var searchInProducts = ($("#CBFindServiceItemProduct").is(":checked"));
        setHiddenField("IsAKnownServiceItemSelected", searchInProducts);

        if (searchInProducts) {
            autocompleteurl = '@Url.Action("AjaxFindProducts", "Product")?searchQuery=' + searchString;
        } else {
            var selectedCustomerGuid = getCustomerIdFieldValue();
            var selectedCustomerAddress = getCustomerAddressIdFieldValue();
            autocompleteurl = '@Url.Action("AjaxFindByCustomer", "ServiceItem")?searchQuery=' + searchString + '&CustomerId=' + selectedCustomerGuid + '&CustomerAddressId=' + selectedCustomerAddress;
        }
        
        return autocompleteurl;
    }

    $(document).ready(function () {

        $("#CBCreateServiceItem").change(function () {
            toggleElement('CreateNewServiceItem', this.checked);
        }).change();

        $("#CBFindServiceItemProduct").change(function () {
            if (this.checked) {
                $("#ServiceItemSearch").val("");
                toggleElement("ServiceIemNoElements", false);
            }
        }).change();

        $("#CBCreateServiceItem").change(function () {
            var isSearchSelected = $(this).is(":checked");
            
            $("#ServiceItemSearch").val("");
            toggleElement("ServiceItemSearch", !(isSearchSelected));
            toggleElement("ServiceIemNoElements", false);
            toggleElement("ServiceItemSerchLabel", !(isSearchSelected));
            toggleElement('FindServiceItemProduct', !(isSearchSelected));
            toggleElement("CreateServiceItemLabel", (isSearchSelected));
            toggleElement('ServiceItemDescription', (isSearchSelected));
            toggleElement('ServiceItemDescriptionBtnGroup', (isSearchSelected));
        }).change();

        $("#ServiceItemSearch").on("keyup", function() {
            toggleElement("ServiceIemNoElements", false);
        });

        $("#CreateServiceItemBtn").on("click", function () {
            var newServiceItemName = $("#ServiceItemDescription").val();
            console.log(newServiceItemName);
            setHiddenField("Description", newServiceItemName);
            setHiddenField("ServiceItemNo", "");
            setHiddenField("ItemNo", "");
            
        });

        $("#ServiceItemSearch").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: getAutoCompleteSerchUrl(request.term),
                    type: 'get',
                    cache: false,
                    dataType: 'json',
                    beforeSend: function() {
                        toggleElement('ServiceItemLoadingIcon', true);
                    },
                    success: function (json) {
                        toggleElement('ServiceItemLoadingIcon', false);
                        if (json != '' && json != null) {
                            response($.map(json, function (data) {
                                return {
                                    label: (data.ItemNo + " - " + data.Description),
                                    serviceItemNo: data.ServiceItemId,
                                    itemNo: data.ItemNo,
                                    description: data.Description
                                };
                            }));
                        } else {
                            toggleElement('ServiceIemNoElements', true);
                        }
                    },
                    error: function(xmlHttpRequest, textStatus, errorThrown) {
                        console.log('Some error occoured', textStatus, errorThrown);
                    }
                });
            },
            minLength: 2,
            select: function (event, ui) {
                var item = ui.item;
                clearServiceItemHiddenfields(true);
                populateSelectedServiceItemHiddenFields(item);
            }
        });
    });
</script>