﻿@using System.Threading
<table class="table table-hover table-condensed" id="serviceTable">
    <thead>
        <tr>
            <th class="ServiceHeaderGuid">@Resources.Language.SO_HEADER_COLUMN_REFERENCE_NUMBER</th>
            <th class="hidden-xs hidden-sm ServiceOrderType">@Resources.Language.SO_HEADER_COLUMN_TYPE</th>
            <th class="JobDescription">@Resources.Language.SO_HEADER_COLUMN_DESCRIPTION</th>
            <th class="StatusCode">@Resources.Language.SO_HEADER_COLUMN_STATUS</th>
            <th class="DepartmentGuid">@Resources.Language.SO_HEADER_COLUMN_DEPARTMENT</th>
            <th class="hidden-xs hidden-sm BASReceivedTime">@Resources.Language.SO_HEADER_COLUMN_CREATED</th>
            <th class="visible-lg">@Resources.Language.SO_HEADER_COLUMN_STARTDATE</th>
            <th class="visible-lg">@Resources.Language.SO_HEADER_COLUMN_FINISHDATE</th>
            <th class="Actions"></th>
        </tr>
    </thead>
</table>

<script type="text/javascript" charset="utf-8">
    var rootUrl = '@Url.Content("~/")';
    $(document).ready(function () {
        var userIsAllowEditServiceOrder = '@Model.CurrentUser.UserAccess("EditServiceOrder")';
        
        drawServiceTableWithFilter('@ViewBag.ServiceOrderSearchType');

        $("#HistoryButton").click(function () {
            var table = $("#serviceTable").dataTable();
            table.fnDestroy();
            table = null;
            drawServiceTableWithFilter("Closed");
        });

        $("#ActiveOrdersButton").click(function () {
            var table = $("#serviceTable").dataTable();
            table.fnDestroy();
            table = null;
            drawServiceTableWithFilter("Active");
        });

        $('#serviceTable tbody').on('click', '.delete-btn', function (e) {
            var serviceOrder = $(this).attr("id");
            $.ajax({
                url: "@Url.Action("Delete","ServiceOrder")",
                data: { serviceOrderGuid: serviceOrder },
                success: function() {
                    $('#serviceTable').DataTable().row($(this).parents('tr')).remove().draw(false);
                }
            });
        });

        function drawServiceTableWithFilter(filter)
        {
            var language = '@Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName';
            var languageUrl = rootUrl + 'Content/datatables/i18n/' + language + '.txt';

            $("#serviceTable").dataTable({
                "processing": true,
                "serverSide": true,
                "ajax": {
                    "url": rootUrl + "ServiceOrder/GetServiceOrders?searchType=" + filter,
                    "type": "POST"
                },
                "responsive": true,
                'language': { 'url': languageUrl },
                "bAutoWidth": false,
                "order": [5, 'desc'],
                "columns":
                [
                    {
                        "data": "ServiceOrderGuid",
                        "render": function (data, type, full) {
                            var column = "<a href='@Url.Action("Details","ServiceOrder", new {serviceOrderGuid = "__data__"})'>__data__</a>";
                            return column.replace(/__data__/g, data);
                        }
                    },
                    {
                        "data": "ServiceOrderType",
                        "render": function (data, type, full) {
                            return data == null ? "" : (full.ServiceOrderTypeItem ? full.ServiceOrderTypeItem.Description : data);
                        },
                        "className": "hidden-xs hidden-sm"
                    },
                    { "data": "JobDescription" },
                    { "data": "StatusCode" },
                    {
                        "data": "DepartmentGuid",
                        "render": function (data, type, full) {
                            return data == null ? "" : (full.SelectedDepartment ? full.SelectedDepartment.Description : data);
                        }
                    },
                    {
                        "data": "BASReceivedTime",
                        "type": "date",
                        "render": function(data, type, full) {
                            return dotNETDate.toFullString(data);
                        }
                    },
                    {
                        "data": "StartingDate",
                        "type": "date",
                        "render": function(data, type, full) {
                            return dotNETDate.toDateString(data);
                        },
                        "className": "visible-lg"
                    },
                    {
                        "data": "FinishingDate",
                        "type": "date",
                        "render": function (data, type, full) {
                            return dotNETDate.toDateString(data);
                        },
                        "className": "visible-lg"
                    },
                    {
                        "data": "ServiceOrderGuid",
                        "render": function (data, type, full) {
                            var column = "";
                            if (userIsAllowEditServiceOrder)
                            {
                                column = "<a href='#' class='delete-btn trash-can pull-right ActionDelete' id='__data__' style='margin-left: 10px;'><i class='fa fa-trash-o fa-lg'></i></a> <a href='@Url.Action("Edit","ServiceOrder", new {serviceOrderGuid = "__data__"})'class='ActionEdit edit-btn pull-right'><i class='fa fa-edit fa-lg'></i></a>";
                            }
                            return column.replace(/__data__/g, data);
                        },
                        "orderable": false 
                    }
                ]
            });
        }
        
    });
</script>