﻿@using System.Threading
@using Resources
@using UIHelpers
@model FormModels.ServiceOrder.ServiceOrderItemFormModel

<div class="row">
    @if (Model.CurrentServiceItem != null)
    {
        <div class="col-sm-12">
            <div class="col-md-6">
                <div class="form-horizontal">
                    <div class="form-group">
                        @Html.LabelFor(x => x.CurrentServiceItem.SerialNo, new {Class = "col-md-4 control-label"})
                        <div class="col-sm-8">
                            <p class="form-control-static">@Model.CurrentServiceItem.SerialNo</p>
                            @Html.HiddenFor(x => x.ServiceItemNo, new {Value = Model.CurrentServiceItem.ServiceItemNo})
                            @Html.HiddenFor(x => x.ItemNo, new {Value = Model.CurrentServiceItem.ItemNo})
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.CurrentServiceItem.Description, new {Class = "col-md-4 control-label"})
                        <div class="col-sm-8">
                            <p class="form-control-static">@Model.CurrentServiceItem.Description</p>
                            @Html.HiddenFor(x => x.Description, new {Value = Model.CurrentServiceItem.Description})
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-horizontal">
                    <div class="form-group">
                        @Html.LabelFor(x => x.CurrentPortalCustomer.CustomerGuid, new {Class = "col-md-4 control-label"})
                        <div class="col-sm-8">
                            <p class="form-control-static">@Model.CurrentServiceItem.CustomerGuid</p>
                            @Html.HiddenFor(x => x.CurrentServiceItem.CustomerGuid)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.CurrentPortalCustomer.CompanyName, new {Class = "col-md-4 control-label"})
                        <div class="col-sm-8">
                            <p class="form-control-static">@Model.ShipToCompanyName</p>
                            @Html.HiddenFor(x => x.CurrentPortalCustomer.CompanyName)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

    <div class="col-md-6">
        @Html.Partial("partials/_JobInformation", @Model)
    </div>

    <div class="col-md-6">
        <h4 class="col-md-10 so-create-header">@Language.SO_HEADER_SERVICEORDER_DELIVERYINFO</h4>

        <div class="form-group">
            <label class="@ServiceOrderViewHelper.GetFormLabelClassName()" for="@Html.DisplayNameFor(x => x.ShiptoContactName)">@Html.DisplayNameFor(x => x.ShiptoContactName)</label>
            <div class="@ServiceOrderViewHelper.FormFieldWidthCssClass()">
                <div class="input-group">
                    @Html.TextBoxFor(x => x.ShiptoContactName, new { @class = "form-control", @placeholder = Language.SO_PLACEHOLDER_CONTACT_NAME })
                    <div class="input-group-addon">*</div>
                </div>
                @Html.ValidationMessageFor(x => x.ShiptoContactName)
            </div>
        </div>

        <div class="form-group">
            <label class="@ServiceOrderViewHelper.GetFormLabelClassName()" for="@Html.DisplayNameFor(x => x.ShipToCompanyName)">@Html.DisplayNameFor(x => x.ShipToCompanyName)</label>
            <div class="@ServiceOrderViewHelper.FormFieldWidthCssClass()">
                <div class="input-group">
                    @Html.TextBoxFor(x => x.ShipToCompanyName, new { @class = "form-control", @placeholder = Language.SO_PLACEHOLDER_COMPANY_NAME })
                    <div class="input-group-addon">*</div>
                </div>
                @Html.ValidationMessageFor(x => x.ShipToCompanyName)
            </div>
        </div>

        <div class="form-group">
            <label class="@ServiceOrderViewHelper.GetFormLabelClassName()" for="@Html.DisplayNameFor(x => x.ShipToAddress)">@Html.DisplayNameFor(x => x.ShipToAddress)</label>
            <div class="@ServiceOrderViewHelper.FormFieldWidthCssClass()">
                <div class="input-group">
                    @Html.TextBoxFor(x => x.ShipToAddress, new { @class = "form-control", @placeholder = Language.SO_PLACEHOLDER_SHIPPINGADDRESS })
                    <div class="input-group-addon">*</div>
                </div>
                @Html.ValidationMessageFor(x => x.ShipToAddress)
            </div>
        </div>

        <div class="form-group">
            <label class="@ServiceOrderViewHelper.GetFormLabelClassName()" for="@Html.DisplayNameFor(x => x.ShipToZipCode)">@Html.DisplayNameFor(x => x.ShipToZipCode)</label>
            <div class="@ServiceOrderViewHelper.FormFieldWidthCssClass()">
                @Html.TextBoxFor(x => x.ShipToZipCode, new { @class = "form-control", @placeholder = Language.SO_PLACEHOLDER_ZIP })
                @Html.ValidationMessageFor(x => x.ShipToZipCode)
            </div>
        </div>

        <div class="form-group">
            <label class="@ServiceOrderViewHelper.GetFormLabelClassName()" for="@Html.DisplayNameFor(x => x.ShipToCityName)">@Html.DisplayNameFor(x => x.ShipToCityName)</label>
            <div class="@ServiceOrderViewHelper.FormFieldWidthCssClass()">
                <div class="input-group">
                    @Html.TextBoxFor(x => x.ShipToCityName, new {@class = "form-control", @placeholder = Language.SO_PLACEHOLDER_SHIPPINGCITY})
                    <div class="input-group-addon">*</div>
                </div>
                @Html.ValidationMessageFor(x => x.ShipToCityName)
            </div>
        </div>

        <div class="form-group">
            <label class="@ServiceOrderViewHelper.GetFormLabelClassName()" for="@Html.DisplayNameFor(x => x.ShipToPhoneNo)">@Html.DisplayNameFor(x => x.ShipToPhoneNo)</label>
            <div class="@ServiceOrderViewHelper.FormFieldWidthCssClass()">
                @Html.TextBoxFor(x => x.ShipToPhoneNo, new {@class = "form-control", @placeholder = Language.SO_PLACEHOLDER_SHIPPINGPHONE})
                @Html.ValidationMessageFor(x => x.ShipToPhoneNo)
            </div>
        </div>

        <div class="form-group">
            <label class="@ServiceOrderViewHelper.GetFormLabelClassName()" for="@Html.DisplayNameFor(x => x.ShipToPhoneNo2)">@Html.DisplayNameFor(x => x.ShipToPhoneNo2)</label>
            <div class="@ServiceOrderViewHelper.FormFieldWidthCssClass()">
                @Html.TextBoxFor(x => x.ShipToPhoneNo2, new {@class = "form-control", @placeholder = Language.SO_PLACEHOLDER_SHIPPINGPHONE2})
                @Html.ValidationMessageFor(x => x.ShipToPhoneNo2)
            </div>
        </div>

        <div class="form-group">
            <label class="@ServiceOrderViewHelper.GetFormLabelClassName()" for="@Html.DisplayNameFor(x => x.ShiptoEmailAddress)">@Html.DisplayNameFor(x => x.ShiptoEmailAddress)</label>
            <div class="@ServiceOrderViewHelper.FormFieldWidthCssClass()">
                <div class="input-group">
                    @Html.TextBoxFor(x => x.ShiptoEmailAddress, new {@class = "form-control", @placeholder = Language.SO_PLACEHOLDER_SHIPPINGEMAIL})
                    <div class="input-group-addon">*</div>
                </div>
                @Html.ValidationMessageFor(x => x.ShiptoEmailAddress)
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/i18n/jquery-ui-i18n.min.js"></script>
<script type="text/javascript">
    var i18nHelper = {
        twoLetterIsoCode2JQueryKeyTable: { 'en': 'en-GB' },
        getLanguageCode: function () {
            return '@Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName';
        },
        getDataTableLangUrl: function () {
            return '@Url.Content("~/Content/datatables/i18n/")' + this.getLanguageCode() + '.txt';
        },
        twoLetterIsoCode2JQueryKey: function (twoLetterIsoCode) {
            return this.twoLetterIsoCode2JQueryKeyTable[twoLetterIsoCode] || twoLetterIsoCode;
        }
    }

    $(document).ready(function () {
        $.datepicker.setDefaults($.datepicker.regional[i18nHelper.twoLetterIsoCode2JQueryKey(i18nHelper.getLanguageCode())]);
        var datePickerOptions = {
            changeMonth: true,
            changeyear: true,
            showSecond: false,
            firstDay: 1,
            showWeek: true,
            minDate: new Date()
        }
        if (i18nHelper.getLanguageCode() == 'en') {
            datePickerOptions['dateFormat'] = 'm/d/yy';
        }
        $(".datetimepicker").datepicker(datePickerOptions);
        $("#SelectedStartDate").change(function(ev, ui) {
            if ($(ev.target).val() != "") {
                $("#SelectedFinishDate").datepicker("option", "minDate", $(ev.target).val());
            } else {
                $("#SelectedFinishDate").datepicker("option", "minDate", null);
            }
        });
    });
</script>

@if (!Model.IsInEditMode)
{
    <script type="text/javascript">
        $('#SelectedFinishDate').val("");
    </script>
}

<script type="text/javascript">

    function clearServiceItemHiddenfields(isInEditMode) {
        if (isInEditMode == true) {
            console.log("Hidden fields reset.");
            $("#ServiceItemNo").val("");
            $("#ItemNo").val("");
            $("#Description").val("");
        }
    }

    function toggleElement(loadingIconId, isVisible) {
        $("#" + loadingIconId).toggle(isVisible);
    }

    function setHiddenField(id, value) {
        console.log(id, value);
        $("#" + id).val(value);
    }

    function clearSearchField() {
        $("#ServiceItemSearch").val();
    }

    function getHiddenFieldValue(id) {
        return $("#" + id).val();
    }

    function getCustomerIdFieldId() {
        return "SelectedCustomerId";
    }

    function getCustomerIdFieldValue() {
        return $("#" + getCustomerIdFieldId()).val();
    }

    function getCustomerAddressIdFieldId() {
        return "SelectedCustomerAddressId";
    }

    function getCustomerAddressIdFieldValue() {
        return $("#" + getCustomerAddressIdFieldId()).val();
    }

    function getSelectedServiceItemTypeFieldValue() {
        return "IsProductSelected";
    }

</script>