﻿@using Resources
@using UIHelpers
@using ViewModels.ServiceOrder
@model IEnumerable<ServiceOrderListViewModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    
@section header
{
    <link rel="stylesheet" href="@Url.Content("~/Content/datatables/dataTables.bootstrap.css")" />
    <script type="text/javascript" src="@Url.Content("~/Content/datatables/jquery.dataTables.js")"> </script>
    <script type="text/javascript" src="@Url.Content("~/Content/datatables/dataTables.bootstrap.js")"> </script>
}

<div class="row">
    <div class="col-md-12">
        <a href="@Url.Action("Create", "ServiceOrder")" class="btn btn-primary btn-sm create-btn"><i class="fa fa-plus"></i> @Language.SO_LABEL_INPUT_ADD</a>
    </div>
</div>
<hr/>
    
<table class="table table-hover" id="serviceTable">
    <thead>
        <tr>
            <th>@Language.SO_HEADER_COLUMN_REFERENCE_NUMBER</th>
            <th class="hidden-xs hidden-sm">@Language.SO_HEADER_COLUMN_TYPE</th>
            <th>@Language.SO_HEADER_COLUMN_DESCRIPTION</th>
            <th>@Language.SO_HEADER_COLUMN_STATUS</th>
            <th>@Language.SO_HEADER_COLUMN_SERVICEMANAGER</th>
            <th class="hidden-xs hidden-sm">@Language.SO_HEADER_COLUMN_CREATED</th>
            <th class="visible-lg">@Language.SO_HEADER_COLUMN_FINISHDATE</th>
            <th class="no-sort"></th>
        </tr>
    </thead>
    @*<tbody>
        @foreach (ServiceOrderListViewModel item in @Model)
        {
            <tr>
                <td><a href="@Url.Action("Details", "ServiceOrder", new { id = item.Id }, null)">@item.OrderId</a></td>
                <td class="hidden-xs hidden-sm">@item.ServiceOrderType.Description</td>
                <td>@item.Description</td>
                <td>@Html.Raw(ServiceOrderViewHelper.GetServiceOrderStatusTranslation(@item.Status, "11"))</td>
                <td>@item.ServiceManager</td>
                <td class="hidden-xs hidden-sm">@item.StartDate</td>
                <td class="visible-lg">@item.EndDate</td>
                <td>
                    <a href="@Url.Action("Delete", "ServiceOrder", new { id = item.Id })" class="delete-btn trash-can pull-right" style="margin-left: 10px;"><i class="fa fa-trash-o fa-lg"></i></a>
                    <a href="@Url.Action("Edit", "ServiceOrder", new { id = item.Id })" class="edit-btn pull-right"><i class="fa fa-edit fa-lg"></i></a>
                </td>
            </tr>
        }
    </tbody>*@
</table>
    
<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        $('#serviceTable').dataTable(
            {
                "aaSorting": [[0, "desc"]],
                "aoColumnDefs": [
                    { 'bSortable': false, 'aTargets': ['no-sort'] },
                    { "sType": "date", "aTargets": [5, 6] }
                ],
                "oLanguage": {
                    "sSearch": "Søg: "
                },
                "sDom":
                    "<'row'<'col-xs-6'l><'col-xs-6'f>r>" +
                        "t" +
                        "<'row'<'col-xs-6'i><'col-xs-6'p>>",
            }
        );
    });
</script>