﻿@using Resources
﻿@model ViewModels.RegisterUserFormModel

<div class="form-group">
	<label class="control-label col-sm-2">@Language.LABEL_USERDATA_CONTACT</label>
    <div class="controls col-sm-4 input-group">
        @Html.TextBoxFor(u => u.ContactName, new {Class = "form-control"})
        <span class="input-group-addon">*</span>
    </div>
    <div class="clearfix"></div>
	<div class="col-sm-4 col-sm-offset-2">
		@Html.ValidationMessageFor(u => u.ContactName)
	</div>
</div>

<div class="form-group">
	<label class="control-label col-sm-2">@Language.LABEL_USERDATA_COMPANY</label>
    <div class="controls col-sm-4">
        @Html.TextBoxFor(u => u.CompanyName, new {Class = "form-control"})
    </div>
    <div class="clearfix"></div>
	<div class="col-sm-4 col-sm-offset-2">
		@Html.ValidationMessageFor(u => u.CompanyName)
	</div>
</div>

<div class="form-group">
	<label class="control-label col-sm-2">@Language.LABEL_USERDATA_EMAIL</label>
    <div class="controls col-sm-4 input-group">
        @Html.TextBoxFor(u => u.EmailAddress, new {Class = "form-control"})
        <span id="" class="input-group-addon">*</span>
    </div>
    <div class="clearfix"></div>
	<div class=" col-sm-4 col-sm-offset-2">
		@Html.ValidationMessageFor(u => u.EmailAddress)
	</div>
</div>

<div class="form-group">
	<label class="control-label col-sm-2">@Language.LABEL_USERDATA_ADDRESS_1</label>
    <div class="controls col-sm-4 input-group">
        @Html.TextBoxFor(u => u.Address1, new {Class = "form-control"})
        <span id="" class="input-group-addon">*</span>
    </div>
    <div class="clearfix"></div>
	<div class=" col-sm-4 col-sm-offset-2">
		@Html.ValidationMessageFor(u => u.Address1)
	</div>
</div>

<div class="form-group">
	<label class="control-label col-sm-2">@Language.LABEL_USERDATA_ADDRESS_2</label>
    <div class="controls col-sm-4">
        @Html.TextBoxFor(u => u.Address2, new {Class = "form-control"})
    </div>
    <div class="clearfix"></div>
	<div class=" col-sm-4 col-sm-offset-2">
		@Html.ValidationMessageFor(u => u.Address2)
	</div>
</div>

<div class="form-group">
	<label class="control-label col-sm-2">@Language.LABEL_USERDATA_CITY</label>
    <div class="controls col-sm-4 input-group">
        @Html.TextBoxFor(u => u.CityName, new {Class = "form-control"})
        <span id="" class="input-group-addon">*</span>
    </div>
    <div class="clearfix"></div>
	<div class=" col-sm-4 col-sm-offset-2">
		@Html.ValidationMessageFor(u => u.CityName)
	</div>
</div>

<div class="form-group">
	<label class="control-label col-sm-2">@Language.LABEL_USERDATA_ZIPCODE</label>
	<div class="controls col-sm-4 input-group">
		@Html.TextBoxFor(u => u.ZipCode, new {Class = "form-control"})
		<span id="" class="input-group-addon">*</span>
	</div>
    <div class="clearfix"></div>
	<div class=" col-sm-4 col-sm-offset-2">
		@Html.ValidationMessageFor(u => u.ZipCode)
	</div>
</div>

<div class="form-group">
	<label class="control-label col-sm-2">@Language.LABEL_USERDATA_PHONE</label>
	<div class="controls col-sm-4">
		@Html.TextBoxFor(u => u.PhoneNo, new {Class = "form-control"})
	</div>
    <div class="clearfix"></div>
	<div class=" col-sm-4 col-sm-offset-2">
		@Html.ValidationMessageFor(u => u.PhoneNo)
	</div>
</div>

<div class="form-group">
	<label class="control-label col-sm-2">@Language.LABEL_USERDATA_COUNTRY</label>
    <div class="controls col-sm-4 input-group">
        <select name="CountryGuid" id="" class="form-control with-radius">
            <option disabled selected>@Language.ACTION_SELECT</option>
            @foreach (KeyValuePair<string, string> country in Model.CountryList)
            {
                <option value="@country.Key">@country.Value</option>
            }
        </select>
        <span class="input-group-addon">*</span>
    </div>
    <div class="clearfix"></div>
    <div class=" col-sm-4 col-sm-offset-2">
		@Html.ValidationMessageFor(u => u.CountryGuid)
	</div>
</div>

<div class="form-group">
	<label class="control-label col-sm-2">@Language.LABEL_SITE_LANGUAGE</label>
	<div class="controls col-sm-4 input-group">
		<select name="LanguageGuid" id="" class="form-control with-radius">
			<option disabled selected>@Language.ACTION_SELECT</option>
			@foreach (KeyValuePair<string, string> language in Model.LanguageList)
			{
				<option value="@language.Key">@language.Value</option>
			}
		</select>

	</div>
</div>

<div class="form-group">
	<label class="control-label col-sm-2">@Language.LABEL_USERDATA_CURRENCY_1</label>
	<div class="controls col-sm-4 input-group">
		<select name="CurrencyGuid" id="" class="form-control with-radius">
			<option disabled selected>@Language.ACTION_SELECT</option>
			@foreach (KeyValuePair<string, string> currency in Model.CurrencyList)
			{
				<option value="@currency.Key">@currency.Value</option>
			}
		</select>
	</div>
</div>

<div class="form-group">
	<label class="control-label col-sm-2">@Language.LABEL_USERDATA_CURRENCY_2</label>
	<div class="controls col-sm-4 input-group">
		<select name="SecondaryCurrencyGuid" id="" class="form-control with-radius">
			<option disabled selected>@Language.ACTION_SELECT</option>
			@foreach (KeyValuePair<string, string> currency in Model.CurrencyList)
			{
				<option value="@currency.Key">@currency.Value</option>
			}
			<option value="">[None]</option>
		</select>
	</div>
</div>

<div class="form-group">
	<label class="control-label col-sm-2">@Language.LABEL_USERDATA_LOGIN</label>
    <div class="controls col-sm-4 input-group">
        @Html.TextBoxFor(u => u.UserName, new {Class = "form-control"})
        <span id="" class="input-group-addon">*</span>
    </div>
    <div class="clearfix"></div>
	<div class="col-sm-4 col-sm-offset-2">
		@Html.ValidationMessageFor(u => u.UserName)
	</div>
</div>

<div class="form-group">
	<label class="control-label col-sm-2">@Language.LABEL_USERDATA_PASSWORD</label>
    <div class="controls col-sm-4 input-group">
        @Html.PasswordFor(u => u.Password, new {Class = "form-control"})
        <span id="" class="input-group-addon">*</span>
    </div>
    <div class="clearfix"></div>
	<div class="col-sm-4 col-sm-offset-2">
		@Html.ValidationMessageFor(u => u.Password)
	</div>
</div>

<div class="form-group">
	<label class="control-label col-sm-2">@Language.LABEL_USERDATA_CONFIRM_PASSWORD</label>
    <div class="controls col-sm-4 input-group">
        @Html.PasswordFor(u => u.ConfirmedPassword, new {Class = "form-control"})
        <span id="" class="input-group-addon">*</span>
    </div>
    <div class="clearfix"></div>
	<div class="col-sm-4 col-sm-offset-2">
		@Html.ValidationMessageFor(u => u.ConfirmedPassword)
	</div>
</div>