﻿<!--
    Template information used by the Catalog Manager
    #NAME=About Page
    #DESCRIPTION=Displays an about page.
    #GROUPTEMPLATE=TRUE
    #PRODUCTTEMPLATE=FALSE
    #PROPERTYGROUP=NAME, ALIAS, REDIRECTURL, TEMPLATE, TITLE | Page Properties
    #PROPERTYGROUP=HTMLDESC | Html
    -->
@using System.Configuration
@model ViewModels.Templates.AboutTemplateViewModel

@{
	ViewBag.Title = ConfigurationManager.AppSettings["SHOP_TITLE"] + " - " + @Model.Title;
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
	<div class="col-sm-12">
		@Html.Raw(Model.HtmlDesc)
	</div>
</div>
