﻿@using Resources
@using (Html.BeginForm("Add", "Checkout", FormMethod.Post, new {@class = "form-horizontal"}))
{
	if (!ViewData.ModelState.IsValid)
	{
		<div class="alert alert-danger alert-dismissable">
			<button class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			@Html.ValidationSummary(false, string.Empty)
		</div>
	}
	@Html.Action("Add")

	<button type="submit" class="btn btn-primary col-sm-offset-3"><i class="fa fa-plus-circle"></i> @Language.ACTION_ADD_SHIPPING_ADDRESS</button>
}