﻿@model FormModels.ShippingAddress.ShippingAddressItemFormModel

<div class="form-group">
	<label class="control-label col-sm-2">@Resources.Language.LABEL_USERDATA_CONTACT</label>
    <div class="col-sm-10 input-group">
        @Html.TextBoxFor(x => x.ContactName, new { Class="form-control"})
        <span id="" class="input-group-addon">*</span>
    </div>
    <div class="clearfix"></div>
	<div class="col-sm-offset-2 col-sm-10">
		@Html.ValidationMessageFor(x => x.ContactName)
	</div>
</div>
<div class="form-group">
	<label class="control-label col-sm-2">@Resources.Language.LABEL_USERDATA_COMPANY</label>
    <div class="col-sm-10">
        @Html.TextBoxFor(x => x.CompanyName, new { @class = "form-control" })
    </div>
    <div class="clearfix"></div>
    <div class="col-sm-offset-2 col-sm-10">
        @Html.ValidationMessageFor(x => x.CompanyName)
    </div>
</div>
<div class="form-group">
	<label class="control-label col-sm-2">@Resources.Language.LABEL_USERDATA_ADDRESS_1</label>
    <div class="col-sm-10 input-group">
        @Html.TextBoxFor(x => x.Address1, new { @class = "form-control" })
        <span id="" class="input-group-addon">*</span>
    </div>
    <div class="clearfix"></div>
	<div class="col-sm-offset-2 col-sm-10">
		@Html.ValidationMessageFor(x => x.Address1)
	</div>
</div>
<div class="form-group">
	<label class="control-label col-sm-2">@Resources.Language.LABEL_USERDATA_ADDRESS_2</label>
    <div class="col-sm-10">
        @Html.TextBoxFor(x => x.Address2, new { @class = "form-control" })
    </div>
    <div class="clearfix"></div>
    <div class="col-sm-offset-2 col-sm-10">
        @Html.ValidationMessageFor(x => x.Address2)
    </div>
</div>
<div class="form-group">
	<label class="control-label col-sm-2">@Resources.Language.LABEL_USERDATA_ZIPCODE</label>
    <div class="col-sm-10 input-group">
        @Html.TextBoxFor(x => x.ZipCode, new { @class = "form-control" })
        <span id="" class="input-group-addon">*</span>
    </div>
    <div class="clearfix"></div>
	<div class="col-sm-offset-2 col-sm-10">
		@Html.ValidationMessageFor(x => x.ZipCode)
	</div>
</div>
<div class="form-group">
	<label class="control-label col-sm-2">@Resources.Language.LABEL_USERDATA_CITY</label>
    <div class="col-sm-10 input-group">
        @Html.TextBoxFor(x => x.CityName, new { @class = "form-control" })
        <span id="" class="input-group-addon">*</span>
    </div>
    <div class="clearfix"></div>

	<div class="col-sm-offset-2 col-sm-10">
		@Html.ValidationMessageFor(x => x.CityName)
	</div>
</div>
<div class="form-group">
	<label class="control-label col-sm-2">@Resources.Language.LABEL_USERDATA_COUNTRY</label>
    <div class="col-sm-10 input-group">
        @Html.DropDownListFor(x => x.CountryGuid, new SelectList(Model.CountryList, "key", "value"), Resources.Language.ACTION_SELECT, new { Class="form-control with-radius"})
        <span id="" class="input-group-addon">*</span>
    </div>
    <div class="clearfix"></div>
	<div class="col-sm-offset-2 col-sm-10">
		@Html.ValidationMessageFor(x => x.CountryGuid)
	</div>
</div>
<div class="form-group">
	<label class="control-label col-sm-2">@Resources.Language.LABEL_USERDATA_EMAIL</label>
    <div class="col-sm-10 input-group">
        @Html.TextBoxFor(x => x.EmailAddress, new { @class = "form-control" })
        <span id="" class="input-group-addon">*</span>
    </div>
    <div class="clearfix"></div>
	<div class="col-sm-offset-2 col-sm-10">
		@Html.ValidationMessageFor(x => x.EmailAddress)
	</div>
</div>
@Html.HiddenFor(x => x.ShippingAddressGuid)
@Html.HiddenFor(x => x.UserGuid)
@Html.HiddenFor(x => x.IsDefault)
@Html.HiddenFor(x => x.AddressType)