﻿@using Resources
@model ViewModels.CheckoutViewModel

<div class="checkout-wrap">
	<ul class="checkout-bar">

		<li class="first @switch (Model.Step)
		                 {
			                 case 1:
				                 @:active
				                 break;
			                 case 2:
				                 @:visited previous
				                 break;
			                 case 3:
				                 @:visited
				                 break;
		                 }">@Language.LABEL_SHIPPING_PROVIDER</li>

		<li class="@switch (Model.Step)
		                 {
			                 case 1:
				                 @:next
				                 break;
			                 case 2:
				                 @:active
				                 break;
			                 case 3:
				                 @:visited previous
				                 break;
		                 }">@Language.LABEL_SHIPPING_ADDRESS</li>

		<li class="@switch (Model.Step)
		                 {
			                 case 2:
				                 @:next
				                 break;
			                 case 3:
				                 @:active
				                 break;
		                 }">@Language.LABEL_CONFIRMATION</li>

	</ul>
</div>

@*<ol class="checkout-steps">
	<li class="step-1 @if (Model.Step == 1) {<text>current</text>}"><span>@Language.LABEL_SHIPPING_PROVIDER</span></li>
	<li class="step-2 @if (Model.Step == 2) {<text>current</text>}"><span>@Language.LABEL_SHIPPING_ADDRESS</span></li>
	<li class="step-3 @if (Model.Step == 3) {<text>current</text>}"><span>@Language.LABEL_CONFIRMATION</span></li>
</ol>*@