﻿@using Resources
@using ViewModels
@{
	List<ShippingHandlingProviderViewModel> providers = Model.Providers;
}

<div class="row">
	<div class="col-sm-12">
		<h2>@Language.HEADER_SELECT_SHIPPING_PROVIDER</h2>
		<div class="well">
			<div class="row">
				<div class="col-sm-6">
					<form role="form">
						@foreach (var provider in Model.Providers) {
							<div class="radio">
								<label>
									<input name="ShippingHandlingProvider" type="radio" value="@provider.ShippingHandlingProviderGuid" @if (@provider.ShippingHandlingProviderGuid == @Model.CartHeader.ShippingHandlingProviderGuid) {<text>checked</text>}> @provider.ProviderName
								</label>
								<p class="help-block"><em>@provider.ProviderDescription</em></p>
							</div>
						}
					</form>
					<button class="btn btn-link" data-toggle="modal" data-target="#shippingHandlingPrices">@Language.LABEL_PRICELIST</button>
				</div>
				<div class="col-sm-6">
					<h4>@Language.LABEL_SHIPPING_HANDLING_TOTAL:</h4>
					<p id="shipping-price">@Model.ShippingHandlingAmount</p>
				</div>
			</div>
		</div>
	</div>
	@Html.Partial("Partials/_ShippingHandlingPrices", (List<ShippingHandlingProviderViewModel>) Model.Providers)
</div>

<script>
    $(document).ready(function () {
        $(".modal").appendTo("body");

		$("input[name=ShippingHandlingProvider]").change(function () {
			var providerGuid = $("input[name=ShippingHandlingProvider]:checked").val();
			$.post('@Url.Action("UpdateShippingHandlingPrice", "Checkout")', { "providerGuid": providerGuid }, function (data) {
				document.getElementById("shipping-price").innerHTML = data;
			});
		});
	});
</script>