﻿@using System.Configuration
@using EISCS.ExpandITFramework.Util
@using Resources
@model ViewModels.CheckoutViewModel

<div id="select-shipping-address" class="row">
	<div class="col-sm-12">
		<h2>@Language.HEADER_SELECT_DELIVERY_ADDRESS</h2>
		<div class="row">
			@foreach (var item in Model.Addresses)
			{
			    <div class="col-sm-4 col-md-3 form-horizontal checkout-shipping-address">
			        <div class="shipping-address-details">
			            @Html.Partial("Partials/_ShippingAddressDetails", item)
                    </div>
			        <div class="use-this-address-block">
			            @using (@Html.BeginForm("UseThisAddress", "Checkout")) {
			                <input type="hidden" name="ShippingAddressGuid" value="@item.ShippingAddressGuid"/>
			                <input type="hidden" name="CustomerGuid" value="@item.CustomerGuid"/>
			                if (Model.Addresses.IndexOf(item) == 0)
			                {
			                    <button name="UseAddr" class="btn btn-success btn-block" type="submit"><i class="fa fa-truck"></i>&nbsp;@Language.ACTION_USE_BILLING_ADDRESS</button>
			                }
			                else
			                {
			                    <button name="UseAddr" class="btn btn-success btn-block" type="submit"><i class="fa fa-truck"></i>&nbsp;@Language.LABEL_USE_ADDRESS</button>
			                }
			            }
			        </div>
			        @if (item.AddressType.Equals("B2C") && !item.ShippingAddressGuid.IsNullOrEmpty()) {
			            using (@Html.BeginForm("EditShippingAddress", "Checkout", FormMethod.Get, new { @style = "margin-right:5px" })) {
			                <input type="hidden" name="ShippingAddressGuid" value="@item.ShippingAddressGuid"/>
			                <button class="btn btn-default btn-block" type="submit" name="@Language.ACTION_EDIT_THIS_ADDRESS"><i class="fa fa-edit"></i>&nbsp;@Language.ACTION_EDIT_THIS_ADDRESS</button>
			            }

			            <button class="btn btn-link-danger btn-block" data-toggle="modal" data-target=".delete-confirmation">@Language.ACTION_DELETE</button>
						
			            <div class="modal fade delete-confirmation" tabindex="-1" role="dialog" aria-labelledby="delete-confirmation" aria-hidden="false">
			                <div class="modal-dialog modal-sm">
			                    <div class="modal-content">
			                        <div class="modal-header">
			                            <h4 class="modal-title">@Language.ACTION_DELETE @Language.LABEL_SHIPPING_ADDRESS</h4>
			                        </div>
			                        <div class="modal-body">
			                            @Language.LABEL_TOOLTIP_DELETE_ADDRESS
			                        </div>
			                        <div class="modal-footer">
			                            <button type="button" class="btn btn-default pull-left" data-dismiss="modal"><i class="fa fa-times-circle"></i>&nbsp;@Language.ACTION_CLOSE</button>
			                            @using (@Html.BeginForm("DeleteShippingAddress", "Checkout")) {
			                                <input type="hidden" name="ShippingAddressGuid" value="@item.ShippingAddressGuid"/>
			                                <button type="submit" name="@Language.ACTION_DELETE" class="btn btn-danger pull-right"><i class="fa fa-trash-o"></i>&nbsp;@Language.ACTION_DELETE</button>
			                            }
			                        </div>
			                    </div>
			                </div>
			            </div>
			        }
			    </div>
   }
		</div>
		@if (@ConfigurationManager.AppSettings["B2B_USE_B2C_ADDRESS"] == "1" || Model.UserType == "B2C") {
		    <div class="row" style="margin-top:10px">
		        <div class="col-md-12">
		            <a class="btn btn-primary" href="@Url.Action("Add", "Checkout")"><i class="fa-plus-circle fa"></i>&nbsp;@Language.ACTION_ADD_SHIPPING_ADDRESS</a>
		        </div>
		    </div>
  }
	</div>
</div>

<div class="row">&nbsp;</div>

<div class="row">
	<div class="col-sm-6 col-xs-6">
		<a href="@Url.Action("Index", "Checkout")" class="btn btn-warning"><i class="fa fa-arrow-circle-left"></i>&nbsp;@Language.LABEL_BACK</a>
	</div>
</div>

<script>
    $(document).ready(function() {
        $(".modal").appendTo("body");
    });
</script>
