﻿@using Resources
@model FormModels.ShippingAddress.AnonymousBillingAndShippingAddressForm

@using (@Html.BeginForm("ShippingAddress", "Checkout", FormMethod.Post))
{
	<div class="col-sm-6">
		<h2>@Language.ACTION_SELECT @Language.LABEL_PAYMENT_ADDRESS</h2>
		<div class="well form-horizontal">
			<div class="form-group">
				<label class="control-label col-sm-3">@Language.LABEL_USERDATA_CONTACT</label>
			    <div class="col-sm-9 input-group">
			        @Html.TextBoxFor(x => x.ContactName, new {Class = "form-control"})
			        <span id="" class="input-group-addon">*</span>
			    </div>
                <div class="clearfix"></div>
				<div class="col-sm-offset-3 col-sm-9">
					@Html.ValidationMessageFor(x => x.ContactName)
				</div>
			</div>
		    <div class="form-group">
		        <label class="control-label col-sm-3">@Language.LABEL_USERDATA_COMPANY</label>
		        <div class="col-sm-9">
		            @Html.TextBoxFor(x => x.CompanyName, new {Class = "form-control"})
		        </div>
		        <div class="clearfix"></div>
		        <div class="col-sm-offset-3 col-sm-9">
		            @Html.ValidationMessageFor(x => x.CompanyName)
		        </div>
		    </div>
			<div class="form-group">
				<label class="control-label col-sm-3">@Language.LABEL_USERDATA_ADDRESS_1</label>
			    <div class="col-sm-9 input-group">
			        @Html.TextBoxFor(x => x.Address1, new {Class = "form-control"})
			        <span id="" class="input-group-addon">*</span>
			    </div>
                <div class="clearfix"></div>
				<div class="col-sm-offset-3 col-sm-9">
					@Html.ValidationMessageFor(x => x.Address1)
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-3">@Language.LABEL_USERDATA_ADDRESS_2</label>
			    <div class="col-sm-9">
			        @Html.TextBoxFor(x => x.Address2, new {Class = "form-control"})
			    </div>
			    <div class="clearfix"></div>
			    <div class="col-sm-offset-3 col-sm-9">
			        @Html.ValidationMessageFor(x => x.Address2)
			    </div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-3">@Language.LABEL_USERDATA_ZIPCODE</label>
			    <div class="col-sm-9 input-group">
			        @Html.TextBoxFor(x => x.ZipCode, new {Class = "form-control"})
			        <span id="" class="input-group-addon">*</span>
			    </div>
                <div class="clearfix"></div>
				<div class="col-sm-offset-3 col-sm-9">
					@Html.ValidationMessageFor(x => x.ZipCode)
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-3">@Language.LABEL_USERDATA_CITY</label>
			    <div class="col-sm-9 input-group">
			        @Html.TextBoxFor(x => x.CityName, new {Class = "form-control"})
			        <span id="" class="input-group-addon">*</span>
			    </div>
                <div class="clearfix"></div>
				<div class="col-sm-offset-3 col-sm-9">
					@Html.ValidationMessageFor(x => x.CityName)
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-3">@Language.LABEL_USERDATA_COUNTRY</label>
			    <div class="col-sm-9 input-group">
			        @Html.DropDownListFor(x => x.CountryGuid, new SelectList(Model.CountryList, "key", "value"), Language.ACTION_SELECT, new {Class = "form-control with-radius"})
			        <span id="" class="input-group-addon">*</span>
			    </div>
                <div class="clearfix"></div>
				<div class="col-sm-offset-3 col-sm-9">
					@Html.ValidationMessageFor(x => x.CountryGuid)
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-3">@Language.LABEL_USERDATA_EMAIL</label>
			    <div class="col-sm-9 input-group">
			        @Html.TextBoxFor(x => x.EmailAddress, new {Class = "form-control"})
			        <span id="" class="input-group-addon">*</span>
			    </div>
                <div class="clearfix"></div>
				<div class="col-sm-offset-3 col-sm-9">
					@Html.ValidationMessageFor(x => x.EmailAddress)
				</div>
			</div>
		</div>
		<div class="form-group">
			<label>
				<input type="checkbox" name="use-billing-address"> @Language.ACTION_USE_BILLING_ADDRESS
			</label>
		</div>
	</div>


	<div class="col-sm-6 shipping-address-form">
		<h2>@Language.HEADER_SELECT_DELIVERY_ADDRESS</h2>
		<div class="well">
			<div class="form-horizontal">
				<div class="form-group">
					<label class="control-label col-sm-3">@Language.LABEL_USERDATA_CONTACT</label>
				    <div class="col-sm-9 input-group">
				        @Html.TextBoxFor(x => x.ShipToContactName, new {Class = "form-control ship-to"})
				        <span id="" class="input-group-addon">*</span>
				    </div>
                    <div class="clearfix"></div>
					<div class="col-sm-offset-3 col-sm-9">
						@Html.ValidationMessageFor(x => x.ShipToContactName)
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-3">@Language.LABEL_USERDATA_COMPANY</label>
				    <div class="col-sm-9">
				        @Html.TextBoxFor(x => x.ShipToCompanyName, new {Class = "form-control ship-to"})
				    </div>
				    <div class="clearfix"></div>
				    <div class="col-sm-offset-3 col-sm-9">
				        @Html.ValidationMessageFor(x => x.ShipToCompanyName)
				    </div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-3">@Language.LABEL_USERDATA_ADDRESS_1</label>
				    <div class="col-sm-9 input-group">
				        @Html.TextBoxFor(x => x.ShipToAddress1, new {Class = "form-control ship-to"})
				        <span id="" class="input-group-addon">*</span>
				    </div>
                    <div class="clearfix"></div>
					<div class="col-sm-offset-3 col-sm-9">
						@Html.ValidationMessageFor(x => x.ShipToAddress1)
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-3">@Language.LABEL_USERDATA_ADDRESS_2</label>
				    <div class="col-sm-9">
				        @Html.TextBoxFor(x => x.ShipToAddress2, new {Class = "form-control ship-to"})
				    </div>
				    <div class="clearfix"></div>
				    <div class="col-sm-offset-3 col-sm-9">
				        @Html.ValidationMessageFor(x => x.ShipToAddress2)
				    </div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-3">@Language.LABEL_USERDATA_ZIPCODE</label>
				    <div class="col-sm-9 input-group">
				        @Html.TextBoxFor(x => x.ShipToZipCode, new {Class = "form-control ship-to"})
				        <span id="" class="input-group-addon">*</span>
				    </div>
                    <div class="clearfix"></div>
					<div class="col-sm-offset-3 col-sm-9">
						@Html.ValidationMessageFor(x => x.ShipToZipCode)
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-3">@Language.LABEL_USERDATA_CITY</label>
				    <div class="col-sm-9 input-group">
				        @Html.TextBoxFor(x => x.ShipToCityName, new {Class = "form-control ship-to"})
				        <span id="" class="input-group-addon">*</span>
				    </div>
                    <div class="clearfix"></div>
					<div class="col-sm-offset-3 col-sm-9">
						@Html.ValidationMessageFor(x => x.ShipToCityName)
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-3">@Language.LABEL_USERDATA_COUNTRY</label>
				    <div class="col-sm-9 input-group">
				        @Html.DropDownListFor(x => x.ShipToCountryGuid, new SelectList(Model.CountryList, "key", "value"), Language.ACTION_SELECT, new {Class = "form-control with-radius ship-to"})
				        <span id="" class="input-group-addon">*</span>
				    </div>
                    <div class="clearfix"></div>
					<div class="col-sm-offset-3 col-sm-9">
						@Html.ValidationMessageFor(x => x.ShipToCountryGuid)
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-3">@Language.LABEL_USERDATA_EMAIL</label>
				    <div class="col-sm-9 input-group">
				        @Html.TextBoxFor(x => x.ShipToEmailAddress, new {Class = "form-control ship-to"})
				        <span id="" class="input-group-addon">*</span>
				    </div>
                    <div class="clearfix"></div>
					<div class="col-sm-offset-3 col-sm-9">
						@Html.ValidationMessageFor(x => x.ShipToEmailAddress)
					</div>
				</div>
			</div>
		</div>
	</div>
<div class="row">&nbsp;</div>

<div class="row">
	<div class="col-sm-6 col-xs-6">
		<a href="@Url.Action("Index", "Checkout")" class="btn btn-warning"><i class="fa fa-arrow-circle-left"></i> @Language.LABEL_BACK</a>
	</div>
	<div class="col-sm-6 col-xs-6">
		<button type="submit" id="button-next" class="btn btn-success pull-right">@Language.ACTION_NEXT <i class="fa fa-arrow-circle-right"></i></button>
	</div>
</div>
}
<script>
	$("input[name=use-billing-address]").change(function() {
		$(".shipping-address-form").fadeToggle(400);
	});

	$("#button-next").click(function() {
		// Step 1: Validate Billing Address
		// Step 2: If checkmark is not checked, validate Shipping Address
		// Step 3: Save Billing Address
		// Step 4: If checkmark is not checked, save shipping address. If checked, save billing address as shipping address
		if ($("input[name=use-billing-address]").is(":checked")) {
			$("#ShipToContactName").val($("#ContactName").val());
			$("#ShipToCompanyName").val($("#CompanyName").val());
			$("#ShipToAddress1").val($("#Address1").val());
			$("#ShipToAddress2").val($("#Address2").val());
			$("#ShipToZipCode").val($("#ZipCode").val());
			$("#ShipToCityName").val($("#CityName").val());
			$("#ShipToCountryGuid").val($("#CountryGuid").val());
			$("#ShipToEmailAddress").val($("#EmailAddress").val());
		}
	});
</script>