﻿@using Resources
@model ViewModels.CheckoutViewModel
@{ViewModels.CartViewModel cartViewModel = Model.CartViewModel;}

<div id="select-payment-method col-sm-4">
	<div class="col-sm-4">
		<h2>@Language.LABEL_SELECT_PAYMENT_TYPE</h2>
		<form role="form" class="form-horizontal" id="payment-method-form">
			@foreach (var option in Model.PaymentTypeList)
			{
				<div class="radio payment-method">
					<label class="payment-method-label">
						<input name="PaymentType" type="radio" value="@option.PaymentType" @if (option.PaymentType == Model.DefaultPaymentProvider) {<text>checked="checked"</text>}> @option.PaymentName
					</label>
				</div>
			}
		</form>
	</div>
    <div class="col-sm-4">
        <form role="form" id="DIBS" name="payForm" class="hidden" method="POST" action="@cartViewModel.DibsInfo.PopupUrl">
            <input type="hidden" name="acceptReturnUrl" value="@cartViewModel.DibsInfo.AcceptReturnUrl" />
            <input type="hidden" name="accepturl" value="@cartViewModel.DibsInfo.AcceptReturnUrl" />
            <input type="hidden" name="amount" value="@cartViewModel.DibsInfo.Amount" />
            <input type="hidden" name="currency" value="@cartViewModel.DibsInfo.Currency" />
            <input type="hidden" name="language" value="@cartViewModel.DibsInfo.Language" />
            <input type="hidden" name="orderId" value="@cartViewModel.DibsInfo.OrderId" />
            <input type="hidden" name="orderid" value="@cartViewModel.DibsInfo.OrderId" />
            <input type="hidden" name="s_customerRef" value="@cartViewModel.DibsInfo.OrderId" />
            <input type="hidden" name="merchant" value="@cartViewModel.DibsInfo.MerchantId" />
            <input type="hidden" name="cancelReturnUrl" value="@cartViewModel.DibsInfo.CancelReturnUrl" />
            <input type="hidden" name="cancelurl" value="@cartViewModel.DibsInfo.CancelReturnUrl" />
            <input type="hidden" name="callbackUrl" value="@cartViewModel.DibsInfo.CallbackUrl" />
            <input type="hidden" name="callbackurl" value="@cartViewModel.DibsInfo.CallbackUrl" />
            <input type="hidden" name="s_userguid" value="@cartViewModel.DibsInfo.UserGuid" />
            <input type="hidden" name="test" value="1" />
            <input type="hidden" name="PaymentType" value="DIBS" />
            <button type="submit" name="ConfirmPayment" class="pull-right btn btn-success"><i class="fa fa-check-square-o"></i>&nbsp;@Language.LABEL_MENU_PURCHASE</button>
        </form>

        <form role="form" id="AUTHNET" name="payForm" class="hidden" method="POST" action="@cartViewModel.AuthNetInfo.AuthNetUrl" onsubmit=" openAuthNet(this) ">
            <input type="hidden" name="x_Login" value="@cartViewModel.AuthNetInfo.LoginId" />
            <input type="hidden" name="x_Amount" value="@cartViewModel.AuthNetInfo.Amount" />


            <!-- Authorize.Net specific fields -->
            <input type="hidden" name="x_ADC_Delim_Data" value="FALSE">
            <input type="hidden" name="X_Relay_Response" value="TRUE">
            <input type="hidden" name="x_Relay_URL" value="@cartViewModel.AuthNetInfo.AdcUrl">

            <input type="hidden" name="x_Currency_Code" value="@cartViewModel.AuthNetInfo.CurrencyCode">

            <input type="hidden" name="x_Version" value="3.0">
            <!-- Authorize.Net SIM specific fields -->
            <input type="hidden" name="x_fp_sequence" value="@cartViewModel.AuthNetInfo.Sequence">
            <input type="hidden" name="x_fp_timestamp" value="@cartViewModel.AuthNetInfo.Timestamp">
            <input type="hidden" name="x_fp_hash" value="@cartViewModel.AuthNetInfo.Fingerprint">

            <!-- payment Information -->
            <input type="hidden" name="x_Address" value="@cartViewModel.Billing.Address1">
            <input type="hidden" name="x_City" value="@cartViewModel.Billing.CityName">
            <input type="hidden" name="x_Company" value="@cartViewModel.Billing.CompanyName">
            <input type="hidden" name="x_First_Name" value="@cartViewModel.AuthNetInfo.FirstName">
            <input type="hidden" name="x_Last_Name" value="@cartViewModel.AuthNetInfo.LastName">
            <input type="hidden" name="x_Country" value="@cartViewModel.Billing.CountryGuid">
            <input type="hidden" name="x_Cust_ID" value="@cartViewModel.AuthNetInfo.UserGuid">
            <input type="hidden" name="x_Phone" value="">
            <input type="hidden" name="x_Zip" value="@cartViewModel.Billing.ZipCode">
            <input type="hidden" name="x_Email" value="@cartViewModel.Billing.EmailAddress">
            <!-- Shipping Information -->
            <input type="hidden" name="x_Ship_To_Address" value="@cartViewModel.Shipping.Address1">
            <input type="hidden" name="x_Ship_To_City" value="@cartViewModel.Shipping.CityName">
            <input type="hidden" name="x_Ship_To_Company" value="@cartViewModel.Shipping.CompanyName">
            <input type="hidden" name="x_Ship_To_First_Name" value="@cartViewModel.AuthNetInfo.ShipToFirstName">
            <input type="hidden" name="x_Ship_To_Last_Name" value="@cartViewModel.AuthNetInfo.ShipToLastName">
            <input type="hidden" name="x_Ship_To_Country" value="@cartViewModel.Shipping.CountryGuid">
            <input type="hidden" name="x_Ship_To_Zip" value="@cartViewModel.Shipping.ZipCode">
            <!-- Order Information -->
            <input type="hidden" name="x_Invoice_Num" value="@cartViewModel.AuthNetInfo.CustomerReference">
            <input type="hidden" name="x_Method" value="CC">
            <input type="hidden" name="x_Type" value="AUTH_ONLY">
            <!-- ExpandIT Specific -->
            <input type="hidden" name="globals.UserGuid" value="@cartViewModel.AuthNetInfo.UserGuid">
            <input type="hidden" name="PaymentType" value="AUTHNET">
            <input type="hidden" name="x_Test_Request" value="TRUE">
            <input type="hidden" name="x_show_form" value="PAYMENT_FORM">
            <button type="submit" class="pull-right btn btn-success"><i class="fa fa-check-square-o"></i>&nbsp;@Language.LABEL_MENU_PURCHASE</button>
        </form>
        <form id="PAYPAL" name="payForm" class="hidden" action="@cartViewModel.PayPalInfo.PayPalUrl" method="post">
            <input type="hidden" name="charset" value="utf-8" />
            <input type="hidden" name="cmd" value="@cartViewModel.PayPalInfo.Cmd" />
            <input type="hidden" name="upload" value="1" />
            <input type="hidden" name="business" value="@cartViewModel.PayPalInfo.Business" />
            <input type="hidden" name="item_name" value="@cartViewModel.PayPalInfo.ItemName" />
            <input type="hidden" name="amount" value="@cartViewModel.PayPalInfo.PayPalAmount" />
            <input type="hidden" name="handling_cart" value="@cartViewModel.PayPalInfo.PayPalHandlingAmount" />
            <input type="hidden" name="return" value="@cartViewModel.PayPalInfo.ReturnUrl" />
            <input type="hidden" name="rm" value="@cartViewModel.PayPalInfo.SendToReturnUrl" />
            <input type="hidden" name="notify_url" value="@cartViewModel.PayPalInfo.NotifyUrl" />
            <input type="hidden" name="cancel_return" value="@cartViewModel.PayPalInfo.CancelUrl" />
            <input type="hidden" name="shopping_url" value="@cartViewModel.PayPalInfo.ShopUrl" />
            <input type="hidden" name="currency_code" value="@cartViewModel.PayPalInfo.CurrencyCode" />
            <input type="hidden" name="custom" value="@cartViewModel.PayPalInfo.Custom" />
            <input type="hidden" name="invoice" value="@cartViewModel.PayPalInfo.CustomerReference" />
            <input type="hidden" name="address_override" value="1" />
            <input type="hidden" name="first_name" value="@cartViewModel.PayPalInfo.FirstName" />
            <input type="hidden" name="last_name" value="@cartViewModel.PayPalInfo.LastName" />
            <input type="hidden" name="address1" value="@cartViewModel.Billing.Address1" />
            <input type="hidden" name="address2" value="@cartViewModel.Billing.Address2" />
            <input type="hidden" name="city" value="@cartViewModel.Billing.CityName" />
            <input type="hidden" name="state" value="@cartViewModel.Billing.StateName" />
            <input type="hidden" name="zip" value="@cartViewModel.Billing.ZipCode" />
            <input type="hidden" name="country" value="@cartViewModel.Billing.CountryGuid" />
            <input type="hidden" name="email" value="@cartViewModel.Billing.EmailAddress" />
            <input type="hidden" name="PaymentType" value="PAYPAL">

            <button type="submit" class="pull-right btn btn-success"><i class="fa fa-check-square-o"></i>&nbsp;@Language.LABEL_MENU_PURCHASE</button>
        </form>
        <form id="EEPG" name="payForm" class="hidden" action="@cartViewModel.EEPGInfo.EEPGUrl" method="post">
            <table id="eepg-ccinfo">
                <tr>
                    <td>Credit Card #</td>
                    <td><input type="text" size="19" name="CCN" value="@cartViewModel.EEPGInfo.CCN" /></td>
                </tr>
                <tr>
                    <td>Expiration Date<br /><span style="font-size:smaller">(MMYY)</span></td>
                    <td><input type="text" size="4" name="ExpDate" value="@cartViewModel.EEPGInfo.ExpDate" /></td>
                </tr>
                <tr>
                    <td>CVV2</td>
                    <td><input type="text" size="4" name="CCV" value="@cartViewModel.EEPGInfo.CCV" /></td>
                </tr>
            </table>
            <input type="hidden" name="first_name" value="@cartViewModel.EEPGInfo.FirstName" />
            <input type="hidden" name="last_name" value="@cartViewModel.EEPGInfo.LastName" />
            <input type="hidden" name="amount" value="@cartViewModel.EEPGInfo.Amount" />
            <input type="hidden" name="address1" value="@cartViewModel.Billing.Address1" />
            <input type="hidden" name="address2" value="@cartViewModel.Billing.Address2" />
            <input type="hidden" name="city" value="@cartViewModel.Billing.CityName" />
            <input type="hidden" name="state" value="@cartViewModel.Billing.StateName" />
            <input type="hidden" name="zip" value="@cartViewModel.Billing.ZipCode" />
            <input type="hidden" name="country" value="@cartViewModel.Billing.CountryGuid" />
            <input type="hidden" name="email" value="@cartViewModel.Billing.EmailAddress" />
            <input type="hidden" name="PaymentType" value="EEPG" />
            <button type="submit" class="pull-right btn btn-success"><i class="fa fa-check-square-o"></i>&nbsp;@Language.LABEL_MENU_PURCHASE</button>
        </form>
        <form id="INVOICE" name="payForm" class="hidden" action="@Url.Action("Accepted", "Checkout")">
            <input type="hidden" name="PaymentType" value="">
            <button type="submit" class="pull-right btn btn-success"><i class="fa fa-check-square-o"></i>&nbsp;@Language.LABEL_MENU_PURCHASE</button>
        </form>
        <form id="COD" name="payForm" class="hidden" action="@Url.Action("Accepted", "Checkout")">
            <input type="hidden" name="PaymentType" value="COD">
            <button type="submit" class="pull-right btn btn-success"><i class="fa fa-check-square-o"></i>&nbsp;@Language.LABEL_MENU_PURCHASE</button>
        </form>
        <form id="COP" name="payForm" class="hidden" action="@Url.Action("Accepted", "Checkout")">
            <input type="hidden" name="PaymentType" value="COP">
            <button type="submit" class="pull-right btn btn-success"><i class="fa fa-check-square-o"></i>&nbsp;@Language.LABEL_MENU_PURCHASE</button>
        </form>
    </div>

</div>
