﻿@using EISCS.ExpandITFramework.Util
@using Resources
@model FormModels.ShippingAddress.ShippingAddressItemFormModel

<input type="hidden" name="ShippingAddressGuid" value="@Model.ShippingAddressGuid"/>
<div class="form-group">
	<label class="col-sm-5 control-label">@Language.LABEL_USERDATA_CONTACT</label>
	<div class="col-sm-7">
		<p class="form-control-static">
		    @(!@Model.ContactName.IsNullOrEmpty() ? Html.Raw(Model.ContactName) : Html.Raw("&nbsp;"))
		</p>
	</div>
</div>
<div class="form-group">
	<label class="col-sm-5 control-label">@Language.LABEL_USERDATA_COMPANY</label>
	<div class="col-sm-7">
		<p class="form-control-static">
		    @(!@Model.CompanyName.IsNullOrEmpty() ? Html.Raw(Model.CompanyName) : Html.Raw("&nbsp;"))
		</p>
	</div>
</div>
<div class="form-group">
	<label class="col-sm-5 control-label">@Language.LABEL_USERDATA_ADDRESS_1</label>
	<div class="col-sm-7">
		<p class="form-control-static">
		    @(!@Model.Address1.IsNullOrEmpty() ? Html.Raw(Model.Address1) : Html.Raw("&nbsp;"))
		</p>
	</div>
</div>
<div class="form-group">
	<label class="col-sm-5 control-label">@Language.LABEL_USERDATA_ADDRESS_2</label>
	<div class="col-sm-7">
	    <p class="form-control-static">
	        @(!@Model.Address2.IsNullOrEmpty() ? Html.Raw(Model.Address2) : Html.Raw("&nbsp;"))
	    </p>
	</div>
</div>
<div class="form-group">
	<label class="col-sm-5 control-label">@Language.LABEL_USERDATA_ZIPCODE</label>
	<div class="col-sm-7">
	    <p class="form-control-static">
	        @(!@Model.ZipCode.IsNullOrEmpty() ? Html.Raw(Model.ZipCode) : Html.Raw("&nbsp;"))
	    </p>
	</div>
</div>
<div class="form-group">
	<label class="col-sm-5 control-label">@Language.LABEL_USERDATA_CITY</label>
	<div class="col-sm-7">
		<p class="form-control-static">
		    @(!@Model.CityName.IsNullOrEmpty() ? Html.Raw(Model.CityName) : Html.Raw("&nbsp;"))
		</p>
	</div>
</div>
<div class="form-group">
	<label class="col-sm-5 control-label">@Language.LABEL_USERDATA_COUNTRY</label>
	<div class="col-sm-7">
	    <p class="form-control-static">
	        @(!@Model.CountryName.IsNullOrEmpty() ? Html.Raw(Model.CountryName) : Html.Raw("&nbsp;"))
	    </p>
	</div>
</div>
<div class="form-group">
	<label class="col-sm-5 control-label">@Language.LABEL_USERDATA_EMAIL</label>
	<div class="col-sm-7">
		<p class="form-control-static">
		    @(!@Model.EmailAddress.IsNullOrEmpty() ? Html.Raw(Model.EmailAddress) : Html.Raw("&nbsp;"))
		</p>
	</div>
</div>
<input type="hidden" name="AddressType" value="@Model.AddressType"/>