﻿@model FormModels.ShippingAddress.ShippingAddressItemFormModel


<div class="form-group">
	<label class="control-label col-sm-3">@Resources.Language.LABEL_USERDATA_CONTACT</label>
    <div class="col-sm-9 input-group">
        @Html.TextBoxFor(x => x.ContactName, new { Class="form-control"})
        <span id="" class="input-group-addon">*</span>
    </div>
    <div class="clearfix"></div>
	<div class="col-sm-offset-3 col-sm-9">
		@Html.ValidationMessageFor(x => x.ContactName)
	</div>
</div>
<div class="form-group">
	<label class="control-label col-sm-3">@Resources.Language.LABEL_USERDATA_COMPANY</label>
    <div class="col-sm-9">
        <input type="text" id="CompanyName" class="form-control" name="CompanyName" value="@Model.CompanyName" />
    </div>
    <div class="clearfix"></div>
    <div class="col-sm-offset-3 col-sm-9">
        @Html.ValidationMessageFor(x => x.CompanyName)
    </div>
</div>
<div class="form-group">
	<label class="control-label col-sm-3">@Resources.Language.LABEL_USERDATA_ADDRESS_1</label>
    <div class="col-sm-9 input-group">
        <input type="text" id="Address1" class="form-control" name="Address1" value="@Model.Address1" data-validation-required/>
        <span id="" class="input-group-addon">*</span>
    </div>
    <div class="clearfix"></div>
	<div class="col-sm-offset-3 col-sm-9">
		@Html.ValidationMessageFor(x => x.Address1)
	</div>
</div>
<div class="form-group">
	<label class="control-label col-sm-3">@Resources.Language.LABEL_USERDATA_ADDRESS_2</label>
    <div class="col-sm-9">
        <input type="text" id="Address2" class="form-control" name="Address2" value="@Model.Address2" />
    </div>
    <div class="clearfix"></div>
    <div class="col-sm-offset-3 col-sm-9">
        @Html.ValidationMessageFor(x => x.Address2)
    </div>
</div>
<div class="form-group">
	<label class="control-label col-sm-3">@Resources.Language.LABEL_USERDATA_ZIPCODE</label>
    <div class="col-sm-9 input-group">
        <input type="text" id="ZipCode" class="form-control" name="ZipCode" value="@Model.ZipCode" data-validation-required/>
        <span id="" class="input-group-addon">*</span>
    </div>
    <div class="clearfix"></div>
	<div class="col-sm-offset-3 col-sm-9">
		@Html.ValidationMessageFor(x => x.ZipCode)
	</div>
</div>
<div class="form-group">
	<label class="control-label col-sm-3">@Resources.Language.LABEL_USERDATA_CITY</label>
    <div class="col-sm-9 input-group">
        <input type="text" id="CityName" class="form-control" name="CityName" value="@Model.CityName" data-validation-required/>
        <span id="" class="input-group-addon">*</span>
    </div>
    <div class="clearfix"></div>
	<div class="col-sm-offset-3 col-sm-9">
		@Html.ValidationMessageFor(x => x.CityName)
	</div>
</div>
<div class="form-group">
	<label class="control-label col-sm-3">@Resources.Language.LABEL_USERDATA_COUNTRY</label>
    <div class="col-sm-9 input-group">
        @Html.DropDownListFor(x => x.CountryGuid, new SelectList(Model.CountryList, "key", "value"), Resources.Language.ACTION_SELECT, new { Class="form-control with-radius"})
        <span id="" class="input-group-addon">*</span>
    </div>
    <div class="clearfix"></div>
	<div class="col-sm-offset-3 col-sm-9">
		@Html.ValidationMessageFor(x => x.CountryGuid)
	</div>
</div>
<div class="form-group">
	<label class="control-label col-sm-3">@Resources.Language.LABEL_USERDATA_EMAIL</label>
    <div class="col-sm-9 input-group">
        <input type="text" id="EmailAddress" class="form-control" name="EmailAddress" value="@Model.EmailAddress" data-validation-required/>
        <span id="" class="input-group-addon">*</span>
    </div>
    <div class="clearfix"></div>
	<div class="col-sm-offset-3 col-sm-9">
		@Html.ValidationMessageFor(x => x.EmailAddress)
	</div>
</div>
<input type="hidden" id="ShippingAddressGuid" class="form-control" name="ShippingAddressGuid" value="@Model.ShippingAddressGuid" />
<input type="hidden" id="UserGuid" class="form-control" name="UserGuid" value="@Model.UserGuid" />
@Html.HiddenFor(x => x.IsDefault)