﻿@using EISCS.ExpandITFramework.Util
@using Resources
@using ViewModels
@model List<ShippingHandlingProviderViewModel>

<div class="modal fade in" id="shippingHandlingPrices" tabindex="-1" role="dialog" aria-labelledby="shippingHandlingPricesLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h3 class="modal-title" id="shippingHandlingPricesLabel">@Language.LABEL_SHIPPING_AND_HANDLING</h3>
			</div>
			<div class="modal-body">
				@if (Model.IsNullOrEmpty())
				{
					<p>@Language.LABEL_NO_SHIPPING_AND_HANDLING_INFO_AVAILABLE</p>
				}
				else
				{
					<table class="table table-bordered">
						@foreach (var provider in Model)
						{
							<tr>
								<th class="col-sm-6">@Language.LABEL_INFORMATION</th>
								<th colspan="3" class="text-center">@Language.LABEL_PRICELIST</th>
							</tr>
							<tr>
								<td style="vertical-align: middle" rowspan="@(provider.ShippingHandlingPrices.Count + 1)">
									<strong>@provider.ProviderName</strong><br/>
									<p>@provider.ProviderDescription</p>
								</td>
								<th class="text-center">@Language.LABEL_INTERVAL</th>
								<th class="text-center">@Language.LABEL_SHIPPING</th>
								<th class="text-center">@Language.LABEL_HANDLING</th>
							</tr>
							foreach (var price in provider.ShippingHandlingPrices)
							{
								<tr>
									<td class="text-center">
										@price.PreviousCalculatedValue @price.CalculatedValue
									</td>
									<td class="text-center">
										@price.ShippingAmount
									</td>
									<td class="text-center">
										@price.HandlingAmount
									</td>
								</tr>
							}
						}
					</table>
				}
			</div>
		</div>
	</div>
</div>