@using Mvc.Mailer
@using UIHelpers
<html>
<head>
    @Html.EmbedCss("~/Content/mail.css")
</head>
<body>
    <table>
        <tr>
            <td>
                <div class="logo">
                    <a href="@Url.Abs(Url.Action("Index", "ShopFrontPage"))" >
                        @Html.InlineImage("logo", "ExpandIT Logo")
                    </a>
                </div>
            </td>
        </tr>
    </table>

    @RenderBody()

    <table class="footer-wrap">
        <tr>
            <td class="container">
                <div class="content">
                    <table>
                        <tr>
                            <td align="center">
                                <p>
                                    <a href="@Url.Abs(Url.Action("Index", "ShopFrontPage"))">@Server.HtmlDecode(Resources.Language.LABEL_EXPANDIT_SOLUTIONS_AS))</a>
                                </p>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
            <td></td>
        </tr>
    </table>
</body>
</html>
