﻿@using Mvc.Mailer

<table class="body-wrap">
    <tr>
        <td class="container" bgcolor="#FFFFFF">
            <div class="content">
                <table>
                    <tr>
                        <td>
                            @if (string.IsNullOrWhiteSpace(ViewBag.CustomHtml))
                            {
                                <h1>@Resources.Language.LABEL_MAIL_SUBJECT_PASSWORD_CHANGED</h1>
                                <p>@Resources.Language.LABEL_LOST_PASSWORD_EMAIL_GREETING @ViewBag.ContactName</p>
                                <p>@Resources.Language.LABEL_LOST_PASSWORD_EMAIL_INFORMATION_REQUESTED</p>
                                <p>@Resources.Language.LABEL_LOST_PASSWORD_EMAIL_NEW_PASSWORD: @ViewBag.Password</p>
                                <p>@Resources.Language.MAIL_NEW_USER_CONTACT_NAME_INFO: @ViewBag.ContactName</p>
                                <p>@Resources.Language.MAIL_NEW_USER_NAME_INFO: @ViewBag.UserName</p>
                            }
                            else
                            {
                                @Html.Raw(ViewBag.CustomHtml)
                            }

                            <p>@Resources.Language.LABEL_LOST_PASSWORD_EMAIL_NOTE</p>

                            <p>@Resources.Language.MAIL_REVISE_SETTINGS_TEXT.</p>
                            <table>
                                <tr>
                                    <td>
                                        <p class="button-margin">
                                            <a href="@Url.Abs(Url.Action("Index", "Profile"))" class="btn-primary">@Resources.Language.MAIL_BUTTON_TEXT_VIEW_PROFILE</a>
                                        </p>
                                    </td>
                                </tr>
                            </table>
                            <p>@Resources.Language.MAIL_THANKS_TEXT.</p>
                        </td>
                    </tr>
                </table>
                @{
                    Html.RenderAction("MailPromotedProducts", "MailProductPromotion", new { promotion = ViewBag.Promotion });
                }
            </div>
        </td>
    </tr>
</table>

