@using Mvc.Mailer

<table class="body-wrap">
    <tr>
        <td class="container" bgcolor="#FFFFFF">
            <div class="content">
                <table>
                    <tr>
                        <td>
                            <h1>@Resources.Language.LABEL_MAIL_SUBJECT_PASSWORD_CHANGED</h1>
                            @if (string.IsNullOrWhiteSpace(ViewBag.CustomHtml))
                            {
                                <p>@Resources.Language.MAIL_REVISE_SETTINGS_TEXT.</p>
                            }
                            else
                            {
                                @Html.Raw(ViewBag.CustomHtml)
                            }
                            <p>@Resources.Language.MAIL_THANKS_TEXT.</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="button-margin"><a href="@Url.Abs(Url.Action("Index", "Profile"))"  class="btn-primary">@Resources.Language.MAIL_BUTTON_TEXT_VIEW_PROFILE</a></p>
                        </td>
                    </tr>
                </table>
                @{
                    Html.RenderAction("MailPromotedProducts", "MailProductPromotion", new { promotion = ViewBag.Promotion });
                }
            </div>
        </td>
    </tr>
</table>

