﻿@using Mvc.Mailer

<table class="body-wrap">
    <tr>
        <td class="container" bgcolor="#FFFFFF">
            <div class="content">
                <table>
                    <tr>
                        <td>
                            @if (string.IsNullOrWhiteSpace(ViewBag.CustomHtml))
                            {
                                <h1>@Resources.Language.Password_Reset_Heading</h1>
                                <p>@Resources.Language.Password_Reset_Text_Line_1</p>
                                <p>@Resources.Language.Password_Reset_Text_Line_2</p>
                            }
                            else
                            {
                                @Html.Raw(ViewBag.CustomHtml)    
                            }
                            <table>
                                <tr>
                                    <td>
                                        <p></p>
                                        <p class="button-margin"><a href="@Url.Abs(Url.Action("ResetPassword", "Accounts", new {resettoken = @ViewBag.Password}))" class="btn-primary">@Resources.Language.Password_Reset_Heading</a>
                                        </p>
                                    </td>
                                </tr>
                            </table>
                            <p>@Resources.Language.Password_Reset_Text_Line_3</p>
                            <p>@Resources.Language.MAIL_THANKS_TEXT.</p>
                        </td>
                    </tr>
                </table>
                @{
                    Html.RenderAction("MailPromotedProducts", "MailProductPromotion", new { promotion = ViewBag.Promotion });
                }
            </div>
        </td>
    </tr>
</table>

