﻿@using Controllers.Controls
@using Mvc.Mailer
@using Resources
@model ViewModels.CartViewModel

<table class="body-wrap">
    <tr>
        <td class="container" bgcolor="#FFFFFF">
            <div class="content">

                <div class="row">

                    <div>
                        @Html.Raw(ViewBag.CustomHtml)
                    </div>

                    <p></p>

                    <div id="cart-list">
                        <table class="table table-hover table-condensed">
                            <thead>
                                <tr>
                                    <th class="column product-name col-md-5 col-sm-4">
                                        @Language.LABEL_PRODUCT
                                    </th>
                                    <th class="column product-quantity col-md-1 col-sm-1">
                                        @Language.LABEL_QUANTITY
                                    </th>
                                    <th class="column product-price col-md-1 col-sm-1">
                                        @Language.LABEL_PRICE
                                    </th>
                                    <th class="column product-discount-amount col-md-1 col-sm-1">
                                        @Language.LABEL_DISC_AMOUNT
                                    </th>
                                    <th class="column product-discount-percentage col-md-1 col-sm-1">
                                        @Language.LABEL_DISC_PROCENT
                                    </th>
                                    <th class="column product-line-total col-md-1 col-sm-2">
                                        @Language.LABEL_LINE_TOTAL
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in ViewBag.CurrentModel.ProductItems)
                                {
                                    <tr>
                                        <td>
                                            <table>
                                                <tr>
                                                    <td class="column product-name">
                                                        @HtmlHelperExtensions.InlineImage(Html, item.ProductLink, item.ProductName)
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="column product-name">
                                                        @item.ProductGuid @item.ProductName @if (!string.IsNullOrEmpty(item.VariantName))
                                                                                            { <text>- </text>@item.VariantName} @if (!string.IsNullOrEmpty(item.VariantName))
                                                                                                                            { <text>(</text>@item.VariantName<text>)</text> }
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td class="column product-quantity">
                                            @item.Quantity
                                        </td>
                                        <td class="column product-price">
                                            @item.DisplayListPrice
                                        </td>
                                        <td class="column product-discount-amount">
                                            @item.DisplayLineDiscountAmount
                                        </td>
                                        <td class="column product-discount-percentage">
                                            @item.LineDiscount
                                        </td>
                                        <td class="column product-line-total">
                                            @item.DisplayLineTotal
                                        </td>
                                    </tr>
                                }
                                <tr>
                                    <td colspan="4"></td>
                                    <td>
                                        @Language.LABEL_INVOICE_DISCOUNT
                                    </td>

                                    <td class="column last-column">
                                        @ViewBag.CurrentModel.OrderTotals.Discount
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="4"></td>
                                    <td class="sum-cell">
                                        @Language.LABEL_SUB_TOTAL
                                    </td>
                                    <td class="sum-cell">
                                        @ViewBag.CurrentModel.OrderTotals.SubTotal
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="4"></td>
                                    <td>
                                        @Language.LABEL_SERVICE_CHARGE
                                    </td>
                                    <td class="column last-column">
                                        @ViewBag.CurrentModel.OrderTotals.ServiceCharge
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="4"></td>
                                    <td>
                                        @Language.LABEL_SHIPPING
                                    </td>

                                    <td class="column last-column">
                                        @ViewBag.CurrentModel.OrderTotals.FreightCost
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="4"></td>
                                    <td>
                                        @Language.LABEL_HANDLING
                                    </td>

                                    <td class="column last-column">
                                        @ViewBag.CurrentModel.OrderTotals.HandlingFee
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="4"></td>
                                    <td class="sum-cell">
                                        @Language.LABEL_TOTAL @Language.LABEL_EXCLUSIVE_VAT
                                    </td>

                                    <td class="sum-cell">
                                        @ViewBag.CurrentModel.OrderTotals.Total
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="4"></td>
                                    <td class="sum-cell">
                                        @Language.LABEL_TOTAL @Language.LABEL_INCLUSIVE_VAT
                                    </td>
                                    <td class="sum-cell">
                                        @ViewBag.CurrentModel.OrderTotals.TotalInclTax
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="4"></td>
                                    <td>
                                        @Language.LABEL_HANDLING_AND_SHIPPING
                                    </td>
                                    <td>
                                        @ViewBag.CurrentModel.ShippingProviderName
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="4"></td>
                                    <td class="column">
                                        @Language.LABEL_PAYMENT_INFORMATION
                                    </td>

                                    <td class="column last last-column">
                                        @ViewBag.CurrentModel.PaymentMethodName
                                    </td>
                                </tr>
                        </table>
                    </div>
                    <div>
                        <p>@Language.LABEL_ADDTIONAL_INFO:</p>
                    </div>
                    <table class="mail-addresses">
                        <tr>
                            <td class="first-td">
                                <table width="150px">
                                    <thead>
                                        <tr>
                                            <th>
                                                @Language.LABEL_PAYMENT_ADDRESS
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                @if (!string.IsNullOrEmpty(ViewBag.CurrentModel.Billing.ContactName))
                                                {
                                                    @ViewBag.CurrentModel.Billing.ContactName
                                                    <br />
                                                }
                                                @if (!string.IsNullOrEmpty(ViewBag.CurrentModel.Billing.CompanyName))
                                                {
                                                    @ViewBag.CurrentModel.Billing.CompanyName
                                                    <br />
                                                }
                                                @if (!string.IsNullOrEmpty(ViewBag.CurrentModel.Billing.Address1))
                                                {
                                                    @ViewBag.CurrentModel.Billing.Address1
                                                    <br />
                                                }
                                                @if (!string.IsNullOrEmpty(ViewBag.CurrentModel.Billing.Address2))
                                                {
                                                    @ViewBag.CurrentModel.Billing.Address2
                                                    <br />
                                                }
                                                @if (!string.IsNullOrEmpty(ViewBag.CurrentModel.Billing.ZipCode))
                                                {
                                                    @ViewBag.CurrentModel.Billing.ZipCode
                                                    <br />
                                                }
                                                @if (!string.IsNullOrEmpty(ViewBag.CurrentModel.Billing.CityName))
                                                {
                                                    @ViewBag.CurrentModel.Billing.CityName
                                                    <br />
                                                }
                                                @if (!string.IsNullOrEmpty(ViewBag.CurrentModel.Billing.CountryName))
                                                {
                                                    @ViewBag.CurrentModel.Billing.CountryName
                                                    <br />
                                                }
                                                @if (!string.IsNullOrEmpty(ViewBag.CurrentModel.Billing.EmailAddress))
                                                {
                                                    @ViewBag.CurrentModel.Billing.EmailAddress
                                                    <br />
                                                }
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            @if (!string.IsNullOrEmpty(ViewBag.CurrentModel.Shipping.EmailAddress))
                            {
                                <td class="second-td">
                                    <table width="150px">
                                        <thead>
                                            <tr>
                                                <th>
                                                    @Language.LABEL_SHIPPING_ADDRESS
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    @if (!string.IsNullOrEmpty(ViewBag.CurrentModel.Shipping.ContactName))
                                                    {
                                                        @ViewBag.CurrentModel.Shipping.ContactName
                                                        <br />
                                                    }
                                                    @if (!string.IsNullOrEmpty(ViewBag.CurrentModel.Shipping.CompanyName))
                                                    {
                                                        @ViewBag.CurrentModel.Shipping.CompanyName
                                                        <br />
                                                    }
                                                    @if (!string.IsNullOrEmpty(ViewBag.CurrentModel.Shipping.Address1))
                                                    {
                                                        @ViewBag.CurrentModel.Shipping.Address1
                                                        <br />
                                                    }
                                                    @if (!string.IsNullOrEmpty(ViewBag.CurrentModel.Shipping.Address2))
                                                    {
                                                        @ViewBag.CurrentModel.Shipping.Address2
                                                        <br />
                                                    }
                                                    @if (!string.IsNullOrEmpty(ViewBag.CurrentModel.Shipping.ZipCode))
                                                    {
                                                        @ViewBag.CurrentModel.Shipping.ZipCode
                                                        <br />
                                                    }
                                                    @if (!string.IsNullOrEmpty(ViewBag.CurrentModel.Shipping.CityName))
                                                    {
                                                        @ViewBag.CurrentModel.Shipping.CityName
                                                        <br />
                                                    }
                                                    @if (!string.IsNullOrEmpty(ViewBag.CurrentModel.Shipping.CountryName))
                                                    {
                                                        @ViewBag.CurrentModel.Shipping.CountryName
                                                        <br />
                                                    }
                                                    @if (!string.IsNullOrEmpty(ViewBag.CurrentModel.Shipping.EmailAddress))
                                                    {
                                                        @ViewBag.CurrentModel.Shipping.EmailAddress
                                                        <br />
                                                    }
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            }
                        </tr>
                    </table>

                    <p>&nbsp;</p>

                    <table>
                        <tr>
                            <td>
                                <p class="button-margin"><a href="@Url.Abs(Url.Action("Index", "Cart"))"  class="btn-primary">@Resources.Language.VIEW_ORDER_ONLINE</a></p>
                            </td>
                        </tr>
                    </table>
                </div>
                @{
                    Html.RenderAction("MailPromotedProducts", "MailProductPromotion", new { promotion = ViewBag.Promotion });
                }
            </div>
        </td>
    </tr>
</table>
