@using Mvc.Mailer

<table class="body-wrap">
    <tr>
        <td></td>
        <td class="container" bgcolor="#FFFFFF">
            <div class="content">
                <table>
                    <tr>
                        <td>
                            <h2>@Resources.Language.MAIL_NEW_USER_HEAD_TEXT</h2>
                            <p>@Resources.Language.MAIL_NEW_USER_INFO_TEXT.</p>
                            <p></p>
                            <p>@Resources.Language.MAIL_NEW_USER_CONTACT_NAME_INFO: @ViewBag.Name</p>
                            <p>@Resources.Language.MAIL_NEW_USER_NAME_INFO: @ViewBag.Login</p>
                            <p>@Resources.Language.MAIL_THANKS_TEXT.</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="button-margin"><a href="@Url.Abs(Url.Action("Index", "Profile"))"  class="btn-primary">@Resources.Language.MAIL_BUTTON_TEXT_VIEW_PROFILE</a></p>
                        </td>
                    </tr>
                </table>
            </div>
        </td>
        <td></td>
    </tr>
</table>
