@using Mvc.Mailer
@using Resources
@model ViewModels.ProductsViewModel

<table class="body-wrap">
    <tr>
        <td class="container" bgcolor="#FFFFFF">
            <div class="content">
                <h2>
                    @string.Format(Language.TIP_A_FRIEND_HEADER, @ViewBag.SendersName, @ViewBag.CurrentModel.ProductName)
                </h2>
                <div>
                    @Html.Raw(ViewBag.CustomHtml)
                </div>

                <table>
                    <tr>
                        <td colspan="2">
                            <p><strong>@ViewBag.CurrentModel.ProductName</strong></p>
                        </td>
                    </tr>
                    <tr>
                        <td class="fix-width">
                            <table>
                                <tr>
                                    <td>@Html.InlineImage("productImage", "Product")

                                    </td>
                                    <td>
                                        @Html.Raw(Server.HtmlEncode(ViewBag.CurrentModel.LongDescription))
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td class="fix-width"></td>
                    </tr>
                    <tr>
                        <td colspan="2">@ViewBag.CurrentModel.DisplayListPrice
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="button-margin"><a href="@UrlHelperExtensions.Abs(Url, ViewBag.CurrentUrl)"  class="btn-primary">@Resources.Language.LABEL_SEE_MORE</a></p>
                        </td>
                    </tr>
                </table>
                @{
                    Html.RenderAction("MailPromotedProducts", "MailProductPromotion", new { promotion = ViewBag.Promotion });
                }
            </div>
        </td>
    </tr>
</table>
