@using Mvc.Mailer

<table class="body-wrap">
    <tr>
        <td class="container" bgcolor="#FFFFFF">
            <div class="content">
                <table>
                    <tr>
                        <td>
                            <h2>@Resources.Language.MAIL_USER_UPDATE_HEAD_TEXT</h2>
                            @if (string.IsNullOrWhiteSpace(ViewBag.CustomHtml))
                            {
                                <p>@Resources.Language.MAIL_USER_UPDATE_INFO_TEXT.</p>
                            }
                            else
                            {
                                @Html.Raw(ViewBag.CustomHtml)    
                            }
                            <p></p>
                            <p>@Resources.Language.MAIL_NEW_USER_CONTACT_NAME_INFO: <b>@ViewBag.Name</b></p>
                            <p>@Resources.Language.MAIL_NEW_USER_NAME_INFO: <b>@ViewBag.Login</b></p>
                            <p>@Resources.Language.MAIL_THANKS_TEXT.</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="button-margin"><a href="@Url.Abs(Url.Action("Index", "Profile"))"  class="btn-primary">@Resources.Language.MAIL_BUTTON_TEXT_VIEW_PROFILE</a></p>
                        </td>
                    </tr>
                </table>
                @{
                    Html.RenderAction("MailPromotedProducts", "MailProductPromotion", new { promotion = ViewBag.Promotion });
                }
            </div>
        </td>
    </tr>
</table>
