﻿@using Mvc.Mailer
@using Resources
@model ViewModels.ContactUsViewModel

<table class="body-wrap">
    <tr>
        <td class="container" bgcolor="#FFFFFF">
            <div class="content">
                <table>
                    <tr>
                        <td>
                            <h1>@ViewBag.CurrentModel.Subject</h1>

                            <h3><strong>@Language.LABEL_MESSAGE</strong></h3>

                            <div class="fa-quote-left">
                                @ViewBag.CurrentModel.Content
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <h3>@Language.LABLE_USER</h3>

                        @if (!string.IsNullOrEmpty(ViewBag.CurrentModel.CompanyName))
                        {
                            <p>
                                @Language.LABEL_USERDATA_COMPANY:  @ViewBag.CurrentModel.CompanyName
                            </p>
                        }

                        <p>
                            @Language.LABEL_USERDATA_NAME:  @ViewBag.CurrentModel.ContactName
                        </p>

                        <p>
                            @Language.LABEL_USERDATA_ADDRESS_1:  @ViewBag.CurrentModel.Address1
                        </p>

                        <p>
                            @Language.LABEL_USERDATA_ZIPCODE, @Language.LABEL_USERDATA_CITY:  @ViewBag.CurrentModel.ZipCode @ViewBag.currentModel.CityName
                        </p>

                        <p>
                            @Language.LABEL_USERDATA_COUNTRY:  @ViewBag.CurrentModel.SelectedCountry
                        </p>

                        <p>
                            @Language.LABEL_USERDATA_PHONE:  @ViewBag.CurrentModel.PhoneNo
                        </p>
                        <p>
                            @Language.LABEL_USERDATA_EMAIL:  @ViewBag.CurrentModel.EmailAddress
                        </p>
                    </tr>
                </table>
                @{
                    Html.RenderAction("MailPromotedProducts", "MailProductPromotion", new { promotion = ViewBag.Promotion });
                }
            </div>
        </td>
    </tr>
</table>
