﻿@using Mvc.Mailer

<table class="body-wrap">
    <tr>
        <td class="container" bgcolor="#FFFFFF">
            <div class="content">
                <table>
                    <tr>
                        <td>
                            <h2>@Resources.Language.MAIL_NEW_USER_REQUEST_HEAD_TEXT</h2>
                            @if (string.IsNullOrWhiteSpace(ViewBag.CustomHtml))
                            {

                                <p>@Resources.Language.MAIL_NEW_USER_REQUEST_INFO_TEXT</p>
                            }
                            else
                            {
                            @Html.Raw(ViewBag.CustomHtml)    
                            }
                            <p>
                                @Resources.Language.LABEL_MAIL_CLICK_LINK_TO_ACTIVATE_ACCOUNT
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="button-margin"><a href="@Url.Abs(Url.Action("CompleteRegistration", "Accounts", new { requesttoken = @ViewBag.Token, username = @ViewBag.Login }))"  class="btn-primary">@Resources.Language.LABEL_MAIL_SUBJECT_CONFIRM_REQ_CUSTOMER_ACCOUNT</a></p>
                        </td>
                    </tr>
                </table>
                @{
                    Html.RenderAction("MailPromotedProducts", "MailProductPromotion", new { promotion = ViewBag.Promotion });
 }
            </div>
        </td>
    </tr>
</table>
