﻿@using System.Configuration
@using Resources
@using UIHelpers
@model EISCS.CMS.Models.ViewModels.CmsViewModel

@{
    Layout = "~/EISCMS/Views/_CMSLayout.cshtml";
    ViewBag.Title = ConfigurationManager.AppSettings["SHOP_TITLE"] + " - " + Language.LABEL_MENU_CATALOG;
}

<div class="row">
    <div class="col-sm-12">
        <h1 class="page-header">@CmsLanguage.CATMAN_LABEL_CATALOG</h1>
    </div>
</div>

@Html.Raw(@Html.RenderTree(ViewData.Model.CompositeGroup.Children, group1 => group1, 0))