﻿@using System.Configuration
@using Resources
@model EISCS.CMS.Models.ViewModels.CmsViewModel

@{
    ViewBag.Title = ConfigurationManager.AppSettings["SHOP_TITLE"] + " - " + Language.LABEL_MENU_CATALOG;
    Layout = "~/EISCMS/Views/_CMSLayout.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <h1 class="page-header">@Model.Group.GetPropertyValue("NAME")</h1>
    </div>
</div>

<ul class="nav nav-tabs" data-tabs="tabs" id="groupEditTabs">
    <li class="active"><a data-toggle="tab" href="#page-properties-tab"><i class="fa fa-gears"></i> @CmsLanguage.LABEL_PAGE_PROPERTIES</a></li>
    <li><a data-toggle="tab" href="#group-products-tab"><i class="fa fa-tags"></i> @CmsLanguage.LABEL_PRODUCTS</a></li>
</ul>

<div class="tab-content">
    <div class="tab-pane active" id="page-properties-tab">
        @Html.Partial("Partials/_GroupEdit")
    </div>
    <div class="tab-pane" id="group-products-tab">
        @Html.Action("_GroupProducts", "Catalog", new {id = @Model.Group.ID})
    </div>
</div>