﻿@using Resources

<div id="popupMultiImage">
    @*<fieldset class="popupOuterField">
            <legend>
                @CmsLanguage.CATMAN_SELECT_IMAGE
            </legend>*@
    <div id="imageAreaWrapper">
        <fieldset>
            <legend>
                @CmsLanguage.CATMAN_SELECT_IMAGE</legend>

            <div id="multiPicFileTree" class="demo multi_filetree_area"></div>

        </fieldset>
    </div>
    <div id="thumbAreaWrapper">
        <fieldset class="multi_image_thumbnailFiledset">
            <legend>@CmsLanguage.LABEL_CURRENT_IMAGE </legend>
            <div class="multi_image_thumbArea">
                <table class="thumb_table">
                    <tr>
                        <td>
                            <div id="hata">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div id="data">
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="multi_image_property_area">
                <table>
                    <tr>
                        <td>@CmsLanguage.LABEL_TARGET:
                        </td>
                        <td>
                            @Html.DropDownList("multi_image_target", (SelectList)ViewData["TargetList"], new { style = "width:80px" })
                        </td>
                    </tr>
                    <tr>
                        <td>@CmsLanguage.LABEL_LINK:
                        </td>
                        <td>
                            @Html.TextBox("multi_image_href", "", new { style = "width:140px" })
                        </td>
                    </tr>
                    <tr>
                        <td>@CmsLanguage.LABEL_TEXT:
                        </td>
                        <td>
                            @Html.TextBox("multi_image_text", "", new { style = "width:140px" })
                        </td>
                    </tr>
                    <tr>
                        <td>@CmsLanguage.LABEL_ALT:
                        </td>
                        <td>
                            @Html.TextBox("multi_image_alt", "", new { style = "width:140px" })
                        </td>
                    </tr>
                </table>
            </div>
            <div class="multi_image_div_thumb_button">
                <input type="button" id="multi_image_btn_add" class="btn btn-primary" value="@Language.ACTION_ADD_TO_ORDER_PAD" />
                <input type="button" id="multi_image_btn_update" class="btn btn-secondary" value="@Language.ACTION_UPDATE" />
                <input type="button" id="multi_image_btn_remove" class="btn btn-danger" value="@Language.ACTION_DELETE" />
                <input type="hidden" id="multi_image_selected_id" />
            </div>
        </fieldset>
    </div>
    <div id="braker">
        &nbsp;
    </div>
    <div>
        <div class="multiImageButtonArea">
            @CmsLanguage.LABEL_SLIDE_SPEED:&nbsp;@Html.DropDownList("multi_image_slide_time", (SelectList)ViewData["SecondsList"], new { style = "width:60px" })
        </div>
        <fieldset class="selectedImagesAreaWrapper">
            <legend>@CmsLanguage.LABEL_SELECTED_IMAGES </legend>
            <div class="multiImageViewField">
                <div id="multifileuploadcontent">
                </div>
            </div>
        </fieldset>
    </div>
    <div class="popupMultiImageSaveAreaWrapper">
        <input type="button" id="multiImageCancelButton" class="btn btn-default" value="@CmsLanguage.CATMAN_BUTTONTEXT_CANCEL" />
        <input type="button" id="multiImageSaveButton" class="btn btn-primary" value="@CmsLanguage.CATMAN_ACTION_DONE" />
    </div>
</div>
