﻿@using Mvc.Mailer
@model Mailers.MailPromotionContainer

<table>
    <tr>
        <td colspan="@Model.PromotionProductItems.Count">
            <h3>
                @Html.Raw(Model.PromotionHeaderText)
            </h3>
        </td>
    </tr>
    <tr>
        @foreach (var item in Model.PromotionProductItems)
        {
            <td>
                <table class="padding">
                    <tr>
                        <td>
                            @item.ProductName
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.InlineImage(item.ProductLink, item.ProductName)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @item.DisplayListPrice
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p><a href="@Url.Abs(@item.ProductLink)"  class="btn-primary">@Model.CtaText</a></p>
                        </td>
                    </tr>
                </table>
            </td>
        }
    </tr>
</table>
