﻿/* Central Management */

.headerFieldset {
    width: 100%;
    background-image: none;
    background-color: #333399;
}
.headerTable 
{
    width: 100%;
}

.treefield 
{
    border-width: 2px;
    border-color: red;
}
ul{list-style: none;margin: 0;padding: 0;}
.class1{overflow-y: auto;margin-left: auto;margin-right: auto;}
.class1 a{color: #00334D;cursor: pointer;text-decoration: none;font-family: Segoe UI, Trebuchet MS, Tahoma, Calibri, Arial, Sans-Serif;font-size: 10pt;}
.class1 a:hover{text-decoration: underline;}

.class1 li{padding-left: 20px;}

.class1 li dl
{
    background-image:url("../images/directory.png");
    background-position: 0px 0px;
    background-repeat: no-repeat;
    padding-left: 20px;
    margin: 0px;
}

.class1 li dt {
    margin: 0px;
}

ul .sortablezone{visibility: visible; padding-top:3px; padding-bottom:3px; line-height: 0}

.treefield {
    border: none;
}

.expand
{
    background: url("../images/minus1.png");
    background-position: 0px 1px;
    background-repeat: no-repeat;
    width: 6px;
    _width: 3px;
    height: 16px;
    display: block;
    float: left;
    margin-top: 3px;
    margin-left: -12px;
    padding-right: -12px;
    padding-left: 5px;
    text-indent: -9999px;
    line-height: 0;
    font-size: 0;
}
.expand:hover
{
    cursor: pointer;
}
.contract
{
    background: url("../images/plus1.png");
    background-position: 0px 1px;
    background-repeat: no-repeat;    
}
.contract:hover
{
    cursor: pointer;
}

table {
    border: none;
    margin: 0px;
}

.managementTable {
    margin-top: 20px;
}

.managementTable > table 
{
    margin-left: auto;
    margin-right: auto;    
    border: 0px solid black;
    table-layout: fixed;    
    height: 700px;
    background-color: #9F9F9F; /*#333399;*/
    border-spacing:14px 2px;     
}

.managementTable td 
{
    border: 1px solid black;
    overflow: hidden;
    width: 300px;
    background-color: white;
    padding-bottom: 20px;
}

.managementTable th 
{
    border: 1px solid black;
    overflow: hidden;
    width: 300px;
    background-color: #333399;
    color: #FFFFFF;
    font-family: Segoe UI, Trebuchet MS, Tahoma, Calibri, Arial, Sans-Serif;font-size: 12pt;
    height: 40px;
    text-align: left;
    padding-left: 20px;
}

.headerLeft a {
    color: white;
}

dt {
  font-weight: normal;
}
