﻿#fileuploadcontent {
    height: 190px;    
}
#drop-files
    {
        width: 160px;
        height: 50px;
        background: rgba(0,0,0,0.1);
        border-radius: 10px;
        border: 4px dashed rgba(0,0,0,0.2);
        padding: 13px 0 0 0;
        text-align: center;
        font-size: 0.8em;
        float: left;
        font-weight: bold;
        margin: 0 8px 8px 0;
    }

    #dropped-files
    {
        float: left;
        position: relative;
        width: 310px;
        height: 50px;
    }

    #upload-button
    {
        position: absolute;
        top: 35px;
        z-index: 9999;
        width: 120px;
        display: none;
    }

    #dropped-files .image
    {
        height: 80px;
        width: 120px;
        border: 4px solid #fff;
        position: absolute;
        box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
        background: #fff;
        border-radius: 4px;
        overflow: hidden;
    }

    #upload-button .ss-upload
    {
        font-size: 0.3em;
    }

    #upload-button a
    {
        text-decoration: none;
        color: #fff;
        font-weight: bold;
        box-shadow: 0 0 400px 25px rgba(255, 255, 255, 1), inset 0 -14px 16px -4px #0A9FCA;
        font-size: 12px;
        padding: 4px 8px;
        background-color: #4bc1e3;
        border-radius: 50px;
    }

    #upload-button span
    {
        display: block;
        width: 165px;
        text-align: center;
        margin: 8px 0 0 0;
        background: white;
        border-radius: 2px;
        font-size: 1.1em;
        padding: 1px 0;
        position: relative;
        left: -6px;
    }

    #upload-button a:hover
    {
        box-shadow: 0 0 1000px 62px rgba(255, 255, 255, 1), inset 0 -5px 40px 0px #0A9FCA;
    }

    #extra-files
    {
        display: none;
        float: left;
        position: relative;
    }

        #extra-files .number
        {
            background: rgba(0,0,0,0.6);
            border-radius: 4px;
            display: inline-block;
            position: relative;
            font-weight: bold;
            color: #fff;
            padding: 8px 12px;
            margin: 24px 0 0 0;
            cursor: pointer;
            font-size: 12px;
        }

    #dropped-files #upload-button .delete
    {
        padding: 4px 6px;
        border-radius: 50px;
        background: rgba(0,0,0,0.6);
        box-shadow: none;
        font-size: 12px;
        margin-left: -1px;
    }

        #dropped-files #upload-button .delete:hover
        {
            background: rgba(0,0,0,0.8);
        }


    #extra-files .number:after
    {
        position: absolute;
        content: " ";
        top: 18px;
        left: -42px;
        display: block;
        border: 20px solid;
        border-color: transparent rgba(0, 0, 0, 0.6) transparent transparent;
    }

    #extra-files #file-list
    {
        display: none;
        background: white;
        padding: 20px 0;
        border-radius: 5px;
        box-shadow: 0 0 15px rgba(0,0,0,0.1);
        width: 250px;
        top: 100px;
        border: 1px solid #dadada;
        left: -10px;
        left: -16px;
        max-height: 220px;
        top: 150px;
        position: absolute;
        color: #545454;
    }

    #file-list ul
    {
        overflow: scroll;
        padding: 0;
        border-top: 1px solid #dadada;
        max-height: 200px;
        width: 250px;
        list-style: none;
        border-bottom: 1px solid #dadada !important;
    }


        #file-list ul li:last-of-type
        {
            border-bottom: 0 !important;
        }

    #uploaded-holder
    {
        width: 350px;
        height: 60px;
        display: none;
        float: left;
    }

    #extra-files #file-list:after, #extra-files #file-list:before
    {
        position: absolute;
        content: " ";
        top: -40px;
        left: 40px;
        display: block;
        border: 20px solid;
        border-color: transparent transparent #ffffff transparent;
    }

    #extra-files #file-list:before
    {
        border-color: transparent transparent #dadada transparent;
        top: -41px;
    }

    #extra-files #file-list li
    {
        border-bottom: 1px solid #eee;
        font-weight: bold;
        font-size: 1.5em;
        padding: 10px;
    }

    #loading
    {
        display: none;
        float: left;
        width: 100%;
        position: relative;
    }

    #loading-bar
    {
        width: 404px;
        height: 40px;
        background: #fff;
        box-shadow: 0 0 15px rgba(0,0,0,0.1);
        border-radius: 5px;
        padding: 2px;
    }

    .loading-color
    {
        width: 0%;
        height: 100%;
        -webkit-transition: all 0.1s ease-in;
        -moz-transition: all 0.1s ease-in;
        -ms-transition: all 0.1s ease-in;
        -o-transition: all 0.1s ease-in;
        transition: all 0.1s ease-in;
        border-radius: inherit;
        background-color: #4edbf1;
    }

    #loading-content
    {
        position: absolute;
        top: 15px;
        font-size: 1.2em;
        font-weight: bold;
        text-align: center;
        width: 405px;
    }

    #file-name-holder
    {
        width: 100%;
        float: left;
    }

        #file-name-holder h1
        {
            text-align: center;
            border-bottom: 1px solid #dadada;
            padding: 20px 0;
            font-size: 3em;
            margin: 0;
        }

    #uploaded-items #failed-uploaded-items
    {
        list-style: none;
        background: white;
        border-radius: 5px;
        box-shadow: 0 0 15px rgba(0,0,0,0.1);
        width: 407px;
        top: 100px;
        padding: 0;
        border: 1px solid #dadada;
        max-height: 120px;
        overflow: scroll;
    }

        #uploaded-items > li #failed-uploaded-items > li
        {
            padding: 10px;
            border-bottom: 1px solid #eee;
            font-size: 0.7em;
            font-weight: bold;
            line-height: 5px;
        }

        #uploaded-files a
        {
            color: #1bacbf;
        }

        #file-upload-success {
            display: none;
            color: #545454;
        }

        #file-upload-error {
            display: none;
            color: #ff0000;
        }