﻿@using EISCS.ExpandIT
@using Resources
@using ViewModels.Order
@model OrderViewModel
@if (Model == null)
{
    <div class="alert alert-info">
        @Language.LABEL_NO_HISTORY_AVAILABLE
    </div>
}
else
{
    <div>
        <h2>
            @Language.LABEL_ORDER @Language.SO_HEADER_COLUMN_REFERENCE_NUMBER @Model.CustomerReference
        </h2> 
    </div>
    <hr/>
    <div class="col-sm-12">
        <div style="float:left; margin:0 10px 20px 0">
            <b>@Language.LABEL_BILL_TO</b><br/>
            @Html.Partial("../shared/Address/_Address", Model.BillingAddress)
        </div>    
	    <div class="col-xs-6">
            <b>@Language.LABEL_SHIP_TO</b><br/>        
            @Html.Partial("../shared/Address/_Address", Model.ShippingAddress)
        </div>
    </div>
    <div style="clear: both;">
        <hr/>
    </div>
	<table class="table table-hover top15" id="lineTable">
		<thead>
			<tr>
				<th>@Language.LABEL_PRODUCT</th>
				<th class="right-cell">@Language.LABEL_QUANTITY</th>
				<th class="right-cell hidden-xs">@Language.LABEL_PRICE</th>
				<th class="right-cell hidden-xs">@Language.LABEL_DISC_AMOUNT</th>                    
				<th class="right-cell hidden-xs">@Language.LABEL_DISC_PROCENT</th>   
				<th class="right-cell">@Language.LABEL_LINE_TOTAL</th>   
			</tr>
		</thead>
		<tbody>
			@foreach (OrderLineViewModel line in Model.Lines)
			{
                var variantName = line.VariantName;
                var variantCode = line.VariantCode;
                if (!string.IsNullOrEmpty(variantName))
                {
                    variantName = "- " + variantName;
                }
                if (!string.IsNullOrEmpty(variantCode))
                {
                    variantCode = "(" + variantCode + ")";
                }
				<tr>
					<td>@line.ProductGuid @line.ProductName  @Html.Raw(@variantName) @variantCode</td>
					<td class="right-cell">@line.Quantity</td>
					<td class="right-cell hidden-xs">@CurrencyFormatter.FormatCurrency(line.ListPrice, Model.CurrencyGuid)</td>
					<td class="right-cell hidden-xs">@CurrencyFormatter.FormatCurrency(line.LineDiscountAmount, Model.CurrencyGuid)</td>
					<td class="right-cell hidden-xs">@line.LineDiscount</td>
					<td class="right-cell">@CurrencyFormatter.FormatCurrency(line.LineTotal, Model.CurrencyGuid)</td>
				</tr>
			}
		</tbody>
	</table>
	<div class="row">
        <div class="col-md-4 col-sm-4 col-sm-offset-8" id="cart-total-list-history">
			<table class="table table-hover">
				<tbody>
                    <tr><td class="right-cell">@Language.LABEL_INVOICE_DISCOUNT</td><td class="right-cell">- @CurrencyFormatter.FormatCurrency(Model.InvoiceDiscount, Model.CurrencyGuid)</td></tr>
				    <tr><td class="right-cell">@Language.LABEL_SERVICE_CHARGE</td><td class="right-cell">@CurrencyFormatter.FormatCurrency(Model.ServiceCharge, Model.CurrencyGuid)</td></tr>
                    <tr><td class="right-cell sum-cell">@Language.LABEL_SUB_TOTAL</td><td class="right-cell sum-cell">@CurrencyFormatter.FormatCurrency(Model.SubTotal, Model.CurrencyGuid)</td></tr>
					<tr><td class="right-cell">@Language.LABEL_SHIPPING</td><td class="right-cell">@CurrencyFormatter.FormatCurrency(Model.ShippingAmount, Model.CurrencyGuid)</td></tr>
					<tr><td class="right-cell">@Language.LABEL_HANDLING</td><td class="right-cell">@CurrencyFormatter.FormatCurrency(Model.HandlingAmount, Model.CurrencyGuid)</td></tr>
					<tr><td class="right-cell">@Language.LABEL_PAYMENT_FEE</td><td class="right-cell">@CurrencyFormatter.FormatCurrency(Model.PaymentFeeAmount, Model.CurrencyGuid)</td></tr>
					<tr><td class="right-cell">@string.Format("{0} {1}", Language.LABEL_TOTAL, Language.LABEL_EXCLUSIVE_VAT)</td><td class="right-cell">@CurrencyFormatter.FormatCurrency(Model.Total, Model.CurrencyGuid)</td></tr>
                    
                    @foreach (var obj in Model.TaxAmounts.Keys)
                    {
                        var vatAmount = ExpanditLib2.ConvertToDbl(Model.TaxAmounts[@obj]);
                        if (vatAmount > 0)
                        {
                            <tr>
                                <td class="right-cell">
                                    @Language.LABEL_TAXAMOUNT @obj%
                                </td>
                                <td class="right-cell">
                                    @CurrencyFormatter.FormatCurrency(vatAmount, Model.CurrencyGuid)
                                </td>
                            </tr>
                        }
                    }
				    
				    <tr><td class="right-cell sum-cell">@string.Format("{0} {1}", Language.LABEL_TOTAL, Language.LABEL_INCLUSIVE_VAT)</td><td class="right-cell sum-cell">@CurrencyFormatter.FormatCurrency(Model.TotalInclTax, Model.CurrencyGuid)</td></tr>
					<tr><td class="right-cell">@Language.LABEL_HANDLING_AND_SHIPPING</td><td class="right-cell">@(Model.ShippingHandlingProvider != null ? Model.ShippingHandlingProvider.ProviderName : Model.ShippingHandlingProviderGuid)</td></tr>
				</tbody>
			</table>
        </div>
</div>
}