﻿@using Resources

<label for="txtOrderLookup" class="sr-only">@Language.LABEL_PLEASE_ENTER_ORDERREF</label>
<div class="col-sm-12">
	<input type="text" id="txtOrderLookup" class="form-control" size="@Language.LINK_LOOKUP_ORDER_REFERENCE.Length" placeholder="@Language.LINK_LOOKUP_ORDER_REFERENCE" />
</div>

<script>
    $(document).ready(function() {

        var prevOrdersSuggestEngine = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            remote: {
                url: '@Url.Action("SearchByCustRef","OrderHistory")',                
                ajax: {
                    type:       'POST',
                    dataType:   'json',                    
                    beforeSend: function (jqXhr, settings) {
                        jqXhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded; charset=UTF-8');
                        settings.data = $.param({ custRef: $('#txtOrderLookup').val() });
                    },
                    complete:   function(jqXhr, status) {
                        //afterTypeAheadQuery(true);
                        //suggestions = JSON.parse(jqXhr.responseText);
                    }
                },
                replace: function(url, uriEncodedQuery) {
                    return url + '#' + uriEncodedQuery;
                }
            }
        });
        prevOrdersSuggestEngine.initialize();

        $('#txtOrderLookup').typeahead(null, {
            source: prevOrdersSuggestEngine.ttAdapter(),
            displayKey: 'CustomerReference'
        }).on('typeahead:selected', onOrderSelected);
        
        function onOrderSelected($e, selectedItem) {
            if (selectedItem && selectedItem["HeaderGuid"]) {
                var orderHistoryUrl = '@Url.Action("Details","OrderHistory", new {headerGuid = "HEADERGUID"})';
                location.href = orderHistoryUrl.replace("HEADERGUID", selectedItem["HeaderGuid"]);
            }
        }
    });
</script>