﻿<!--
Template information used by the Catalog Manager
    #NAME=Shop Front Page
    #DESCRIPTION=Displays a group of subgroups and the products in the group.
    #GROUPTEMPLATE=TRUE
    #PRODUCTTEMPLATE=FALSE
    #PROPERTYGROUP=NAME, ALIAS, REDIRECTURL, TEMPLATE, TITLE, CONTROLLER | Page Properties
    #PROPERTYGROUP=MULTIIMAGE | Banner
    #PROPERTYGROUP=BOX1HEADER, BOX1IMAGE, BOX1DESC, BOX1LINK, BOX1LINKTEXT | Left Box
    #PROPERTYGROUP=BOX2HEADER, BOX2IMAGE, BOX2DESC, BOX2LINK, BOX2LINKTEXT | Center Box
    #PROPERTYGROUP=BOX3HEADER, BOX3IMAGE, BOX3DESC, BOX3LINK, BOX3LINKTEXT | Right Box
    #PROPERTYGROUP=BOX4DESC | Bottom Left Box
    #PROPERTYGROUP=BOX5DESC | Bottom Center Box
    #PROPERTYGROUP=BOX6DESC | Bottom Right Box
    #PROPERTYGROUP=BOX7DESC | Bottom Right Twitter Box
-->

@using System.Configuration
@model ViewModels.Templates.ShopFrontPageViewModel

@{
    ViewBag.Title = ConfigurationManager.AppSettings["SHOP_TITLE"] + " - " + @Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="front-page">
    <!-- Begin The slider -->
	<div id="my-carousel" class="carousel slide">
		<!-- Carousel items -->
		<div class="carousel-inner">
			@for (int i = 0; i < Model.ImageObjects.Count; i++)
			{
				<div class="item @(i == 0 ? "active" : "")">
					<a href="@Model.ImageObjects[i].Link">
						<img src="@Html.Raw(@Model.ImageObjects[i].Img)"/>
					</a>
				</div>
			}
		</div>
		<!-- Carousel nav -->
		<a class="carousel-control left" href="#my-carousel" data-slide="prev">
			<span class="fa fa-2x hidden-xs fa-chevron-left glyphicon-chevron-left"></span>
			<span class="fa fa visible-xs fa-chevron-left glyphicon-chevron-left"></span>
		</a>
		<a class="carousel-control right" href="#my-carousel" data-slide="next">
			<span class="fa fa-2x hidden-xs fa-chevron-right glyphicon-chevron-right"></span>
			<span class="fa fa visible-xs fa-chevron-right glyphicon-chevron-right"></span>
		</a>
	</div>
    <!-- End The slider -->

    <div class="row teasers">
        <div class="col-md-4 col-sm-4 text-center">
            <h2>
                @Html.Raw(Model.Box1.Header)
            </h2>

            <a href="@Html.Raw(Model.Box1.Link)">
                <img src="@Html.Raw(Model.Box1.Image)"/>
            </a>

	        <p>@Html.Raw(Model.Box1.Description)</p>

            <p class="button">
                <a class="btn btn-primary" href="@Html.Raw(Model.Box1.Link)">
                    @Html.Raw(Model.Box1.LinkText)
                </a>
            </p>


        </div>
        <div class="col-md-4 col-sm-4 text-center">
            <h2>
                @Html.Raw(Model.Box2.Header)
            </h2>

            <a href="@Html.Raw(Model.Box2.Link)">
                <img src="@Html.Raw(Model.Box2.Image)"/>
            </a>

	        <p>@Html.Raw(Model.Box2.Description)</p>

            <p class="button">
                <a class="btn btn-primary" href="@Html.Raw(Model.Box2.Link)">
                    @Html.Raw(Model.Box2.LinkText)
                </a>
            </p>

        </div>
        <div class="col-md-4 col-sm-4 text-center">
            <h2>
                @Html.Raw(Model.Box3.Header)
            </h2>

            <a href="@Html.Raw(Model.Box3.Link)">
                <img src="@Html.Raw(Model.Box3.Image)"/>
            </a>

	        <p>@Html.Raw(Model.Box3.Description)</p>

            <p class="button">
                <a class="btn btn-primary" href="@Html.Raw(Model.Box3.Link)">
                    @Html.Raw(Model.Box3.LinkText)
                </a>
            </p>

        </div>
    </div>
</div>
<hr />
<div class="row" id="frontpage-bottom">
	<div class="col-md-3 col-sm-3 col-xs-6">
		@Html.Raw(Model.Box4.Description)
	</div>
	<div class="col-md-3 col-sm-3 col-xs-6">
		@Html.Raw(Model.Box5.Description)
	</div>
	<div class="col-md-3 col-sm-3 col-xs-6">
		@Html.Raw(Model.Box6.Description)
	</div>
	<div class="col-md-3 col-sm-3 cards col-xs-6">
		@Html.Raw(Model.Box7.Description)
		<div class="cards">
			<a href="#">
				<img src="@Url.Content("~/img/payment/icon-mastercard-curved.png")"/></a>
			<a href="#">
				<img src="@Url.Content("~/img/payment/icon-paypal.png")"/></a>
			<a href="#">
				<img src="@Url.Content("~/img/payment/icon-mastercard-curved.png")"/></a>
			<a href="#">
				<img src="@Url.Content("~/img/payment/icon-maestrocard-curved.png")"/></a>
			<a href="#">
				<img src="@Url.Content("~/img/payment/icon-american-express-curved.png")"/></a>
		</div>
	</div>
</div>
