﻿@using Resources
@model UIHelpers.ListControl

@using (Html.BeginForm("Index", "ProductSearch", new { @id = "" }, FormMethod.Get, new { id = "searchForm_"}))
{
    <div class="row">
        <div class="col-sm-12">
            <div class="input-group">
                <input type="text" name="searchstring" id="searchstring" class="form-control" size="30" value="@Model.SearchString" autofocus="autofocus" />
                <span class="input-group-btn">
                    <button class="btn btn-info" type="submit"><i class="fa fa-search"></i>&nbsp;@Language.ACTION_SEARCH</button>
                </span>
            </div>
        </div>
    </div>
}
                                