﻿﻿@using Microsoft.Practices.ObjectBuilder2
@using System.Configuration
@*@model FormModels.UserItemFormModel*@
@model Controllers.Templates.EditUserDataModel

@{
	ViewBag.Title = ConfigurationManager.AppSettings["SHOP_TITLE"] + " - " + Resources.Language.LABEL_ACCOUNT_MANAGE_ACCOUNT;
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Resources.Language.LABEL_USERDATA_UPDATE_USER_INFORMATION</h1>
<div class="row">
    <div class="col-md-12">
        <p>
            @Resources.Language.LABEL_STARMARKED_INPUT_IS_REQUIRED
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <p>
            @Html.Raw(Model.HtmlContent)
        </p>
    </div>
</div>

    <div class="row">
        <div class="col-xs-12">
            @using (@Html.BeginForm("Edit", "Profile", new { @id = string.Empty }, FormMethod.Post, new { @class = "form-horizontal", @role = "form" }))
            {
                @Html.AntiForgeryToken()

                if (!ViewData.ModelState.IsValid)
                {
                    <div class="alert alert-danger alert-dismissable">
                        <button class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        @Html.ValidationSummary(false, string.Empty, new { Class = "" })
                    </div>
                }
                else if (ViewData.ModelState.IsValid && Model.FormModel.IsSuccess)
                {
                    <div class="alert alert-success alert-dismissable">
                        <button class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        @Html.Raw(HttpUtility.HtmlDecode(Html.ValidationSummary(false, String.Format("<i class=\"fa fa-check\"></i> " + @Resources.Language.LABEL_SUCCESS), new { Class = "" }).ToString()))
                    </div>
                }

                @Html.Partial("Partials/_EditUserForm", @Model.FormModel)

                @Html.HiddenFor(u => u.FormModel.UserGuid)
                @Html.HiddenFor(u => u.FormModel.UserCreated)
                @Html.HiddenFor(u => u.FormModel.UserModified)

                <div class="controls-row">
                    <div class="form-group">
                        <div class="controls col-sm-12 input-group col-sm-offset-2">
                            @if (Model.FormModel.isB2B)
                            {
                                <input type="hidden" id="isB2B" name="isB2B" value="true" />
                            }
                            else
                            {
                                <button type="submit" class="btn btn-primary"><i class="fa fa-check-circle"></i>&nbsp;@Resources.Language.ACTION_UPDATE</button>
                                <text>&nbsp;</text>
                                <a href="#" id="reset" class="btn btn-default"><i class="fa fa-refresh"></i>&nbsp;@Resources.Language.ACTION_RESET</a>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $("#reset").click(function () {
                $("input").val("");
            });
        });
    </script>
