﻿<!--
    Template information used by the Catalog Manager
    #NAME=Profile Page
    #DESCRIPTION=Displays a profile page.
    #GROUPTEMPLATE=TRUE
    #PRODUCTTEMPLATE=FALSE
    #PROPERTYGROUP=NAME, ALIAS, REDIRECTURL, TEMPLATE, TITLE, CONTROLLER | Page Properties
    #PROPERTYGROUP=HTMLDESC | Additional Info    
    -->

@using System.Configuration
@using EISCS.Routing.Providers
@model Controllers.Templates.EditUserDataModel
@{
	ViewBag.Title = ConfigurationManager.AppSettings["SHOP_TITLE"] + " - " + Resources.Language.LABEL_MENU_ACCOUNT;
	Page.Title = Resources.Language.LABEL_MENU_ACCOUNT;
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <h1>@Resources.Language.LABEL_MENU_ACCOUNT</h1>
    </div>
    <div class="col-md-4 col-xs-12">
        <h3>@Resources.Language.LABEL_ACCOUNT_MANAGE_ACCOUNT</h3>
        <ul class="list-unstyled">
            <li>
                <span class="fa fa-user fa-fw"></span> 
                <a href="@Url.Action("Edit", "Profile")">
                    @Resources.Language.LABEL_USERDATA_UPDATE_USER_INFORMATION
                </a>
            </li>
            <li>
                <span class="fa fa-unlock-alt fa-fw"></span> 
                <a href="@Url.Action("UpdatePassword", "Profile")">
                    @Resources.Language.LABEL_USERDATA_UPDATE_USER_PASSWORD
                </a>
            </li>
            <li>
                <span class="fa fa-user-secret fa-fw"></span> 
                <a href="@Url.Action("MultiFactorOptions", "Profile")">
                    @Resources.Language.LABEL_USERDATA_MULTI_FACTOR_AUTHENTICATION_OPTIONS
                </a>
            </li>
            @if(System.Configuration.ConfigurationManager.AppSettings.Get("ENABLE_SERVICE_PORTAL")=="1") {
                <li>
                    <span class="fa fa-wrench fa-fw"></span> 
                    <a href="@Url.Action("Index", "ServiceOrder")">
                        @Resources.Language.SO_LABEL_SERVICE_PORTAL
                    </a>
                </li>
            }
        </ul>
    </div>
    <div class="col-md-4 col-xs-12">
        <h3>@Resources.Language.LABEL_ACCOUNT_MANAGE_ORDER_HISTORY</h3>
        <ul class="list-unstyled">
            <li>
                <span class="fa fa-clock-o fa-fw"></span> 
                <a href="@Url.Action("Index","OrderHistory")">
                    @Resources.Language.LABEL_ORDER_HISTORY
                </a>
            </li>	
            <li>
                <span class="fa fa-file-text-o fa-fw"></span>
                <a href="@Url.Action("Index","LedgerEntry")">
                    @Resources.Language.LABEL_INVOICE
                </a>
            </li>	
        </ul>
    </div>
    <div class="col-md-4 col-xs-12">
        <h3>@Resources.Language.LABEL_ACCOUNT_INTERACTION</h3>
        <ul class="list-unstyled">
            <li>
                <span class="fa fa-bullhorn fa-fw"></span> 
                <a href="@Url.Action("ContactUs", "Contact")">
                    @Resources.Language.LABEL_CONTACT_US
                </a>
            </li>
            <li>
                <span class="fa fa-sign-out fa-fw"></span> 
                <a href="@Url.Action("UserLogout", "Accounts")">
                    @Resources.Language.LABEL_MENU_LOGOUT
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="row">
    @Html.Raw(Model.HtmlContent)
</div>
