﻿@using System.Configuration
@using Resources
@model Controllers.Templates.QrCodeImageModel

@{
    ViewBag.Title = ConfigurationManager.AppSettings["SHOP_TITLE"] + " - " + Language.LABEL_USERDATA_MULTI_FACTOR_AUTHENTICATION_OPTIONS;
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-sm-12">
        <h1>@Language.LABEL_USERDATA_MULTI_FACTOR_AUTHENTICATION_OPTIONS</h1>
    </div>

</div>

<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">@Language.LABEL_GET_STARTED:</h3>
    </div>
    <div class="panel-body">
        <ol>
            <li>@Language.LABEL_2STEPS_VERIFICATION_INSTRUCTIONS_1<br />
                <a href="https://itunes.apple.com/en/app/google-authenticator/id388497605">
                    <img src="~/Content/images/apple_app_store_en.png" alt="Download app in the Apple App Store" /></a>
                <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2">
                    <img src="~/Content/images/android_app_store_en.png" alt="Download app in the Android Play Store" /></a>
            </li>
            <li>@Language.LABEL_2STEPS_VERIFICATION_INSTRUCTIONS_2</li>
            <li>@Language.LABEL_2STEPS_VERIFICATION_INSTRUCTIONS_3</li>
            <li>@Language.LABEL_2STEPS_VERIFICATION_INSTRUCTIONS_4</li>
            <li>@Language.LABEL_2STEPS_VERIFICATION_INSTRUCTIONS_5</li>
            <li>@Language.LABEL_2STEPS_VERIFICATION_INSTRUCTIONS_6</li>
        </ol>
    </div>
</div>

<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>@Language.LABEL_OPTIONS</th>
                <th>@Language.LABEL_VALUES</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Language.LABEL_2STEPS_VERIFICATION_ENABLED</td>
                <td>
                    <input type="checkbox" name="2StepsAuthEnabled" data-size="mini" data-on-text="@Language.LABEL_ON" data-off-text="@Language.LABEL_OFF" data-on-color="success" data-off-color="warning" checked="@ViewBag.MultiFactorEnabled"></td>
            </tr>
        </tbody>
    </table>

</div>

<div class="panel-group" id="accordion">
    <div class="panel panel-primary" id="panel1">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-target="#collapseOne"
                    href="#collapseOne">@Language.LABEL_VIEW_BARCODE
                </a>
            </h4>
        </div>

        <div id="collapseOne" class="panel-collapse collapse">
            <div class="panel-body">
                <p>
                    @Language.LABEL_INFORM_USER_SHOW_SECRET_TO_GOOGLE
                </p>
                <p>
                    <iframe src="@Model.BarcodeUrl" width="350" height="320" frameborder="0" seamless="seamless"></iframe>
                </p>
                <p>
                    @Model.ManualEntryCode
                </p>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        $("input[name='2StepsAuthEnabled']").bootstrapSwitch();
        $("input[name='AllowOfflineAccess']").bootstrapSwitch();

        $("input[name='2StepsAuthEnabled']").on("switchChange.bootstrapSwitch", function (event, state) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("AllowMultiFactor", "Profile")',
                data: {
                    "state": state
                }
            });
        });
    });
</script>
