﻿@using System.Configuration
@using FormModels
@using Resources
﻿@model FormModels.UserPasswordFormModel
@{
    ViewBag.Title = ConfigurationManager.AppSettings["SHOP_TITLE"] + " - " + Language.LABEL_USERDATA_UPDATE_USER_PASSWORD;
    Layout = Request.CurrentExecutionFilePath.Contains("/cms/") ? "~/EISCMS/Views/_CMSLayout.cshtml" : "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <h1>@Language.LABEL_USERDATA_UPDATE_USER_PASSWORD</h1>
        @*
			Display errors here
		*@
        @*
		Display confirmation message here
		*@
        <p>@Language.MESSAGE_USE_FIELDS_BELOW_TO_CHANGE_PASSWORD</p>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        
        @using (@Html.BeginForm("UpdatePassword", "Profile", new { @id = string.Empty }, FormMethod.Post, new {@class = "form-horizontal", @role = "form"}))
        {
            @Html.AntiForgeryToken()

            if (!ViewData.ModelState.IsValid)
            {
                <div class="alert alert-danger alert-dismissable">
                    <button class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    @Html.ValidationSummary(false, string.Empty, new {Class = ""})
                </div>
            }
            else if(((UserPasswordFormModel)Model).Success)
            {
                <div class="alert alert-success alert-dismissable">
                    <button class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    @Html.DisplayTextFor(u => u.Message)
                </div>
            }

            <div class="form-group">
                <label class="control-label col-md-5 col-sm-3">@Language.LABEL_USERDATA_PASSWORD</label>
                <div class="controls col-sm-5 input-group">
                    @Html.TextBoxFor(u => u.CurrentUserPassword, new {Class = "form-control", type = "password", autofocus="autofocus"})
                    <span id="" class="input-group-addon">*</span>
                </div>
                <div class="col-sm-offset-5 col-sm-7">
                    @Html.ValidationMessageFor(u => u.CurrentUserPassword)
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-5 col-sm-3">@Language.LABEL_USERDATA_NEW_PASSWORD</label>
                <div class="controls col-sm-5 input-group">
                    @Html.TextBoxFor(u => u.NewUserPassword, new {Class = "form-control", type = "password"})
                    <span id="" class="input-group-addon">*</span>
                </div>
                <div class="col-sm-offset-5 col-sm-7">
                    @Html.ValidationMessageFor(u => u.NewUserPassword)
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-5 col-sm-3">@Language.LABEL_USERDATA_NEW_PASSWORD_CONFIRM</label>
                <div class="controls col-sm-5 input-group">
                    @Html.TextBoxFor(u => u.ConfirmedNewUserPassword, new {Class = "form-control", type = "password"})
                    <span id="" class="input-group-addon">*</span>
                </div>
                <div class="col-sm-offset-5 col-sm-7">
                    @Html.ValidationMessageFor(u => u.ConfirmedNewUserPassword)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-5 col-sm-offset-3 col-md-7">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-check-circle"></i>&nbsp;@Language.ACTION_UPDATE</button>
                    <a href="#" id="reset" class="btn btn-default"><i class="fa-refresh fa"></i>&nbsp;@Language.ACTION_RESET</a>
                </div>
            </div>
        }
    </div>
</div>

<script>
    $(document).ready(function() {
        $("#reset").click(function() {
            $("input").val("");
        });
    });
</script>