﻿@using System.Configuration
@using EISCS.ExpandITFramework.Util
@using Resources
@model ViewModels.ProductsViewModel

<div class="row">
    <div class="col-sm-12">
        <h1>@Model.GroupTitle</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <p class="group-description">@Model.GroupItems.Description</p>
        <p class="group-description">@Html.Raw(Model.GroupItems.HtmlDescription)</p>
    </div>
</div>
<div class="row">
    <div class="form-group col-xs-12 pull-right form-inline">
        <div class="sort-option">
            <label class="sort-label" for="sorting">@Language.LABEL_SORT_ON_FIELD</label>
            @Html.DropDownList(@Language.LABEL_SORT_ON_FIELD, Model.Control.SortLinksForGroupTemplate, new { onchange = "sort(this.value);", @class = "form-control", @id = "sorting" })
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        @Html.ValidationSummary(false, null, new { @class = "alert alert-danger" })
    </div>

    <ul class="thumbnails list-unstyled">
        @foreach (var item in Model.ProductItems)
        {
            using (Html.BeginForm("Add", "Cart", FormMethod.Post, new { id = "updateForm_" + @item.ProductGuid }))
            {
                <li class="col-md-4 col-sm-6" data-productguid="@item.ProductGuid">
                    <div class="thumbnail">
                        <a href="@item.ProductLink" class="visible-xs row-link"><span></span></a>
                        <a class="product-image" runat="server" href="@item.ProductLink">
                            <img class="group-img" src="@Url.Content(item.Picture2)" alt="@item.ProductName" />
                        </a>
                        <div class="caption">
                            <p class="product-identification">
                                <span class="product-price bold pull-right visible-xs">
                                    @item.DisplayListPrice
                                </span>
                                <a class="product-name" href="@item.ProductLink">
                                    <strong>@item.ProductName</strong>
                                </a>
                                <br class="visible-xs" />
                                <span class="product-id">@item.ProductGuid</span>
                                <input type="hidden" name="ProductGuid" value="@item.ProductGuid" />
                                <input type="hidden" name="ProductName" value="@item.ProductName" />
                                <input type="hidden" name="VariantCode" value="@item.VariantCode" />
                            </p>
                            @if (!Model.IsAnonymous)
                            {
                                <div class="favorite-btn hidden-xs">
                                    @if (item.IsFavorite)
                                    {
                                        <i class="fa fa-2x fa-fw pull-right fa-star" title="@Language.LABEL_REMOVE_PRODUCT_FROM_FAVORITES" data-productguid="@item.ProductGuid"></i>
                                    }
                                    else
                                    {
                                        <i class="fa fa-2x fa-fw pull-right fa-star-o" title="@Language.LABEL_ADD_TO_FAVORITES" data-productguid="@item.ProductGuid"></i>
                                    }
                                </div>
                            }
                            <p class="product-description">
                                @Html.Raw(item.ShortDescription)
                            </p>
                            <div class="buy-product col-md-11 col-sm-11 center-block hidden-xs">
                                @if (item.VariantSelect.IsNullOrEmpty() && Model.HasCartAccess)
                                {
                                    <button class="btn btn-primary btn-sm" type="submit" id="@item.ProductGuid"><i class="fa fa-plus-circle"></i> @Language.ACTION_ADD_TO_ORDER_PAD</button>

                                    <p class="h4 product-price bold pull-right">
                                        @item.DisplayListPrice
                                    </p>
                                }
                                else
                                {
                                    <a class="btn btn-info" href="@item.ProductLink">
                                        <i class="fa fa-info-circle"></i> @Language.LABEL_SEE_MORE
                                    </a>
                                }
                            </div>
                        </div>
                    </div>
                </li>
            }
        }
    </ul>
</div>
<div class="row">
    <p class="col-xs-12 col-sm-12">
        @(Model.PricesIncludeTax ? Language.LABEL_PRICES_ARE_INLUDING_TAX : Language.LABEL_PRICES_ARE_EXLUDING_TAX)
    </p>
</div>
<script>
    $(".thumbnail").on("click", function () {
        if (window.outerWidth < 768) {
            $(this).css("background-color", "#eee");
        }
    });

    function sort(url) {
        window.location = url;
    }

    
    if ('@ConfigurationManager.AppSettings["STAY_IN_CATALOG"]' == '1') {
        updateAndStay();
    }

    function updateAndStay() {
        $('.btn-sm').on('click', function () {
            var partTwo = $(this).attr('id');
            var formId = 'updateForm_' + partTwo;
            postForm('#' + formId);
        });

        function postForm(formId) {

            $(formId).submit(function (e) {
                e.preventDefault();
            });

            $.ajax({
                type: "POST",
                url: "@Url.Action("AddAjax", "Cart")",
                data: $(formId).serialize(),
                datatype: "html",
                success: function (data) {
                    $('#miniCartRef').html(data);
                }
            });
        }
    }

</script>
