﻿@using System.Configuration
@using EISCS.ExpandITFramework.Util
@using EISCS.Routing.Providers
@using Resources
@using ViewModels
@model ProductsViewModel
<div class="row">
    <div class="col-sm-12">
        <h1>@Model.GroupTitle</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p class="group-description">@Model.GroupItems.Description</p>
        <p class="group-description">@Html.Raw(Model.GroupItems.HtmlDescription)</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        @Html.ValidationSummary(false, null, new { @class = "alert alert-danger" })
    </div>
</div>
<div class="row">
    <table class="pricelist table dataTable col-sm-12">
        <thead>
            <th class=""></th>
            <th class="sorting productname">
                <a href="@Model.Control.CreateLink("productname")">@Language.LABEL_PRODUCT_NAME</a>
            </th>
            <th class="sorting price text-right">
                <a href="@Model.Control.CreateLink("price")">@Language.LABEL_PRICE</a>
            </th>
            <th></th>
        </thead>
        <tbody>
            @foreach (var item in Model.ProductItems)
            {
                using (Html.BeginForm("Add", "Cart", FormMethod.Post, new { id = "updateForm_" + @item.ProductGuid }))
                {
                    <tr data-productguid="@item.ProductGuid">
                        <td class="col-md-2 pricelist-img-column">
                            <div>
                                <a href="@item.ProductLink">
                                    <img class="pricelist-img img-rounded" src="@Url.Content(item.Picture2)" alt="@item.ProductName" />
                                </a>
                            </div>
                        </td>
                        <td class="col-md-4 product-info">
                            <a href="@item.ProductLink" class="h2 product-name">@item.ProductName</a>
                            @if (!Model.IsAnonymous)
                            {
                                <div class="favorite-btn">
                                    @if (item.IsFavorite)
                                    {
                                        <i class="fa fa-2x pull-left fa-star" data-productguid="@item.ProductGuid"></i>
                                    }
                                    else
                                    {
                                        <i class="fa fa-2x pull-left fa-star-o" data-productguid="@item.ProductGuid"></i>
                                    }
                                </div>
                            }
                            <small class="vertical-align">(@item.ProductGuid)</small>
                            <div class="productlist-description pull-left">
                                @Html.Raw(item.LongDescription)
                            </div>

                        </td>
                        <td class="price col-md-2 text-right">
                            <p class="h4 product-price bold">
                                @if (item.VariantSelect.IsNullOrEmpty() && Model.HasCartAccess)
                                {
                                    @item.DisplayListPrice
                                }
                            </p>
                        </td>
                        <td class="col-xs-4 col-sm-3 col-md-2 hidden-xs">
                            <div class="product-add-to-cart col-md-12">
                                <input type="hidden" name="SKU" value="@item.ProductGuid" />
                                <input type="hidden" name="ProductGuid" value="@item.ProductGuid" />
                                <input type="hidden" name="ProductName" value="@item.ProductName" />
                                <input type="hidden" name="VariantCode" value="@item.VariantCode" />
                                <div>

                                    @if (item.VariantSelect.IsNullOrEmpty() && Model.HasCartAccess)
                                    {
                                        <div class="input-group">
                                            <input class="form-control " id='_@item.ProductGuid' name="Quantity" type="number" step="1" value="1" min="1" max="10000000">

                                            <span class="input-group-btn">
                                                <button class="btn btn-primary pull-right" type="submit" id="@item.ProductGuid"><i class="fa fa-plus-circle"></i>&nbsp;@Language.ACTION_ADD_TO_ORDER_PAD</button>

                                            </span>
                                        </div>

                                    }
                                    else
                                    {
                                        <a class="btn btn-info pull-right" href="@item.ProductLink">
                                            <i class="fa fa-info-circle"></i> @Language.LABEL_SEE_MORE
                                        </a>
                                    }

                                </div>
                            </div>
                        </td>
                    </tr>
                }
            }

        </tbody>
    </table>
</div>
<div class="row">
    <p>
        @(Model.PricesIncludeTax ? Language.LABEL_PRICES_ARE_INLUDING_TAX : Language.LABEL_PRICES_ARE_EXLUDING_TAX)
    </p>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var sort = "@Model.Control.Sort";
        if ("" != sort) {
            var coloumnSortToRemove = "." + sort;
            var direction = "@Model.Control.Direction";
            $(coloumnSortToRemove).removeClass("sorting");
            $(coloumnSortToRemove).addClass("sorting_" + direction);
        }

        if ('@ConfigurationManager.AppSettings["STAY_IN_CATALOG"]' == '1') {
            updateAndStay();
        }

        function updateAndStay() {
            $('.btn-primary').on('click', function () {
                var partTwo = $(this).attr('id');
                var formId = 'updateForm_' + partTwo;
                postForm('#' + formId);
            });

            function postForm(formId) {

                $(formId).submit(function (e) {
                    e.preventDefault();
                });

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("AddAjax", "Cart")",
                    data: $(formId).serialize(),
                    datatype: "html",
                    success: function (data) {
                        $('#miniCartRef').html(data);
                    }
                });
            }
        }
    })

</script>
