<%@ Page Language="VB" AutoEventWireup="false" CodeFile="update.aspx.vb" Inherits="Update" Theme="" StyleSheetTheme="" %>
<%@ Register Src="~/admin/transport/update.ascx" TagName="UpdateCtrl" TagPrefix="uc1" %>
<uc1:UpdateCtrl ID="Update1" runat="server" />
