﻿@using Resources
@model List<Controllers.Cms2.MailTemplateTreeModel>

@{
    string activePage = @HttpContext.Current.Request.RequestContext.RouteData.Values["id"].ToString();
    string activeUrl = @HttpContext.Current.Request.RequestContext.RouteData.Values["controller"] + "/" + @HttpContext.Current.Request.RequestContext.RouteData.Values["action"];
}

<ul id="mailedit" class="nav nav-second-level">
    <li>
        <a @if (activeUrl == "MailTemplate/MailMessageSettings")
           {
                <text>class="active"</text>
           } href="@Url.Action("MailMessageSettings", "MailTemplate")"><i class="fa fa-cog fa-fw"></i>&nbsp;@CmsLanguage.LABEL_GENERAL_SETTINGS</a>
        @*<a href="#"><i class="fa fa-cog fa-fw"></i>&nbsp;General Settings</a>
        <ul class="nav nav-third-level">
            <li><a href="@Url.Action("MailMessageSettings", "MailTemplate")"><i class="fa fa-cog fa-fw"></i>&nbsp;A General Setting</a></li>
        </ul>*@
    </li>
    <li>
        <a href="#"><i class="fa fa-tags fa-fw"></i>&nbsp;@CmsLanguage.LABEL_MAIL_TEMPLATES</a>
        <ul class="nav nav-third-level">
            @foreach (var mailMessage in Model)
            {
                <li>
                    <a @if (activePage == @mailMessage.Id.ToString())
                       {
                           <text>class="active"</text>
                       } href="@Url.Action("EditMailMessage", "MailTemplate", new { id = @mailMessage.Id })">
                        <i class="fa fa-fw fa-envelope"></i>&nbsp;@mailMessage.Name
                    </a>
                </li>
            }
        </ul>
    </li>
</ul>

