﻿@using Resources

<div id="fileuploaddiv">
    <div id="upload_table_area">
        <div class="form-group">
            <label class="control-label">@CmsLanguage.LABEL_UPLOAD_FOLDER:</label>
            <div class="row">
            <div class="col-sm-6">
                <input type="text" readonly="readonly" name="upload_folder" id="upload_folder" class="form-control">                
            </div>    
            </div>
            
        </div>
    </div>
    <div class="form-group">
        <label class="control-label fileupload">@CmsLanguage.CATMAN_LABEL_SPECIFY_FILE_TO_UPLOAD</label>
        <div class="row">
            <div class="col-sm-6">
                <div class="input-group">
                    <input type="text" id="upload_input" disabled="disabled" class="form-control" />
                    <span class="input-group-btn">
                        <button type="button" id="upload_button" class="btn btn-primary"><i class="fa fa-search"></i> @CmsLanguage.CATMAN_BUTTONTEXT_BROWSE</button>                
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <button type="submit" id="sendfilebutton" class="btn btn-primary"><i class="fa fa-send"></i> @CmsLanguage.CATMAN_BUTTONTEXT_SEND</button>&nbsp;<span id="file_upload_response" class="fileupload"></span>
    </div>
</div>
