﻿@using System.Configuration
@using Resources
@model string
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Title = ConfigurationManager.AppSettings["SHOP_TITLE"] + " - " + Language.LABEL_LOCAL_WEB_SITE;
}

<div class="jumbotron">
	<h1>@Language.LABEL_LOCAL_WEB_SITE</h1>
	<p class="lead">@Language.MESSAGE_LOCALWEB: <a href="@Model">@Language.LABEL_REMOTE_SHOP</a></p>
</div>
