﻿@using Resources
<div class="list-group">
    <a href="@Url.Action("Users", "UserManagement")" class="list-group-item">
        <i class="fa fa-user fa-fw"></i> @CmsLanguage.LABEL_USERS_REGISTERED
        <span class="pull-right text-muted small" id="usersInCatalog"><em>@ViewBag.UsersInCatalog</em>
        </span>
    </a>
    <a href="@Url.Action("Users", "UserManagement")" class="list-group-item">
        <i class="fa fa-users fa-fw"></i> @CmsLanguage.LABEL_B2C_USERS_REGISTERED
        <span class="pull-right text-muted small" id="B2CUsers"><em>@ViewBag.B2CUsers</em></span>
    </a>
    <a href="@Url.Action("AllProducts", "Catalog")" class="list-group-item">
        <i class="fa fa-tags fa-fw"></i> @CmsLanguage.LABEL_PRODUCTS_IN_CATALOG
        <span class="pull-right text-muted small" id="productsInCatalog"><em>@ViewBag.ProductsInCatalog</em>
        </span>
    </a>
    <a href="#" class="list-group-item">
        <i class="fa fa-calendar fa-fw"></i> @CmsLanguage.LABEL_REVENUE_LAST_YEAR
        <span class="pull-right text-muted small" id="revenueLastYear"><em>@ViewBag.RevenueLastYear</em></span>
    </a>
    <a href="#" class="list-group-item">
        <i class="fa fa-clock-o fa-fw"></i> @CmsLanguage.LABEL_REVENUE_CURRENT_YEAR
        <span class="pull-right text-muted small" id="revenueCurrentYear"><em>@ViewBag.RevenueCurrentYear</em></span>
    </a>
</div>