﻿@using EISCS.ExpandIT
@using Resources
@model List<ViewModels.Order.OrderViewModel>

<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>@CmsLanguage.LABEL_CUSTOMER_NAME</th>
                <th class="text-center">@CmsLanguage.LABEL_TOTAL_INCL_TAX</th>
                <th class="text-center">@CmsLanguage.LABEL_PRODUCTS</th>
                <th class="text-center">@CmsLanguage.LABEL_DATE</th>
                <th class="text-center">@CmsLanguage.LABEL_TIME</th>
                <th class="text-right">@CmsLanguage.LABEL_ACTION</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model)
            {
                var totalProducts = order.Lines.Sum(products => products.Quantity);
                
                <tr>
                    <td class="text-left">@order.BillingAddress.ContactPerson</td>
                    <td class="text-center">@CurrencyFormatter.FormatCurrency(order.TotalInclTax, order.CurrencyGuid)</td>
                    <td class="text-center">@totalProducts</td>
                    <td class="text-center">@order.HeaderDate.ToShortDateString()</td>
                    <td class="text-center">@order.HeaderDate.ToShortTimeString()</td>
                    <td class="text-right"><a href="@Url.Action("OrderDetail", "BusinessCenter", new {id = order.HeaderGuid})" class="btn btn-primary btn-xs"><i class="fa fa-search"></i>&nbsp;@Language.LABEL_DETAILS</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>