﻿@using Resources
<ul class="nav nav-pills" id="chatSalesPills">
    <li role="presentation" class="active" data-days="365"><a href="#">@CmsLanguage.LABEL_LAST_YEAR</a></li>
    <li role="presentation" data-days="90"><a href="#">@CmsLanguage.LABEL_LAST_90_DAYS</a></li>
    <li role="presentation" data-days="30"><a href="#">@CmsLanguage.LABEL_LAST_30_DAYS</a></li>
    <li role="presentation" data-days="7"><a href="#">@CmsLanguage.LABEL_LAST_7_DAYS</a></li>
</ul>
<div id="salesChart" style="height: 400px; width: 100%"></div>