﻿@using Resources
<dl>
    <dt><a href="http://www.shutterstock.com" title="@CmsLanguage.LABEL_SHUTTERSTOCK" target="_blank">@CmsLanguage.LABEL_SHUTTERSTOCK</a></dt>
    <dd>@CmsLanguage.LABEL_USEFUL_LINK_MESSAGE_1</dd>
</dl>
<dl>
    <dt><a href="http://www.google.dk/intl/da/analytics/" title="@CmsLanguage.LABEL_GOOGLE_ANALYTICS" target="_blank">@CmsLanguage.LABEL_GOOGLE_ANALYTICS</a></dt>
    <dd>@CmsLanguage.LABEL_USEFUL_LINK_MESSAGE_2</dd>
</dl>
<dl>
    <dt><a href="http://mailchimp.com/" title="@CmsLanguage.LABEL_MAILCHIMP" target="_blank">@CmsLanguage.LABEL_MAILCHIMP</a></dt>
    <dd>@CmsLanguage.LABEL_USEFUL_LINK_MESSAGE_3</dd>
</dl>
<dl>
    <dt><a href="http://www.xe.com/currencyconverter/" title="@CmsLanguage.LABEL_XE_CURRENCY_CONVERTER" target="_blank">@CmsLanguage.LABEL_XE_CURRENCY_CONVERTER</a></dt>
    <dd>@CmsLanguage.LABEL_USEFUL_LINK_MESSAGE_4</dd>
</dl>
<dl>
    <dt><a href="mailto:support@expandit.com" target="_blank">@CmsLanguage.LABEL_REQUEST_SUPPORT_FROM_EXPANDIT</a></dt>
    <dd>@CmsLanguage.LABEL_NEED_HELP</dd>
</dl>