html, body {
	height: 100%;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; 
}

input[type=number] {
	-moz-appearance: textfield;
}

@media (max-width: @screen-xs-max) {
	body {
		padding: 0;
	}

	#clear.btn {
		.btn-block;
		margin: 10px 0;
	}

	#undo-changes.btn {
		.btn-block;
		margin: 10px 0;
	}

	#Purchase.btn {
		.btn-block;
		margin: 0 0 10px;
	}

	.no-padding-xs {
		padding: 0;
	}

	#UpdateDynamic.btn {
		.btn-block;
		margin: 0 0 10px;
	}

	.pricelist .dataTable {
		td.price {
			display: none;
		}
	}

	.pricelist-img {
		width: 50px;
	}
}

@media (min-width: @screen-sm) {
	body {
		padding: 123px 0 0;
	}

	.pricelist-img {
		width: 110px;
	}

	li.dropdown.open .dropdown-menu {
		border: none;
	}
}

.info {
	font-size: 8px;
}

/* 3. Layout */
.content-wrapper {
	position : relative;
	z-index: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	-webkit-border-top-left-radius: 0;
	-webkit-border-top-right-radius: 0;
	min-height: 100%;
}

@media (max-width: @screen-md-max) {
	.row {
		margin-left: 0;
		margin-right: 0;
	}
	.container {
		width: 100%;
	}
	.content-wrapper {
		padding-left: 0;
		padding-right: 0;
	}
}

#front-page {
	margin-bottom: 20px;
	min-height: 700px;

	& .col-sm-4,
	& .col-xs-4,
	& .col-sm-3,
	& .col-xs-3 {
		padding: 0;
	}
}

@media (min-width: @screen-sm) {
	#footer {
		background: #222;
		bottom: 0;
		color: #fff;
		line-height: 1.5;
		height: 60px;
		padding: 21px 0 0;
		width: 100%;
	}
}

@media (max-width: @screen-xs-max) {
	#footer {
		background: @navbar-inverse-bg;
		bottom: 0;
		color: #fff;
		line-height: 1.8;
		padding: 15px 0 0;
		width: 100%;
	}
}

header {
	padding-top: 65px;
}

#wrap {
	min-height: 100%;
	height: auto;
	margin: 0 auto -60px;
	padding: 0 0 60px;
}

/* 4. Top Bar */
.dropdown-menu {
	min-width: 175px;
	z-index: 100;
}

.navbar-fixed-top {
	border: 0;
}

@media (min-width: @screen-sm) {
	.navbar-inverse {
		background: @navbar-inverse-bg-fallback;
		background: @navbar-inverse-bg;
	}
}

@media (max-width: @screen-xs-max) {
	.navbar-inverse {
		background: @navbar-inverse-bg-fallback;
	}
}

@media (max-width: @screen-sm-max) {
	#site-logo {
		height: 25px;
		width: auto;
		margin-left: 10px;
	}
}

@media (min-width: @screen-sm) {
	#site-logo {
		height: 50px;
		width: auto;
	}

	#top-bar .navbar-nav > li > a {
		padding: 30px 15px;
	}
}

#top-bar .navbar-nav > li > a {
	color: @gray-lighter;
}

.dropdown-menu li > a:hover {
	background: @brand-primary;
	color: #fff;
}

.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
  color: #fff;
  text-decoration: none;
  background-color: @brand-primary;
}

.navbar .nav li.dropdown.open > .dropdown-toggle, 
.navbar .nav li.dropdown.active > .dropdown-toggle, 
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
    background-color: @brand-primary;
    color: #fff;
}

.nav-list li > a:hover {
    background-color: @brand-primary;
    color: #fff;
    text-shadow: 0 -1px 0 #bbb;
}

.user-welcome {
	max-width: 275px;
}

.user-welcome a {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.user-welcome > a:hover {
	background-color: transparent;
}

@media (min-width: @screen-sm) {
	.navbar-nav.navbar-right:last-child {
		margin-right: 0;
	}
}

/*	5. Main Bar	*/
@media (max-width: @screen-xs-max) {
	#main-bar {
		width: 100%;
		background: lighten(@navbar-inverse-bg-fallback, 10%);
		background: lighten(@navbar-inverse-bg, 10%);
		top: 50px;
		min-height: 0;
		z-index: 99;
		font-size: 12px;
		margin-bottom: 50px;
	}

	.nav-tabs > li:first-of-type {
		display: none;
	}
}

@media (min-width: @screen-sm) {
	#main-bar {
		.navbar-fixed-top;
		width: 100%;
		background: lighten(@navbar-inverse-bg-fallback, 10%);
		background: lighten(@navbar-inverse-bg, 10%);
		top: 80px;
		min-height: 0;
		z-index: 99;
	}
}

.nav-tabs {
	border: none;
}

.nav-tabs > li {
	margin-bottom: 0;
	border: 0;
}

.nav-tabs > li > a {
	border-radius: 0;
	margin-right: 0;
	text-transform: uppercase;
}

.nav-tabs > li .badge {
	text-transform: lowercase;
}

.nav-tabs li > a:hover {
  color: #ffffff;
  background-color: @brand-primary;
  border-color: transparent;
}

.nav-tabs li.active > a,
.nav-tabs li.active > a:hover {
  color: #ffffff;
  background-color: @brand-primary;
  border-color: transparent;
}

.nav-tabs > li > a:hover > .badge {
	background-color: #fff;
	color: @brand-primary;
}

.nav-tabs .pull-right > a {
	margin-right: 0;
}

.main-nav > li > a {
	padding: 10px;
	line-height: 1.5;
	color: #ddd;

	@media (max-width: @screen-sm-max) {
		padding: 10px 5px;
	}
}

/*	6. Content	*/
.cms-content {
    margin-top: 10px;
}

/*	6.1. FrontPage	*/
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
	width: 100% !important;
}

#my-carousel {
	text-align: center;
	background: transparent !important;
}

#frontpage-bottom ul {
	.list-unstyled();
}

/*	6.2. Contact Page	*/
#google-maps iframe {
	margin-bottom: 10px;
	width: 100%;
}

@media (min-width: @screen-sm) {
	#google-maps iframe {
		height: 450px;
	}
}

/*	6.3. Group Page	*/
.group-description {
	margin: 10px 0;
}

.product-id {
	float: right;
}

@media (max-width: @screen-xs-max) {
	#product-page {
		padding: 0;
	}

	.thumbnails > form > li {
		padding: 0;
	}

	.thumbnail {
		margin: -1px 0 0;
		height: 120px;
		border-radius: 0;
		font-size: 13px;

		.product-image > img {
			height: 110px;
			float: left;
			display: block;
			margin: 0 auto;
			padding: 5px 5px 5px 0;
			width: auto;
		}

		.buy-product {
			padding: 0;
			margin-left: 10px;
		}

		.product-identification {
			margin: 0;
		}

		.product-description {
			margin: 2px 0 0;
		}

		.product-price {
			font-weight: bold;
			padding-left: 5px;
		}

		.row-link {
			height: 100%;
			width: 100%;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
		}
	}

	.product-id {
		float: none;
	}

}

@media (min-width: @screen-sm) {
	.thumbnail {
		height: 350px;
		position: relative;
		font-size: 12px;
	}

	.thumbnail:hover {
		box-shadow: 0 0 8px 1px #444;
	}

	.thumbnail .product-image > img {
		height: 200px;
		text-align: center;
		display: block;
		margin: 0 auto;
		padding: 10px 0	10px 0;
		width: auto;
	}

}

.thumbnails .product-name {
	display: inline;
}

.thumbnail button {
	vertical-align: text-bottom;
	float: left;
}

.thumbnail input {
	bottom: 8px;
	position: absolute;
	vertical-align: text-bottom;
}

.thumbnail span p {
	bottom: 28px;
	position: absolute;
	vertical-align: middle;
}

@media (min-width: @screen-sm) {
	.thumbnail {
		.buy-product {
			position: absolute;
			bottom: 10px;
			padding-left: 0;
		}

		product-price {
			float: right;
			margin: 8px 0 0;
		}
	}
}

.pager {
	padding-left: 15px;
	margin: 0 0 20px;
}

.pager .previous > a {
	border-radius: 0 4px 4px 0;
}

.pager .previous > a:first-of-type {
	border-radius: 4px 0 0 4px;
	border-right: none;
}

.pager .next > a {
	border-radius: 4px 0 0 4px;
}

.pager .next > a:first-of-type {
	border-radius: 0 4px 4px 0;
	border-left: none;
}

/*	6.4. Product Small View	*/
.product-buttons {
	@media (min-width: @screen-sm) {
		position: absolute; bottom: 0; right: 15px;
	}

	@media (min-width: @screen-md) {
		position: absolute; bottom: 0; right: 15px;
	}
}

.product-buttons .cart-button {
	.pull-right;
}

#product-title-small h1 {
	margin-top: 0;
}

#product-title-big {
	padding-left: 15px;
	margin-bottom: 20px;
}

@media (max-width: @screen-xs-max) {
	#product-item-big select {
		margin-top: 10px;
	}

	.product-item-price {
		color: @brand-danger;
	}

	#product-header {
		margin: 10px 0;

		.btn {
			.btn-block;
			text-align: center;
			padding-left: 10px;
			margin-top: 10px;
		}
	}

	.description-text {
		margin: 10px 5px 10px 5px;
		padding: 5px 0px 0px;
		border-top: 1px solid #CCC;
	}
}

@media (min-width: @screen-sm) {
	
	.description-text {
		margin-top: 10px;
		padding: 10px 0 0;
		border-top: 1px solid #ccc;
	}
}

/*	7. Sidebar	*/
/*	8. Forms	*/
.input-group[class*="col-"] {
	padding-left: 0;
	padding-right: 0;
}

/*	9. Tables	*/
/*	9.1 Cart */
#cart-list {
	margin: 10px 0;
}

#cart-list .table {
	margin-bottom: 0;
}

@media (max-width: 992px) {
	#cart-list {
		margin: 10px 0;
		padding: 0 5px;
	}
}

#cart-list .update {
	margin: 0 0 10px;
}

#cart-list td {
	vertical-align: middle;
}

.shop-delete-icon {
	color: #d9534f;
	margin-left: 5px;
}

#cart-list .product-price,
#cart-list .product-discount-amount,
#cart-list .product-discount-percentage,
#cart-list .product-line-total
 {
	text-align: right;
}

.table .last-column {
	text-align: right;
}

#cart-total-list td:last-child {
	text-align: right;
}

#cart-list table {
	border-bottom: 2px solid #ddd;
}

#cart-total-list {
	top: -1px;
}

@media (max-width: 991px) {
	#panelCommentAndPONumber .col-sm-6,
	#panelCommentAndPONumber .col-sm-12 {
		padding-right: 0;
		padding-left: 0;
	}
}

.productlist-description {
	display: block;
	height: 40px;
	overflow: hidden;
}

td.base-price {
	padding-left: 55px;
	text-align: right;
}

#mini-basket p {
	display: inline;
	margin-left: 10px;
}

#mini-basket a.btn {
	text-align: left;
	width: 200px;
}

section.about h1 {
	font-size: 14px;
	line-height: 16px;
	padding-top: 20px;
}

section.about p {
	font-size: 12px;
	line-height: 16px;
}

.page-header {
	border-bottom: 1px solid #EEEEEE;
	margin: 20px 0 30px;
	padding-bottom: 9px;
}

.new-account {
	margin-top: 15px;
}

.basic-padding {
	padding: 15px;
}

.left-padding {
	padding-left: 15px;
}

.right-padding {
	padding-right: 15px;
}

.cards {
	line-height: 2em;
}

.cards a {
	margin: 2px;
}

.nav-list .nav-list {
	font-size: smaller;
}

.teasers div {
	height: 390px;	
	position: relative;
}

.teasers .button {
	bottom: 0;
	padding: 0;
	position: absolute;
	width: 100%;
}

.teasers p {
	font-size: 12px;
	line-height: 16px;
	padding: 0 25px;
}

.teasers a > img {
	max-width: 100%;
	max-height: 220px;
}

.cart-buttons-container {
	display: block;
	width: 100%;
}

.pricelist a.h2 span {
	font-size: 1.5em;
	position: relative;
	left: -6px;
}

.pricelist .price {
    padding-right: 20px;
}

.product-add-to-cart {
	margin-top: 10px;
	position: relative;
	left: 0px;
}

.price-list-price {
	font-size: 20px;
}

.product-add-to-cart .product-quantity {
	float: left;
	margin-right: 5px;
	margin-left: -20px;
}

.order-history-container table.order-history-table th {
	text-align: left;
}

table.order-history-table th:nth-child(3) {
	text-align: center;
}

table.order-history-table th:nth-child(4),
table.order-history-table th:nth-child(5) {
	text-align: right;
}

.modal-body {
	max-height: 600px;
}

.force-margin-to-stay-in-place {
	margin-left: 20px;
}

.product-price-header .h2 {
	font-size: 2em;
}

.product-description, 
.product-price-header,
.product-variant-selector {
	margin-bottom: 1em;
}

.product-details-container .price {
	font-size: 16px;
}

.mini-cart-container {
	vertical-align: bottom;
}

.mini-cart-inner {
	margin-right: 10px;
	display: inline;
	padding: 8px 0;
}

.mini-cart-inner-container {
	padding-top: 8px;
	padding-left: 8px;
	padding-right: 8px;
	height: 29px;
}

.mini-cart-inner-container.active {
	border: 1px solid rgb(221,221,221);
	border-bottom: 0px;
	border-radius: 4px 4px 0 0;
	background-color: white;
}

.mini-cart-inner-container > div,
.mini-cart-inner-container > a {
	margin: 4px 0 0 4px;
}

.mini-cart {
	vertical-align: bottom;
	text-align: right;
}

.mini-cart-container > a {
	vertical-align: bottom;
	padding: 8px 0 0 0;
}

.mini-cart-content-link,
.mini-cart-content-link:hover {
	text-decoration: none;

}

.LoginBoxContent {
  min-width: 180px;
}


.inc-button, .dec-button {
	margin-top: -8px;     
}

.inc-button:hover, .dec-button:hover {
	cursor: pointer;
}

.product-add-to-cart .AddToCartButton {
	margin-top: -54px;
	margin-left: 20px;
}


.nav-list > .active > a {
	background-color: #1e90ff;
	color: #fff;
}

.nav-list > a:active {
	background-color: #1e90ff;
	color: #fff;
}

#language-dropdown {
	padding-left: 5px;
}

.mini-cart-inner-container.active, 
.mini-cart-inner-container.active > a, 
.mini-cart-inner-container:hover, 
.mini-cart-inner-container:hover > a {
    border: 1px solid #000;
    border-bottom: 0px;
    border-radius: 4px 4px 0 0;
    background-color: @brand-primary;
    color: #FFFFFF;
}

.mini-cart-inner-container > div,
.mini-cart-inner-container > a {
    margin: 4px 0 0 4px;
}

.mini-cart {
    vertical-align: bottom;
    text-align: right;
}

.mini-cart-container > a {
    vertical-align: bottom;
    padding: 8px 0 0 0;
}

.mini-cart-content-link,
.mini-cart-content-link:hover {
    text-decoration: none;
}

.modal-body {
	max-height: none;
}

/* Service Portal */
#serviceTable_wrapper {
	margin-top: 10px;
}

.service-order {
	margin-top: 20px;
}

.list-group-item a.pull-right {
    margin-left: 10px;
}

.logo-container {
    margin-bottom: 10px;
}

span.field-validation-error {
    color: red;
    font-weight: bold;
}

input[type="text"].input-validation-error, 
.input-validation-error {
    border-color: red;
    border-width: 1px;
}

a.delete-btn > i {
    color: red;
}

a.delete-btn.trash-can > i {
    color: black;
}

a.edit-btn > i {
    color: gray;
}

a.settings-btn > i {
    color: gray;
}

.list-group > li > span.btn.service-order {
    margin-right: 10px;
}

.list-group > li > div.list-group-text {
    width: 60px;
    display: inline-block;
}

.list-group > li > div.list-group-text > span.btn {
    width: 100%;
    text-align: center;
}

.btn-actions > a {
    margin-left: 10px;
}

div.btn-actions > a.green {
    color: green;
}

div.btn-actions > a.red {
    color: red;
}

.media-query-container {
    position: absolute;
    right: 30px;
    top: 0px;
}

.service-order-comment-panel > .panel > .panel-body > button {
    margin-top: 10px;
}

.service-order-comment-date-column {
    text-align: right;
}

.validation-summary-errors > ul > li, 
.field-validation-error {
    color: red;
    font-weight: bold;
}

.nav-list .nav-list {
    padding-left: 15px;
    font-size: smaller;
}
a.active {
    color: #fff;
    background-color: #08c;
}

        
.top-buffer {
     margin-top:20px;
}

h1.button-header {
    margin: 0;
}

.input-group[class*="col-"] {
    padding-left: 15px;
    padding-right: 15px;
}

/* ---- #language-dropdon ---- */
/* ---- xs ---- */
@media screen and (max-width: 767px) {
	#language-dropdown {
		margin-left: 15px;	
	}
}

.accountinfo-btn-group >a:first-child {
    margin-left: 10px;
}

.ajax-loading-icon,
.devliery-info-loading-icon {
    position: absolute;
    top: 12px;
    right: 20px;
    display: none;
}

.ajax-alert-icon {
    position: absolute;
    top: 12px;
    right: 20px;
    display: none;
}

.validation-summary-valid.alert {
    background-color: transparent;
    border: 0 solid;
    padding: 0;
}

/* Checkout process */
.select-payment-method div {
	margin: 0 auto;
}
.select-payment-method .payment-method {
	height: 50px;
	width: auto;
}

.favorite-btn:hover
{    
    cursor: pointer;
}

.fa-star {
	color: #ffea00;
	text-shadow: 1px 0px 1px #666;
}

.fa-star-o {
	color: #666;
}

.vertical-align {
	display: inline-block;
	vertical-align: middle;
}

.favorite-btn.product-page {
	display: inline-block;
}

.cart-button {
	margin-left: 10px;
}

#cart-total-list-history {
	margin-top: -20px;
}

.checkout-shipping-address .form-group {
	margin-bottom:0;
}

// Progress bar
.checkout-wrap {
  color: #444;
  font-family: 'PT Sans Caption', sans-serif;
  margin: 40px auto;
  max-width: 1200px;
  position: relative;
  width:100%;
}

ul.checkout-bar {
  margin: 0 -40px;
}
ul.checkout-bar li {
  color: #ccc;
  display: block;
  font-size: 16px;
  font-weight: 600;
  padding: 14px 20px 14px 80px;
  position: relative;
}
ul.checkout-bar li:before {
  -webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
  box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
  background: #ddd;
  border: 2px solid #FFF;
  border-radius: 50%;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  left: 20px;
  line-height: 37px;
  height: 35px;
  position: absolute;
  text-align: center;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
  top: 4px;
  width: 35px;
  z-index: 999;
}
ul.checkout-bar li.active {
  color: #8bc53f;
  font-weight: bold;
}
ul.checkout-bar li.active:before {
  background: #8bc53f;
  z-index: 99999;
}
ul.checkout-bar li.visited {
  background: #ECECEC;
  color: #57aed1;
  z-index: 99999;
}
ul.checkout-bar li.visited:before {
  background: #57aed1;
  z-index: 99999;
}
ul.checkout-bar li:nth-child(1):before {
  content: "1";
}
ul.checkout-bar li:nth-child(2):before {
  content: "2";
}
ul.checkout-bar li:nth-child(3):before {
  content: "3";
}
ul.checkout-bar a {
  color: #57aed1;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
}

@media all and (min-width: @screen-sm) {
	.checkout-bar li.active:after {
		-webkit-animation: myanimation 3s 0;
		background-size: 35px 35px;
		background-color: #8bc53f;
		background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
		background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
		-webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
		box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
		content: "";
		height: 15px;
		width: 100%;
		left: 50%;
		position: absolute;
		top: -50px;
		z-index: 0;
	}

	.checkout-bar li.active:last-child:after {
		-webkit-animation: myanimation 3s 0;
		background-size: 35px 35px;
		background-color: #8bc53f;
		background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
		background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
		-webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
		box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
		content: "";
		height: 15px;
		width: 60.5%;
		border-radius: 15px;
		left: 50%;
		position: absolute;
		top: -50px;
		z-index: 0;
	}

  .checkout-wrap {
    margin: 30px auto;
	padding-bottom: 30px;
  }

  ul.checkout-bar {
    -webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    background-size: 35px 35px;
    background-color: #EcEcEc;
    background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.4) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.4) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.4) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.4) 75%, transparent 75%, transparent);
    border-radius: 15px;
    height: 15px;
    margin: 0 auto;
    padding: 0;
    position: absolute;
    width: 100%;
  }
  ul.checkout-bar:before {
    background-size: 35px 35px;
    background-color: #57aed1;
    background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    -webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    content: " ";
    height: 15px;
    left: 0;
    position: absolute;
    width: 15%;
  }
  ul.checkout-bar li {
    display: inline-block;
    margin: 50px 0 0;
    padding: 0;
    text-align: center;
    width: 32%;
  }
  ul.checkout-bar li:before {
    height: 45px;
    left: 40%;
    line-height: 45px;
    position: absolute;
    top: -65px;
    width: 45px;
    z-index: 99;
  }
  ul.checkout-bar li.visited {
    background: none;
  }
  ul.checkout-bar li.visited:after {
    background-size: 35px 35px;
    background-color: #57aed1;
    background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    -webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    content: "";
    height: 15px;
    left: 50%;
    position: absolute;
    top: -50px;
    width: 100%;
    z-index: 99;
  }
}

button.btn-link-danger {
	.btn-link();
	color: @brand-danger;

	&:hover {
		color: darken(@brand-danger, 30%);
	}
}

.use-this-address-block {
	.center-block();
	margin: 5px 0 8px;
}

.modal-footer.no-body {
	margin-top: 0;
	border-top: none;
}

.alert-top {
	.alert();
	margin-top: 20px;
	margin-bottom: 0;
	.alert-dismissable();
}

#miniCartRef {
	@media (min-width: @screen-sm) {
		.pull-right();
	}
}

#product-item-small .product-img {
	margin: 0 10px 0 0;
	& img {
		max-width: 250px;
		width: auto;
		max-height: 250px;
	}
	cursor: zoom-in;
}

#product-item-big .product-img {
	width: 100%;
	height: auto;
}

#VariantCodes {
	margin-bottom: 25px;
}

.elastislide-carousel a:hover {
	text-decoration: none;
}

form.search-bar {
	& .form-control-feedback {
		margin-top: 10px;
		color: #666;
	}
}
@media (max-width: @screen-xs-max) {
	form.search-bar {
		width: 100%;
		padding: 0 10px;
		margin-top: 20px;
	}
}
@media (min-width: @screen-sm) {
	form.search-bar {
		margin-top: 23px;
		margin-left: 5px;
		
	}	
}

#productDropdown {
	margin-top: 10px;
	padding-left: 15px;
	text-align: left;
}

#productDropdown .caret {
	.pull-right;
	margin-top: 8px;
}

.dropdown-menu ul a {
	color: #333;
	display: block;
	padding-left: 30px;
}

.dropdown-menu a.active {
	color: #fff;
}

.dropdown-menu ul {
	list-style-type: none;
	padding-left: 0;
}

.dropdown-menu ul ul {
	padding-left: 0;
}

.dropdown-menu ul ul a {
	padding-left:40px;
}

.dropdown-menu ul ul ul a {
	padding-left: 50px;
}

.dropdown-menu ul ul ul ul a {
	padding-left: 60px;
}

.pricelist-img-column {
	text-align: center;
}

.dataTable thead a {
	display: block;
}

.dataTable tbody tr.selected
{
	transition-property: background-color, color;
	transition-duration: 0.3s;
	transition-timing-function: ease-out;
	background-color: @brand-success;
}

@media (max-width: @screen-xs-max) {
	#product-page .thumbnails {
		margin-top: 60px;
	}
}

@media (min-width: @screen-sm) {
	.sort-label {
		margin: 7px 10px 0 0;
	}

	.sort-option {
		.pull-right;
	}
}

.shipping-address-details .form-control-static {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.checkbox span.displaced-label {
	position: relative;
	top: 3px;
}

.service-order-comment-panel .input-area, .attachment-form-area, .attachment-area
{
	padding: 0;
}

.label-ONHOLD
{
	background-color: #e6e250;
	color: #333;
}

.label-INCOMPLETE
{
	background-color: #f79646;
}

.label-TRAVELSTARTED
{
	background-color: #94d2d6;
}

.label-ACCEPTED
{
	background-color: #96f8fb;
	color: #333;
}

.label-COMPLETED 
{
	background-color: #0a8ce6;
}

.label-OFFDUTY 
{
	background-color: #9f83e5;
}

.label-URGENT
{
	background-color: #f00;
}

.label-STARTED
{
	background-color: #81e455;
	color: #333;
}