﻿@using System.Configuration
@using Resources
@{
    ViewBag.Title = ConfigurationManager.AppSettings["SHOP_TITLE"] + " - " + Language.LABEL_MENU_CATALOG;
    Layout = "~/EISCMS/Views/_CMSLayout.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <h1 class="page-header">@CmsLanguage.CATMAN_LABEL_SYNCHRONIZE</h1>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-sm-4">
                    <div class="menuSpanSync">
                        @CmsLanguage.CATMAN_LABEL_SYNCHRONIZE
                    </div>
                    <div class="form-group">
                        @Html.DropDownList("SyncActions", (SelectList)ViewData["SyncList"], new { @class = "form-control input-sm" })
                    </div>
                    <button id="syncButton" type="button" class="btn btn-sm btn-primary"><i class="fa fa-random fa-fw"></i>&nbsp;@CmsLanguage.CATMAN_LABEL_SYNCHRONIZE</button>
                </div>
                
                <div class="col-sm-4">
                    <div class="menuSpanRoutes">
                        @CmsLanguage.CATMAN_ACTION_CREATE_ROUTES
                    </div>
                    <div class="form-group">
                        @Html.DropDownList("RouteActions", (SelectList)ViewData["RouteList"], new { @class = "form-control input-sm" })
                    </div>
                    <button id="routeButton" type="button" class="btn btn-sm btn-primary"><i class="fa fa-chain fa-fw"></i>&nbsp;@CmsLanguage.CATMAN_ACTION_CREATE_ROUTES</button>
                </div>

                <div class="col-sm-12">
                    <span id="statusContent"></span>
                </div>
            </div>
        </div>
    </div>
    

</div>

<script>

    /*** Route Management ***/
    $('#routeButton').click(function () {
        var parameterValue = $('#SyncActions').val();
        $("#routeVisualWaitDiv").css({ display: 'block' });
        setTimeout(function () {
            createRoutes(parameterValue);
        }, 100);
    });
    function createRoutes(parameterValue) {
        var lblCreatingRoutes = getTranslation("CATMAN_LABEL_CREATING_ROUTES", 'Creating Routes');
        var lblCreatingRoutesDone = getTranslation("CATMAN_ACTION_DONE", 'Done');
        $.ajax({
            type: "POST",
            async: true,
            url: rootUrl + 'Synchronization/CreateRoutes',
            data: parameterValue,
            success: function (result) {
                $('#routeWaitTextDiv').html(lblCreatingRoutesDone).center();
                setTimeout(function () {
                    removeSpinner();
                    $('#routeWaitTextDiv').remove();
                    $("#routeVisualWaitDiv").css({ display: 'none' });
                }, 700);
            },
            error: function () {
                $('#routeWaitTextDiv').html('Error Creating Routes');
                setTimeout(function () {
                    removeSpinner();
                    $('#routeWaitTextDiv').remove();
                    $("#routeVisualWaitDiv").css({ display: 'none' });
                }, 500);
            }
        });
        $('body').append('<div id="routeWaitTextDiv" \/>');
        $('#routeWaitTextDiv').html(lblCreatingRoutes).center();
        setTimeout(function () {
            addSpinner();
        }, 100);
    }

    /***  Synchronization and Polling ***/
    function genGuid() {
        return 1 + (Math.floor(9999 * Math.random()));
    }
    var slpId = null;
    var fpId = null;
    var fastMode = false;
    var syncActionName = '';
    var tOut = null;
    var fastPollInterval = 10;
    var slowPollInterval = 200;

    $(document).ready(function () {
        checkSyncOnLoad();
    });

    function checkSyncOnLoad() {
        commonSyncStartAction();
        var pathString = rootUrl + "Synchronization/SynchronizePoll";
        var callbackResult = commonPostAction(pathString, "");
        if (callbackResult == "-1" || callbackResult == "4") {
            slpId = startSlowPoll();
        }
        else if (callbackResult == "3" || callbackResult.length > 2) {
            errorAction(0, callbackResult);
            slpId = startSlowPoll();
        }
        else {
            if ($.cookie('syncStarter')) {
                startFastPoll(true);
            }
            else {
                startFastPoll(false);
            }
        }
    }

    /* Sync Start Action */
    function commonSyncStartAction() {
        try { $('#statusContent').clearTimeout(tOut); } catch (ex) { }
        var jobId = genGuid();
        var pathString1 = rootUrl + "Synchronization/SyncActionName";
        syncActionName = commonPostAction(pathString1, '');
        return jobId;
    }
    // Sync button onClick() action
    $('#syncButton').click(function () {
        var jobId = commonSyncStartAction();
        var parameterValue = $('#SyncActions').val();
        var parameterNameValue = "actionCommand=" + parameterValue + "&jobId=" + jobId;
        var pathString = rootUrl + "Synchronization/SynchronizeShop";
        var callbackResult = commonPostAction(pathString, parameterNameValue);
        if (callbackResult == "success") {
            syncActionName = $('#SyncActions option:selected').text();
            $('#statusContent').html('<img src="' + rootUrl + 'EISCMS/Content/images/ajax-loader2.gif" /> ' + syncActionName);
            startFastPoll(true);
            $('ul.subnavSync').css({ display: 'none' });
        }
        else if (callbackResult == "UnauthorizedAccessException") {
            $('#statusContent').html(getTranslation('CATMAN_LABEL_ERROR_STARTING_JOB', 'Error starting job! The App_Data folder requires write permissions.')).css({ color: "red" });
            setTimeout(function () {
                $('#statusContent').html('');
            }, 7000);
        }
        else if (callbackResult == "Exception") {
            $('#statusContent').html(getTranslation('CATMAN_LABEL_ERROR_STARTING_JOB', 'Error starting job! The App_Data folder requires write permissions.')).css({ color: "red" });
            setTimeout(function () {
                $('#statusContent').html('');
            }, 7000);
        }
        else if (callbackResult == "fail") {
            $('#statusContent').html(getTranslation('CATMAN_LABEL_ANOTHER_JOB_RUNNING', 'An other job is already running.')).css({ color: "red" });
            setTimeout(function () {
                $('#statusContent').html('<img src="' + rootUrl + 'EISCMS/Content/images/ajax-loader2.gif" /> ' + syncActionName);
            }, 7000);
        }
        else if (callbackResult == "ERROR") {
            errorAction(0, callbackResult);
        }
        else {
            alert(callbackResult);
        }
    });

    function startFastPoll(isStarter) {
        endPoll(slpId);
        fastMode = true;
        $('#statusContent').html('<img src="' + rootUrl + 'EISCMS/Content/images/ajax-loader2.gif" /> ' + syncActionName).css({ color: "#ABCDEF" });
        var intervalId = setInterval(function () { syncPoll(intervalId); }, fastPollInterval * 1000);
        if (isStarter) {
            var date = new Date();
            date.setTime(date.getTime() + (30 * 60 * 1000));
            $.cookie('syncStarter', intervalId, { path: "/", expires: date });
        }
        return intervalId;
    }

    function endPoll(intervalId) {
        clearInterval(intervalId);
    }

    function errorAction(intervalId, errorMessage) {
        errorLoop += 1;
        //if ($.cookie('syncStarter') && errorLoop == 1) {
            var title = getTranslation('CATMAN_LABEL_SYNC_ERROR_HEADER', 'Error');
            var confirmText;
            if ($.cookie('syncStarter')) {
                $.cookie('syncStarter', intervalId, { path: "/", expires: -5 });
                confirmText = getTranslation('CATMAN_LABEL_SYNC_ERROR_RESET', 'Reset sync files?');
            } else {
                confirmText = getTranslation('CATMAN_LABEL_SYNC_ERROR_NONSTARTER_RESET', 'You did not start this job. Reset the sync files anyway?');
            }
            errorMessage += "<br/><b>" + confirmText + "</b>";
            jConfirm(errorMessage, title, function(approved) {
                if (approved) {
                    var parameterNameValue = "actionCommand=" + " " + "&guid=" + " ";
                    var pathString = rootUrl + "Synchronization/ResetSync";
                    commonPostAction(pathString, parameterNameValue);
                }
            });
            $('#statusContent').html('');
            //errorLoop = 0;
        //}
    }

    var errorLoop = 0;
    function syncPoll(intervalId) {
        var pathString = rootUrl + "Synchronization/SynchronizePoll";
        var callbackResult = commonPostAction(pathString, "");
        if (callbackResult != null) {
            if (callbackResult != "-1" && (syncActionName == "_semaphore_.txt" || syncActionName == '')) {
                syncActionName = commonPostAction(rootUrl + "Synchronization/SyncActionName", '');
            }
            if (callbackResult == "-1") {
                if (fastMode) {
                    endPoll(intervalId);
                    slpId = startSlowPoll();
                }
                try {
                    if ($.cookie('syncStarter')) {
                        $.cookie('syncStarter', intervalId, { path: "/", expires: -5 });
                    }
                } catch (er) { }
                try {
                    $('#statusContent').html('');
                } catch (er) { }
            }
            if (callbackResult == "0") {
                if (!fastMode) {
                    fpId = startFastPoll(false);
                }
                try {
                    $('#statusContent').html('<img src="' + rootUrl + 'EISCMS/Content/images/ajax-loader2.gif" /> ' + syncActionName).css({ color: "#AAABBB" });
                } catch (er) { }
            }
            if (callbackResult == "1" || callbackResult == "2") {
                if (!fastMode) {
                    fpId = startFastPoll(false);
                }
                try { $('#statusContent').html('<img src="' + rootUrl + 'EISCMS/Content/images/ajax-loader2.gif" /> ' + syncActionName).css({ color: "#AAABBB" }); } catch (er) { }
            }
            if (callbackResult == "3" || callbackResult.length > 2) {
                errorAction(intervalId, callbackResult);
            }
            if (callbackResult == "4") {
                try {
                    $('#statusContent').html('<img src="' + rootUrl + 'EISCMS/Content/images/ok.png" /> ' + syncActionName).css({ color: "green" });
                    tOut = setTimeout(function () {
                        $('#statusContent').html('');
                    }, 2000);
                } catch (er) { }
            }
        }
    }

    function startSlowPoll() {
        fastMode = false;
        var slowIntervalId = setInterval(function () {
            syncPoll(slowIntervalId);
        }, slowPollInterval * 1000);
        return slowIntervalId;
    }

    /*** End Syncronization And Polling ***/

</script>


