﻿@using EISCS.ExpandITFramework.Util
@using EISCS.Routing.Providers
@using Mvc.Mailer
@using Resources
@using ViewModels

@model ProductsViewModel

<h4>@Language.LABEL_RECOMMENDED_FOR_YOU</h4>
<table>
    <tr>
        @foreach (ProductsViewModel.ProductItem item in Model.ProductItems)
        {
            <td>
                <table>
                    <tr>
                        <td>
                            <a class="product-image" runat="server" href="@Url.Abs(item.ProductLink)">
                                <b>@item.ProductName</b></a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a class="product-image" runat="server" href="@Url.Abs(item.ProductLink)">
                                <img src="@Url.Abs(Url.Content(item.Picture2))" alt="@item.ProductName" />
                            </a>
                        </td>
                    </tr>
                </table>
            </td>
        }
    </tr>
</table>
