﻿@using EISCS.ExpandITFramework.Util
@using EISCS.Routing.Providers
@using Resources
@using ViewModels

@model ProductsViewModel

<div class="col-md-8 col-sm-8 ">
    @if (Model.ProductItems.Count > 0)
    {
        <h4>@Language.LABEL_RECOMMENDED_FOR_YOU</h4>
    }
    <ul class="thumbnails list-unstyled">
        @foreach (ProductsViewModel.ProductItem item in Model.ProductItems)
        {
            using (Html.BeginForm("Add", "Cart", FormMethod.Post, new { id = "updateForm_" + @item.ProductGuid }))
            {
            <li class="col-md-4 col-sm-6">
                <div class="thumbnail">
                    <a href="@item.ProductLink" class="visible-xs row-link"><span></span></a>
                    <a class="product-image" runat="server" href="@item.ProductLink">
                        <img class="group-img" src="@Url.Content(item.Picture2)" alt="@item.ProductName" />
                    </a>
                    <div class="caption">
                        <p class="product-identification">
                            <span class="product-price bold pull-right visible-xs">
                                @item.DisplayListPrice
                            </span>
                            <a class="product-name" href="@item.ProductLink">
                                <strong>@item.ProductName</strong>
                            </a>
                            <br class="visible-xs" />
                            <span class="product-id">@item.ProductGuid</span>
                            <input type="hidden" name="ProductGuid" value="@item.ProductGuid" />
                            <input type="hidden" name="VariantCode" id="VariantCode" value="@item.VariantCode"/>
                            <input type="hidden" name="ProductName" value="@item.ProductName" />
                            <input type="hidden" name="IsFavorite" value="@item.IsFavorite" />
                        </p>
                        <p class="product-description">
                            @Html.Raw(item.ShortDescription)
                        </p>
                        <div class="buy-product col-md-11 col-sm-11 center-block hidden-xs">
                            @if (item.VariantSelect.IsNullOrEmpty() && Model.HasCartAccess)
                            {
                                <button class="btn btn-primary btn-sm" type="submit"><i class="fa fa-plus-circle"></i> @Language.ACTION_ADD_TO_ORDER_PAD</button>
                                <p class="h4 product-price bold pull-right">
                                    @item.DisplayListPrice
                                </p>
                            }
                            else
                            {
                                <a class="btn btn-info pull-right btn-sm" href="@item.ProductLink">
                                    <i class="fa fa-info-circle"></i> @Language.LABEL_SEE_MORE
                                </a>
                                <p class="h4 product-price bold">&nbsp;</p>
                            }
                        </div>
                    </div>
                </div>
            </li>
            }
        }
    </ul>
</div>
