﻿@using System.Configuration
@using Resources
@model FormModels.ShippingAddress.ShippingAddressItemFormModel

@{
	ViewBag.Title = ConfigurationManager.AppSettings["SHOP_TITLE"] + " - " + Language.LABEL_MINI_CART_HEAD;
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
	<div class="col-sm-offset-2">
		<h2>@Language.LABEL_SHIPPING_ADDRESS</h2>

		@using (Html.BeginForm("Add", "Checkout", FormMethod.Post, new {@class = "form-horizontal well col-sm-8"}))
		{
			if (!ViewData.ModelState.IsValid)
			{
				<div class="alert alert-danger alert-dismissable">
					<button class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
					@Html.ValidationSummary(false, string.Empty, new {Class = ""})
				</div>
			}
			@Html.Partial("Partials/_EditShippingAddressForm")

			<button type="submit" class="btn btn-primary col-sm-offset-2"><i class="fa fa-plus-circle"></i> @Language.ACTION_ADD_SHIPPING_ADDRESS</button>
		}
	</div>
</div>