﻿<!--
Template information used by the Catalog Manager
#NAME=EEPG Processor Page
#DESCRIPTION=Displays the EEPG Results
#GROUPTEMPLATE=TRUE
#PRODUCTTEMPLATE=FALSE
#PROPERTYGROUP=NAME, ALIAS, REDIRECTURL, TEMPLATE, TITLE, CONTROLLER | Page Properties
#PROPERTYGROUP=HTMLDESC | Additional Info
-->

@using System.Configuration
@using Resources
@model ViewModels.CartViewModel
@{
    ViewBag.Title = ConfigurationManager.AppSettings["SHOP_TITLE"] + " - " + Language.LABEL_MINI_CART_HEAD;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>The EEPG Processor resulted in an error message:</h2>
<div id="error_msg">
    @ViewBag.Error
</div>