﻿<!--
Template information used by the Catalog Manager
#NAME=EEPG Processor Page
#DESCRIPTION=Displays the EEPG Results
#GROUPTEMPLATE=TRUE
#PRODUCTTEMPLATE=FALSE
#PROPERTYGROUP=NAME, ALIAS, REDIRECTURL, TEMPLATE, TITLE, CONTROLLER | Page Properties
#PROPERTYGROUP=HTMLDESC | Additional Info
-->

@using System.Configuration
@using Resources
@model ViewModels.CartViewModel
@{
    ViewBag.Title = ConfigurationManager.AppSettings["SHOP_TITLE"] + " - " + Language.LABEL_MINI_CART_HEAD;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Successful CC processor</h1>
<div id="eepg_success">
    The Credit Card processing was successful.  Results:
    <ul>
        <li>Transaction ID: @ViewBag.eepgDict["PaymentTransactionID"]</li>
        <li>Transaction Amount: @ViewBag.eepgDict["PaymentTransactionAmount"]</li>
        <li>Encrypted Data: @ViewBag.eepgDict["PaymentEncryptedData"]</li>
        <li>Last Numbers: @ViewBag.eepgDict["PaymentLastNumbers"]</li>
        <li>Card Type: @ViewBag.eepgDict["PaymentCardType"]</li>
    </ul>
</div>