﻿@using System.Configuration
@using Resources
@model ViewModels.Order.OrderHistoryViewModel
@{
    ViewBag.Title = ConfigurationManager.AppSettings["SHOP_TITLE"] + " - " + Language.LABEL_MENU_HISTORY;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section header
{
    <link rel="stylesheet" href="@Url.Content("~/Content/datatables/dataTables.bootstrap.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/customer.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/typeahead.css")" />
    <script type="text/javascript" src="@Url.Content("~/Content/datatables/jquery.dataTables.js")"> </script>
    <script type="text/javascript" src="@Url.Content("~/Content/datatables/dataTables.bootstrap.js")"> </script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/typeahead.bundle.min.js")"> </script>
}

<div class="container">
    <h1>@Language.LABEL_HISTORY_INFORMATION</h1>
    <div class="top10 pull-right">
        @Html.Partial("../shared/Order/_OrderLookup")
    </div>
    <div>
        @Html.Partial("../shared/Order/_Order", Model.OrderView)
    </div>
    <div>
        <a class="btn btn-primary" href="@Url.Action("Reorder", "OrderHistory", new { headerGuid = Model.OrderView.HeaderGuid })">@Language.ACTION_REORDER</a>
    </div>
    <br />
    <div class="row">
        &nbsp;
    </div>
    <div class="row">
        <div class="col-xs-12 no-padding-xs">
            @Html.Raw(Model.CmsEditedHtml)
        </div>
    </div>
    <p class="description-text">
        @(Model.OrderView.PricesIncludingVat ? Language.LABEL_PRICES_ARE_INLUDING_TAX : Language.LABEL_PRICES_ARE_EXLUDING_TAX)
    </p>
</div>
