﻿<!--
Template information used by the Catalog Manager
#NAME=Order History Page
#DESCRIPTION=Displays a order history page.
#GROUPTEMPLATE=TRUE
#PRODUCTTEMPLATE=FALSE
#PROPERTYGROUP=NAME, ALIAS, REDIRECTURL, TEMPLATE, TITLE, CONTROLLER | Page Properties
#PROPERTYGROUP=HTMLDESC | Additional Info    
-->

@using System.Configuration
@using EISCS.ExpandIT
@using Resources
@using ViewModels.Order
@model OrderHistoryViewModel
@{
    ViewBag.Title = ConfigurationManager.AppSettings["SHOP_TITLE"] + " - " + Language.LABEL_MENU_HISTORY;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section header
{
    <link rel="stylesheet" href="@Url.Content("~/Content/datatables/dataTables.bootstrap.css")" />  
    <link rel="stylesheet" href="@Url.Content("~/Content/customer.css")" />          
    <link rel="stylesheet" href="@Url.Content("~/Content/typeahead.css")" />          
    <script type="text/javascript" src="@Url.Content("~/Content/datatables/jquery.dataTables.min.js")"> </script>
    <script type="text/javascript" src="@Url.Content("~/Content/datatables/dataTables.bootstrap.js")"> </script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/typeahead.bundle.min.js")"> </script>
}

<div class="container">
    <h1>@Language.LABEL_HISTORY_INFORMATION</h1>
    @if (Model != null && Model.OrderViewList.Count > 0)
    {
        <table class="table table-hover top15" id="historyTable">
            <thead>
                <tr>
                    <th>@Language.LABEL_ORDER</th>
                    <th>@Language.LABEL_DATE</th>
                    <th>@Language.LABEL_USERDATA_CURRENCY_1</th>
                    <th>@Language.LABEL_TOTAL</th>                    
                    <th>@Language.LABEL_INCLUSIVE_VAT</th>   
                </tr>
            </thead>
            <tbody>
                @foreach (OrderViewModel order in Model.OrderViewList)
                {
                    <tr>
                        <td> <a href="@Url.Action("Details", "OrderHistory", new {headerGuid = order.HeaderGuid})">@order.CustomerReference</a></td>
                        <td>@Html.DisplayFor(model => order.HeaderDate)</td>
                        <td>@order.CurrencyGuid</td>
                        <td>@CurrencyFormatter.FormatCurrency(order.Total, order.CurrencyGuid)</td>
                        <td>@CurrencyFormatter.FormatCurrency(order.TotalInclTax, order.CurrencyGuid)</td>
                    </tr>
                }
            </tbody>
        </table>
        <script>
            $(document).ready(function() {
                $('#historyTable').DataTable({
                    'serverSide': false,
                    'order' : [[1, 'desc']],
                    'processing': true,
                    'language': { 'url': i18nHelper.getDataTableLangUrl() }
                });
            });
        </script>
    }
    else
    {
        <div class="alert alert-info top15">
            @Language.LABEL_NO_HISTORY_AVAILABLE
        </div>
    }
    
    @if (Model != null)
    {
        <div class="row">
            &nbsp;
        </div>
        <div class="row">
            <div class="col-xs-12 no-padding-xs">
                @Html.Raw(Model.CmsEditedHtml)
            </div>
        </div>
    }
</div>