﻿legend {
    color: #2B6FB6;
    font-weight: bold;
}

/* two column template */
#flow_wrapper_main
{
    width: 640px;
    /*margin-left: auto;*/
    margin-right: auto;
}
#flow_left
{
    width: 310px;
    margin-top: 10px;
    float: left;   
}
#flow_right
{
    width: 310px;
    min-height: 310px;
    float: right;
    position:relative;    
    /*background-color: #f7f7f7;    */
    padding: 10px;
    color: #000111;    
}

#upload_table_area
{
    padding: 10px 0px 5px 0px;
}

.file_upload_area
{
    min-height: 170px;
}

.file_view_area
{
    padding: 14px 0px 14px 10px;
}

.image_view_area
{
    min-height: 300px;
    min-width: 120px;
}

#image_view
{   
    width: 280px;
    margin-left: auto;    
    margin-right: auto;
    padding-top: 15px;
}

.buttons_right
{    
    clear: both;
    min-width: 360px;    
}

#insert
{
    position: absolute;
    top: 440px;
    left: 200px;
}

#cancel
{
    position: absolute;
    top: 440px;
    left: 300px;
}

.input_table
{
    padding-top: 8px;
    margin-top: 12px;
}

.mceActionPanel
{
    clear: both;
}

/*---------------------------------------- FILE TREE ---------------------------------------*/
.example
            {
                float: left;
                margin: 15px;
            }
            
            .demo
            {                
                width: 94%;                
                height:152px;                
                border: 1px solid #DAD0D0;
                border-radius: 4px;
                background: #FFF;                
                overflow: auto;                
                margin: 5px 0px 5px 0px;
            }

            .multi_filetree_area {
                height:222px;
            }
            
            .upload-popup-filetree
            {
                width: 270px;                
                height: 250px;                
                border-top: solid 1px #BBB;
                border-left: solid 1px #BBB;
                border-bottom: solid 1px #FFF;
                border-right: solid 1px #FFF;
                border: 2px inset #DAD0D0;
                background: #FFF;                
                overflow: auto;
                padding: 5px;
                margin: 5px 0px 5px 0px;
            }
            
            P.note
            {
                color: #999;
                clear: both;
            }
            UL.jqueryFileTree
            {
                font-family: Verdana, sans-serif;
                font-size: 11px;
                line-height: 18px;
                padding: 0px;
                margin: 0px;
            }
            
            UL.jqueryFileTree LI
            {
                list-style: none;
                padding: 0px;
                padding-left: 20px;
                margin: 0px;
                white-space: nowrap;
            }
            
            UL.jqueryFileTree A
            {
                color: #333;
                text-decoration: none;
                display: block;
                padding: 0px 2px;
            }
            
            UL.jqueryFileTree A:hover
            {
                background: #BDF;
            }
            
            /* Core Styles */
            .jqueryFileTree LI.directory
            {
                background: url("images/directory.png");
                background-position: left top;
                background-repeat: no-repeat;                
            }
            .jqueryFileTree LI.expanded
            {
                background: url("images/folder_open.png");
                background-position: left top;
                background-repeat: no-repeat;      
            }
            .jqueryFileTree LI.file
            {
                background: url("images/file.png");
                background-position: left top;
                background-repeat: no-repeat; 
            }
            .jqueryFileTree LI.wait
            {
                background: url("images/spinner.gif");
                background-position: left top;
                background-repeat: no-repeat; 
            }
            /* File Extensions*/
            .jqueryFileTree LI.ext_3gp
            {
                background: url("images/film.png");
                background-position: left top;
                background-repeat: no-repeat; 
            }
            .jqueryFileTree LI.ext_afp
            {
                background: url("images/code.png");
                background-position: left top;
                background-repeat: no-repeat; 
            }
            .jqueryFileTree LI.ext_afpa
            {
                background: url("images/code.png");
                background-position: left top;
                background-repeat: no-repeat; 
            }
            .jqueryFileTree LI.ext_asp
            {
                background: url("images/code.png");
                background-position: left top;
                background-repeat: no-repeat; 
            }
            .jqueryFileTree LI.ext_aspx
            {
                background: url("images/code.png");
                background-position: left top;
                background-repeat: no-repeat; 
            }
            .jqueryFileTree LI.ext_avi
            {
                background: url("images/film.png");
                background-position: left top;
                background-repeat: no-repeat; 
            }
            .jqueryFileTree LI.ext_bat
            {
                background: url("images/application.png");
                background-position: left top;
                background-repeat: no-repeat; 
            }
            .jqueryFileTree LI.ext_bmp
            {
                background: url("images/picture.png");
                background-position: left top;
                background-repeat: no-repeat; 
            }
            .jqueryFileTree LI.ext_c
            {
                background: url("images/code.png");
                background-position: left top;
                background-repeat: no-repeat; 
            }
            .jqueryFileTree LI.ext_cfm
            {
                background: url("images/code.png");
                background-position: left top;
                background-repeat: no-repeat; 
            }
            .jqueryFileTree LI.ext_cgi
            {
                background: url("images/code.png");
                background-position: left top;
                background-repeat: no-repeat; 
            }
            .jqueryFileTree LI.ext_com
            {
                background: url("images/application.png");background-position: left top;background-repeat: no-repeat; 
            }
            .jqueryFileTree LI.ext_cpp
            {
                background: url("images/code.png");background-position: left top;background-repeat: no-repeat;
            }
            .jqueryFileTree LI.ext_css
            {
                background: url("images/css.png");background-position: left top;background-repeat: no-repeat;
            }
            .jqueryFileTree LI.ext_doc
            {
                background: url("images/doc.png");background-position: left top;background-repeat: no-repeat;
            }
            .jqueryFileTree LI.ext_exe
            {
                background: url("images/application.png");background-position: left top;background-repeat: no-repeat;
            }
            .jqueryFileTree LI.ext_gif
            {
                background: url("images/picture.png");background-position: left top;background-repeat: no-repeat;
            }
            .jqueryFileTree LI.ext_fla
            {
                background: url("images/flash.png");background-position: left top;background-repeat: no-repeat;
            }
            .jqueryFileTree LI.ext_h
            {
                background: url("images/code.png");background-position: left top;background-repeat: no-repeat;
            }
            .jqueryFileTree LI.ext_htm
            {
                background: url("images/html.png");background-position: left top;background-repeat: no-repeat;
            }
            .jqueryFileTree LI.ext_html
            {
                background: url("images/html.png");background-position: left top;background-repeat: no-repeat;
            }
            .jqueryFileTree LI.ext_jar
            {
                background: url("images/java.png");background-position: left top;background-repeat: no-repeat;
            }
            .jqueryFileTree LI.ext_jpg
            {
                background: url("images/picture.png");background-position: left top;background-repeat: no-repeat;
            }
            .jqueryFileTree LI.ext_jpeg
            {
                background: url("images/picture.png");background-position: left top;background-repeat: no-repeat;
            }
            .jqueryFileTree LI.ext_js
            {
                background: url("images/script.png");background-position: left top;background-repeat: no-repeat;
            }
            .jqueryFileTree LI.ext_lasso
            {
                background: url("images/code.png");background-position: left top;background-repeat: no-repeat;
            }
            .jqueryFileTree LI.ext_log
            {
                background: url("images/txt.png");background-position: left top;background-repeat: no-repeat;
            }
            .jqueryFileTree LI.ext_m4p
            {
                background: url("images/music.png");background-position: left top;background-repeat: no-repeat;
            }
            .jqueryFileTree LI.ext_mov
            {
                background: url("images/film.png");background-position: left top;background-repeat: no-repeat;
            }
            .jqueryFileTree LI.ext_mp3
            {
                background: url("images/music.png");background-position: left top;background-repeat: no-repeat;
            }
            .jqueryFileTree LI.ext_mp4
            {
                background: url("images/film.png");background-position: left top;background-repeat: no-repeat;
            }
            .jqueryFileTree LI.ext_mpg
            {
                background: url("images/film.png");background-position: left top;background-repeat: no-repeat;
            }
            .jqueryFileTree LI.ext_mpeg
            {
                background: url("images/film.png");background-position: left top;background-repeat: no-repeat;
            }
            .jqueryFileTree LI.ext_ogg
            {
                background: url("images/music.png");background-position: left top;background-repeat: no-repeat;
            }
            .jqueryFileTree LI.ext_pcx
            {
                background: url("images/picture.png");background-position: left top;background-repeat: no-repeat;
            }
            .jqueryFileTree LI.ext_pdf
            {
                background: url("images/pdf.png");background-position: left top;background-repeat: no-repeat;
            }
            .jqueryFileTree LI.ext_php
            {
                background: url("images/php.png");background-position: left top;background-repeat: no-repeat;
            }
            .jqueryFileTree LI.ext_png
            {
                background: url("images/picture.png");background-position: left top;background-repeat: no-repeat;
            }
            .jqueryFileTree LI.ext_ppt
            {
                background: url("images/ppt.png");background-position: left top;background-repeat: no-repeat;
            }
            .jqueryFileTree LI.ext_psd
            {
                background: url("images/psd.png");background-position: left top;background-repeat: no-repeat;
            }
            .jqueryFileTree LI.ext_pl
            {
                background: url("images/script.png");background-position: left top;background-repeat: no-repeat;
            }
            .jqueryFileTree LI.ext_py
            {
                background: url("images/script.png");background-position: left top;background-repeat: no-repeat;
            }
            .jqueryFileTree LI.ext_rb
            {
                background: url("images/ruby.png");background-position: left top;background-repeat: no-repeat;
            }
            .jqueryFileTree LI.ext_rbx
            {
                background: url("images/ruby.png");background-position: left top;background-repeat: no-repeat;
            }
            .jqueryFileTree LI.ext_rhtml
            {
                background: url("images/ruby.png");background-position: left top;background-repeat: no-repeat;
            }
            .jqueryFileTree LI.ext_rpm
            {
                background: url("images/linux.png");background-position: left top;background-repeat: no-repeat;
            }
            .jqueryFileTree LI.ext_ruby
            {
                background: url("images/ruby.png");background-position: left top;background-repeat: no-repeat;
            }
            .jqueryFileTree LI.ext_sql
            {
                background: url("images/db.png");background-position: left top;background-repeat: no-repeat;
            }
            .jqueryFileTree LI.ext_swf
            {
                background: url("images/flash.png");background-position: left top;background-repeat: no-repeat;
            }
            .jqueryFileTree LI.ext_tif
            {
                background: url("images/picture.png");background-position: left top;background-repeat: no-repeat;
            }
            .jqueryFileTree LI.ext_tiff
            {
                background: url("images/picture.png");background-position: left top;background-repeat: no-repeat;
            }
            .jqueryFileTree LI.ext_txt
            {
                background: url("images/txt.png");background-position: left top;background-repeat: no-repeat;
            }
            .jqueryFileTree LI.ext_vb
            {
                background: url("images/code.png");background-position: left top;background-repeat: no-repeat;
            }
            .jqueryFileTree LI.ext_wav
            {
                background: url("images/music.png");background-position: left top;background-repeat: no-repeat;
            }
            .jqueryFileTree LI.ext_wmv
            {
                background: url("images/film.png");background-position: left top;background-repeat: no-repeat;
            }
            .jqueryFileTree LI.ext_xls
            {
                background: url("images/xls.png");background-position: left top;background-repeat: no-repeat;
            }
            .jqueryFileTree LI.ext_xml
            {
                background: url("images/code.png");background-position: left top;background-repeat: no-repeat;
            }
            .jqueryFileTree LI.ext_zip
            {
                background: url("images/zip.png");background-position: left top;background-repeat: no-repeat;
            }
            
            
            /* Context Menu Styles */
#fileHandlingMenu{background: #FFF;border: 1px solid #444;display: none;width: 100px;}
#fileHandlingMenu ul, #fileHandlingMenu ul *{padding: 0;margin: 0;}
#fileHandlingMenu ul li{list-style: none;border: 1px solid #444;padding: 5px 5px 5px 40px;display: block;}
.mmenu-hover{background: #999999;color: #FFF; cursor: pointer;} 
#fileHandlingMenu li{color: #000;font-size: 8pt;font-family: Segoe UI, Trebuchet MS, Tahoma, Calibri, Arial, Sans-Serif;font-weight: bold;text-decoration: none;}

#mcreate_tmce{background-image: url("images/newgroup.png");background-position: 10px 2px;background-repeat: no-repeat;}
#mdelete_tmce{background-image: url("images/delete.png");background-position: 10px 2px;background-repeat: no-repeat;} 

.rename
{
    /*background-color: #888FFF; */
}

DIV.ProgressBar { width: 100px; padding: 0; border: 1px solid black; margin-right: 1em; height:.75em; margin-left:1em; display:-moz-inline-stack; display:inline-block; zoom:1; *display:inline; }
DIV.ProgressBar DIV { background-color: Green; font-size: 1pt; height:100%; float:left; }
SPAN.asyncUploader OBJECT { position: relative; top: 5px; left: 10px; }