﻿<!--
Template information used by the Catalog Manager
#NAME=Product Search
#DESCRIPTION=Displays a search page.
#GROUPTEMPLATE=TRUE
#PRODUCTTEMPLATE=FALSE
#PROPERTYGROUP=NAME, ALIAS, REDIRECTURL, TEMPLATE, STARTDATE, ENDDATE, TITLE, CONTROLLER | Page Properties
#PROPERTYGROUP=HTMLDESC | HTML
#PROPERTYGROUP=DESCRIPTION | GROUP INFO
-->

@using System.Configuration
@using EISCS.ExpandITFramework.Util
@using Resources
@model Controllers.Templates.ProductSearchModel
@{
    ViewBag.Title = ConfigurationManager.AppSettings["SHOP_TITLE"] + " - " + @Language.LABEL_MENU_SEARCH;
    Layout = "~/Views/Shared/_CleanLayout.cshtml";
}

<h2>@Language.LABEL_MENU_SEARCH</h2>

<div class="row">
    <div class="col-sm-12">
        @Html.Raw(Model.HtmlContent)
    </div>
</div>

@Html.Partial("partials/searchform", @Model.ProductsView.Control)
@if (!Model.ProductsView.Control.SearchString.IsNullOrEmpty() && Model.ProductsView.ProductItems.Count == 0)
{
    <div class="row">
        <div class="col-sm-12">
            <p>@Language.LABEL_NO_PRODUCTS_MATCHED_THE_SEARCH</p>
        </div>
    </div>
}
@if (Model.ProductsView.ProductItems.Count > 0)
{
    @Html.Partial("~/Views/GroupProduct/partials/_ProductList.cshtml", @Model.ProductsView)
    @Html.Partial("~/Views/shared/_Pager.cshtml", @Model.ProductsView)
}

<script type="text/javascript">
    var markUrl = '@Url.Action("MarkAsFavorite", "Favorite")?productGuid=';
    var unmarkUrl = '@Url.Action("UnmarkAsFavorite", "Favorite")?productGuid=';
    $(document).ready(markAndUnMarkFavorites(unmarkUrl, markUrl, false));
</script>