﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="preview.aspx.vb" Inherits="templates_preview"
    ValidateRequest="false" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title></title>
</head>
<body class="PreviewBody">
    <div id="previewPane" style="padding-left: 5px; padding-right: 5px; padding-top: 5px;">
        <%= str %>
        <br />
    </div>
</body>
</html>
