﻿@{
    Layout = "~/Views/shared/_Layout.cshtml";
}

@section header {
    <script type="text/javascript" src="@Url.Content("~/Script/favorites.js")"></script>
	<link rel="stylesheet" href="@Url.Content("~/Content/datatables/dataTables.bootstrap.css")" />
	<link rel="stylesheet" href="@Url.Content("~/Content/fancybox/jquery.fancybox.css?v=2.1.5")" type="text/css" media="screen" />
	<script type="text/javascript" src="@Url.Content("~/Content/fancybox/jquery.fancybox.pack.js?v=2.1.5")"></script>
}


<div id="clean-layout" class="col-xs-12 col-sm-12 col-md-12">
    @RenderBody()
</div>

