﻿@using System.Configuration
@using System.Threading
@using Resources
@using StackExchange.Profiling
@{
    
}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
	    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>@ViewBag.Title</title>
	    <link rel="stylesheet" type="text/css" href="~/Content/expandit-bootstrap.min.css" />
        <link href="~/Content/switch/bootstrap-switch.min.css" rel="stylesheet">
		@*<link rel="stylesheet" type="text/css" href="~/Content/expandit-bootstrap.css" />*@
		<link rel="stylesheet" type="text/css" href="~/Content/customer.css" />
		<link rel="stylesheet" href="~/Content/font-awesome/css/font-awesome.css" />
	    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")"> </script>
		
		@RenderSection("header", false)
		@if (ConfigurationManager.AppSettings.Get("ENABLE_GOOGLE_ANALYTICS") == "1")
		{
			<text>
				<script>
				    (function (i, s, o, g, r, a, m) {
				        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
				            (i[r].q = i[r].q || []).push(arguments)
				        }, i[r].l = 1 * new Date(); a = s.createElement(o),
				            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
				    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

				    ga('create', '@ConfigurationManager.AppSettings.Get("GOOGLE_ANALYTICS_TRACKING_KEY")', 'auto');
				    ga('send', 'pageview');

				</script>
			</text>
		}
        
	    <style>
	        #browserAdvise {
	            position: absolute;
	            position: fixed;
	            z-index: 111111;
	            width: 100%;
	            top: 0px;
	            left: 0px;
	            border-bottom: 1px solid #A29330;
	            background: #FDF2AB no-repeat 13px center url("@Url.Content("~/images/redlight.png")");
                text-align: left;
	            cursor: pointer;
	            font-family: Arial,Helvetica,sans-serif;
	            color: #000;
	            font-size: 12px;
            }

            #browserAdvise div {
                padding: 5px 36px 5px 40px;
            }

            #broserAdviseClose {
                position: absolute;
                right: 6px;
                top: -4px;
                height: 20px;
                width: 12px;
                font-weight: bold;
                font-size: 18px;
                padding: 0;
                color: #333;
            }
    	</style>
	</head>
	<body>
		<div id="wrap">
			<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="top-bar">
				<div class="navbar-inner">
					<div class="container">
						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<a class="navbar-brand" href="~/"><img id="site-logo" src="~/Content/images/Expandit_logo_neg_RGB_S.png" alt="logo" /></a>
						</div>

						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<form class="navbar-form navbar-left hidden" role="search">
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Search">
								</div>
								<button type="submit" class="btn btn-default">@Language.ACTION_SEARCH</button>
							</form>
							@Html.Action("ToolbarMenu", "ExpandItMenu")
						</div>
						<!-- /.navbar-collapse -->
					</div>
				</div>
			</nav>
		
			<div id="main-bar" class="navbar">
				<div class="container">
					@Html.Action("TopMenu", "ExpandItMenu", new {currentMenuId = ViewBag.MenuId ?? -1})
				</div>
			</div>

			<div class="container content-wrapper">
				<div class="page-wrapper">
					@RenderBody()
				</div>
			</div>
		</div>
	    <footer id="footer">
	        <div class="container">
	            @{ Html.RenderAction("GetCompanyInfo", "BusinessCenter");}
	        </div>
	    </footer>
        <!--[if lte IE 8]>
            <div id="browserAdvise" class="hidden">
                <div>
                    @Language.MESSAGE_BROWSER_NOT_SUPPORTED <a href="@Language.INSTALL_BROWSER_URL">@Language.LABEL_CLICK_HERE_TO_INSTALL</a>
                </div>
                <div id="broserAdviseClose">×</div>
            </div>
        <![endif]-->
	    <script type="text/javascript" src="@Url.Content("~/Scripts/Bundles/jquery-ui/jquery-ui.js")"> </script>
	    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.storageapi.min.js")"> </script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/EIS.js")"></script>
	    <script type="text/javascript" src="@Url.Content("~/Content/expandit-bootstrap/bootstrap/dist/js/bootstrap.min.js")"> </script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/switch/bootstrap-switch.min.js")"></script>

	    <script type="text/javascript">
    	    EIS.Translate.init({
    	        translationsUrl: '@Url.Action("GetTranslations", "Translation")',
    	        forceReload: true
    	    });

	        $(document).ready(function () {
	            checkCookie();

    	        $('#my-carousel').carousel({
    	            interval: 5000,
    	            cycle: true
    	        });

	            $("#broserAdviseClose").click(function() {
	                $("#browserAdvise").hide();
	                setCookie("browserNotSupported", "true", 1);
	            });
	        });
    	</script>
        @MiniProfiler.RenderIncludes()
	</body>
</html>