﻿@using ViewModels
@model ExpanditMenuViewModel

<a href="@Url.Action("Index", "Cart")">
    <span class="fa fa-shopping-cart"></span>
    @if (Model.TotalAmount == 0)
    {
        <span class="hidden-sm hidden-xs">@Model.NumberOfItemsText</span>
        <span class="visible-sm-inline"><span class="badge">0</span></span>
    }
    else
    {
        <span class="hidden-sm hidden-xs"><span class="badge">@Model.NumberOfItemsText</span>
            @( Model.TotalAmountText)
        </span>
        <span class="visible-sm-inline"><span class="badge">@Model.TotalAmountText</span></span>
    }
</a>
