﻿@using Resources
@model ViewModels.ProductsViewModel

@{
    var previousDisabled = @"disabled";
    var nextDisabled = @"disabled";
    var totalPages = Model.Control.GetTotalPages();
    var maxItemsInPage = Model.Control.GetStartIndex1Based() + Model.Control.GetMaxEndIndex(Model.Control.GetStartIndex1Based()) - 1;
    if (Model.Control.HasPreviousPage())
    {
        previousDisabled = String.Empty;
    }

    if (Model.Control.HasNextPage())
    {
        nextDisabled = String.Empty;
    }
}

@if (Model.Control.GetTotalPages() > 1)
{
    <div class="row">
        @if (!string.IsNullOrEmpty(Model.Control.SearchString))
        {
           <p>@Language.LABEL_SHOWING_PRODUCTS_PAGINATION.Replace("%s1", Model.Control.GetStartIndex1Based().ToString()).Replace("%s2", maxItemsInPage.ToString()).Replace("%s3", Model.Control.TotalItems.ToString())</p>
        }
        <div class="col-md-6 pull-right">
            <ul class="pagination pull-right">
                <li class="@previousDisabled">
                    <a href="@Model.Control.CreateLink(Model.Control.PageNumber - 1)" aria-label="@Language.ACTION_PREVIOUS">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                
                @for (var i = 1; i <= Model.Control.GetTotalPages(); i++)
                {
                    var currentPage = Model.Control.PageNumber;
                    if (currentPage == i)
                    {
                        <li class="active">
                            <a href="#">@i</a>
                        </li>
                    }
                    else if (i == 1 || i == Model.Control.GetTotalPages() || (i >= currentPage - 2 && i <= currentPage + 2))
                    {
                        <li>
                            <a href="@Model.Control.CreateLink(i)">@i</a>
                        </li>
                    }
                }

                <li class="@nextDisabled">
                    <a href="@Model.Control.CreateLink(Model.Control.PageNumber + 1)" aria-label="@Language.ACTION_NEXT">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
}