﻿@{
    Layout = "~/Views/shared/_Layout.cshtml";
}

@section header {
    <script type="text/javascript" src="@Url.Content("~/Script/favorites.js")"></script>
	<link rel="stylesheet" href="@Url.Content("~/Content/datatables/dataTables.bootstrap.css")" />
	<link rel="stylesheet" href="@Url.Content("~/Content/fancybox/jquery.fancybox.css?v=2.1.5")" type="text/css" media="screen" />
	<script type="text/javascript" src="@Url.Content("~/Content/fancybox/jquery.fancybox.pack.js?v=2.1.5")"></script>
	<link type="text/css" href="@Url.Content("~/Content/product-slider/css/elastislide.css")" media="screen" rel="stylesheet" />
	<script src="@Url.Content("~/Content/product-slider/js/modernizr.custom.17475.js")"></script>
}


<div class="row">
    <div class="col-sm-3 col-xs-12">
        @{ Html.RenderAction("ProductMenu", "ExpandItMenu", new { currentMenuId = ViewBag.MenuId ?? -1 }); }
    </div>

    <div id="product-page" class="col-sm-9 col-xs-12">
        @RenderBody()
    </div>
</div>

<script>
    $(document).ready(function() {
        // Fixes sub-nav not working as expected on IOS
        $('body').on('touchstart.dropdown', '.dropdown-menu', function (e) { e.stopPropagation(); });
    });
</script>