﻿@using System.Configuration
@using Resources
@{
    ViewBag.Title = ConfigurationManager.AppSettings["SHOP_TITLE"] + " - " + CmsLanguage.LABEL_IMAGE_SCALE_AND_CROP;
    Layout = "~/EISCMS/Views/_CMSLayout.cshtml";
}
<script type="text/javascript" src="@Url.Content("~/Content/cropper/cropper.min.js")"></script>
<link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/cropper/cropper.min.css")"/>
<style>
      .display-results {
          display: flex;
          margin-bottom: 12px;
      }
      .tools {
          display: flex;
          margin-bottom: 12px;
          justify-content: space-between;       
      }
      .imagePreviewContainer {
          flex: 1 1 400px;
          margin-left: 12px;
      }
      .imagePreview {          
          border: 2px solid goldenrod;
          height: 400px;
          width: 200px;
          overflow: hidden;
      }
      #results-container {
          display: none;
      }
      #fileupload {
          width: 800px;
      }
</style>
<form id="imageForm">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="page-header">@CmsLanguage.LABEL_IMAGE_SCALE_AND_CROP</h1>
        </div>
    </div>
    <div class="tools">
        <input id="fileupload" type="file" class="form-control" >
        <div>
            @CmsLanguage.LABEL_FULL_IMAGE:
            <input type="radio" name="ratio" value="2" checked/>
            @CmsLanguage.LABEL_WIDE_FORMAT:
            <input type="radio" name="ratio" value="1" >
            @CmsLanguage.LABEL_HIGH_FORMAT:
            <input type="radio" name="ratio" value="3"/>
            @CmsLanguage.LABEL_SMALL_IMAGE:
            <input type="radio" name="ratio" value="4"/>
        </div>
    </div>
    <div id="results-container">
        <div class="display-results">
            <img id="image" src="" class="cropper-hidden"/>
            <div class="imagePreviewContainer">
                Preview
                <div class="imagePreview"></div>
            </div>
        </div>
        <div class="input-group col-sm-6">
            <a class="btn btn-default" download id="save">Save</a>
        </div>
    </div>
</form>
<script type="text/javascript">
    var sourceImage;
    var saveLink;
    var aspectRatio;
    var imageSize = {};
    var selectedFile;
    var endPoint = '@Url.Action("SaveImage", "ImageHandler")';

    $(document).ready(function() {
        sourceImage = $('#image');
        saveLink = $('#save');

        $('#fileupload').change(function () {
            if (!this.files || !this.files.length || !sourceImage.data('cropper'))
                return;

            selectedFile = this.files[0];
            if (/^image\/\w+$/.test(selectedFile.type)) {
                var blobUrl = URL.createObjectURL(selectedFile);
                sourceImage.one('built.cropper', function () {                    
                    URL.revokeObjectURL(blobUrl); // Revoke when load complete.
                }).cropper('clear').cropper('reset').cropper('replace', blobUrl);
                sourceImage.val('');
                $('#results-container').show();
            } else {
                window.alert('Please choose an image file.');
            }
        });

        $('input[name="ratio"]').on('change', function () {
            sourceImage.cropper('clear');
            sourceImage.cropper('reset');
            setRatioAndSize($(this));
        });

        function setRatioAndSize(rb) {
            saveLink.hide();

            var el = rb || $('input[name="ratio"]:checked');
            switch (el.val()) {
                case "1": // Bred
                    imageSize = { width: 526, height: 220 };
                    break;
                case "2": // Fuld
                    imageSize = { width: 526, height: 440 };
                    break;
                case "3": // Høj
                    imageSize = { width: 263, height: 440 };
                    break;
                case "4": // Lille
                    imageSize = { width: 263, height: 220 };
                    break;
                default:
                    throw "Unknown value " + el.val();
            }

            aspectRatio = imageSize.width / imageSize.height;
            console.log('aspect', aspectRatio, imageSize);
            sourceImage.cropper('setAspectRatio', aspectRatio);
        }

        function setFileName() {
            var fileName = selectedFile.name;
            var index = fileName.lastIndexOf('.');
            if (index) {
                fileName = fileName.substring(0, index);
            }
            fileName = fileName + '_' + imageSize.width + 'x' + imageSize.height + '.png';
            console.log('filename', fileName);
            saveLink.attr('download', fileName);
        }

        function prepareForDownload() {
            var canvas = sourceImage.cropper('getCroppedCanvas', imageSize);
            var imageData = canvas.toDataURL("image/png");
            saveLink.attr('href', imageData);
            setFileName();
            saveLink.show();
        }

        sourceImage.cropper({
            preview: '.imagePreview',
            autoCrop: false,
            cropstart: function(e) {
                console.log('cropstart', e);
                saveLink.hide();
            },
            cropend: function(e) {
                console.log('cropEND', e);
                prepareForDownload();
            }
        });

        setRatioAndSize();
    });
</script>
<!-- https://github.com/fengyuanchen/cropper/ -->