﻿/*
*
* BUSINESS CENTER OFFICIAL CSS
*
*/

@import "variables.less";

select::-ms-expand {
            width:12px;
            border:none;
            background:#fff;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    select#Languages {
        position: relative;
        top: 10px;
    }
}

/* Fix Bootstrap CSS */
.nav>li>a:focus {
    background-color: transparent;
}

/* Custom hacks*/
.square-picture-centered {
    text-align: center;
}

.square-picture-centered img {
    max-width: 100%;
    width: auto;
    height: auto;
    vertical-align: middle;
    border-radius: 4px;
}

.width-70 {
    width: 70px;
}

.min-width-70 {
    min-width: 70px;
}
img.max-height-60 {
    max-height: 60px;
}

img.max-height-80 {
    max-height: 80px;
}

.margin-top-12 {
    margin-top: 12px;
}

table>tbody>tr.vertical-align-middle>td {
    vertical-align: middle;
}

th.small-column {
    width: 1px;
}

#edit-product-template .picture-thumbnail {
    width: 80px;
    float: left;
    position: relative;
    text-align: center;
}

.no-padding-left {
    padding-left: 0;
}

.blue-text {
	color: @brand-primary;
}

.bold {
	font-weight: bold;
}

#emailLink {
	.blue-text;
}

.clear {
    clear: both;
}

/* ------- SITEMAP ------- */
#sitemap {
    overflow-y: auto;
    margin-left: auto;
    margin-right: auto;
    list-style: none;
    background: #333;
    padding-bottom: 10px;
    padding-left: 60px;
    margin-top: -4px;
}

#sitemap ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#sitemap ul li {
    padding-left: 20px;
}

#sitemap a {
    display: block;
    padding-top: 2px;
}

#sitemap .expand
{
    height: 16px;
    display: block;
    float: left;
    margin-top: 2px;
}
#sitemap .expand:hover,
#sitemap .contract:hover
{
    cursor: pointer;
}

.treewrap{border: none;}
.treewrap fieldset{margin-left: -4px;margin-right: 0px;padding: 1px;border: 4px solid #333333;overflow-x: auto; background-color:#EFF3F5;}

#sitemap a:hover {
    text-decoration: underline;
    background: transparent;
}

#sitemap .sortablezone {
    visibility: visible; 
    padding-top:3px; 
    padding-bottom:3px;
    line-height: 0;
}

#sitemap .sortablezone img {
	visibility: hidden;
}

#sitemap li a {
    padding-left: 0;
}

#sitemap dl, #sitemap dt {
    margin: 0;
}

#sitemap dd {
    visibility: collapse;
}

/* Icon on group label */
#sitemap li>dl:before {
    content: "\f07c";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: rgb(237, 194, 64);
    float: left;
    font-size: 14px;
    padding-right: 4px;
}

#sitemap li>dl {
    margin-left: 0.8em;
}

#sitemap li>span+dl {
    margin-left: 0;
}

#sitemap li>span:before {
    content: "\f0d7";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #fff;
    float: left;
    font-size: 12px;
    padding-right: 0.5em;
}

#sitemap li>span.contract:before {
    content: "\f0da";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #fff;
    float: left;
    font-size: 12px;
    padding-right: 0.5em;
}

#sitemap span.isparent dl {
    content: "\f016";
}

#sitemap a {
    background-color: transparent;
}

#sitemap a.active:after {
    right: 0;
    border: 8px solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-right-color: #f1f1f1;
    margin-top: -1px;
}

.dropzoneProduct-hover dt a { background-color: #6081AE !important;}
.dropzoneGroup-hover{ background-color: #DFB062;}

#session-timeout-dialog {
    display: none;
	top: 30%;
}

.ui-dialog { z-index: 100000 !important ;}

/* Context Menu Styles */
#myMenu {
    display: none;
    width: 100px;
}

.mmenu-hover {
    background: #0074a2;
    color: #fff;
    cursor: pointer;
}
#myMenu li {
    font-size: 12px;
    text-decoration: none;
}

#myMenu .list-group-item {
    padding: 5px 15px;
}

.input-group-btn:not(:first-child):not(:last-child)>.btn {
    border-radius: 0;
}

#selectPictureModal .modal-body .picture-preview {
    padding-top: 5px;
}

#selectPictureModal .modal-body .picture-preview .picture {
    text-align: center;
}

#selectPictureModal .modal-body .picture-preview .picture img {
    height: 150px;
    width: auto;
}

#selectPictureModal .modal-body .picture-preview .info {
    margin-top: 10px;
}

.popupUploadAreaWrapper {
    padding: 20px 15px;
    position: relative;
}

/* The Multi Image Window */
#imageAreaWrapper{ width:58%;float:left;margin-left:1%;margin-right:1%}
#thumbAreaWrapper{ width:38%;float:right;margin-left:1%;margin-right:1%;}
.popupMultiImageSaveAreaWrapper {float:right; padding-top:80px;}
#hata
{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 16px;
}
#data
{
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 16px;
    color: #333333;    
}

#multi_image_filterArea input[type="text"]{ width: 100px;}
.multi_image_thumbnailFiledset{ height: 313px; color:#333333;}
#multi_image_btn_zoom{font-size:xx-small;float:right;margin-right:12px;margin-top:14px;border-style:none;border-width:0px;}
.multi_image_thumbArea{margin-top:4px;height:100px;width:100%;}
.multi_image_property_area{ margin-top:4px;height:130px;width:100%}

.multi_image_property_area table
{
    border-spacing: 0;
    border-collapse:collapse;
}

#popupMultiImage #picArea
{    
    height: 202px;    
    color:Black;
}

#picArea
{
    color:Black;
}

.multi_image_placeholder {width: 50px; border: 1px solid #fed22f; background: #ffe45c url(../js/jquery-ui-1.11.2/images/ui-bg_highlight-soft_75_cccccc_1x100.png) 50% top repeat-x; color: #363636; }
.multi_image_div_thumb_button{ float:right; margin-top:34px;}
#multi_image_btn_add{font-size:xx-small;margin-right:4px;border-style:none;border-width:0px;}
#multi_image_btn_update{font-size:xx-small;margin-right:4px;border-style:none;border-width:0px;}
#multi_image_btn_remove{font-size:xx-small;margin-right:4px;border-style:none;border-width:0px;}
#popupMultiImage .popupSaveAreaWrapper{ position:relative; top:80px; width:28%; float:right;margin-left:1%;margin-right:1%; text-align:right;} 

.modalWithoutTitleBar .ui-dialog-titlebar { display:none; }

@media (min-width: 768px) {
    .form-horizontal label.control-label-left {
        padding-top: 7px;
        margin-bottom: 0;
        text-align: left;
    }
}

.input-group-btn select {
	border-color: #ccc;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 7px;
    padding-bottom: 7px;
}

/* Login Window */
#loginWindow {
    background-color: #9F9F9F;
}

#zeroUsersMessage {
    margin-top: 15px;
    padding-top: 10px;
    border-top: 1px solid #ddd;
}

.product-actions {
    padding-bottom: 12px;
}

#editorcontent .tab-content {
    padding: 20px 10px 10px;
    border: 1px solid #ddd;
    border-top: none;
    background: #fcfcfc;
}

#editorcontent .nav-tabs>li>a:hover, 
#editorcontent .nav-tabs>li>a:focus {
    background-color: #ddd;
}

#editorcontent .nav-tabs>li.active>a, 
#editorcontent .nav-tabs>li.active>a:hover, 
#editorcontent .nav-tabs>li.active>a:focus {
    background-color: #fcfcfc;
}
.mce-fullscreen {
    z-index: 1001 !important;
}

.picture-modal .picture img {
    height: 150px;
    width: auto;
}

/* OrderDetail */
#orderDetail h2 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 9px;
    margin: 5px 0 20px;
    font-size: 36px;
}

#orderDetail #lineTable {
    margin-bottom: 0;
}

#orderDetail hr {
    display: none;
}

/* -- Business Center -- */
#chatSalesPills {
    margin-bottom: 20px;
}
/* -- END Business Center -- */
/* Group Edit */
#groupeditform {
    margin-top: 20px;
}

/* Changes to sb-admin2 */
@media(min-width: 768px) {
    #page-wrapper {
        margin: -21px 0 0 300px;
    }

    .sidebar {
        width: 300px;
    }
}

/* Product dataTables */
#productTable_wrapper td, #groupProductTable td {
    vertical-align: middle;
}

.page-top-bar
{
	margin: 20px 0;
}
.page-top-bar-right {
    .page-top-bar();
	.pull-right();
}

.page-top-bar-left
{
	.page-top-bar();
}

#kpiTable td.kpi-percentage
{
	font-style: italic;
}

#kpiTable .kpi-total, #kpiTable .kpi-percentage
{
	text-align: right;
}

.negative-value
{
	color: @brand-danger;
}

.positive-value
{
	color: @brand-success;
}

#savemessagetext
{
	color: #555;
	font-weight: bold;
	z-index: 10000000;
	position: absolute;
	display: none;
	width: 100px;
	height: 100px;
	background-color: rgba(200,200,200,0.8);
	border-radius: 11px;
	padding-top: 39px;
	text-align: center;
}

#throbber
{
	-webkit-animation: spin 3s linear infinite;
	-moz-animation: spin 3s linear infinite;
	animation: spin 3s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.min-width-100
{
	min-width: 100px;
}

.input-group[class*="col-"] {
    padding-left: 15px;
    padding-right: 15px;
}

// Users
table#usersList tbody td {
    vertical-align: middle;
}