﻿@using ViewModels.ServiceAttachment
@model ServiceAttachments

@if (@Model.AttachmentList.Any())
{
    foreach (ServiceAttachmentListViewModel attachment in @Model.AttachmentList)
    {
        <div id="attachment-@attachment.BASGuid" class="col-md-12 well well-sm attachment-@attachment.BASGuid" data-guid="@attachment.BASGuid">
            <div class="col-md-2">
                @attachment.FileName
            </div>
            <div class="col-md-7">
                @attachment.Description
            </div>
            <div class="col-md-2">
                @attachment.SavedTime
            </div>
            <div class="col-md-1">
                <span class="pull-right delete-attachment" data-guid="id-@attachment.BASGuid" data-serviceorderguid="id-@Model.ServiceOrderBasGuid"><i class="fa fa-times fa-lg" style="color: red;"></i></span>
            </div> 
        </div>
    }
}
