﻿@using System.Configuration
@using Resources
@model FormModels.RegisterCmsUserFormModel

@{
    Layout = "~/EISCMS/Views/_CMSLayout.cshtml";
    ViewBag.Title = ConfigurationManager.AppSettings["SHOP_TITLE"] + " - " + CmsLanguage.CATMAN_LABEL_ADD_USER;
}

<div class="row">
    <div class="col-sm-12">
        <h1 class="page-header">@CmsLanguage.CATMAN_LABEL_ADD_USER</h1>
    </div>
</div>
<div class="row">

    @using (@Html.BeginForm("AddUser", "Account", FormMethod.Post, new { @class = "", @role = "form" }))
    {
        @Html.AntiForgeryToken()

        <div class="col-md-12">
            @if (!ViewData.ModelState.IsValid)
            {
                <div class="alert alert-danger alert-dismissable">
                    <button class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    @Html.ValidationSummary(false, string.Empty, new { Class = "" })
                </div>
            }
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label class="control-label">@CmsLanguage.CATMAN_LABEL_USERNAME</label>
                <div class="input-group">
                    @Html.TextBoxFor(u => u.UserName, new { Class = "form-control", @autofocus = "autofocus" })
                    <span id="" class="input-group-addon">*</span>
                </div>
                @Html.ValidationMessageFor(u => u.UserName, null, new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <label class="control-label">@CmsLanguage.LABEL_ROLE</label>
                <select name="RoleId" id="" class="form-control with-radius">
                    <option disabled selected>@Language.ACTION_SELECT</option>
                    @foreach (KeyValuePair<string, string> role in Model.RoleList)
                    {
                        <option value="@role.Key" @((role.Key.Equals(Model.RoleId)) ? "selected" : null)>@role.Key</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <label class="control-label">@Language.LABEL_USERDATA_PASSWORD</label>
                <div class="input-group">
                    @Html.PasswordFor(u => u.Password, new { Class = "form-control" })
                    <span id="" class="input-group-addon">*</span>
                </div>
                @Html.ValidationMessageFor(u => u.Password, null, new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <label class="control-label">@Language.LABEL_USERDATA_CONFIRM_PASSWORD</label>
                <div class="input-group">
                    @Html.PasswordFor(u => u.ConfirmedPassword, new { Class = "form-control" })
                    <span id="" class="input-group-addon">*</span>
                </div>
                @Html.ValidationMessageFor(u => u.ConfirmedPassword, null, new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary"><i class="fa fa-plus-circle"></i>@CmsLanguage.CATMAN_LABEL_ADD_USER</button>
                <button type="reset" class="btn btn-default"><i class="fa fa-refresh"></i>@Language.ACTION_RESET</button>
            </div>
        </div>
    }
</div>

<script>
    $(document).ready(function () {
        $("button[type=reset]").click(function () {
            $("input").empty();
            $(this).children("i").addClass("fa-spin");
            $(".alert:visible").hide("slow");
            $(".text-danger:visible").hide("slow");
            var theButton = this;
            setTimeout(function () {
                $(theButton).children("i").removeClass("fa-spin");
            }, 1000);
        });
    });
</script>
