﻿@using System.Configuration
@using Resources
@model FormModels.UserPasswordFormModel

@{
    Layout = "~/EISCMS/Views/_CMSLayout.cshtml";
    ViewBag.Title = ConfigurationManager.AppSettings["SHOP_TITLE"] + " - " + CmsLanguage.CATMAN_MENU_CHANGE_PASSWORD;
}

<div class="row">
    <div class="col-sm-12">
        <h1 class="page-header">@CmsLanguage.CATMAN_MENU_CHANGE_PASSWORD</h1>
    </div>
</div>
<div class="row">
        
    @using (@Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new {@class = "", @role = "form"}))
    {
        @Html.AntiForgeryToken()

        <div class="col-md-12">
            @if (!ViewData.ModelState.IsValid)
            {
            <div class="alert alert-danger alert-dismissable">
                <button class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                @Html.ValidationSummary(false, string.Empty, new {Class = ""})
            </div>
            }
            else if(Model.Success)
            {
            <div class="alert alert-success alert-dismissable">
                <button class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                @Html.DisplayTextFor(u => u.Message)
            </div>
            }
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label class="control-label">@Language.LABEL_USERDATA_PASSWORD</label>
                <div class="input-group">
                    @Html.TextBoxFor(u => u.CurrentUserPassword, new {Class = "form-control", type = "password", autofocus = "autofocus"})
                    <span id="" class="input-group-addon">*</span>
                </div>
                @Html.ValidationMessageFor(u => u.CurrentUserPassword, null, new {@class = "text-danger"})
            </div>

            <div class="form-group">
                <label class="control-label">@Language.LABEL_USERDATA_NEW_PASSWORD</label>
                <div class="input-group">
                    @Html.TextBoxFor(u => u.NewUserPassword, new {Class = "form-control", type = "password"})
                    <span id="" class="input-group-addon">*</span>
                </div>
                @Html.ValidationMessageFor(u => u.NewUserPassword, null, new {@class = "text-danger"})
            </div>

            <div class="form-group">
                <label class="control-label">@Language.LABEL_USERDATA_NEW_PASSWORD_CONFIRM</label>
                <div class="input-group">
                    @Html.TextBoxFor(u => u.ConfirmedNewUserPassword, new {Class = "form-control", type = "password"})
                    <span id="" class="input-group-addon">*</span>
                </div>
                @Html.ValidationMessageFor(u => u.ConfirmedNewUserPassword, null, new {@class = "text-danger"})
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary"><i class="fa fa-check-square-o"></i> @Language.ACTION_CHANGE</button>
                <button type="reset" class="btn btn-default"><i class="fa fa-refresh"></i> @Language.ACTION_RESET</button>
            </div>
        </div>
    }
</div>

<script>
    $(document).ready(function() {
        $("button[type=reset]").click(function() {
            $("input").empty();
            $(this).children("i").addClass("fa-spin");
            $(".alert:visible").hide("slow");
            $(".text-danger:visible").hide("slow");
            var theButton = this;
            setTimeout(function() {
                $(theButton).children("i").removeClass("fa-spin");
            }, 1000);
        });
    });
</script>