﻿@using System.Configuration
@using Resources
@model ViewModels.LoginModel
@{
    ViewBag.Title = ConfigurationManager.AppSettings["SHOP_TITLE"] + " - " + @Language.LABEL_MENU_LOGIN;
    var members = (int)ViewData["MEMBERS"];
}

<!DOCTYPE html>
<html>
    <head>
        <title>@ViewBag.Title</title>

        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Standard Bootstrap CSS -->
        <link rel="stylesheet" type="text/css" href="@Url.Content("~/EISCMS/Content/css/bootstrap.min.css")" />
        <!-- DataTables -->
        <link rel="stylesheet" href="@Url.Content("~/Content/datatables/dataTables.bootstrap.css")" />
        <!-- MetisMenu CSS -->
        <link href="@Url.Content("~/EISCMS/Content/css/plugins/metisMenu/metisMenu.min.css")" rel="stylesheet">
        <!-- Custom Fonts -->
        <link rel="stylesheet" href="@Url.Content("~/Content/font-awesome/css/font-awesome.css")" />
        <!-- jQuery-ui CSS -->
        <link href="@Url.Content("~/EISCMS/Content/js/jquery-ui-1.11.2/jquery-ui.min.css")" rel="stylesheet">
        <!-- Custom CSS -->
        <link href="@Url.Content("~/EISCMS/Content/css/custom.css")" rel="stylesheet">
        <script src="~/EISCMS/Content/js/jquery-1.11.0.js"></script>
        <script src="~/EISCMS/Content/js/jquery-ui-1.11.2/jquery-ui.min.js"></script>
    </head>
    <body id="loginWindow">
        <div id="wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <div class="panel panel-default login-box">
                            <div class="panel-heading">
                                <h3 class="panel-title">@CmsLanguage.CATMAN_MENU_LOGIN</h3>
                            </div>
                            <div class="panel-body">
                                
                                    @using (Html.BeginForm(new {ViewBag.ReturnUrl}))
                                    {
                                        @Html.AntiForgeryToken()
                
                                        if (!ViewData.ModelState.IsValid)
		                                {
			                                <div class="alert alert-danger alert-dismissable">
				                                <button class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				                                @Html.ValidationSummary(true, string.Empty, new {Class = ""})
			                                </div>
		                                }
                                        
                                        @Html.HiddenFor(m => m.ReturnUrl)
                                        
                                        <fieldset>
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.UserName, new {@class="control-label"})
                                                <div class="input-group">
                                                    <div class="input-group-addon">
                                                        <i class="fa fa-user"></i>
                                                    </div>
                                                    @Html.TextBoxFor(m => m.UserName, new {@class = "form-control", @id = "login-box", @autofocus="autofocus", @placeholder=@CmsLanguage.CATMAN_LABEL_USERNAME})
                                                </div>
                                                @Html.ValidationMessageFor(m => m.UserName, null, new {@class="text-danger"})
                                            </div>
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.Password, new {@class="control-label"})
                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-lock"></i>
                                                </div>
                                                @Html.PasswordFor(m => m.Password, new {@class = "form-control", @placeholder=@CmsLanguage.CATMAN_LABEL_PASSWORD})
                                            </div>
                                            @Html.ValidationMessageFor(m => m.Password, null, new {@class="text-danger"})

                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                @Html.CheckBoxFor(m => m.RememberMe, new {@class = "checkbox-inline"}) @Language.LABEL_REMEMBER_ME</label>
                                        </div>
                                        <button class="btn btn-lg btn-success btn-block" type="submit">@CmsLanguage.CATMAN_MENU_LOGIN</button>
                                    </fieldset>
                                    }
                                    
                                @if (members == 0)
                                {
                                    <div id="zeroUsersMessage">
                                        <p>@CmsLanguage.CATMAN_MESSAGE_ZERO_USERS</p>
                                        <p>
                                            @CmsLanguage.CATMAN_LABEL_DEFAULT_USERNAME<br/>
                                            @CmsLanguage.CATMAN_LABEL_DEFAULT_PASSWORD
                                        </p>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>

<script>
    $(document).ready(function() {
        positionVerticalCenter();

        $(window).resize(function() {
            positionVerticalCenter();
        });
    });

    function positionVerticalCenter() {
        var windowHeight = $(window).height();
        var loginBoxHeight = $('.login-box').innerHeight();

        var mathLogin = (windowHeight / 2) - (loginBoxHeight / 2);
        $('.login-box').css('margin-top', mathLogin);
    }
</script>