﻿@using System.Configuration
@using System.Web.Mvc.Html
@using EISCS.Shop.DO.Dto
@using Resources
@model List<EISCS.Shop.DO.Dto.BusinessCenterUser>

@{
    Layout = "~/EISCMS/Views/_CMSLayout.cshtml";
    ViewBag.Title = ConfigurationManager.AppSettings["SHOP_TITLE"] + " - " + CmsLanguage.CATMAN_MENU_ADMIN;
}

<div class="row">
    <div class="col-sm-12">
        <h1 class="page-header">@CmsLanguage.CATMAN_MENU_ADMIN</h1>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <a href="@Url.Action("AddUser", "Account")" class="btn btn-primary"><i class="fa fa-plus-circle"></i> @CmsLanguage.CATMAN_LABEL_ADD_USER</a>
        <table class="table table-striped">
            <thead>
                <tr >
                    <th>@CmsLanguage.CATMAN_LABEL_USERNAME</th>
                    <th>@CmsLanguage.CATMAN_LABEL_LAST_LOGIN_DATE</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (BusinessCenterUser member in Model)
                {
                    <tr>
                        <td>@member.UserLogin</td>
                        <td>@member.LastLoginDate</td>
                        <td class="text-right">
                            @using (@Html.BeginForm("DeleteUser", "Account", new { userName = member.UserLogin }, FormMethod.Post, new { @id = "form_" + member.UserLogin }))
                            {
                                @Html.Hidden(member.UserLogin)
                            }
                            @if (!member.IsSuperUser)
                            {
                            <button class="btn btn-warning btn-sm reset-password-button" data-user="@member.UserGuid"><i class="fa fa-rotate-left"></i> @CmsLanguage.CATMAN_LABEL_RESET_PASSWORD</button>
                            }
                            else
                            {
                            <button class="btn btn-warning btn-sm disabled" data-user="@member.UserGuid"><i class="fa fa-rotate-left"></i> @CmsLanguage.CATMAN_LABEL_RESET_PASSWORD</button>
                            }
                            @if (Model.Count > 1 && !member.IsSuperUser)
                            {
                                <button class="btn btn-danger btn-sm delete-user-button" data-toggle="modal" data-target=".delete-user-confirmation" data-user="@member.UserLogin"><i class="fa fa-minus-circle"></i> @CmsLanguage.CATMAN_LABEL_DELETE_USER</button>
                            }
                            else
                            {
                                <button class="btn btn-danger btn-sm disabled" data-toggle="modal" data-target=".delete-user-confirmation" data-user="@member.UserLogin" disabled="disabled"><i class="fa fa-minus-circle"></i> @CmsLanguage.CATMAN_LABEL_DELETE_USER</button>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade delete-user-confirmation" tabindex="-1" role="dialog" aria-labelledby="delete-user-confirmation" aria-hidden="false">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">@CmsLanguage.CATMAN_CONFIRM_DELETE</h4>
            </div>
            <div class="modal-body" hidden>
            </div>
            <div class="modal-footer no-body">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal"><i class="fa fa-times-circle"></i> @Language.ACTION_CLOSE</button>
                <button class="btn btn-danger pull-right" onclick="confirmDelete()"><i class="fa fa-trash-o"></i> @CmsLanguage.CATMAN_ACTION_DELETE</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade reset-password-confirmation" tabindex="-1" role="dialog" aria-labelledby="reset-password-confirmation" aria-hidden="false">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">@Language.ACTION_CLOSE</span></button>
                <h4 class="modal-title">@Language.LABEL_USERDATA_NEW_PASSWORD</h4>
            </div>
            <div class="modal-body">
                    <div class="form-group">
                        <input class="text-center newPasswordText form-control" />                    
                    </div>
            </div>
        </div>
    </div>
</div>

<script>
    var userName;
    var newPassword;

    $(".delete-user-button").click(function() {
        userName = $(this).data("user");
    });

    $(".reset-password-button").click(function() {
        var user = $(this).data("user");
        $.ajax({
            url: "@Url.Action("ResetPassword", "Account")",
            data: {
                userGuid: user
            },
            success: function (data) {
                newPassword = data;
                $(".reset-password-confirmation").modal();
            }
        });
    });

    $(".reset-password-confirmation").on("show.bs.modal", function(e) {
        $(".newPasswordText").val(newPassword);
    });

    $(".reset-password-confirmation").on("shown.bs.modal", function (e) {
        $(".newPasswordText").select();
    });

    function confirmDelete() {
        $("#form_" + userName).submit();
    };
</script>