﻿@using EISCS.CMS.CentralManagement.Helpers
@model List<EISCS.CMS.CentralManagement.Models.ViewModels.ManagementViewModel>

@{
    Layout = "~/EISCMS/Views/_CentralManagementLayout.cshtml";
}

<div class="managementTable">
    <table>
        <tr>
            @foreach (var o in ViewData.Model)
            {
                <th>
                    @Html.Raw(o.Description)
            </th>
            }
        </tr>  
        <tr>
            @foreach (var o in ViewData.Model)
            {
                if (string.IsNullOrWhiteSpace(o.ErrorMessage))
                {
                    <td valign="top">
                        <div class="treefield">
                            @Html.Raw(@Html.RenderTree(o.CompositeGroup.Children, group1 => group1, 0, o.Index.ToString()))
                        </div>
                    </td>
                }
                else
                {
                    <td>
                        @o.ErrorMessage
                    </td>
                }
            }
        </tr>
    </table>
</div>
<p>
    <div id="allproductscontent">
    </div>
</p>

<script type="text/javascript">
    var rootUrl = '@Url.Content("~/")';
    if (rootUrl === '/') {
        rootUrl = '';
    }
</script>
