﻿@model ViewModels.CartViewModel

<h2>@Resources.Language.LABEL_ORDER_PAD_IS_EMPTY</h2>

@* SHOW PROMOTIONS MODULES *@

<div class="row">
	<div class="col-md-6 col-sm-6">
		<span class="help-block">
			<p>@Resources.Language.MESSAGE_USE_THE_INPUT_TO_ENTER_PRODUCTS</p>
		</span>
		<div class="row">
			@using (Html.BeginForm("QuickAdd", "Cart", FormMethod.Post, new {Class="form"})) {
				<div class="form-group col-md-6 no-padding-xs">
					<label class="sr-only">@Resources.Language.LABEL_PRODUCT</label>
					<input class="form-control" type="text" name="ProductGuid" id="InpSku" value="" placeholder="@Resources.Language.LABEL_PRODUCT" />
				</div>
			    <div class="col-md-3 no-padding-xs">
			        <div class="input-group">
			            <input class="form-control" type="number" step="1" name="Quantity" value="1" size="2" maxlength="5" min="1">
                        <label class="sr-only">@Resources.Language.LABEL_QUANTITY</label>
			            <div class="input-group-btn">
			                <button type="submit" class="btn btn-primary" id="UpdateDynamic">
			                    <i class="fa fa-plus-circle"></i> @Resources.Language.ACTION_ADD_DYNAMIC
			                </button>
			            </div>
			        </div>
			    </div>
			}
		</div>
	</div>
</div>
