﻿@model IEnumerable<ViewModels.CartViewModel.ProductItem>

@using (Html.BeginForm("Index", "Cart", FormMethod.Post, new { id = "updateForm" }))
{
    @Html.EditorForModel()
    <button type="submit" class="btn btn-success btn-large update" id="refresh-button"><i class="fa fa-refresh" id="refresh-icon"></i> @Resources.Language.ACTION_UPDATE</button>
}

<script>
    $(document).ready(function() {
        $("#refresh-button").click(function () {
            $("#refresh-icon").addClass("fa-spin");
        });
    });
</script>