﻿@using EISCS.Shop.DO.BAS.Dto
@using Resources
@model ViewModels.ServiceOrderComment.CommentLineCreateViewModel
<div class="row">
    <div class="col-md-1 text-center">
        <i class="fa fa-user fa-3x"></i>
    </div>
    <div class="col-md-11">
        <span class="pull-right">
            @if (Model.CommentType == ServiceOrderCommentLineType.MessageToInvoice)
            {
                <span class="label label-primary">@Language.LABEL_MESSAGE_TO_INVOICE</span>
            }
            else if (Model.CommentType == ServiceOrderCommentLineType.MessageToFromOffice)
            {
                <span class="label label-danger">@Language.LABEL_MESSAGE_TO_OFFICE</span>
            }
            else
            {
                <span class="label label-default">@Language.LABEL_MESSAGE_FROM_PORTAL</span>
            }
        </span>
        <span class="comment-author"><i class="fa fa-laptop"></i> @Language.LABEL_FROM_PORTAL: @Model.UserName @@ <em>@Model.DateCreated</em></span>
    </div>
    <div class="col-md-11">
        <p>@Model.Comment</p>
    </div>
</div>
