﻿@using EISCS.Shop.DO.BAS.Dto
@model ViewModels.ServiceOrderComment.CommentLineCreateViewModel

@if (Model.CommentType == ServiceOrderCommentLineType.MessageToInvoice) {
    <li class="list-group-item list-group-item-info" id="comment-@Model.BASGuid">
        @Html.Partial("_Comment", Model)
    </li>
} else if (Model.CommentType == ServiceOrderCommentLineType.MessageFromPortal) {
    <li class="list-group-item" id="comment-@Model.BASGuid">
        @Html.Partial("_Comment", Model)
    </li>
} else if (Model.CommentType == ServiceOrderCommentLineType.MessageToFromOffice) {
    <li class="list-group-item list-group-item-danger" id="comment-@Model.BASGuid">
        @Html.Partial("_Comment", Model)
    </li>
}