﻿@using System
@using System.Web
@using CmsPublic.DataProviders.Logging
@using CmsPublic.ModelLayer.Interfaces
@using EISCS.Catalog.Logic
@using EISCS.ExpandITFramework.Util
@using Resources
@model EISCS.CMS.Models.ViewModels.CmsViewModel

<div class="row" id="edit-product-template">
    <span id="savemessagetext"></span>
    <div class="col-sm-12">
        @Html.AntiForgeryToken()

        @if (!ViewData.ModelState.IsValid)
        {

            <div class="alert alert-danger alert-dismissable">
                <button class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                @Html.Raw(HttpUtility.HtmlDecode(Html.ValidationSummary(false, String.Format("<i class=\"fa fa-times\"></i> " + CmsLanguage.CATMAN_LABEL_AN_ERROR_OCCURRED), new { Class = "" }).ToString()))
            </div>
        }

        <span>
            <button type="button" class="btn btn-primary" id="previewbutton1" name="previewbutton1"><i class="fa fa-search"></i>&nbsp;@CmsLanguage.CATMAN_LABEL_PREVIEW</button>
            <button type="button" class="btn btn-primary pull-right" id="savebutton1" name="savebutton"><i class="fa fa-save"></i>&nbsp;@CmsLanguage.CATMAN_ACTION_SAVE</button>
        </span>

        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            @using (@Html.BeginForm("GroupEdit", "Catalog", FormMethod.Post, new { @class = "form-horizontal", @role = "form", @id = "groupeditform" }))
            {
                var first = true;
 @*Workaround for jQuery serialization that cuts off the first input element! *@

                <input type="hidden" id="bogus" value="bogus" name="bogus" />

                <input type="hidden" id="PageGRP" name="PageGRP" value="PageGRP" />
                
                foreach (var propValPropTransGroup in Model.Group.PropertyGroup)
                {
                    var target = @propValPropTransGroup.Propheader.Trim().Replace(" ", "_");

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="heading_@target">
                        <h2 class="panel-title">
                            <a data-toggle="collapse" href="#@target" aria-controls="@target">
                                <i class="fa @if (first)
                                             {<text>fa-minus-circle</text>}
                                             else
                                             {<text>fa-plus-circle</text>}"></i>&nbsp;@propValPropTransGroup.Propheader.Trim()
                            </a>
                        </h2>
                    </div>

                    <div id="@target" class="tabpanel collapse panel-collapse @if (first)
                                                                              {
                                                                                  first = false; <text>in</text>}" role="tabpanel" aria-labelledby="@target">

                        <div class="panel-body">
                            @foreach (var property in propValPropTransGroup.PropertyGroups)
                            {
                                var isMultiLanguage = property.PropMultilanguage > 0;

                                <div class="form-group">
                                    @Html.Label(property.PropName, new { Class = "control-label col-sm-2" })
                                    <div class="col-sm-10">
                                        @{
                                var p = PropTypes.DEFAULT;
                                try
                                {
                                    p = (PropTypes)Enum.Parse(typeof(PropTypes), property.PropTypeGuid);
                                }
                                catch (Exception e)
                                {
                                    FileLogger.Log(e.Message);
                                }
                                switch (p)
                                {
                                    case PropTypes.ATTACHMENT:

                                            <div class="input-group">
                                                @Html.TextBox(property.PropGuid, property.PropTransText, new { @class = "form-control" })
                                                <span class="input-group-btn">
                                                    <button class="btn btn-primary" type="button"><i class="fa fa-upload"></i>@CmsLanguage.CATMAN_SELECT_FILE</button>
                                                </span>
                                                <span class="input-group-addon">
                                                    <label>
                                                        @Html.CheckBox("_" + property.PropGuid, isMultiLanguage, new { @class = "mlchk" })
                                                        @CmsLanguage.CATMAN_LABEL_ML
                                                    </label>
                                                </span>
                                            </div>
                                        break;
                                    case PropTypes.HTML:

                                            <div class="input-group">
                                                @Html.TextArea(property.PropGuid, property.PropTransText, new { @class = "form-control mceEditor", @rows = "30" })
                                                <span class="input-group-addon">
                                                    <label>
                                                        @Html.CheckBox("_" + property.PropGuid, isMultiLanguage, new { @class = "mlchk" })
                                                        @CmsLanguage.CATMAN_LABEL_ML
                                                    </label>
                                                </span>
                                            </div>
                                        break;
                                    case PropTypes.LINK:

                                            <div class="input-group">
                                                <span class="input-group-btn">
                                                    @Html.DropDownList("select_" + property.PropGuid, (SelectList)ViewData["UrlsList"], new { @class = "dynamicLinkSelect btn", style = "width:100px" })
                                                </span>

                                                @Html.TextBox(property.PropGuid, property.PropTransText, new { @class = "form-control" })
                                                <span class="input-group-btn">
                                                    <a id="previewRedirect" href="@NavigationUtil.NavigationLink(Model.Group, property.PropTransText, "{0}", property.PropLangGuid)" class="btn btn-primary" target="_blank" type="button"><i class="fa fa-search"></i>&nbsp;@CmsLanguage.CATMAN_LABEL_PREVIEW</a>
                                                </span>

                                                <span class="input-group-addon">
                                                    <label>
                                                        @Html.CheckBox("_" + property.PropGuid, isMultiLanguage, new { @class = "mlchk" })
                                                        @CmsLanguage.CATMAN_LABEL_ML
                                                    </label>
                                                </span>
                                            </div>
                                        break;

                                    case PropTypes.MEMO:

                                            <div class="input-group">
                                                @Html.TextArea(property.PropGuid, property.PropTransText, new { @class = "form-control", @rows = "10" })
                                                <span class="input-group-addon">
                                                    <label>
                                                        @Html.CheckBox("_" + property.PropGuid, isMultiLanguage, new { @class = "mlchk" })
                                                        @CmsLanguage.CATMAN_LABEL_ML
                                                    </label>
                                                </span>
                                            </div>
                                        break;
                                    case PropTypes.PICTURE:
                                        var picture = "";

                                            <div class="square-picture-centered picture-thumbnail">
                                                @if (!property.PropTransText.IsNullOrEmpty())
                                                {
                                                    picture = property.PropTransText;
                                                    if (picture.StartsWith("/"))
                                                    {
                                                        picture = picture.Substring(1);
                                                    }

                                                    <img id="img_@property.PropGuid" src="~/@picture" alt="@property.PropGuid" class="max-height-80" />
                                                }
                                                else
                                                {

                                                    <img id="img_@property.PropGuid" src="@Url.Content("~/Content/images/unknown.png")" alt="@property.PropGuid" class="max-height-80" />
                                                }
                                            </div>

                                            <div class="col-sm-6">
                                                <div class="input-group">
                                                    @Html.TextBox(property.PropGuid, property.PropTransText, new { @class = "form-control" })
                                                    <span class="input-group-addon">
                                                        <label>
                                                            @Html.CheckBox("_" + property.PropGuid, isMultiLanguage, new { @class = "mlchk" })
                                                            @CmsLanguage.CATMAN_LABEL_ML
                                                        </label>
                                                    </span>
                                                </div>
                                            </div>

                                            <div class="col-sm-6 margin-top-12">
                                                <button id="picture_@property.PropGuid" class="btn btn-primary show-modal-btn image_button" type="button" data-toggle="modal" data-target="#selectPictureModal" data-picture="@picture"><i class="fa fa-upload"></i>@CmsLanguage.CATMAN_SELECT_IMAGE</button>
                                            </div>
                                                break;
                                    case PropTypes.MULTIPICTURE:

                                            <div class="input-group">
                                                @Html.TextBox(property.PropGuid, property.PropTransText, new { @class = "form-control multi_image_txt", @readonly = "readonly" })
                                                <span class="input-group-btn">
                                                    <button id="multi_x @property.PropGuid" class="multi_image_button btn btn-primary" type="button"><i class="fa fa-upload"></i>@CmsLanguage.CATMAN_SELECT_IMAGE</button>
                                                </span>
                                                <span class="input-group-addon">
                                                    <label>
                                                        @Html.CheckBox("_" + property.PropGuid, isMultiLanguage, new { @class = "mlchk" })
                                                        @CmsLanguage.CATMAN_LABEL_ML
                                                    </label>
                                                </span>
                                            </div>
                                                break;
                                    case PropTypes.TEMPLATE:

                                            <div class="col-sm-1 no-padding-left">
                                                @Html.TextBox(property.PropGuid, property.PropTransText, new { @class = "form-control", @readonly = "readonly" })
                                                <input type="hidden" id="template_text_id" value="@property.PropGuid" />
                                            </div>

                                            <div class="col-sm-6">
                                                <div class="input-group">
                                                    @Html.DropDownList("Templates", (SelectList)ViewData["TemplateList"], new { @class = "form-control" })
                                                    <span class="input-group-addon">
                                                        <label>
                                                            @Html.CheckBox("_" + property.PropGuid, isMultiLanguage, new { @class = "mlchk" })
                                                            @CmsLanguage.CATMAN_LABEL_ML
                                                        </label>
                                                    </span>
                                                </div>
                                            </div>
                                                break;
                                    case PropTypes.CHECKBOX:

                                            <div class="checkbox">
                                                <label>
                                                    @Html.CheckBox(property.PropGuid, Convert.ToBoolean(property.PropTransText))&nbsp;
                                                   
                                                </label>
                                            </div>
                                                break;
                                    default:

                                            <div class="input-group">
                                                @Html.TextBox(property.PropGuid, property.PropTransText, new { @class = "form-control" })
                                                <span class="input-group-addon">
                                                    <label>
                                                        @Html.CheckBox("_" + property.PropGuid, isMultiLanguage, new { @class = "mlchk" })
                                                        @CmsLanguage.CATMAN_LABEL_ML
                                                    </label>
                                                </span>
                                            </div>
                                                break;
                                }
 }
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                }
            }

        </div>


        <button type="button" class="btn btn-primary" id="previewbutton2" name="previewbutton2"><i class="fa fa-search"></i>&nbsp;@CmsLanguage.CATMAN_LABEL_PREVIEW</button>
        <button type="button" class="btn btn-primary pull-right" id="savebutton2" name="savebutton"><i class="fa fa-save"></i>&nbsp;@CmsLanguage.CATMAN_ACTION_SAVE</button>

        <input id="id" name="id" type="hidden" value="@Model.Group.GroupGuid" />
        <input id="pid" name="id" type="hidden" value="@Model.Group.GroupGuid" />
        <input id="langid" name="langid" type="hidden" value="@Session["CurrentLanguage"]" />
        <input id="pageLangId" name="langid" type="hidden" value="@Session["PageLanguageGuid"]" />
    </div>
</div>
@Html.Partial("Partials/FolderBrowser")

<script>
    $(document).ready(function () {
        $(".tabpanel").on("show.bs.collapse", function () {
            $(this).parent().find("i").removeClass("fa-plus-circle").addClass("fa-minus-circle");
        });

        $(".tabpanel").on("hide.bs.collapse", function () {
            $(this).parent().find("i").removeClass("fa-minus-circle").addClass("fa-plus-circle");
        });

        if (!$("#REDIRECTURL").val()) {
            $("#previewRedirect").addClass("disabled");
        }

        $("#STARTDATE").closest(".col-sm-10").removeClass("col-sm-10").addClass("col-sm-3");
        $("#ENDDATE").closest(".col-sm-10").removeClass("col-sm-10").addClass("col-sm-3");

        $("#REDIRECTURL").on("input", function () {
            $("#previewRedirect").attr("href", $(this).val());
            if (!$("#REDIRECTURL").val()) {
                $("#previewRedirect").addClass("disabled");
            } else {
                $("#previewRedirect").removeClass("disabled");
            }
        });

        $("#select_REDIRECTURL").click(function () {
            $("#previewRedirect").attr("href", $("#REDIRECTURL").val());
            if (!$("#REDIRECTURL").val()) {
                $("#previewRedirect").addClass("disabled");
            } else {
                $("#previewRedirect").removeClass("disabled");
            }
        });

        // Auto complete dropdown
        $("#select_REDIRECTURL").select2({
            theme: "bootstrap",
            maximumSelectionLength: 2,
            dropdownAutoWidth: true,
            minimumInputLength: 1,
            allowClear: false,
            ajax: {
                delay: 150,
                //The url of the json service
                url: '@Url.Action("LoadUrls", "Catalog")',
                dataType: 'json',
                //Our search term and what page we are on
                data: function (params) {
                    return {
                        pageSize: 30,
                        page: params.page || 1,
                        searchTerm: params.term
                    };
                },                
                cache: false
            }
        });

    });
</script>
