﻿@using System
@using System.Configuration
@using System.Web
@using CmsPublic.DataProviders.Logging
@using CmsPublic.ModelLayer.Interfaces
@using EISCS.ExpandITFramework.Util
@using Resources
@using Language = Resources.Language
@model EISCS.CMS.Models.ViewModels.CmsViewModel

<div class="row">
    <div class="col-sm-12">
        <h1 class="page-header">@Model.Prod.ProductName</h1>
    </div>
</div>

<div class="row" id="edit-product-template">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-body">
                @using (@Html.BeginForm("Edit", "Catalog", new { productGuid = @Model.Prod.ProductGuid }, FormMethod.Post, new { @class = "form-horizontal", @role = "form", @id = "content" }))
                {
                    @Html.AntiForgeryToken()

                    if (!ViewData.ModelState.IsValid)
                    {
                        <div class="alert alert-danger alert-dismissable">
                            <button class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            @Html.Raw(HttpUtility.HtmlDecode(Html.ValidationSummary(false, String.Format("<i class=\"fa fa-times\"></i>&nbsp;" + CmsLanguage.CATMAN_LABEL_AN_ERROR_OCCURRED), new { Class = "" }).ToString()))
                        </div>
                    }
                    else if (TempData.ContainsKey("ModelState") && ViewData.ModelState.IsValid)
                    {
                        <div class="alert alert-success alert-dismissable">
                            <button class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            @Html.Raw(HttpUtility.HtmlDecode(Html.ValidationSummary(false, String.Format("<i class=\"fa fa-check\"></i>&nbsp;" + CmsLanguage.CATMAN_LABEL_ALLSAVED), new { Class = "" }).ToString()))
                        </div>
                    }

                    <div class="pull-right">
                        <button type="submit" class="btn btn-primary top-save-button"><i class="fa fa-save"></i>&nbsp;@CmsLanguage.CATMAN_ACTION_SAVE</button>
                    </div>

                    // Workaround for jQuery serialization that cuts off the first input element!
                    <input type="hidden" id="bogus" value="bogus" name="bogus" />
                    <input type="hidden" id="PagePRD" name="PagePRD" value="PagePRD" />
            
                    foreach (var propValPropTransGroup in Model.Prod.PropertyGroup)
                    {
                        <h2>@propValPropTransGroup.Propheader.Trim()</h2>

                        foreach (var property in propValPropTransGroup.PropertyGroups)
                        {
                            var isMultiLanguage = property.PropMultilanguage > 0;
                            <div class="form-group clear">
                                @Html.Label(property.PropName, new { Class = "control-label col-sm-2" })
                                <div class="col-sm-10">
                                    @{
                            var p = PropTypes.DEFAULT;
                            try
                            {
                                p = (PropTypes)Enum.Parse(typeof(PropTypes), property.PropTypeGuid);
                            }
                            catch (Exception e)
                            {
                                FileLogger.Log(e.Message);
                            }
                            switch (p)
                            {
                                case PropTypes.ATTACHMENT:
                                    <div class="input-group">
                                        @Html.TextBox(property.PropGuid, property.PropTransText, new { @class = "form-control" })
                                        <span class="input-group-btn">
                                            <button class="btn btn-primary" data-toggle="modal" data-target="#selectPictureModal" type="button" id="showAttachmentModal"><i class="fa fa-upload"></i>&nbsp;@CmsLanguage.CATMAN_SELECT_FILE</button>
                                        </span>
                                        <span class="input-group-addon">
                                            <label>
                                                @Html.CheckBox("_" + property.PropGuid, isMultiLanguage, new { @class = "mlchk" })
                                                @CmsLanguage.CATMAN_LABEL_ML
                                            </label>
                                        </span>
                                    </div>
                                    break;
                                case PropTypes.HTML:
                                <div class="input-group">
                                    @Html.TextArea(property.PropGuid, property.PropTransText, new { @class = "form-control mceEditor", @rows = "10" })
                                    <span class="input-group-addon">
                                        <label>
                                            @Html.CheckBox("_" + property.PropGuid, isMultiLanguage, new { @class = "mlchk" })
                                            @CmsLanguage.CATMAN_LABEL_ML
                                        </label>
                                    </span>
                                </div>
                                    break;
                                case PropTypes.LINK:
                                <div class="input-group">
                                    @Html.TextBox(property.PropGuid, property.PropTransText, new { @class = "form-control" })
                                    <span class="input-group-btn">
                                        <a href="@property.PropTransText" class="btn btn-primary" target="_blank" type="button"><i class="fa fa-search"></i>&nbsp;@CmsLanguage.CATMAN_LABEL_PREVIEW</a>
                                    </span>
                                    <span class="input-group-addon">
                                        <label>
                                            @Html.CheckBox("_" + property.PropGuid, isMultiLanguage, new { @class = "mlchk" })
                                            @CmsLanguage.CATMAN_LABEL_ML
                                        </label>
                                    </span>
                                </div>
                                    break;
                                case PropTypes.MEMO:
                                <div class="input-group">
                                    @Html.TextArea(property.PropGuid, property.PropTransText, new { @class = "form-control", @rows = "10" })
                                    <span class="input-group-addon">
                                        <label>
                                            @Html.CheckBox("_" + property.PropGuid, isMultiLanguage, new { @class = "mlchk" })
                                            @CmsLanguage.CATMAN_LABEL_ML
                                        </label>
                                    </span>
                                </div>
                                    break;
                                case PropTypes.PICTURE:
                                    var picture = "";
                                    <div class="square-picture-centered picture-thumbnail">
                                        @if (!property.PropTransText.IsNullOrEmpty())
                                        {
                                            picture = property.PropTransText;
                                            if (picture.StartsWith("/"))
                                            {
                                                picture = picture.Substring(1);
                                            }
                                            <img id="img_@property.PropGuid" src="~/@picture" alt="@property.PropGuid" class="max-height-80" />
                                        }
                                        else
                                        {
                                            <img id="img_@property.PropGuid" src="@Url.Content("~/Content/images/unknown.png")" alt="@property.PropGuid" class="max-height-80" />
                                        }
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="input-group">
                                            @Html.TextBox(property.PropGuid, picture, new { @class = "form-control" })
                                            <span class="input-group-addon">
                                                <label>
                                                    @Html.CheckBox("_" + property.PropGuid, isMultiLanguage, new { @class = "mlchk" })
                                                    @CmsLanguage.CATMAN_LABEL_ML
                                                </label>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 margin-top-12">
                                        <button id="picture_@property.PropGuid" class="btn btn-primary show-modal-btn image_button" type="button" data-toggle="modal" data-target="#selectPictureModal" data-picture="@picture"><i class="fa fa-upload"></i>&nbsp;@CmsLanguage.CATMAN_SELECT_IMAGE</button>
                                    </div>
                                        break;
                                case PropTypes.MULTIPICTURE:
                                <div class="input-group">
                                    @Html.TextBox(property.PropGuid, property.PropTransText, new { @class = "form-control", @readonly = "readonly" })
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary" type="button"><i class="fa fa-upload"></i>&nbsp;@CmsLanguage.CATMAN_SELECT_IMAGE</button>
                                    </span>
                                    <span class="input-group-addon">
                                        <label>
                                            @Html.CheckBox("_" + property.PropGuid, isMultiLanguage, new { @class = "mlchk" })
                                            @CmsLanguage.CATMAN_LABEL_ML
                                        </label>
                                    </span>
                                </div>
                                        break;
                                case PropTypes.TEMPLATE:
                                <div class="col-sm-1 no-padding-left">
                                    @Html.TextBox(property.PropGuid, property.PropTransText, new { @class = "form-control", @readonly = "readonly" })
                                </div>
                                    <div class="col-sm-3">
                                        <div class="input-group">
                                            @Html.DropDownList("TemplatesP", (SelectList)ViewData["TemplateList"], new { @class = "form-control" })
                                            <span class="input-group-addon">
                                                <label>
                                                    @Html.CheckBox("_" + property.PropGuid, isMultiLanguage, new { @class = "mlchk" })
                                                    @CmsLanguage.CATMAN_LABEL_ML
                                                </label>
                                            </span>
                                        </div>

                                    </div>

                                        break;
                                default:
                                <div class="input-group">
                                    @Html.TextBox(property.PropGuid, property.PropTransText, new { @class = "form-control" })
                                    <span class="input-group-addon">
                                        <label>
                                            @Html.CheckBox("_" + property.PropGuid, isMultiLanguage, new { @class = "mlchk" })
                                            @CmsLanguage.CATMAN_LABEL_ML
                                        </label>
                                    </span>
                                </div>
                                        break;
                            }
                                    }

                                </div>
                            </div>
                        }
                    }
                    <button id="bottom_submit" type="submit" class="btn btn-primary pull-right"><i class="fa fa-save"></i>&nbsp;@CmsLanguage.CATMAN_ACTION_SAVE</button>
                    <span id="savemessagetext"></span>
                    <input id="id" name="id" type="hidden" value="@Model.Group.GroupGuid" />
                    <input id="pid" name="pid" type="hidden" value="@Model.Prod.ProductGuid" />
                    <input id="langid" name="langid" type="hidden" value="@Session["CurrentLanguage"]" />
                    <input id="pageLangId" name="langid" type="hidden" value="@Session["PageLanguageGuid"]" />
                }
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
@Html.Partial("Partials/FolderBrowser")

<script>
    $(document).ready(function() {
        $('#TemplatesP').change(function () {
            setTimeout(function () {
                $('#bottom_submit').click();
            }, 300);
        });
    });
</script>