﻿<script>
    $(document).ready(function () {
        var rootUrl = '@Url.Content("~/")';
        var languageGuid = '@ViewBag.CurrentLanguageGuid';
        drawProductsDataTable(languageGuid);

        //$('#Languages').change(function () { // Language in dropdown is already changed. Have to set it back to previous value
        //    ExpandIT_ProductTable.Table.fnDestroy();
        //    ExpandIT_ProductTable.Table = null;
        //    var selectedLanguage = $('#Languages').val();
        //    drawProductsDataTable(selectedLanguage);
        //});

        function drawProductsDataTable(language) {
            var languageUrl = rootUrl + 'Content/datatables/i18n/' + language + '.txt';
            ExpandIT_ProductTable.Table = $("#productTable").dataTable({
                "order": [1, 'asc'],
                "processing": true,
                "serverSide": true,
                "ajax": {
                    "url": rootUrl + "cms/Catalog/GetProducts",
                    "type": "POST"
                },
                "language": {
                    "url": languageUrl,
                },
                "responsive": true,
                "bAutoWidth": false,
                "columns": [
                    { "data": "CheckboxHtml" },
                    { "data": "ProductGuid" },
                    { "data": "PictureHtml" },
                    { "data": "ProductName" },
                    { "data": "IsUsedInAnyGroup" },
                    { "data": "ProductGrp" },
                    { "data": "EditButtonHtml" }
                ],
                "columnDefs": [
                    { 'orderable': false, 'aTargets': [0, 2, -1] }
                ],
                "drawCallback": function () {
                    $("#select_all").attr("checked", false);
                    setDataTableDraggable();
                }
            });
        }

        function setDataTableDraggable() {
            $("#select_all").change(function () {
                if (this.checked) {
                    $(".chk").each(function () {
                        this.checked = true;
                        $(this).parent().parent().addClass("ungrouped");
                    });
                } else {
                    $(".chk").each(function () {
                        this.checked = false;
                        $(this).parent().parent().removeClass("ungrouped");
                    });
                }
            });

            $(".dataTable tbody tr").click(function (e) {
                if (e.target.type != "checkbox") {
                    $(this).find("input[type=checkbox]").click();
                }
            });

            $(".chk").click(function () {
                if (!$(this).is(":checked")) {
                    $("#select_all").prop("checked", false);
                    $(this).parent().parent().removeClass("ungrouped");
                } else {
                    var flag = 0;
                    $(".chk").each(function () {
                        if (!this.checked) {
                            flag = 1;
                            $(this).parent().parent().removeClass("ungrouped");
                        } else {
                            $(this).parent().parent().addClass("ungrouped");
                        }
                    });
                    if (flag == 0) { $("#select_all").prop("checked", true); }
                }
            });

            // Drag
            $('#productTable tr').draggable({
                helper: function () {
                    var selected = $('.ungrouped');
                    var bgColor = selected.css('backgroundColor');
                    var container = $('<table/>').attr('id', 'draggingContainer');
                    $(container).attr('class', 'table-striped');
                    $(container).css({ zIndex: '2000' });
                    var theClone = selected.clone();
                    $(theClone).css({ backgroundColor: bgColor, borderColor: '#FFFFFF', opacity: '0.75' });
                    $(theClone).css({ backgroundImage: 'url(../../../Content/images/copy.png")', backgroundPosition: "0px 0px", backgroundRepeat: 'no-repeat', paddingLeft: '20px' });
                    container.append(theClone);
                    return container;
                },
                appendTo: 'body',
                cursorAt: { top: 2, left: -22 },
                cursor: 'move'
            });
        }

    });
</script>
