﻿@using System.Web.UI.WebControls
@using Resources
@model Controllers.Cms2.AllProductsViewModel


<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                @CmsLanguage.LABEL_PRODUCTS
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <div class="productTable-wrapper" role="grid">
                        <table class="table table-striped table-bordered table-hover dataTable no-footer" id="productTable">
                            <thead>
                                <tr>
                                    <th class="text-center small-column">
                                        <input type="checkbox" id="select_all" />
                                    </th>
                                    <th class="col-sm-1">@Language.LABEL_PRODUCT_NUMBER</th>
                                    <th class="text-center min-width-70 width-70"></th>
                                    <th>@Language.LABEL_PRODUCT_NAME</th>
                                    <th class="col-sm-2">@CmsLanguage.CATMAN_USED_IN_CATALOG</th>
                                    <th class="col-sm-2">@Language.LABEL_PRODUCT_GROUP</th>
                                    <th class="small-column"></th>
                                </tr>
                            </thead>
                            <!-- data by dataTables -->
                        </table>
                    </div>
                </div>
                @if (Model.PreviousUrl != null)
                {
                    <button>@CmsLanguage.BUTTON_SELECT_TICKED_PRODUCTS</button>
                }
            </div>
        </div>
        <input id="productListId" name="productListId" type="hidden" value="0" />
        <input type="hidden" name="PreviousUrl" value="@Model.PreviousUrl" />
        <table class="table table-bordered">
        </table>
    </div>
</div>
