﻿@using Resources
@model EISCS.CMS.Models.ViewModels.CmsViewModel

<div class="row">
    <div class="col-sm-12">
        <h1 class="page-header">@Model.Group.GetPropertyValue("NAME")</h1>
    </div>
</div>

<div class="panel">
    <div class="panel-body">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading_groupProducts">
                    <h2 class="panel-title">
                        <a data-toggle="collapse" href="#groupProducts" aria-controls="groupProducts"><i class="fa fa-plus-circle"></i>&nbsp;@CmsLanguage.LABEL_PRODUCTS</a>
                    </h2>
                </div>

                <div id="groupProducts" class="collapse panel-collapse" role="tabpanel" aria-labelledby="groupProducts">
                    <div class="panel-body">
                        @Html.Action("_GroupProducts", "Catalog", new { id = @Model.Group.ID })
                    </div>
                </div>
            </div>
        </div>
        <hr/>
        @Html.Partial("Partials/_GroupEdit")
    </div>
</div>

<script>
    //$('#Languages').change(function () { // Language in dropdown is already changed. Have to set it back to previous value
    //    ExpandIT_ProductTable.Table.fnDestroy();
    //    ExpandIT_ProductTable.Table = null;
    //    var selectedLanguage = $('#Languages').val();
    //    drawGroupProducsDataTable(selectedLanguage);
    //});

    $("#groupProducts").on("show.bs.collapse", function () {
        $("#heading_groupProducts h2").find("i").removeClass("fa-plus-circle").addClass("fa-minus-circle");
    });

    $("#groupProducts").on("hide.bs.collapse", function () {
        $("#heading_groupProducts h2").find("i").removeClass("fa-minus-circle").addClass("fa-plus-circle");
    });
    
    function drawGroupProducsDataTable(language) {
        ExpandIT_ProductTable.Table = $("#groupProductTable").dataTable({
            "order": [1, 'asc'],
            "processing": true,
            "serverSide": true,
            "ajax": {
                "url": rootUrl + "Catalog/GetGroupProducts",
                "type": "POST",
                "data": function (d) {
                    d.groupGuid = groupGuid;
                }
            },
            "language": {
                "url": rootUrl + "Content/datatables/i18n/" + language + ".txt",
            },
            "columns": [
                { "data": "CheckboxHtml" },
                { "data": "ProductGuid" },
                { "data": "PictureHtml" },
                { "data": "ProductNameTranslate" },
                { "data": "ListPrice" },
                { "data": "ProductGrp" },
                { "data": "EditButtonHtml" }
            ],
            "columnDefs": [
                { 'orderable': false, 'aTargets': [0, 2, -1] }
            ],
            "drawCallback": function () {
                $("#select_all").attr("checked", false);
                setDataTableDraggable();
            }
        });
    }

    function setDataTableDraggable() {
        $.fn.dataTable.ext.errMode = 'throw';
        $("#select_all").change(function () {
            if (this.checked) {
                $(".chk").each(function () {
                    this.checked = true;
                    $(this).parent().parent().addClass("ungrouped");
                });
            } else {
                $(".chk").each(function () {
                    this.checked = false;
                    $(this).parent().parent().removeClass("ungrouped");
                });
            }
        });

        $(".dataTable tbody tr").click(function (e) {
            if (e.target.type != "checkbox") {
                $(this).find("input[type=checkbox]").click();
            }
        });

        $(".chk").click(function () {
            console.log("click!");
            if (!$(this).is(":checked")) {
                $("#select_all").prop("checked", false);
                $(this).parent().parent().removeClass("ungrouped");
            } else {
                var flag = 0;
                $(".chk").each(function () {
                    if (!this.checked) {
                        flag = 1;
                        $(this).parent().parent().removeClass("ungrouped");
                    } else {
                        $(this).parent().parent().addClass("ungrouped");
                    }
                });
                if (flag == 0) { $("#select_all").prop("checked", true); }
            }
        });

        // Remove
        $('#button1, #button2').click(function () {
            var groupGuid = $('#grpProductGuid').attr('value');
            var deleteArray = new Array();
            var table = ExpandIT_ProductTable.Table;
            $(".ungrouped").each(function () {
                var groupProductGuid = $(this).find(".chk").attr('name');
                var arrPos = inArray(groupProductGuid, deleteArray);
                if (arrPos == -1) { deleteArray.push(groupProductGuid); }
                var aPos = table.fnGetPosition($(this).closest('tr')[0]);
                table.fnDeleteRow(aPos);
            });
            ExpandIT_ProductTable.RemoveProducts(deleteArray, groupGuid);
        });

        function inArray(elem, array) {
            for (var i = 0; i < array.length; i++) { if (array[i] === elem) { return i; } }
            return -1;
        }

        // Drag
        $('#groupProductTable tr').draggable({
            helper: function () {
                var selected = $('.ungrouped');
                var bgColor = selected.css('backgroundColor');
                var container = $('<table/>').attr('id', 'draggingContainer');
                $(container).attr('class', 'table-striped');
                $(container).css({ zIndex: '2000' });
                var theClone = selected.clone();
                $(theClone).css({ backgroundColor: bgColor, borderColor: '#FFFFFF', opacity: '0.75' });
                $(theClone).css({ backgroundImage: 'url(../../../Content/images/copy.png")', backgroundPosition: "0px 0px", backgroundRepeat: 'no-repeat', paddingLeft: '20px' });
                container.append(theClone);
                return container;
            },
            appendTo: 'body',
            cursorAt: { top: 2, left: -22 },
            cursor: 'move'
        });
    }

</script>
