﻿@using Resources

<div id="holder"></div>

<script>

    $(document).ready(function () {

        var html = (function () {/*  
        <div id="fileuploaddiv">   
            <div id="upload_table_area">
                <div class="form-group">
                    <label class="control-label">Upload Folder:</label>
                    <div class="row">
                    <div class="col-sm-6">
                        <input type="text" readonly="readonly" name="upload_folder" id="upload_folder" class="form-control">                
                    </div>    
                    </div>
            
                </div>
            </div>
           <div id="drop-files" ondragover="return false">    
                @CmsLanguage.CATMAN_LABEL_DRAG_IMAGES_HERE
            </div>
            <div id="uploaded-holder">
                <div id="dropped-files">
                    <div id="upload-button">
                        <a href="#" class="upload"><i class="ss-upload"></i>@CmsLanguage.CATMAN_BUTTONTEXT_SEND!</a>
                        <a href="#" class="delete"><i class="ss-delete"></i>@CmsLanguage.CATMAN_ACTION_DELETE!</a>
                        <span>0 @CmsLanguage.LABEL_FILES</span>
                    </div>
                </div>
                <div id="extra-files">
                    <div class="number">
                        0
                    </div>
                    <div id="file-list">
                        <ul></ul>
                    </div>
                </div>
            </div>
            <div id="loading">
                <div id="loading-bar">
                    <div class="loading-color"></div>
                </div>
                <div id="loading-content">@CmsLanguage.LABEL_UPLOADING_FILE_JPG</div>
            </div>
            <div id="file-name-holder">
                <div id="file-upload-success">
                    <p>@CmsLanguage.CATMAN_LABEL_UPLOADED_FILES</p>
                    <div id="uploaded-files">
                        <ul id="uploaded-items" style="margin-top: 10px; list-style: none; width: 407px; max-height: 40px; overflow-y: scroll; font-size: 0.7em; font-weight: bold;">    
                        </ul>
                    </div>
                </div>
                <div id="file-upload-error">
                    <p>@CmsLanguage.CATMAN_LABEL_AN_ERROR_OCCURRED</p>
                    <div id="failed-items">
                        <ul id="failed-uploaded-items" style="margin-top: 10px; list-style: none; width: 407px; max-height: 40px; overflow-y: scroll; font-size: 0.7em; font-weight: bold;">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
 */}).toString().match(/[^]*\/\*([^]*)\*\/\}$/)[1];

        var htmlLegacy = (function () {/*  
   <div id="fileuploaddiv">
    <div id="upload_table_area">
        <div class="form-group">
            <label class="control-label">Upload Folder:</label>
            <div class="row">
            <div class="col-sm-6">
                <input type="text" readonly="readonly" name="upload_folder" id="upload_folder" class="form-control">                
            </div>    
            </div>
            
        </div>
    </div>
    <div class="form-group">
        <label class="control-label fileupload">@CmsLanguage.CATMAN_LABEL_SPECIFY_FILE_TO_UPLOAD</label>
        <div class="row">
            <div class="col-sm-6">
                <div class="input-group">
                    <input type="text" id="upload_input" disabled="disabled" class="form-control" />
                    <span class="input-group-btn">
                        <button type="button" id="upload_button" class="btn btn-primary"><i class="fa fa-search"></i> @CmsLanguage.CATMAN_BUTTONTEXT_BROWSE</button>                
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <button type="submit" id="sendfilebutton" class="btn btn-primary"><i class="fa fa-send"></i> @CmsLanguage.CATMAN_BUTTONTEXT_SEND</button>&nbsp;<span id="file_upload_response" class="fileupload"></span>
    </div>
</div>
 */}).toString().match(/[^]*\/\*([^]*)\*\/\}$/)[1];

        var rootUrl = '@Url.Content("~/")';
        var head = $('head')[0];
        var js = document.createElement("script");

        if (!!(window.File && window.FileList && window.FileReader)) {
            js.src = rootUrl + 'EISCMS/Content/js/drag-drop-upload.js';
            $("#holder").html(html);
        } else {
            $("#holder").html(htmlLegacy);
        }

        head.appendChild(js);

        window.addEventListener("dragover", function (e) {
            e = e || event;
            e.preventDefault();
        }, false);
        window.addEventListener("drop", function (e) {
            e = e || event;
            e.preventDefault();
        }, false);

    });

</script>
