﻿@using Resources


<!-- Modal -->
<div class="modal fade" id="selectPictureModal" tabindex="-1" role="dialog" aria-labelledby="selectPictureModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">@Language.ACTION_CLOSE</span>
                </button>
                <h4 class="modal-title">
                    <span class="picture-modal">@CmsLanguage.CATMAN_LABEL_HANDLE_IMAGES</span>
                    <span class="attachment-modal">@CmsLanguage.CATMAN_LABEL_HANDLE_ATTACHMENTS</span>
                </h4>
            </div>
            <div class="modal-body">
                <div class="col-sm-12 form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label-left">@CmsLanguage.CATMAN_LABEL_BEGINS_WITH</label>
                        <div class="col-sm-10">
                            <input id="fb_filter_text" class="form-control" placeholder="@CmsLanguage.CATMAN_DROPDOWN_NAME" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 attachment-modal">
                    <div id="attachmentFileTree" class="demo multi_filetree_area" style="width: 100%"></div>
                </div>
                <div class="picture-modal">
                    <div class="col-sm-8">
                        <div id="picFileTree" class="demo multi_filetree_area"></div>
                    </div>
                    <div class="col-sm-4">
                        <div class="picture-preview">
                            <div class="square-picture-centered picture" id="filePictureThumbnail">
                                <img src="@Url.Content("~/Content/images/unknown.png")" />
                            </div>
                            <p id="data">
                            </p>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <hr />
                <div class="col-sm-12">
                    <h4>@CmsLanguage.CATMAN_ACTION_UPLOAD</h4>
                </div>
                <div class="popupUploadAreaWrapper">
                    <div id="fileuploadcontent">
                        @Html.Partial("Partials/FileUpload")
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times-circle"></i>&nbsp;@CmsLanguage.CATMAN_BUTTONTEXT_CANCEL</button>
                <span class="picture-modal">
                    <button id="imageSaveButton" type="button" class="btn btn-primary"><i class="fa fa-thumbs-up"></i>&nbsp;@CmsLanguage.CATMAN_ACTION_SELECT</button>
                </span>
                <span class="attachment-modal">
                    <button id="attachmentSaveButton" type="button" class="btn btn-primary"><i class="fa fa-thumbs-up"></i>&nbsp;@CmsLanguage.CATMAN_ACTION_SELECT</button>
                </span>
            </div>
        </div>
    </div>
</div>
