﻿@using EISCS.ExpandITFramework.Util
@using EISCS.Routing.Providers
@using Resources
@using EISCS.Shop.DO.Dto.Promotions;

@model ViewModels.PromotionsViewModel

<div class="row" id="PromoBox">
    <div class="col-md-12 col-sm-12">
        <h4>@Language.LABEL_PROMOTION_CODE</h4>
        @if(TempData["PROMO_ERROR"] != null)
        {

        <div class="alert alert-danger alert-dismissable alert-top">
            <button class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            @TempData["PROMO_ERROR"]
        </div>
        }

        @using (Html.BeginForm("AddPromoCode", "Promotions", FormMethod.Post, new { Class = "form" }))
        {
            @Html.TextBoxFor(u => u.NewPromoCode, new { Class = "form-control" });
            <button type="submit" class="btn btn-primary" id="AddPromoCodeSubmit">
                <i class="fa fa-plus-circle"></i> @Language.ADD_PROMO_CODE
            </button>
        }

    </div>
    @if (Model.CurrentPromotions.Count > 0)
    {
        <div>@Language.CURRENT_PROMO_CODES</div>
        <ul class="list-unstyled">
            @foreach (Promotion promotion in Model.CurrentPromotions)
            {
                <li>
                    @promotion.PromotionCode
                    -
                    @promotion.PromotionShortDescription
                    <a href="@Url.Action("DelPromoCode", new { CurrentPromotions = promotion.PromotionCode })" rel="tooltip" title="@Resources.Language.TOOLTIP_DELETE "><i class="fa fa-times-circle shop-delete-icon"></i></a>
                </li>

            }
        </ul>
    }


</div>

