﻿﻿@model FormModels.UserItemFormModel

<div class="controls-row">
	<div class="form-group">
		<label class="control-label col-sm-2">@Resources.Language.LABEL_USERDATA_CONTACT</label>
	    <div class="controls col-sm-4 input-group">
	        @(Model.isB2B ? Html.TextBoxFor(u => u.ContactName, new {Class = "form-control", disabled = "disabled"}) : Html.TextBoxFor(u => u.ContactName, new {Class = "form-control"}))
	        <span class="input-group-addon">*</span>
	    </div>
        <div class="clearfix"></div>
        <div class="col-sm-offset-2 col-sm-4">
			@Html.ValidationMessageFor(u => u.ContactName)
		</div>
	</div>
</div>

<div class="controls-row">
	<div class="form-group">
		<label class="control-label col-sm-2">@Resources.Language.LABEL_USERDATA_COMPANY</label>
		<div class="controls col-sm-4">
			@(Model.isB2B ? Html.TextBoxFor(u => u.CompanyName, new {Class = "form-control", disabled = "disabled"}) : Html.TextBoxFor(u => u.CompanyName, new {Class = "form-control"}))
		</div>
        <div class="clearfix"></div>
		<div class="col-sm-offset-2 col-sm-4">
			@Html.ValidationMessageFor(u => u.CompanyName)
		</div>
	</div>
</div>

<div class="controls-row">
	<div class="form-group">
		<label class="control-label col-sm-2">@Resources.Language.LABEL_USERDATA_EMAIL</label>
		<div class="controls col-sm-4 input-group">
			@(Model.isB2B ? Html.TextBoxFor(u => u.EmailAddress, new {Class = "form-control", disabled = "disabled"}) : Html.TextBoxFor(u => u.EmailAddress, new {Class = "form-control"}))
			<span id="" class="input-group-addon">*</span>
		</div>
        <div class="clearfix"></div>
		<div class="col-sm-offset-2 col-sm-4">
			@Html.ValidationMessageFor(u => u.EmailAddress)
		</div>
	</div>
</div>

<div class="controls-row">
	<div class="form-group">
		<label class="control-label col-sm-2">@Resources.Language.LABEL_USERDATA_ADDRESS_1</label>
		<div class="controls col-sm-4 input-group">
			@(Model.isB2B ? Html.TextBoxFor(u => u.Address1, new {Class = "form-control", disabled = "disabled"}) : Html.TextBoxFor(u => u.Address1, new {Class = "form-control"}))
			<span id="" class="input-group-addon">*</span>
		</div>
        <div class="clearfix"></div>
		<div class="col-sm-offset-2 col-sm-4">
			@Html.ValidationMessageFor(u => u.Address1)
		</div>
	</div>
</div>

<div class="controls-row">
	<div class="form-group">
		<label class="control-label col-sm-2">@Resources.Language.LABEL_USERDATA_ADDRESS_2</label>
		<div class="controls col-sm-4">
			@(Model.isB2B ? Html.TextBoxFor(u => u.Address2, new {Class = "form-control", disabled = "disabled"}) : Html.TextBoxFor(u => u.Address2, new {Class = "form-control"}))
		</div>
        <div class="clearfix"></div>
		<div class="col-sm-offset-2 col-sm-4">
			@Html.ValidationMessageFor(u => u.Address2)
		</div>
	</div>
</div>

<div class="controls-row">
	<div class="form-group">
		<label class="control-label col-sm-2">@Resources.Language.LABEL_USERDATA_CITY</label>
		<div class="controls col-sm-4">
			@(Model.isB2B ? Html.TextBoxFor(u => u.CityName, new {Class = "form-control", disabled = "disabled"}) : Html.TextBoxFor(u => u.CityName, new {Class = "form-control"}))
		</div>
        <div class="clearfix"></div>
		<div class="col-sm-offset-2 col-sm-4">
			@Html.ValidationMessageFor(u => u.CityName)
		</div>
	</div>
</div>

<div class="controls-row">
	<div class="form-group">
		<label class="control-label col-sm-2">@Resources.Language.LABEL_USERDATA_ZIPCODE</label>
		<div class="controls col-sm-4 input-group">
			@(Model.isB2B ? Html.TextBoxFor(u => u.ZipCode, new {Class = "form-control", disabled = "disabled"}) : Html.TextBoxFor(u => u.ZipCode, new {Class = "form-control"}))
			<span id="" class="input-group-addon">*</span>
		</div>
        <div class="clearfix"></div>
		<div class="col-sm-offset-2 col-sm-4">
			@Html.ValidationMessageFor(u => u.ZipCode)
		</div>
	</div>
</div>

<div class="controls-row">
	<div class="form-group">
		<label class="control-label col-sm-2">@Resources.Language.LABEL_USERDATA_PHONE</label>
		<div class="controls col-sm-4">
			@(Model.isB2B ? Html.TextBoxFor(u => u.PhoneNo, new {Class = "form-control", disabled = "disabled"}) : Html.TextBoxFor(u => u.PhoneNo, new {Class = "form-control"}))
		</div>
        <div class="clearfix"></div>
		<div class="col-sm-offset-2 col-sm-4">
			@Html.ValidationMessageFor(u => u.PhoneNo)
		</div>
	</div>
</div>

<div class="controls-row">
	<div class="form-group">
		<label class="control-label col-sm-2">@Resources.Language.LABEL_USERDATA_COUNTRY</label>
		<div class="controls col-sm-4 input-group">
			@(Model.isB2B ? Html.DropDownListFor(u => u.CountryGuid, new SelectList(Model.CountryList, "key", "value"), Resources.Language.ACTION_SELECT, new { Class="form-control with-radius", disabled="disabled"}) : Html.DropDownListFor(u => u.CountryGuid, new SelectList(Model.CountryList, "key", "value"), Resources.Language.ACTION_SELECT, new { Class="form-control with-radius"}))
			<span id="" class="input-group-addon">*</span>
		</div>
        <div class="clearfix"></div>
		<div class="col-sm-offset-2 col-sm-4">
			@Html.ValidationMessageFor(u => u.CountryGuid)
		</div>
	</div>
</div>

<div id="" class="controls-row">
	<div class="form-group">
		<label class="control-label col-sm-2">@Resources.Language.LABEL_SITE_LANGUAGE</label>
		<div class="controls col-sm-4 input-group">
			@if (Model.isB2B)
			{
				<select name="LanguageGuid" id="" class="form-control with-radius" disabled="disabled">
					@foreach (KeyValuePair<string, string> language in Model.LanguageList)
					{
						<option value="@language.Key" @((language.Key.Equals(Model.LanguageGuid)) ? "selected" : null)>@language.Value</option>
					}
				</select>
			}
			else
			{
				<select name="LanguageGuid" id="" class="form-control with-radius">
					@foreach (KeyValuePair<string, string> language in Model.LanguageList)
					{
						<option value="@language.Key" @((language.Key.Equals(Model.LanguageGuid)) ? "selected" : null)>@language.Value</option>
					}
				</select>
			}
		</div>
	</div>
</div>
	<div id="" class="controls-row">
		<div class="form-group">
			<label class="control-label col-sm-2">@Resources.Language.LABEL_USERDATA_CURRENCY_1</label>
			<div class="controls col-sm-4 input-group">
				@if (Model.isB2B)
				{
					<select name="CurrencyGuid" id="" class="form-control with-radius" disabled="disabled">
						@foreach (KeyValuePair<string, string> currency in Model.CurrencyList)
						{
							<option value="@currency.Key" @((currency.Key.Equals(Model.CurrencyGuid)) ? "selected" : null)>@currency.Value</option>
						}
					</select>
				}
				else
				{
					<select name="CurrencyGuid" id="" class="form-control with-radius">
						@foreach (KeyValuePair<string, string> currency in Model.CurrencyList)
						{
							<option value="@currency.Key" @((currency.Key.Equals(Model.CurrencyGuid)) ? "selected" : null)>@currency.Value</option>
						}
					</select>
				}
			</div>
		</div>
	</div>
	
<div id="" class="controls-row">
	<div class="form-group">
		<label class="control-label col-sm-2">@Resources.Language.LABEL_USERDATA_CURRENCY_2</label>
		<div class="controls col-sm-4 input-group">
			@if (Model.isB2B)
			{
				<select name="SecondaryCurrencyGuid" id="" class="form-control with-radius" disabled="disabled">
					@foreach (KeyValuePair<string, string> currency in Model.CurrencyList)
					{
						<option value="@currency.Key" @((currency.Key.Equals(Model.SecondaryCurrencyGuid)) ? "selected" : null)>@currency.Value</option>
					}
					<option value="" @(Model.SecondaryCurrencyGuid == null ? "selected" : null)>[@Resources.Language.LABEL_NOT_SELECTED]</option>
				</select>
			}
			else
			{
				<select name="SecondaryCurrencyGuid" id="" class="form-control with-radius">
					@foreach (KeyValuePair<string, string> currency in Model.CurrencyList)
					{
						<option value="@currency.Key" @((currency.Key.Equals(Model.SecondaryCurrencyGuid)) ? "selected" : null)>@currency.Value</option>
					}
					<option value="" @(Model.SecondaryCurrencyGuid == null ? "selected" : null)>[@Resources.Language.LABEL_NOT_SELECTED]</option>
				</select>
			}
		</div>
	</div>
</div>

<div class="controls-row">
	<div class="form-group">
		<label class="control-label col-sm-2">@Resources.Language.LABEL_USERDATA_LOGIN</label>
		<div class="controls col-sm-4 input-group">
			<input class="form-control" data-val="true" data-val-length="The field UserLogin must be a string with a maximum length of 20." data-val-length-max="20" disabled id="UserLoginDisplay" name="UserLoginDisplay" type="text" value="@Model.UserLogin">
		    <input type="hidden" name="UserLogin" value="@Model.UserLogin"/>
            <span id="" class="input-group-addon">*</span>
		</div>
        <div class="clearfix"></div>
		<div class="col-sm-offset-2 col-sm-4">
			@Html.ValidationMessageFor(u => u.UserLogin)
		</div>
	</div>
</div>

@if (!Model.isB2B)
{
	<div class="controls-row">
		<div class="form-group">
			<label class="control-label col-sm-2">@Resources.Language.LABEL_USERDATA_PASSWORD</label>
			<div class="controls col-sm-4 input-group">
				@Html.PasswordFor(u => u.UserPassword, new {Class = "form-control"})
				<span id="" class="input-group-addon">*</span>
			</div>
            <div class="clearfix"></div>
			<div class="col-sm-offset-2 col-sm-4">
				@Html.ValidationMessageFor(u => u.UserPassword)
			</div>
		</div>
	</div>
}