﻿@using EISCS.Shop.DO.Dto
@using Resources
@using StackExchange.Profiling

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="@Url.Content("~/EISCMS/Content/js/jquery-ui-1.11.2/jquery-ui.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/EISCMS/Content/filetree/css/filemanager.css")" rel="stylesheet">

    <link href="@Url.Content("~/EISCMS/Content/css/eis-bc-main.css")" rel="stylesheet">
    <link href="@Url.Content("~/EISCMS/Content/css/cm.css")" rel="stylesheet">
    <link href="@Url.Content("~/EISCMS/Content/css/jquery.alerts.css")" rel="stylesheet">

    <link href="@Url.Content("~/EISCMS/Content/css/jquery.bootstrap-touchspin.css")" rel="stylesheet">
    <link href="@Url.Content("~/EISCMS/Content/css/bootstrap-timepicker.min.css")" rel="stylesheet">
    
    <link href="@Url.Content("~/EISCMS/Content/css/file-upload.css")" rel="stylesheet">
    
    <!-- And FontAwesome -->
    <link href="@Url.Content("~/Content/font-awesome/css/font-awesome.css")" rel="stylesheet">

    <script src="~/EISCMS/Content/js/jquery-1.11.0.js"></script>
    <script src="~/EISCMS/Content/js/plugins/dataTables/jquery.dataTables.js"></script>
    <script src="~/EISCMS/Content/js/plugins/dataTables/dataTables.bootstrap.js"></script>
    <script src="~/EISCMS/Content/js/jquery-ui-1.11.2/jquery-ui.min.js"></script>
    <script src="~/EISCMS/Content/js/jquery.alerts.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/tinymce/js/tinymce/tinymce.min.js")"></script>
    <script src="@Url.Content("~/EISCMS/Content/filetree/filetree.js")"></script>

    <script src="@Url.Content("~/EISCMS/Content/js/cm.js")"></script>
</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">@CmsLanguage.LABEL_TOGGLE_NAVIGATION</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <ul class="nav navbar-top-links navbar-left">
                    <li>
                        <a href="@Url.Content("~/cms")" title="@CmsLanguage.LABEL_HOMEPAGE">
                            <i class="fa fa-arrow-left"></i>
                        </a>
                    </li>
                </ul>
                <a class="navbar-brand" href="@Url.Action("Index", "BusinessCenter")">@Html.Action("CompanyName", "BusinessCenter")</a>
            </div>

                <ul class="nav navbar-top-links navbar-right">
                    <li>
                        <a href="#" id="username"></a>
                    </li>
                    <li>
                        @*@Html.DropDownList("Languages", (SelectList)ViewData["LanguageGuid"], new { @class = "form-control input-sm" })*@
                        @Html.DropDownList("Languages", new SelectList((List<LanguageTable>)Session["Languages"], "LanguageGuid", "LanguageName", Session["PageLanguageGuid"]), new { @class = "form-control input-sm" })
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-user fa-fw"></i><i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="@Url.Action("ChangePassword", "Account")"><i class="fa fa-lock fa-fw"></i>&nbsp;@CmsLanguage.CATMAN_MENU_CHANGE_PASSWORD</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Users", "UserManagement")"><i class="fa fa-users fa-fw"></i>&nbsp;@CmsLanguage.CATMAN_MENU_ADMIN</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="@Url.Action("Logout", "Account")"><i class="fa fa-sign-out fa-fw"></i>&nbsp;@Language.LABEL_MENU_LOGOUT</a>
                            </li>
                        </ul>
                        <!-- /.dropdown-user -->
                    </li>
                    <li><a href="@Url.Content("~/")" title="@CmsLanguage.LABEL_HOMEPAGE"><i class="fa fa-home"></i></a></li>
                </ul>
</nav>
        
        <div id="editorcontent" style="margin-top: -21px">
            @RenderBody()
        </div>
        <div id="myMenu">
            <ul class="list-group">
                <li id="mcreate" class="list-group-item">
                    <i class="fa fa-plus-circle"></i>&nbsp;@CmsLanguage.CATMAN_ACTION_NEW
                </li>
                <li id="mdelete" class="list-group-item">
                    <i class="fa fa-ban"></i>&nbsp;@CmsLanguage.CATMAN_ACTION_DELETE
                </li>
            </ul>
        </div>
        <div id="session-timeout-dialog" class="modal fade" role="dialog" aria-labbelledby="sesstionTimeout" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title"><i class="fa fa-lock"></i>&nbsp;@CmsLanguage.LABEL_LOGOUT_MESSAGE_1</h4>
                    </div>
                    <div class="modal-body">
                        <p>@CmsLanguage.LABEL_LOGOUT_MESSAGE_2</p>
                    </div>
                    <div class="modal-footer">
                        <a href="@Url.Action("Login", "Account")" class="btn btn-primary"><i class="fa fa-sign-in"></i>&nbsp;@Language.LABEL_MENU_LOGIN</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap Core JavaScript -->
    <script src="~/Content/expandit-bootstrap/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="~/EISCMS/Content/js/plugins/metisMenu/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="~/EISCMS/Content/js/sb-admin-2.js"></script>
    <script src="@Url.Content("~/Content/product-slider/js/modernizr.custom.17475.js")"></script>

    <script>
        var rootUrl = '@Url.Content("~/")';
        $(document).ready(function () {
            $.post('@Url.Action("GetUsername", "Account")', function (data) {
                var message = '@CmsLanguage.LABEL_LOGGED_IN_AS_NAME';
                if (!data.username) {
                    $("#username").html('.');
                } else {
                    $("#username").html(message.replace("%1", data.username));
                }
            });
            var url = window.location;
            $('ul.nav a').filter(function () {
                return this.href == url;
            }).parents('ul').addClass('in');
        });
    </script>
    @MiniProfiler.RenderIncludes()
</body>
</html>