﻿@using EISCS.CMS.CentralManagement.Data
@using EISCS.Shop.DO.Dto
@using Resources
@using StackExchange.Profiling
@{
    string activePage = @HttpContext.Current.Request.RequestContext.RouteData.Values["controller"] + "/" + @HttpContext.Current.Request.RequestContext.RouteData.Values["action"];
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link href="@Url.Content("~/EISCMS/Content/js/jquery-ui-1.11.2/jquery-ui.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/EISCMS/Content/filetree/css/filemanager.css")" rel="stylesheet">
    <link href="@Url.Content("~/EISCMS/Content/css/eis-bc-main.css")" rel="stylesheet">
    <link href="@Url.Content("~/EISCMS/Content/css/jquery.alerts.css")" rel="stylesheet">
    <link href="@Url.Content("~/EISCMS/Content/css/jquery.bootstrap-touchspin.css")" rel="stylesheet">
    <link href="@Url.Content("~/EISCMS/Content/css/bootstrap-timepicker.min.css")" rel="stylesheet">
    
    <!--[if IE 9]>
        <link href="@Url.Content("~/EISCMS/Content/css/ie-hacks.css")" rel="stylesheet">
    <![endif]-->

    <link href="@Url.Content("~/EISCMS/Content/css/file-upload.css")" rel="stylesheet">
    <link href="@Url.Content("~/EISCMS/Content/css/plugins/select2.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/EISCMS/Content/css/plugins/select2-bootstrap.css")" rel="stylesheet">
    
    <!-- And FontAwesome -->
    <link href="@Url.Content("~/Content/font-awesome/css/font-awesome.css")" rel="stylesheet">
    
    <script src="~/EISCMS/Content/js/jquery-1.11.0.js"></script>
    <script src="~/EISCMS/Content/js/plugins/dataTables/jquery.dataTables.js"></script>
    <script src="~/EISCMS/Content/js/plugins/dataTables/dataTables.bootstrap.js"></script>
    <script src="~/EISCMS/Content/js/jquery-ui-1.11.2/jquery-ui.min.js"></script>
    <script src="~/EISCMS/Content/js/jquery.alerts.js"></script>
    <script src="~/EISCMS/Content/js/jquery.bootstrap-touchspin.js"></script>
    <script src="~/EISCMS/Content/js/bootstrap-timepicker.js"></script>
    <script src="~/EISCMS/Content/js/plugins/select2.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/tinymce/js/tinymce/tinymce.min.js")"></script>
    <script src="@Url.Content("~/EISCMS/Content/filetree/filetree.js")"></script>
    <script src="@Url.Content("~/EISCMS/Content/js/cms2.js")"></script>
    <script src="@Url.Content("~/Scripts/EIS.js")"></script>
</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">@CmsLanguage.LABEL_TOGGLE_NAVIGATION</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index", "BusinessCenter")">@Html.Action("CompanyName", "BusinessCenter")</a>
            </div>
            <ul class="nav navbar-top-links navbar-right">
                <li>
                    <a href="#" id="username"></a>
                </li>
                <li>
                    @*@Html.DropDownList("Languages", (SelectList)ViewData["LanguageGuid"], new { @class = "form-control input-sm" })*@
                    @Html.DropDownList("Languages", new SelectList( (List<LanguageTable>)Session["Languages"], "LanguageGuid", "LanguageName", Session["PageLanguageGuid"]), new { @class = "form-control input-sm" })
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i><i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="@Url.Action("ChangePassword", "Account")"><i class="fa fa-lock fa-fw"></i>&nbsp;@CmsLanguage.CATMAN_MENU_CHANGE_PASSWORD</a>
                        </li>
                        <li><a href="@Url.Action("UsersList", "Account")"><i class="fa fa-users fa-fw"></i>&nbsp;@CmsLanguage.CATMAN_MENU_ADMIN</a>
                        </li>
                        <li class="divider"></li>s
                        <li><a href="@Url.Action("Logout", "Account")"><i class="fa fa-sign-out fa-fw"></i>&nbsp;@Language.LABEL_MENU_LOGOUT</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <li><a href="@Url.Content("~/")" title="@CmsLanguage.LABEL_HOMEPAGE"><i class="fa fa-home"></i></a></li>
            </ul>
            <div class="navbar-inverse sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="sideMenu">
                        <li>
                            <a href="#"><i class="fa fa-line-chart"></i>&nbsp;@CmsLanguage.LABEL_BUSINESS_CENTER</a>
                            <ul id="businessCenter" class="nav nav-second-level">
                                <li>
                                    <a @if (activePage == "BusinessCenter/Index" || activePage == "BusinessCenter/OrderDetail")
                                       {
                                   <text>class="active"</text>
                                       } href="@Url.Action("Index", "BusinessCenter")"><i class="fa fa-dashboard fa-fw"></i>&nbsp;@CmsLanguage.LABEL_DASHBOARD</a>
                                </li>
                                <li>
                                    <a @if (activePage == "Synchronization/Index")
                                       {
                                           <text>class="active"</text>
                                       }
                                        href="@Url.Action("Index", "Synchronization")"><i class="fa fa-random fa-fw"></i>&nbsp;@CmsLanguage.CATMAN_LABEL_SYNCHRONIZE</a>
                                </li>
                                <li>
                                    <a @if (activePage == "BusinessCenter/Settings")
                                       {
                                               <text>class="active"</text>
                                       }
                                            href="@Url.Action("Settings", "BusinessCenter")"><i class="fa fa-cog fa-fw"></i>&nbsp;@CmsLanguage.LABEL_SETTINGS</a>
                                </li>
                                <li>
                                    <a @if (activePage == "BusinessCenter/KPI")
                                       {
                                           <text>class="active"</text>
                                       }
                                        href="@Url.Action("KPI", "BusinessCenter")"><i class="fa fa-bar-chart-o fa-fw"></i>&nbsp;@CmsLanguage.LABEL_KPI</a>
                                </li>
                                @{
                                    // Check if CmsCentralManagement section exist in webconfig.
                                    ConnectionStrings connectionStrings = new ConnectionStrings("ExpandITConnectionString");
                                    ConfigSettings setting = new ConfigSettings("CmsCentralManagement");
                                    bool showCentralManagement = setting.GetSectionElements(connectionStrings.MainConnectionstringName) != null;
                                    
                                    if (showCentralManagement)
                                    {
                                        <li>
                                            <a @if (activePage == "CentralManagement/IndexM")
                                               {
                                                   <text> class="active" </text>
                                               }
                                                href="@Url.Action("IndexM", "CentralManagement")"><i class="fa fa-check-square-o fa-fw"></i>&nbsp;@CmsLanguage.LABEL_CENTRAL_MANAGEMENT</a>
                                        </li>
                                    }
                                }
                            </ul>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-tags fa-fw"></i>&nbsp;@CmsLanguage.LABEL_CMS</a>
                            <ul id="catalog" class="nav nav-second-level">
                                <li>
                                    <a @if (activePage == "Catalog/AllProducts" || activePage == "Catalog/Edit")
                                       {
                                           <text>class="active"</text>
                                       }href="@Url.Action("AllProducts", "Catalog")"><i class="fa fa-tags fa-fw"></i>&nbsp;@CmsLanguage.CATMAN_LABEL_PRODUCT_LIST</a>
                                </li>
                                <li>
                                    <a id="catalogSitemap" @if (activePage == "Catalog/CatalogOverview" || activePage == "Catalog/GroupEdit")
                                                           {
                                                               <text>class="active"</text>
                                                           }href="#"><i class="fa fa-tags fa-archive fa-fw"></i>&nbsp;@CmsLanguage.CATMAN_LABEL_CATALOG</a>
                                    @Html.Action("SidebarTreeView", "Sidebar")
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-envelope"></i>&nbsp;@CmsLanguage.LABEL_MAIL_SETTINGS</a>
                            @Html.Action("MailTreeView", "MailTemplate")
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-picture-o"></i>&nbsp;@CmsLanguage.LABEL_IMAGE_SCALE_AND_CROP</a>
                            <ul id="imageupload" class="nav nav-second-level">
                                <li>
                                    <a @if (activePage == "ImageHandler/Index" || activePage == "ImageHandler/SomethingElse")
                                       {
                                           <text>class="active"</text>
                                       }
                                        href="@Url.Action("Index", "ImageHandler")">
                                        <i class="fa fa-file-image-o"></i>&nbsp;@CmsLanguage.CATMAN_SELECT_IMAGE
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-users"></i>&nbsp;@CmsLanguage.LABEL_USER_MANAGEMENT</a>
                            <ul id="usermanagement" class="nav nav-second-level">
                                @if(System.Configuration.ConfigurationManager.AppSettings["IGNORE_LOCALMODE"]=="1") {
                                <li>
                                    <a @if (activePage == "UserManagement/AddUser")
                                       {
                                           <text>class="active"</text>
                                       }
                                        href="@Url.Action("AddUser", "UserManagement")"><i class="fa fa-user-plus fa-fw"></i>&nbsp;@CmsLanguage.CATMAN_LABEL_ADD_USER</a>
                                </li>
                                }
                                <li>
                                    <a @if (activePage == "UserManagement/UserRoleMatrix")
                                       {
                                           <text>class="active"</text>
                                       }
                                        href="@Url.Action("UserRoleMatrix", "UserManagement")"><i class="fa fa-unlock fa-fw"></i>&nbsp;@CmsLanguage.LABEL_MANAGE_ROLE_ACCESS</a>
                                </li>
                                <li>
                                    <a @if (activePage == "UserManagement/Roles" || activePage == "UserManagement/EditRole" || activePage == "UserManagement/AddRole")
                                       {
                                           <text>class="active"</text>
                                       }
                                        href="@Url.Action("Roles", "UserManagement")"><i class="fa fa-user-md fa-fw"></i>&nbsp;@CmsLanguage.LABEL_MANAGE_ROLES</a>
                                </li>
                                <li>
                                    <a @if (activePage == "UserManagement/Users" || activePage == "UserManagement/EditUser"|| activePage == "UserManagement/Details")
                                       {
                                           <text>class="active"</text>
                                       }
                                        href="@Url.Action("Users", "UserManagement")"><i class="fa fa-users fa-fw"></i>&nbsp;@Language.SO_HEADER_ACCOUNT_MANAGEMENT_USERS</a>
                                </li>
                                <li>
                                    <a @if (activePage == "UserManagement/Customers" || activePage == "UserManagement/Customer")
                                       {
                                           <text>class="active"</text>
                                       }
                                        href="@Url.Action("Customers", "UserManagement")"><i class="fa fa-institution fa-fw"></i>&nbsp;@Language.SO_LABEL_INPUT_CUSTOMERS</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
        <div id="page-wrapper">
            <div id="editorcontent">
                @RenderBody()
            </div>
            <div id="myMenu">
                <ul class="list-group">
                    <li id="mcreate" class="list-group-item">
                        <i class="fa fa-plus-circle"></i>&nbsp;@CmsLanguage.CATMAN_ACTION_NEW
                    </li>
                    <li id="mdelete" class="list-group-item">
                        <i class="fa fa-ban"></i>&nbsp;@CmsLanguage.CATMAN_ACTION_DELETE
                    </li>
                </ul>
            </div>
            <div id="session-timeout-dialog" class="modal fade" role="dialog" aria-labbelledby="sesstionTimeout" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title"><i class="fa fa-lock"></i>&nbsp;@CmsLanguage.LABEL_LOGOUT_MESSAGE_1</h4>
                        </div>
                        <div class="modal-body">
                            <p>@CmsLanguage.LABEL_LOGOUT_MESSAGE_2</p>
                        </div>
                        <div class="modal-footer">
                            <a href="@Url.Action("Login", "Accounts", new { retUrl = "/cms" })" class="btn btn-primary"><i class="fa fa-sign-in"></i>&nbsp;@Language.LABEL_MENU_LOGIN</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap Core JavaScript -->
    <script src="~/Content/expandit-bootstrap/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="~/EISCMS/Content/js/plugins/metisMenu/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="~/EISCMS/Content/js/sb-admin-2.js"></script>
    <script src="@Url.Content("~/Content/product-slider/js/modernizr.custom.17475.js")"></script>


    <script>
        var rootUrl = '@Url.Content("~/")';
        var _uploadBaseFolder = '@System.Configuration.ConfigurationManager.AppSettings["UPLOAD_CONTENT_BASE_FOLDER"]';
        $(document).ready(function () {
            //debugger;
            $.post('@Url.Action("GetUsername", "Account")', function (data) {
                var message = '@CmsLanguage.LABEL_LOGGED_IN_AS_NAME';
                if (!data.username) {
                    $("#username").html('.');
                } else {
                    $("#username").html(message.replace("%1", data.username));
                }
            });
            var url = window.location;
            $('ul.nav a').filter(function () {
                return this.href == url;
            }).parents('ul').addClass('in');
        });
    </script>
    @MiniProfiler.RenderIncludes()
</body>
</html>
