﻿<!--
Template information used by the Catalog Manager
#NAME=Customer Ledger Entry Page
#DESCRIPTION=Displays a customer ledger entry page.
#GROUPTEMPLATE=TRUE
#PRODUCTTEMPLATE=FALSE
#PROPERTYGROUP=NAME, ALIAS, REDIRECTURL, TEMPLATE, TITLE, CONTROLLER | Page Properties
#PROPERTYGROUP=HTMLDESC | Additional Info    
-->

@using System.Configuration
@using EISCS.ExpandIT
@using EISCS.Shop.DO.Dto.Ledger
@using Resources
@using ViewModels.Ledger
@model DisplayLedgerEntryViewModel
@{
    ViewBag.Title = ConfigurationManager.AppSettings["SHOP_TITLE"] + " - " + Language.LABEL_HISTORY_INFORMATION;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section header
{
    <link rel="stylesheet" href="@Url.Content("~/Content/datatables/dataTables.bootstrap.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/customer.css")" />
    <script type="text/javascript" src="@Url.Content("~/Content/datatables/jquery.dataTables.js")"> </script>
    <script type="text/javascript" src="@Url.Content("~/Content/datatables/dataTables.bootstrap.js")"> </script>
}
 <div class="top15">
        <h2>
            @Language.LABEL_ORDER_LEDGER
        </h2>
    </div>
@if (Model != null && Model.LedgerEntryViewModel.LedgerEntryContainer != null && Model.LedgerEntryViewModel.LedgerEntryContainer.LedgerEntries != null && Model.LedgerEntryViewModel.LedgerEntryContainer.LedgerEntries.Count > 0)
{
   
    <div>
        @Language.LABEL_CUSTOMER_LEDGER_EMAIL_INFORMATION
    </div>
    <div class="top15">
        <p>@Language.LABEL_LEDGER_ENTRY_BALANCE: @CurrencyFormatter.FormatCurrency(Model.LedgerEntryViewModel.LedgerEntryContainer.BalanceAmountLCY, Model.LedgerEntryViewModel.LedgerEntryContainer.Currency)</p>
        <table class="table table-hover" id="historyTable">
            <thead>
                <tr>
                    <th>@Language.LABEL_FIELD_LEDGER_POSTDATE</th>
                    <th>@Language.LABEL_FIELD_LEDGER_DOCUMENT_NO</th>
                    <th>@Language.LABEL_FIELD_LEDGER_DOCUMENT_TYPE</th>
                    <th>@Language.LABEL_FIELD_LEDGER_DOCUMENT_DESCRIPTION</th>
                    <th>@Language.LABEL_FIELD_LEDGER_AMOUNT</th>
                    <th>@Language.LABEL_FIELD_LEDGER_DOCUMENT_OPEN</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (CustomerLedgerEntryItem clei in Model.LedgerEntryViewModel.LedgerEntryContainer.LedgerEntries)
                {
                    <tr>
                        <td>@Html.DisplayFor(model => clei.PostingDate)</td>
                        <td>@clei.DocumentGuid</td>
                        <td>@clei.DocumentType</td>
                        <td>@clei.Description</td>
                        <td>@CurrencyFormatter.FormatCurrency(clei.Amount, clei.CurrencyGuid)</td>
                        <td>@Html.CheckBox("chkIsOpen", clei.IsOpen, new { disabled = "disabled" })</td>
                        <td>
                            <img style="cursor: pointer;" onclick="prepareEmail('@clei.DocumentGuid','@clei.DocumentType','@clei.Description')" alt="@Language.LABEL_SEND_EMAIL_REQUEST" src="@Url.Content("~/images/email.gif")" /></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <script>



        function decodeHTMLEntities(str) {
            var element = document.createElement('div');
            if (str && typeof str === 'string') {
                // strip script/html tags
                str = str.replace(/<script[^>]*>([\S\s]*?)<\/script>/gmi, '');
                str = str.replace(/<\/?\w(?:[^"'>]|"[^"]*"|'[^']*')*>/gmi, '');
                element.innerHTML = str;
                str = element.textContent;
                element.textContent = '';
            }
            return str;
        }

        $(document).ready(function () {
            $('#historyTable').DataTable({
                'serverSide': false,
                'order': [[0, 'desc']],
                'processing': true,
                'language': { 'url': i18nHelper.getDataTableLangUrl() }
            });
        });

        function prepareEmail(docGuid, docType, desc) {
            var to = '@Model.LedgerEntryViewModel.MailAddress';
            var subj = decodeHTMLEntities('@Model.LedgerEntryViewModel.MailSubject');
            var mailText = '@Model.LedgerEntryViewModel.GetMailText()';
            mailText = mailText.replace(/%NEWLINE%/gi, "\n");
            mailText = decodeHTMLEntities(mailText);
            mailText = mailText.replace(/%LEDGER_ENTRY_NO%/gi, docGuid);
            mailText = mailText.replace(/%LEDGER_ENTRY_TYPE%/gi, docType);
            mailText = mailText.replace(/%LEDGER_ENTRY_DESCRIPTION%/gi, desc);

            var doc = "mailto:" + to + "?subject=" + encodeURIComponent(subj) + "&body=" + encodeURIComponent(mailText) + "&enctype=text/plain";

            window.location = doc;
        }
    </script>
}
else
{   
    
    <div class="alert alert-info top15">
        @Language.MESSAGE_LEDGER_ENTRIES_NOT_AVAILABLE
    </div>
    }

@if (Model != null)
{
    <div class="row">
        &nbsp;
    </div>
    <div class="row">
        <div class="col-xs-12 no-padding-xs">
            @Html.Raw(Model.CmsEditedHtml)
        </div>
    </div>
}
