﻿@model FormModels.UserItemFormModel

<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="fa fa-credit-card"></span> @Model.CurrencyGuid <span class="fa-caret-down fa"></span></a>
<ul class="dropdown-menu">
	@foreach (KeyValuePair<string, string> currency in Model.CurrencyList)
	{
		<li><a href="@Url.Action("ChangeCurrency", "ExpandItMenu", new { currency = @currency.Key })">@currency.Value</a></li>
	}
</ul>