﻿@model FormModels.UserItemFormModel

@{
    //BAD, BAD! Put logic in controller and data on viewmodel!
	string languageString;
	string languageGuid = (string)HttpContext.Current.Session["LanguageGuid"] ?? "en";
	Model.LanguageList.TryGetValue(languageGuid, out languageString);
}

<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="fa fa-globe"></span> @languageString <span class="fa-caret-down fa"></span></a>
<span class="dropdown-menu" id="language-dropdown">
	@foreach (KeyValuePair<string, string> language in Model.LanguageList)
	{
		
		<a href="@Url.Action("ChangeLanguage", "ExpandItMenu", new { lang = @language.Key })"><img src="~/images/languages/@(language.Key).gif"/></a> 
	}
</span>