@using ViewModels.ExpandItMenu
@model ViewModels.ExpandItMenu.ExpandItMenuViewModel
<ul class="nav nav-tabs main-nav">
	@foreach (ExpandItMenuViewModel.MenuItem item in Model.MenuItems)
	{
		//if (@Model.CurrentUser.UserRole != PortalUser.UserAccessLevel.Administrator)
		//{
		//    if (item.Id != 11042)
		//    {
		<li class="@((item.Selected) ? "active" : null)"><a href="@item.Url">@item.Name</a></li>
		/*    }
        }
        else
        {
            <li class="@((item.Selected) ? "active" : null)"><a href="@item.Url">@item.Name</a></li>
        }*/
	}
	<li class="pull-right hidden-xs">
		<a href="~/cart.aspx"><span class="fa fa-shopping-cart"></span>
			@if (Model.TotalAmount == 0)
			{
				@Model.NumberOfItemsText
			}
			else
			{
				<span class="badge">@Model.NumberOfItemsText</span>
				@Model.TotalAmountText
			}
		</a>
	</li>
</ul>