﻿@using Resources
@using ViewModels
@model ViewModels.ExpanditMenuViewModel

<div class="hidden-xs">
    @ShowMenuTree(Model.MenuItems)
</div>

<div class="visible-xs">
    <div class="dropdown btn-block">
        <button class="btn btn-default dropdown-toggle btn-block" type="button" id="productDropdown" data-toggle="dropdown">
            @Language.LABEL_MENU_CATALOG
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu btn-block" role="menu" aria-labelledby="productDropdown">
            @ShowMenuTreeXs(Model.MenuItems)
        </ul>
    </div>
</div>

@helper ShowMenuTree(IEnumerable<ExpanditMenuViewModel.MenuItem> items)
{
    <ul class="nav nav-list">
        @foreach (ExpanditMenuViewModel.MenuItem item in items)
        {
            <li>
                <a href="@item.Url" class="nav_tree_link @((item.Selected) ? "active" : null)">@item.Text</a>
            </li>
            if (item.Selected || item.Children.Any(SubItemSelected))
            {
                @ShowMenuTree(item.Children)
            }
        }
    </ul>
}

@helper ShowMenuTreeXs(IEnumerable<ExpanditMenuViewModel.MenuItem> items)
{
    
    foreach (ExpanditMenuViewModel.MenuItem item in items)
    {
        <li role="presentation"><a href="@item.Url" role="menuitem" tabindex="-1" class="@((item.Selected) ? "active" : null)">@item.Text</a></li>
        if (item.Selected || item.Children.Any(SubItemSelected))
        {   <ul>
                @ShowMenuTreeXs(item.Children)
            </ul>
        }
    }
}



@functions {

    private bool SubItemSelected(ExpanditMenuViewModel.MenuItem item)
    {
        if (item.Selected || !item.Children.Any())
        {
            return item.Selected;
        }

        return item.Children.Any(SubItemSelected);
    }

}