﻿@model FormModels.UserItemFormModel

<ul class="nav navbar-nav navbar-right">
	<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="fa fa-user"></span> @Resources.Language.LABEL_MENU_LOGIN <b class="caret"></b></a>
		<ul class="dropdown-menu">
			<li><a href="@Url.Action("Index", "Profile")"><span class="fa fa-dashboard fa-fw"></span> View Profile</a></li>
			<li><a href="@Url.Action("UpdatePassword", "Profile")"><span class="fa fa-unlock-alt fa-fw"></span> Change password</a></li>
			<li class="divider"></li>
			<li><a href="@Url.Content("~/_user_logout.aspx")"><span class="fa fa-sign-out fa-fw"></span> Sign off</a></li>
		</ul>
	</li>
</ul>


