﻿@using Resources
@model FormModels.UserItemFormModel

<ul class="nav navbar-nav navbar-right">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="fa fa-user"></span> @Language.LABEL_MENU_ACCOUNT <b class="caret"></b></a>
        <ul class="dropdown-menu">
            @if (!string.IsNullOrEmpty(Model.UserGuid))
            {
                <li><a href="@Url.Action("Edit", "Profile")"><i class="fa fa-edit"></i> @Language.LABEL_USERDATA_UPDATE_USER_INFORMATION</a></li>
                <li><a href="@Url.Action("UpdatePassword", "Profile")"><i class="fa fa-lock"></i> @Language.LABEL_USERDATA_UPDATE_USER_PASSWORD</a></li>
                <li class="divider"></li>
                <li><a href="@Url.Action("UserLogout", "Accounts")"><span class="fa fa-sign-out fa-fw"></span> @Language.LABEL_MENU_LOGOUT</a></li>
            }
            else
            {
                <li><a href="@Url.Action("Login", "Accounts")"><span class="fa fa-sign-in fa-fw"></span> @Language.LABEL_MENU_LOGIN</a></li>
                if (Model.HasAccess("OpenSite"))
                 {
                    <li><a href="@Url.Action("Register", "Accounts")"><span class="fa fa-plus-square fa-fw"></span> @Language.LABEL_REGISTER_AS_NEW_USER</a></li>    
                 }
            }
        </ul>
    </li>
    @if (!Model.isB2B)
    {
        <li class="dropdown">
            @Html.Partial("_CurrencyDropdown", Model)
        </li>
    }
    <li class="dropdown">
        @Html.Partial("_LanguageDropdown", Model)
    </li>
    <li class="">
        @using (Html.BeginForm("Index", "ProductSearch", new {id = ""}, FormMethod.Get, new {id = "searchForm_", Class = "search-bar pull-right hidden-sm"}))
        {
            <div class="form-group has-feedback">
                <label class="sr-only">@Language.ACTION_SEARCH</label>
                <input type="text" name="searchstring" id="searchstring" class="form-control" placeholder="@Language.ACTION_SEARCH" accesskey="s" />
                <span class="fa fa-search form-control-feedback"></span>
            </div>
        }
    </li>
</ul>
@if (!string.IsNullOrEmpty(Model.UserGuid))
{
    <ul class="nav navbar-nav navbar-right">
    	<li class="user-welcome hidden-xs"><a>@Language.LABEL_USER_GREETING @Model.ContactName</a></li>
    </ul>
}