﻿@using ViewModels
@model ExpanditMenuViewModel

<ul class="nav nav-tabs main-nav">
    @foreach (ExpanditMenuViewModel.MenuItem item in Model.MenuItems)
    {
        @* Un-comment this to have "active" links *@
        <li class="@((item.Selected) ? "active" : null)"><a href="@item.Url">@item.Text</a></li>
    }

    <li id="miniCartRef">
        @Html.Partial("../shared/_MiniCart", @Model)
    </li>
	
</ul>