﻿@using EISCS.ExpandITFramework.Util
@model ViewModels.CartViewModel.HeaderInfo

<div id="panelCommentAndPONumber">
    <hr />
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div id="bottom_buttons" class="cart-buttons-container">
                <button class="btn btn-danger" id="clear" data-toggle="modal" data-target=".clear-confirmation"><i class="fa fa-exclamation-triangle"></i> @Resources.Language.ACTION_CLEAR</button>


                <a class="btn btn btn-warning" id="undo-changes" href="@Url.Action("Index", "Cart")">
                    <i class="fa fa-reply"></i> @Resources.Language.ACTION_UNDO_CHANGES
                </a>

                <button type="button" class="btn btn btn-success pull-right" id="Purchase" onclick="Purchase()"><i class="fa fa-thumbs-up"></i> @Resources.Language.LABEL_MENU_PURCHASE</button>
            </div>
        </div>
    </div>
	<hr />
	<h4>@Resources.Language.LABEL_ADDTIONAL_INFO</h4>

	<div class="row">
		<div class="col-md-6 col-sm-6">
			<span class="help-block">
				<p>@Resources.Language.MESSAGE_USE_THE_INPUT_TO_ENTER_PRODUCTS</p>
			</span>
			
			@using (Html.BeginForm("QuickAdd", "Cart", FormMethod.Post, new {Class="form"})) {
				<div class="form-group col-md-6 no-padding-xs">
					<label class="sr-only">@Resources.Language.LABEL_PRODUCT</label>
					<input class="form-control" type="text" name="ProductGuid" id="InpSku" value="" placeholder="@Resources.Language.LABEL_PRODUCT" />
				</div>
				<div class="form-group col-md-2 no-padding-xs">
					<label class="sr-only">@Resources.Language.LABEL_QUANTITY</label>
					<input class="form-control" type="number" step="1" name="Quantity" value="1" size="2" maxlength="5" min="1">
				</div>
				
				<button type="submit" class="btn btn-primary" id="UpdateDynamic">
					<i class="fa fa-plus-circle"></i> @Resources.Language.ACTION_ADD_DYNAMIC
				</button>
			}
		</div>	
		<div class="col-md-6 col-sm-6">
			<div class="col-md-6 col-sm-12" id="panelComment">
				<label>@Resources.Language.LABEL_INPUT_COMMENT</label><br />
				@Html.TextAreaFor(m => m.HeaderComment, new { Class = "form-control" })
			</div>
			<div class="col-md-6 col-sm-6" id="panelPONumber">
			    <label>@Resources.Language.LABEL_INPUT_PONUMBER</label><br />
			    @Html.TextBoxFor(m => m.CustomerPONumber, new { Class = "form-control", type = "number", step = "1", size = "2", maxlength = "5", min = "0" })
			</div>
		</div>
	</div>
</div>

						
<div class="modal fade clear-confirmation" tabindex="-1" role="dialog" aria-labelledby="clear-confirmation" aria-hidden="false">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">@Resources.Language.ACTION_CLEAR @Resources.Language.LABEL_MINI_CART_HEAD</h4>
			</div>
			<div class="modal-body" hidden>
			</div>
			<div class="modal-footer no-body">
				<button type="button" class="btn btn-default pull-left" data-dismiss="modal"><i class="fa fa-times-circle"></i> @Resources.Language.ACTION_CLOSE</button>
				<a href="@Url.Action("Clear", "Cart")" class="btn btn-danger pull-right"><i class="fa fa-trash-o"></i> @Resources.Language.ACTION_CLEAR</a>
			</div>
		</div>
	</div>
</div>

<script>
    @{ string slash = string.IsNullOrEmpty(AppUtil.GetVirtualRoot()) ? "/" : AppUtil.GetVirtualRoot() + "/"; }
    function Purchase() {
        $("#updateForm").get(0).setAttribute("action", "@slash" + "Cart/Purchase");
        $("#updateForm").submit();
    }

    $(document).ready(function() {
        $(".modal").appendTo("body");

        $("#updateForm").submit(function(e) {
            $("<input>").attr("type", "hidden").attr("name", "comment").val($.trim($("#HeaderComment").val())).appendTo("#updateForm");
            $("<input>").attr("type", "hidden").attr("name", "poNumber").val($.trim($("#CustomerPONumber").val())).appendTo("#updateForm");
            return true;
        });


    });

</script>