﻿@using EISCS.Routing.Providers
@model ViewModels.CartViewModel.ProductItem
@{
	var variantName = Html.DisplayTextFor(p => p.VariantName).ToString();
    var variantCode = Html.DisplayTextFor(p => p.VariantCode).ToString();
	if (!string.IsNullOrEmpty(variantName))
	{
	    variantName = "- " + variantName;	    
	}
    if (!string.IsNullOrEmpty(variantCode))
    {
        variantCode = "(" + variantCode + ")";
    }
    var productGuid = Html.DisplayTextFor(p => p.ProductGuid).ToString();
}

<tr>
	<td class="column product-name">
		<a href="@Model.ProductLink">
			@productGuid @Html.DisplayTextFor(p => p.ProductName) @Html.Raw(@variantName) @variantCode 
		</a>
	</td>
    <td class="column product-quantity col-xs-1">
        @Html.HiddenFor(p => p.LineGuid)
        @Html.HiddenFor(p => p.VersionGuid)
        @Html.HiddenFor(p => p.ProductGuid)
        @Html.HiddenFor(p => p.VariantCode)
		@Html.HiddenFor(p => p.ProductName)
		@Html.HiddenFor(p => p.VariantName)
        @Html.HiddenFor(p => p.LineGuid)
        @if (Model.PromotionalGift)
        {
            @Html.TextBoxFor(p => p.Quantity, new { Class = "form-control input-sm", @type = "number", @step = "1", @min = "0", @max = "10000000", @readonly = "readonly" })
        }
        else
        {
            @Html.TextBoxFor(p => p.Quantity, new { Class = "form-control input-sm", @type = "number", @step = "1", @min = "0", @max = "10000000" })
        }
    </td>
    <td class="column product-price hidden-xs">
        @Html.DisplayTextFor(p => p.DisplayListPrice)
    </td>
    <td class="column product-discount-amount hidden-xs">
        @Html.DisplayTextFor(p => p.DisplayLineDiscountAmount)
    </td>
    <td class="column product-discount-percentage hidden-xs">
        @Html.DisplayTextFor(p => p.LineDiscount)
    </td>
    <td class="column product-line-total col-xs-3">
        @Html.DisplayTextFor(p => p.DisplayLineTotal)
        @if (!Model.PromotionalGift)
        {
           <a href="@Url.Action("Delete", new { productGuid = Model.ProductGuid, variantCode = Model.VariantCode })" rel="tooltip" title="@Resources.Language.TOOLTIP_DELETE "><i class="fa fa-times-circle shop-delete-icon"></i></a>
        }
    </td>
</tr>
