﻿<!--
    Template information used by the Catalog Manager
    #NAME=Big Picture
    #DESCRIPTION=Displays a product with a big picture.
    #GROUPTEMPLATE=FALSE
    #PRODUCTTEMPLATE=TRUE
    #PROPERTYGROUP=ALIAS, TEMPLATE | Page Properties
    #PROPERTYGROUP=HTMLDESC, DESCRIPTION, PICTURE1, PICTURE2, HYPERLINK, LINK, LINKTEXT, ATTACHMENT, ATTACHTEXT | Content
    -->
@using System.Configuration
@using Resources
@model ViewModels.ProductsViewModel
@{
    ViewBag.Title = ConfigurationManager.AppSettings["SHOP_TITLE"] + " - " + (Model.ProductItems.Count > 0 ? Model.ProductItems[0].ProductName : "");
    Layout = "~/Views/shared/_ProductPageLayout.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        @Html.ValidationSummary(false, null, new { @class = "alert alert-danger" })
    </div>
</div>
<div class="row" id="product-item-big">
    <div class="col-md-4 hidden-xs">
        <img class="product-img" src="@Url.Content(Model.ProductItems[0].Picture1)" />
    </div>
    <div class="col-md-8">
        <div id="product-title-big">
            <h1>
                @Model.ProductItems[0].ProductName
            </h1>
        </div>
        <div class="visible-xs">
            <img class="product-img" src="@Url.Content(Model.ProductItems[0].Picture1)" />
        </div>

        @if (Model.ProductItems[0].VariantSelect != null)
        {
            <form class="col-sm-12" action="@Model.ProductItems[0].ProductLink" method="POST">
                @Html.DropDownListFor(m => m.ProductItems[0].VariantCode, Model.ProductItems[0].VariantSelect, new { Name = "VariantCodes", id = "VariantCodes", @onchange = "setHiddenValue(this); this.form.submit();", Class = "form-control" })
                <input type="hidden" name="ProductGuid" value="@Model.ProductItems[0].ProductGuid"/>
                <input type="hidden" id="sVariantCode" name="VariantCode" value="@Model.ProductItems[0].VariantCode" />
            </form>
        }

        @using (Html.BeginForm("Add", "Cart", FormMethod.Post, new { id = "updateForm" }))
        {
            <input type="hidden" name="ProductGuid" value="@Model.ProductItems[0].ProductGuid" />
            <input type="hidden" name="ProductName" value="@Model.ProductItems[0].ProductName" />
            <input type="hidden" id="VariantCode" name="VariantCode" value="@Model.ProductItems[0].VariantCode" />
            <div id="product-header" class="col-md-12">
                <span class="h5">@Model.ProductItems[0].ProductGuid</span>
                <span class="small visible-xs">@Language.LABEL_PRICE: <span class="product-item-price h4">@Model.ProductItems[0].DisplayListPrice</span></span>
                <span class="hidden-xs product-item-price h4">@Model.ProductItems[0].DisplayListPrice</span>
                <div class="product-buttons">
                    @if (Model.HasCartAccess)
                    {
                        <button class="btn btn-primary cart-button" id="add-button"><i class="fa fa-plus-circle"></i> @Language.ACTION_ADD_TO_ORDER_PAD</button>
                    }
                    @Html.Partial("../Product/Partials/MailTip", @Model)
                </div>
            </div>
            <div class="col-xs-12">
                <p class="description-text">
                    @Html.Raw(Model.ProductItems[0].LongDescription)
                </p>
            </div>
        }
    </div>
</div>

<div class="row">
    @if (Model.RelatedItems.Count > 0)
    {
        @Html.Partial("../Product/Partials/_RelatedProducts", @Model)
    }

    <div class="col-xs-12">
        <p class="description-text">
            @(Model.PricesIncludeTax ? Language.LABEL_PRICES_ARE_INLUDING_TAX : Language.LABEL_PRICES_ARE_EXLUDING_TAX)
        </p>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        if (@ConfigurationManager.AppSettings["STAY_IN_CATALOG"] == '1') {
            updateAndStay();
        }

        function updateAndStay() {
            $('#add-button').on('click', function () {
                postForm('#updateForm');
            });

            function postForm(formId) {

                $(formId).submit(function (e) {
                    e.preventDefault();
                });

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("AddAjax", "Cart")",
                    data: $(formId).serialize(),
                    datatype: "html",
                    success: function (data) {
                        $('#miniCartRef').html(data);
                    }
                });
            }
        }
    
        $('#VariantCode').val($('#VariantCodes').val());

    });
    
    function setHiddenValue(src) {
        var elem = src.options[src.selectedIndex];
        $('#VariantCode').val(elem.value);
        $('#sVariantCode').val(elem.value);
    }

</script>
