﻿@using EISCS.Routing.Providers
@using Resources
@model ViewModels.ProductsViewModel.ProductItem

<img class="product-img" src="@Url.Content(Model.Picture2)" alt="@Model.ProductName"/>
<span class="title">@Model.ProductName</span>
<p class="price">
	<span class="small">@Model.ProductGuid</span><br/>
	<span class="product-item-price">@Model.DisplayListPrice</span>
</p>

