﻿@using EISCS.Routing.Providers
@using Resources
@using ViewModels
@model ProductsViewModel

@{
	var dictRelations = new Dictionary<int, List<ProductsViewModel.ProductItem>>();
	foreach (var item in Model.RelatedItems) {
		var relationItem = item.ProductRelations.Find(x => x.RelatedToProductGuid == item.ProductGuid && x.IsFound == false);
		var productRelationType = relationItem.ProductRelationType;
		relationItem.IsFound = true;
		if (!dictRelations.ContainsKey(productRelationType)) {
			var tmp = new List<ProductsViewModel.ProductItem>() { item };
			dictRelations.Add(productRelationType, tmp);
		} else {
			dictRelations[productRelationType].Add(item);
		}
	}
}

<div>
    @foreach (var currPair in dictRelations.Keys) {
		switch (currPair) {
			case 0:
				<h3>
					@Html.Raw(Language.LABEL_CUSTOMERS_WHO_BOUGHT_THIS_ALSO_BOUGHT)
				</h3>
				<ul id="other-costumers" class="elastislide-list">
					@foreach (var item in dictRelations[currPair]) {
						<li>
							<a href="@RouteManager.Route.CreateTemplateProductLink(item.ProductGuid, 0, Model.UserLanguage)">
								@Html.Partial("Partials/_RelatedProductsItem", item)
							</a>
						</li>
					}
				</ul>
				break;
			case 1:
                <h3>
                    @Html.Raw(Language.LABEL_SIMILAR_PRODUCTS)
                </h3>
				<ul id="similar-products" class="elastislide-list">
					@foreach (var item in dictRelations[currPair]) {
						<li>
							<a href="@RouteManager.Route.CreateTemplateProductLink(item.ProductGuid, 0, Model.UserLanguage)">
								@Html.Partial("Partials/_RelatedProductsItem", item)
							</a>
						</li>
					}
				</ul>
				break;
	 
			case 2:
                <h3>@Html.Raw(Language.LABEL_SEE_ALSO)</h3>
				<ul id="see-also" class="elastislide-list">
					@foreach (var item in dictRelations[currPair]) {
						<li>
							<a href="@RouteManager.Route.CreateTemplateProductLink(item.ProductGuid, 0, Model.UserLanguage)">
								@Html.Partial("Partials/_RelatedProductsItem", item)
							</a>
						</li>
					}
				</ul>
				break;
		}
	}
</div>

<script src="@Url.Content("~/Content/product-slider/js/jquery.elastislide.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/product-slider/js/jquerypp.custom.js")" type="text/javascript"></script>

<script type="text/javascript">
	$("#other-costumers").elastislide();
	$("#similar-products").elastislide();
	$("#see-also").elastislide();
</script>