﻿@using EISCS.ExpandITFramework.Util
@model ViewModels.ProductsViewModel

<a href="#" id="showModal" class="btn btn-info cart-button"><i class="fa fa-comments"></i> @Resources.Language.ACTION_TIP_A_FRIEND</a>

<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">@Resources.Language.ACTION_TIP_A_FRIEND</h4>
            </div>
            <div class="modal-body">
                <div class="well">
                    <fieldset id="mailtipForm">
                        <legend>
                            @Resources.Language.LABEL_TIP_A_FRIEND_ABOUT_THIS_PRODUCT: @Model.ProductItems[0].ProductName
                        </legend>
                        <div class="form-group">
                            <label class="control-label" for="sendersName">
                                @Resources.Language.LABEL_YOUR_NAME</label>
                            <input type="text" id="sendersName" class="form-control" placeholder="John Doe"/>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="sendersMailAddress">
                                @Resources.Language.LABEL_YOUR_EMAIL_ADDRESS</label>
                                <input type="text" id="sendersMailAddress" class="form-control" placeholder="some@email.com" />
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="displayName">
                                @Resources.Language.LABEL_YOUR_FRIENDS_NAME</label>
                            <input type="text" id="displayName" class="form-control" placeholder="John Appleseed" />
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="displayMailAddress">
                                @Resources.Language.LABEL_YOUR_FRIENDS_EMAIL</label>
                            <input type="text" id="displayMailAddress" class="form-control" placeholder="john.appleseed@email.com" />
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times-circle"></i> @Resources.Language.ACTION_CLOSE</button>
                <button id="A1" type="button" class="btn btn-primary"><i class="fa fa-send"></i> @Resources.Language.ACTION_SEND</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $('#showModal').on('click', function () {
        $('#myModal').appendTo("body").modal('show');
    });

    var productGuid = '@Model.ProductItems[0].ProductGuid';
    var currentUrl = '@AppUtil.ShopFullPathServerOnly()@Request.RawUrl';
    var shopPath = '@AppUtil.ShopFullPath()';

    $('#A1').click(function () {
        var data = inputsToJson();
        $.ajax({
            type: 'POST',
            url: shopPath + '/MailTip/SendMail',
            data: data,
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: function (msg) {
                alert(msg.msg);
                $('#myModal').modal('hide');
            }
        });
        return false;
    });

    function inputsToJson() {
        var data = new Object();
        $("#mailtipForm :input").each(function () {
            data[$(this).attr("id")] = $(this).val();
        });
        data['productGuid'] = productGuid;
        data['currentUrl'] = currentUrl;
        return JSON.stringify(data);
    }

</script>

