﻿@using System.Configuration
@using Resources
@model ViewModels.ContactUsViewModel
@{
    ViewBag.Title = ConfigurationManager.AppSettings["SHOP_TITLE"] + " - " + @Language.MESSAGE_MAIL_SEND_OK;
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>@Language.MESSAGE_MAIL_SEND_OK</h1>

<div class="row">
    <div class="col-sm-12">
        @Language.LABEL_CONTACT_US_RECEIPT
    </div>
</div>
<br/>
<div class="row">
    <div class="col-sm-12">
        <a href="@Url.Action("ContactUs", "Contact")" class="btn btn-primary" role="button"><i class="fa fa-retweet"></i>&nbsp;@Language.LABEL_CONTACT_NEW_REQUEST</a>
    </div>
</div>
