﻿@using System.Configuration
@using Resources
@model ViewModels.ContactUsViewModel
@{
    ViewBag.Title = ConfigurationManager.AppSettings["SHOP_TITLE"] + " - " + Language.LABEL_CONTACT_US;
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>@Language.LABEL_CONTACT_FORM</h1>
    @using (Html.BeginForm("ContactUsReceipt", "Contact", new { @id = string.Empty }, FormMethod.Post, new { id = "contactUsForm_", @class = "form-horizontal" }))
{
    <div class="row">
        <div class="col-sm-12">
            @Html.ValidationSummary(false, null, new { @class = "alert alert-danger" })
        </div>        
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="@Html.DisplayNameFor(x => x.CompanyName)">@Html.DisplayNameFor(x => x.CompanyName)</label>
        <div class="input-group col-sm-4">
            @Html.TextBoxFor(x => x.CompanyName , new {@class="form-control"})
            <span class="input-group-addon">*</span>
        </div>
        @Html.ValidationMessageFor(x => x.CompanyName)
    </div>
        
    <div class="form-group">
        <label class="col-sm-2 control-label" for="@Html.DisplayNameFor(x => x.ContactName)">@Html.DisplayNameFor(x => x.ContactName)</label>
        <div class="col-sm-4">
            @Html.TextBoxFor(x => x.ContactName, new {@class="form-control"})
        </div>
        @Html.ValidationMessageFor(x => x.ContactName)
    </div>
        
    <div class="form-group">
        <label class="col-sm-2 control-label" for="@Html.DisplayNameFor(x => x.Address1)">@Html.DisplayNameFor(x => x.Address1)</label>
        <div class="col-sm-4">
            @Html.TextBoxFor(x => x.Address1, new {@class="form-control"})
        </div>
        @Html.ValidationMessageFor(x => x.Address1)
    </div>
        
    <div class="form-group">
        <label class="col-sm-2 control-label" for="@Html.DisplayNameFor(x => x.ZipCodeCity)">@Html.DisplayNameFor(x => x.ZipCodeCity)</label>
        <div class="col-sm-4">
            @Html.TextBoxFor(x => x.ZipCodeCity, new {@class="form-control"})
        </div>
        @Html.ValidationMessageFor(x => x.ZipCodeCity)
    </div>
        
    <div class="form-group">
		<label class="col-sm-2 control-label" for="@Html.DisplayNameFor(x => x.Countries)">@Html.DisplayNameFor(x => x.Countries)</label>
        <div class="input-group col-sm-4">
            @Html.DropDownListFor(x => x.SelectedCountry, new SelectList(@Model.Countries,  "CountryGuid","CountryName", @Model.SelectedCountry), new {@class = "form-control"})
            <span class="input-group-addon">*</span>
        </div>
	</div>         
        
    <div class="form-group">
		<label class="col-sm-2 control-label" for="@Html.DisplayNameFor(x => x.PhoneNo)">@Html.DisplayNameFor(x => x.PhoneNo)</label>
        <div class="col-sm-4">
            @Html.TextBoxFor(x => x.PhoneNo, new {@class="form-control"})
        </div>
        @Html.ValidationMessageFor(x => x.PhoneNo)
	</div>        
        
    <div class="form-group">
		<label class="col-sm-2 control-label" for="@Html.DisplayNameFor(x => x.EmailAddress)">@Html.DisplayNameFor(x => x.EmailAddress)</label>
        <div class="input-group col-sm-4">
            @Html.TextBoxFor(x => x.EmailAddress, new {@class="form-control"})
            <span class="input-group-addon">*</span>
        </div>
        @Html.ValidationMessageFor(x => x.EmailAddress)
	</div>         

    <div class="form-group">
		<label class="col-sm-2 control-label" for="@Html.DisplayNameFor(x => x.SendAddress)">@Html.DisplayNameFor(x => x.SendAddress)</label>
        <div class="col-sm-4">
            @Html.DropDownListFor(x => x.SelectedSendAddress, new SelectList(@Model.SendAddress,  "Value","Text", @Model.SelectedSendAddress), new {@class = "form-control"})
        </div>
        @Html.ValidationMessageFor(x => x.SelectedSendAddress)
	</div>           
        
    <div class="form-group">
		<label class="col-sm-2 control-label" for="@Html.DisplayNameFor(x => x.Subject)">@Html.DisplayNameFor(x => x.Subject)</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(x => x.Subject, new {Class="form-control", @placeholder = Language.LABEL_CONTACT_MAIL_SUBJ})
        </div>
	</div>            
                
    <div class="form-group">
		<label class="col-sm-2 control-label" for="@Html.DisplayNameFor(x => x.Content)">@Html.DisplayNameFor(x => x.Content)</label>
        <div class="col-sm-10">
            @Html.TextAreaFor(x => x.Content, new { @class= "form-control", @rows="7" })
        </div>
        @Html.ValidationMessageFor(x => x.Content)
	</div>    
        
        
	<div class="form-group">
	    <div class="col-sm-offset-2 col-sm-4">
            <button type="submit" class="btn btn-success"><i class="fa fa-send"></i> @Language.ACTION_SEND</button>
	        <button type="reset" class="btn btn-danger"><i class="fa fa-trash-o"></i> @Language.ACTION_RESET</button>
	    </div>
	</div>                                
}


