﻿<!--
Template information used by the Catalog Manager
    #NAME=Contact Page
    #DESCRIPTION=Displays a contact page.
    #GROUPTEMPLATE=TRUE
    #PRODUCTTEMPLATE=FALSE
    #PROPERTYGROUP=NAME, ALIAS, REDIRECTURL, TEMPLATE, TITLE, CONTROLLER | Page Properties
    #PROPERTYGROUP=HTMLDESC | Map
    #PROPERTYGROUP=BOX4DESC | Support
    #PROPERTYGROUP=BOX5DESC | Post
    #PROPERTYGROUP=BOX6DESC | Showroom
-->

@using System.Configuration
@model ViewModels.Templates.ContactViewModel

@{
    ViewBag.Title = ConfigurationManager.AppSettings["SHOP_TITLE"] + " - " + @Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="google-maps">
    @Html.Raw(Model.Map)
</div>
<div class="row">
    <div class="col-md-4">

        @Html.Raw(Model.BOX4DESC)
    </div>
    <div class="col-md-4">

        @Html.Raw(Model.BOX5DESC)
    </div>
    <div class="col-md-4">

        @Html.Raw(Model.BOX6DESC)
    </div>
</div>
