﻿@model ViewModels.CustomerAddress.CustomerAddressViewModel
@if (Model != null)
{
    @Model.ContactPerson<br/>
    @Model.Address1<br/>
    if(!string.IsNullOrEmpty(@Model.Address2)){
         @Model.Address2<br/>
    }
    @String.Format("{0} {1}", Model.ZipCode, Model.CityName)<br/>    
    @Model.CountryName<br/>
    @Model.EMailAddress<br/>
}