<%@ Page Language="VB" Theme="" %>
<%  Response.Redirect("../link.aspx?ProductGuid=" & Server.UrlEncode(Request("ProductGuid")) & "&GroupGuid=" & Server.UrlEncode(Request("GroupGuid")) & "&LanguageGuid=" & Server.UrlEncode(Request("LanguageGuid")))%>