﻿@using System.Configuration
@using Resources
@model Controllers.Templates.AcceptedViewModel

@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Title = ConfigurationManager.AppSettings["SHOP_TITLE"] + " - " + Language.LABEL_CONFIRMATION;
}

<div class="row">&nbsp;</div>
<div class="row">
	<div class="col-sm-12">
		<h1><i class="fa fa-check-circle-o text-success"></i> @Language.LABEL_CONFIRMATION</h1>
	</div>
</div>

<div class="row">
    <div class="col-sm-12">
        <p>@Language.MESSAGE_YOUR_ORDER_IS_FINISHED <a href="@Url.Action("Details", "OrderHistory", new {headerGuid = Model.Header.HeaderGuid}, Request.Url.Scheme)">@Model.Header.CustomerReference</a>.
        </p>
        <p>@ViewBag.MailSentMessage</p>
    </div>
</div>

<div class="row">
	&nbsp;
</div>

<div class="row">
    <div class="col-xs-12 no-padding-xs">
        @Html.Raw(Model.CmsEditedHtml)
    </div>
</div>



@if (@Model.Header.PaymentMethod == "DIBS")
{
<script>
	window.opener.location.href = "@Url.Action("Accepted","Checkout",null,Request.Url.Scheme)";
	window.opener.focus();
	window.close();
</script>
}
