﻿@using System.Configuration
@using Resources
@using ViewModels
@model CheckoutViewModel

@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Title = ConfigurationManager.AppSettings["SHOP_TITLE"] + " - " + Language.LABEL_MINI_CART_HEAD;
}

@Html.Partial("Partials/_SelectShippingMethod", Model)

<div class="row">
	<div class="col-sm-12">
		<a href="@Url.Action("Index", "Cart")" id="button-next" class="btn btn-success pull-right">@Language.LABEL_SHIPPING_SAVE <i class="fa fa-check-circle"></i></a>
	</div>
</div>

<div class="row">
	&nbsp;
</div>
