﻿@using System.Configuration
@using Resources
@model FormModels.ShippingAddress.ShippingAddressItemFormModel
@{
	ViewBag.Title = ConfigurationManager.AppSettings["SHOP_TITLE"] + " - " + Language.LABEL_MINI_CART_HEAD;
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
	<div class="col-sm-offset-2">
		<h2>Edit</h2>
		
		@using (Html.BeginForm("SaveShippingAddress", "Checkout", FormMethod.Post, new { @class = "form-horizontal well col-sm-8" }))
		{
			if (!ViewData.ModelState.IsValid)
			{
				<div class="alert alert-danger alert-dismissable">
					<button class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
					@Html.ValidationSummary(false, string.Empty, new {Class = ""})
				</div>
			}
			@Html.Partial("Partials/_EditShippingAddressForm")

			<div class="col-sm-offset-2">
				<button class="btn btn-warning" type="reset">@Language.LABEL_SHIPPING_RESET</button>
				<button class="btn btn-primary" type="submit">@Language.LABEL_SHIPPING_SAVE</button>
			</div>
		}
	</div>
</div>

