﻿@using System.Configuration
@using Resources
@model ViewModels.CartViewModel

@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Title = ConfigurationManager.AppSettings["SHOP_TITLE"] + " - " + Language.LABEL_PAYMENT + Language.LABEL_ERROR;
}

<div class="row">&nbsp;</div>
<div class="row">
	<div class="col-sm-12">
		<h2 class="text-center">@Language.LABEL_PAYMENT @Language.LABEL_ERROR</h2>
		<p class="text-center"><i class="fa fa-5x fa-times-circle text-danger"></i></p>
	</div>
</div>

<script>
	window.opener.location.href = "@Model.DibsInfo.CancelReturnUrl";
	window.opener.focus();
	window.close();
</script>