﻿<!--
Template information used by the Catalog Manager
#NAME=Checkout Page
#DESCRIPTION=Displays a checkout page.
#GROUPTEMPLATE=TRUE
#PRODUCTTEMPLATE=FALSE
#PROPERTYGROUP=NAME, ALIAS, REDIRECTURL, TEMPLATE, TITLE, CONTROLLER | Page Properties
#PROPERTYGROUP=HTMLDESC | Additional Info
-->

@using System.Configuration
@using Resources
@using ViewModels
@model CheckoutViewModel

@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Title = ConfigurationManager.AppSettings["SHOP_TITLE"] + " - " + Language.LABEL_MINI_CART_HEAD;
}

@Html.Partial("Partials/_ProgressBar", Model)

@Html.Partial("Partials/_SelectShippingMethod", Model)

<div class="row">
    <div class="col-sm-6 col-xs-6">
        <a href="@Url.Action("Index", "Cart")" class="btn btn-warning"><i class="fa fa-arrow-circle-left"></i> @Language.LABEL_BACK</a>
    </div>
    <div class="col-sm-6 col-xs-6">
        <a href="@Url.Action("ShippingAddress", "Checkout")" id="button-next" class="btn btn-success pull-right disabled">@Language.ACTION_NEXT <i class="fa fa-arrow-circle-right"></i></a>
    </div>
</div>

<div class="row">
	&nbsp;
</div>

<div class="row">
    <div class="col-xs-12 no-padding-xs">
        @Html.Raw(Model.CmsEditedHtml)
    </div>
</div>

<script>
	$(document).ready(function () {
		var value = $("input[name=ShippingHandlingProvider]:checked").val();
		if (value != null) {
			$("#button-next").removeClass("disabled");
		}

		$("input[name=ShippingHandlingProvider]").change(function() {
			$("#button-next").removeClass("disabled");
		});
	});	
</script>