﻿@using System.Configuration
@using EISCS.ExpandITFramework.Util
@using Resources
@using ViewModels
@model ViewModels.CheckoutViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = ConfigurationManager.AppSettings["SHOP_TITLE"] + " - " + Language.LABEL_CONFIRMATION;
    CartViewModel cartViewModel = Model.CartViewModel;
}

@Html.Partial("Partials/_ProgressBar", Model)

<div class="row">
    <div class="col-sm-12">
        <h1>@Language.LABEL_CONFIRMATION</h1>
    </div>
</div>

<div class="row">
	<div class="col-sm-12">
		@if (!ViewData.ModelState.IsValid)
		{
			<div class="alert alert-danger alert-dismissable alert-top">
				<button class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				@Html.ValidationSummary(false, string.Empty, new {Class = ""})
			</div>
		}
	</div>
</div>

<div class="row">
    <div class="col-sm-12">
        <h2>@Language.LABEL_INPUT_COMMENT</h2>
        <p>
            @if (String.IsNullOrEmpty(@cartViewModel.Header.HeaderComment))
            {
                <em>@Language.LABEL_NONE_AVAILABLE</em>
            }
            else
            {
                @cartViewModel.Header.HeaderComment
            }
        </p>
        @if (!String.IsNullOrEmpty(@cartViewModel.Header.CustomerPONumber))
        {
            <p><strong>@Language.LABEL_ORDER_NUMBER:</strong> @cartViewModel.Header.CustomerPONumber</p>
        }
    </div>
</div>

<div id="cart-list">
    <table class="table table-hover table-condensed">
        <thead>
            <tr>
                <th class="column product-name col-md-5 col-sm-4 col-xs-6">
                    @Language.LABEL_PRODUCT
                </th>
                <th class="column product-quantity col-md-1 col-sm-1 col-xs-1">
                    @Language.LABEL_QUANTITY
                </th>
                <th class="column product-price col-md-1 col-sm-1 hidden-xs">
                    @Language.LABEL_PRICE
                </th>
                <th class="column product-discount-amount col-md-1 col-sm-1 hidden-xs">
                    @Language.LABEL_DISC_AMOUNT
                </th>
                <th class="column product-discount-percentage col-md-1 col-sm-1 hidden-xs">
                    @Language.LABEL_DISC_PROCENT
                </th>
                <th class="column product-line-total col-md-1 col-sm-2 col-xs-3">
                    @Language.LABEL_LINE_TOTAL
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (CartViewModel.ProductItem item in cartViewModel.ProductItems)
            {
                <tr>
                    <td class="column product-name">
                        @item.ProductGuid @item.ProductName @if (!String.IsNullOrEmpty(item.VariantName))
                                                            {
                            <text>- </text>
                            @item.VariantName
                                                            } @if (!String.IsNullOrEmpty(item.VariantName))
                                                              {
                                                                <text>(</text>
                                                                @item.VariantName<text>)</text>
                                                              }
                    </td>
                    <td class="column product-quantity">
                        @item.Quantity
                    </td>
                    <td class="column product-price hidden-xs">
                        @item.DisplayListPrice
                    </td>
                    <td class="column product-discount-amount hidden-xs">
                        @item.DisplayLineDiscountAmount
                    </td>
                    <td class="column product-discount-percentage hidden-xs">
                        @item.LineDiscount
                    </td>
                    <td class="column product-line-total">
                        @item.DisplayLineTotal
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="row">
        <div class="col-md-4 col-sm-4 col-sm-offset-8" style="top: -1px">
            <table class="table table-hover">
                <tr>
                    <td class="column product-discount-procent">
                        @Language.LABEL_INVOICE_DISCOUNT
                    </td>
                    <td class="column last-column">- @cartViewModel.OrderTotals.Discount
                    </td>
                </tr>
                <tr>
                    <td class="column product-discount-procent">
                        @Language.LABEL_SERVICE_CHARGE
                    </td>
                    <td class="column last-column">
                        @cartViewModel.OrderTotals.ServiceCharge
                    </td>
                </tr>
                <tr class="sub-total">
                    <td class="column product-discount-procent sum-cell">
                        @Language.LABEL_SUB_TOTAL
                    </td>
                    <td class="column-8 last-column product-line-total sum-cell">
                        @cartViewModel.OrderTotals.SubTotal
                    </td>
                </tr>
                <tr>
                    <td class="column product-discount-procent">
                        @Language.LABEL_SHIPPING
                    </td>
                    <td class="column last-column">
                        @cartViewModel.OrderTotals.FreightCost
                    </td>
                </tr>
                <tr>
                    <td class="column product-discount-procent">
                        @Language.LABEL_HANDLING
                    </td>
                    <td class="column last-column">
                        @cartViewModel.OrderTotals.HandlingFee
                    </td>
                </tr>
                @foreach (var obj in cartViewModel.OrderTotals.TaxAmounts.Keys)
                {
                    <tr>
                        <td class="column product-discount-procent">
                            @Language.LABEL_TAXAMOUNT @obj%
                        </td>
                        <td class="column last last-column">
                            @cartViewModel.OrderTotals.TaxAmounts[@obj]
                        </td>
                    </tr>
                }
                <tr>
                    <td class="column product-discount-procent">
                        @Language.LABEL_TOTAL @Language.LABEL_EXCLUSIVE_VAT
                    </td>
                    <td class="column total last last-column">
                        @cartViewModel.OrderTotals.Total
                    </td>
                </tr>
                <tr>
                    <td class="column product-discount-procent">
                        @Language.LABEL_TOTAL @Language.LABEL_INCLUSIVE_VAT
                    </td>
                    <td class="column last last-column">
                        @cartViewModel.OrderTotals.TotalInclTax
                    </td>
                </tr>
                <tr>
                    <td class="column product-discount-procent">
                        @Language.LABEL_HANDLING_AND_SHIPPING
                    </td>
                    <td class="column last last-column">
                        @cartViewModel.ShippingProviderName
                    </td>
                </tr>
                @*<tr>
					<td class="column">
						@Language.LABEL_PAYMENT_INFORMATION
					</td>
					<td class="column last last-column">
						@cartViewModel.PaymentMethodName
					</td>
				</tr>*@
            </table>
        </div>
    </div>
</div>

<div class="row">
    <div>
        <div class="col-sm-8">
            <div class="col-sm-6">
                <h2>@Language.LABEL_PAYMENT_ADDRESS</h2>
                <div class="form-horizontal checkout-shipping-address">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">@Language.LABEL_USERDATA_CONTACT</label>
                        <div class="col-sm-8">
                            <p class="form-control-static">
                                @if (cartViewModel.Billing.ContactName.IsNullOrEmpty())
                                {
                                    @Html.Raw("&nbsp;")
                                }
                                else
                                {
                                    @cartViewModel.Billing.ContactName
                                }
                            </p>
                        </div>
                    </div>
                    @if (!String.IsNullOrEmpty(cartViewModel.Billing.CompanyName))
                    {
                        <div class="form-group">
                            <label class="col-sm-4 control-label">@Language.LABEL_USERDATA_COMPANY</label>
                            <div class="col-sm-8">
                                <p class="form-control-static">
                                    @if (cartViewModel.Billing.CompanyName.IsNullOrEmpty())
                                    {
                                        @Html.Raw("&nbsp;")
                                    }
                                    else
                                    {
                                        @cartViewModel.Billing.CompanyName
                                    }
                                </p>
                            </div>
                        </div>
                    }
                    <div class="form-group">
                        <label class="col-sm-4 control-label">@Language.LABEL_USERDATA_ADDRESS_1</label>
                        <div class="col-sm-8">
                            <p class="form-control-static">
                                @if (cartViewModel.Billing.Address1.IsNullOrEmpty())
                                {
                                    @Html.Raw("&nbsp;")
                                }
                                else
                                {
                                    @cartViewModel.Billing.Address1
                                }
                            </p>
                        </div>
                    </div>
                    @if (!String.IsNullOrEmpty(cartViewModel.Billing.Address2))
                    {
                        <div class="form-group">
                            <label class="col-sm-4 control-label">@Language.LABEL_USERDATA_ADDRESS_2</label>
                            <div class="col-sm-8">
                                <p class="form-control-static">
                                    @if (cartViewModel.Billing.Address2.IsNullOrEmpty())
                                    {
                                        @Html.Raw("&nbsp;")
                                    }
                                    else
                                    {
                                        @cartViewModel.Billing.Address2
                                    }
                                </p>
                            </div>
                        </div>
                    }
                    <div class="form-group">
                        <label class="col-sm-4 control-label">@Language.LABEL_USERDATA_ZIPCODE</label>
                        <div class="col-sm-8">
                            <p class="form-control-static">
                                @if (cartViewModel.Billing.ZipCode.IsNullOrEmpty())
                                {
                                    @Html.Raw("&nbsp;")
                                }
                                else
                                {
                                    @cartViewModel.Billing.ZipCode
                                }
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">@Language.LABEL_USERDATA_CITY</label>
                        <div class="col-sm-8">
                            <p class="form-control-static">
                                @if (cartViewModel.Billing.CityName.IsNullOrEmpty())
                                {
                                    @Html.Raw("&nbsp;")
                                }
                                else
                                {
                                    @cartViewModel.Billing.CityName
                                }
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">@Language.LABEL_USERDATA_COUNTRY</label>
                        <div class="col-sm-8">
                            <p class="form-control-static">
                                @if (cartViewModel.Billing.CountryName.IsNullOrEmpty())
                                {
                                    @Html.Raw("&nbsp;")
                                }
                                else
                                {
                                    @cartViewModel.Billing.CountryName
                                }
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">@Language.LABEL_USERDATA_EMAIL</label>
                        <div class="col-sm-8">
                            <p class="form-control-static">
                                @if (cartViewModel.Billing.EmailAddress.IsNullOrEmpty())
                                {
                                    @Html.Raw("&nbsp;")
                                }
                                else
                                {
                                    @cartViewModel.Billing.EmailAddress
                                }
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            @if (cartViewModel.ShippingProviderGuid != "NONE")
            {
                <div class="col-sm-6">
                    <h2>@Language.LABEL_SHIPPING_ADDRESS</h2>
                    <div class="form-horizontal checkout-shipping-address">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">@Language.LABEL_USERDATA_CONTACT</label>
                            <div class="col-sm-8">
                                <p class="form-control-static">
                                    @if (cartViewModel.Shipping.ContactName.IsNullOrEmpty())
                                    {
                                        @Html.Raw("&nbsp;")
                                    }
                                    else
                                    {
                                        @cartViewModel.Shipping.ContactName
                                    }
                                </p>
                            </div>
                        </div>
                        @if (!String.IsNullOrEmpty(cartViewModel.Shipping.CompanyName))
                        {
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@Language.LABEL_USERDATA_COMPANY</label>
                                <div class="col-sm-8">
                                    <p class="form-control-static">
                                        @if (cartViewModel.Shipping.CompanyName.IsNullOrEmpty())
                                        {
                                            @Html.Raw("&nbsp;")
                                        }
                                        else
                                        {
                                            @cartViewModel.Shipping.CompanyName
                                        }
                                    </p>
                                </div>
                            </div>
                        }
                        <div class="form-group">
                            <label class="col-sm-4 control-label">@Language.LABEL_USERDATA_ADDRESS_1</label>
                            <div class="col-sm-8">
                                <p class="form-control-static">
                                    @if (cartViewModel.Shipping.Address1.IsNullOrEmpty())
                                    {
                                        @Html.Raw("&nbsp;")
                                    }
                                    else
                                    {
                                        @cartViewModel.Shipping.Address1
                                    }
                                </p>
                            </div>
                        </div>
                        @if (!String.IsNullOrEmpty(cartViewModel.Shipping.Address2))
                        {
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@Language.LABEL_USERDATA_ADDRESS_2</label>
                                <div class="col-sm-8">
                                    <p class="form-control-static">
                                        @if (cartViewModel.Shipping.Address2.IsNullOrEmpty())
                                        {
                                            @Html.Raw("&nbsp;")
                                        }
                                        else
                                        {
                                            @cartViewModel.Shipping.Address2
                                        }
                                    </p>
                                </div>
                            </div>
                        }
                        <div class="form-group">
                            <label class="col-sm-4 control-label">@Language.LABEL_USERDATA_ZIPCODE</label>
                            <div class="col-sm-8">
                                <p class="form-control-static">
                                    @if (cartViewModel.Shipping.ZipCode.IsNullOrEmpty())
                                    {
                                        @Html.Raw("&nbsp;")
                                    }
                                    else
                                    {
                                        @cartViewModel.Shipping.ZipCode
                                    }
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">@Language.LABEL_USERDATA_CITY</label>
                            <div class="col-sm-8">
                                <p class="form-control-static">
                                    @if (cartViewModel.Shipping.CityName.IsNullOrEmpty())
                                    {
                                        @Html.Raw("&nbsp;")
                                    }
                                    else
                                    {
                                        @cartViewModel.Shipping.CityName
                                    }
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">@Language.LABEL_USERDATA_COUNTRY</label>
                            <div class="col-sm-8">
                                <p class="form-control-static">
                                    @if (cartViewModel.Shipping.CountryName.IsNullOrEmpty())
                                    {
                                        @Html.Raw("&nbsp;")
                                    }
                                    else
                                    {
                                        @cartViewModel.Shipping.CountryName
                                    }
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">@Language.LABEL_USERDATA_EMAIL</label>
                            <div class="col-sm-8">
                                <p class="form-control-static">
                                    @if (cartViewModel.Shipping.EmailAddress.IsNullOrEmpty())
                                    {
                                        @Html.Raw("&nbsp;")
                                    }
                                    else
                                    {
                                        @cartViewModel.Shipping.EmailAddress
                                    }
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>

        @Html.Partial("Partials/_SelectPaymentMethod", Model)

    </div>
</div>

<div class="row">&nbsp;</div>

<div class="row">
    <div class="col-sm-6 col-xs-6">
        <a href="@Url.Action("ShippingAddress", "Checkout")" class="btn btn-warning"><i class="fa fa-arrow-circle-left"></i>&nbsp;@Language.LABEL_BACK</a>
    </div>
</div>

<div class="row">&nbsp;</div>

<div class="row">
    <div class="col-xs-12 no-padding-xs">
        @Html.Raw(Model.CmsEditedHtml)
    </div>
</div>

<p class="description-text">
    @(Model.CartViewModel.PricesIncludeTax ? Language.LABEL_PRICES_ARE_INLUDING_TAX : Language.LABEL_PRICES_ARE_EXLUDING_TAX)
</p>

<script>
    $(document).ready(function () {
        var paymentType = $("input[name=PaymentType]:checked").val();
        if (paymentType == "")
            paymentType = "INVOICE";
        $("#" + paymentType).removeClass("hidden");

        $("input[name=PaymentType]").change(function () {
            paymentType = $("input[name=PaymentType]:checked").val();
            if (paymentType == "")
                paymentType = "INVOICE";
            $("form[name=payForm]").addClass("hidden");
            $("#" + paymentType).removeClass("hidden");
            $.post('@Url.Action("SelectPaymentType", "Checkout")', { "paymentType": paymentType });
        });
    });
</script>
