﻿@using System.Configuration
@using Resources
@using ViewModels
@model CheckoutViewModel

@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Title = ConfigurationManager.AppSettings["SHOP_TITLE"] + " - " + Language.LABEL_MINI_CART_HEAD;
	var anonymousForm = Model.AnonymousBillingAndShippingAddressForm;
}

@Html.Partial("Partials/_ProgressBar", Model)

@(Model.UserType == "Anonymous" ? Html.Partial("Partials/_SelectShippingAddressAnonymous", anonymousForm) : Html.Partial("Partials/_SelectShippingAddressLoggedUser", Model))

<div class="row">
    &nbsp;
</div>

<div class="row">
    <div class="col-xs-12 no-padding-xs">
        @Html.Raw(Model.CmsEditedHtml)
    </div>
</div>