﻿@using System.Configuration
@using Resources

@{
    Layout = "~/EISCMS/Views/_CMSLayout.cshtml";
    ViewBag.Title = ConfigurationManager.AppSettings["SHOP_TITLE"] + " - " + @Language.LABEL_MENU_CATALOG;
}

<div class="row">
    <div class="col-sm-12">
        <h1 class="page-header">@CmsLanguage.CATMAN_LABEL_PRODUCT_LIST</h1>
    </div>
</div>

@using (@Html.BeginForm("SetPromotionProducts", "MailTemplate"))
{

    @Html.Partial("../Catalog/Partials/_Products")

}

@Html.Partial("../Catalog/Partials/_ProductsScripts")

