﻿@using CmsPublic.DataProviders.Logging
@using CmsPublic.ModelLayer.Interfaces
@using EISCS.ExpandITFramework.Util
@using Resources
@model EISCS.CMS.Models.ViewModels.MailViewModel

@{
    ViewBag.Title = CmsLanguage.LABEL_MAIL_SETTINGS;
    Layout = "~/EISCMS/Views/_CMSLayout.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <h1 class="page-header">@{
            string s = string.IsNullOrWhiteSpace(Model.MailMessage.GetPropertyValue("NAME")) ? Model.MailMessage.MailMessageName : Model.MailMessage.GetPropertyValue("NAME");
        }
            @s
        </h1>
    </div>
</div>

<div class="row" id="edit-product-template">
    <div class="col-sm-12">
        @Html.AntiForgeryToken()

        @if (!ViewData.ModelState.IsValid)
        {
            <div class="alert alert-danger alert-dismissable">
                <button class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                @Html.Raw(HttpUtility.HtmlDecode(Html.ValidationSummary(false, String.Format("<i class=\"fa fa-times\"></i> " + CmsLanguage.CATMAN_LABEL_AN_ERROR_OCCURRED), new { Class = "" }).ToString()))
            </div>
        }
        else if (TempData.ContainsKey("ModelState") && ViewData.ModelState.IsValid)
        {
            <div class="alert alert-success alert-dismissable">
                <button class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                @Html.Raw(HttpUtility.HtmlDecode(Html.ValidationSummary(false, String.Format("<i class=\"fa fa-check\"></i> " + CmsLanguage.CATMAN_LABEL_ALLSAVED), new { Class = "" }).ToString()))
            </div>
        }

        @if (Model.MailMessage.ErrorMessage != null)
        {
            <div class="alert alert-danger alert-dismissable">
                <button class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                @Model.MailMessage.ErrorMessage
            </div>
        }

        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            @using (@Html.BeginForm("EditMailMessage", "MailTemplate", FormMethod.Post, new { @class = "form-horizontal", @role = "form", @id = "maileditform" }))
            {
                foreach (var propValPropTransGroup in Model.MailMessage.PropertyGroup)
                {
                    var target = @propValPropTransGroup.Propheader.Trim().Replace(" ", "_");
                    <div class="panel panel-default">

                        <div class="panel-heading" role="tab" id="heading_@target">
                            <h2 class="panel-title">
                                <a data-toggle="collapse" href="#@target" aria-controls="@target">@propValPropTransGroup.Propheader.Trim()</a>
                            </h2>
                        </div>

                        <div class="panel-body">
                            @foreach (var property in propValPropTransGroup.PropertyGroups)
                            {
                                // Workaround for jQuery serialization that cuts off the first input element!                  
                                <input type="hidden" id="bogus" value="bogus" name="bogus" />

                                var isMultiLanguage = property.PropMultilanguage > 0;
                                <div class="form-group">
                                    @Html.Label(property.PropName, new { Class = "control-label col-sm-2" })
                                    <div class="col-sm-10">
                                        @{
                                            var p = PropTypes.DEFAULT;
                                            try
                                            {
                                                p = (PropTypes)Enum.Parse(typeof(PropTypes), property.PropTypeGuid);
                                            }
                                            catch (Exception e)
                                            {
                                                FileLogger.Log(e.Message);
                                            }
                                            switch (p)
                                            {
                                                case PropTypes.ATTACHMENT:
                                                    <div class="input-group">
                                                        @Html.TextBox(property.PropGuid, property.PropTransText, new { @class = "form-control" })
                                                        <span class="input-group-btn">
                                                            @*<button class="btn btn-primary" type="button"><i class="fa fa-upload"></i>@CmsLanguage.CATMAN_SELECT_FILE</button>*@
                                                            <button class="btn btn-primary" data-toggle="modal" data-target="#selectPictureModal" type="button" id="showAttachmentModal"><i class="fa fa-upload"></i> @CmsLanguage.CATMAN_SELECT_FILE</button>
                                                        </span>
                                                        <span class="input-group-addon">
                                                            <label>
                                                                @Html.CheckBox("_" + property.PropGuid, isMultiLanguage, new { @class = "mlchk" })
                                                                @CmsLanguage.CATMAN_LABEL_ML
                                                            </label>
                                                        </span>
                                                    </div>
                                                    break;
                                                case PropTypes.HTML:
                                                    <div class="input-group">
                                                        @Html.TextArea(property.PropGuid, property.PropTransText, new { @class = "form-control mceEditor", @rows = "10" })
                                                        <span class="input-group-addon">
                                                            <label>
                                                                @Html.CheckBox("_" + property.PropGuid, isMultiLanguage, new { @class = "mlchk" })
                                                                @CmsLanguage.CATMAN_LABEL_ML
                                                            </label>
                                                        </span>
                                                    </div>
                                                    break;
                                                case PropTypes.LINK:
                                                    <div class="input-group">
                                                        <span class="input-group-btn">
                                                            @Html.DropDownList("select_" + property.PropGuid, (SelectList)ViewData["UrlsList"], new { @class = "dynamicLinkSelect btn", style = "width:100px" })
                                                        </span>

                                                        @Html.TextBox(property.PropGuid, property.PropTransText, new { @class = "form-control" })

                                                        <span class="input-group-addon">
                                                            <label>
                                                                @Html.CheckBox("_" + property.PropGuid, isMultiLanguage, new { @class = "mlchk" })
                                                                @CmsLanguage.CATMAN_LABEL_ML
                                                            </label>
                                                        </span>
                                                    </div>
                                                    break;

                                                case PropTypes.MEMO:
                                                    <div class="input-group">
                                                        @Html.TextArea(property.PropGuid, property.PropTransText, new { @class = "form-control", @rows = "10" })
                                                        <span class="input-group-addon">
                                                            <label>
                                                                @Html.CheckBox("_" + property.PropGuid, isMultiLanguage, new { @class = "mlchk" })
                                                                @CmsLanguage.CATMAN_LABEL_ML
                                                            </label>
                                                        </span>
                                                    </div>
                                                    break;
                                                case PropTypes.PICTURE:
                                                    var picture = "";
                                                    <div class="square-picture-centered picture-thumbnail">
                                                        @if (!property.PropTransText.IsNullOrEmpty())
                                                        {
                                                            picture = property.PropTransText;
                                                            if (picture.StartsWith("/"))
                                                            {
                                                                picture = picture.Substring(1);
                                                            }
                                                            <img id="img_@property.PropGuid" src="~/@picture" alt="@property.PropGuid" class="max-height-80" />
                                                        }
                                                        else
                                                        {
                                                            <img id="img_@property.PropGuid" src="@Url.Content("~/Content/images/unknown.png")" alt="@property.PropGuid" class="max-height-80" />
                                                        }
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="input-group">
                                                            @Html.TextBox(property.PropGuid, property.PropTransText, new { @class = "form-control" })
                                                            <span class="input-group-addon">
                                                                <label>
                                                                    @Html.CheckBox("_" + property.PropGuid, isMultiLanguage, new { @class = "mlchk" })
                                                                    @CmsLanguage.CATMAN_LABEL_ML
                                                                </label>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6 margin-top-12">
                                                        <button id="picture_@property.PropGuid" class="btn btn-primary show-modal-btn image_button" type="button" data-toggle="modal" data-target="#selectPictureModal" data-picture="@picture"><i class="fa fa-upload"></i>&nbsp;@CmsLanguage.CATMAN_SELECT_IMAGE</button>
                                                    </div>
                                                    break;
                                                case PropTypes.MULTIPICTURE:
                                                    <div class="input-group">
                                                        @Html.TextBox(property.PropGuid, property.PropTransText, new { @class = "form-control multi_image_txt", @readonly = "readonly" })
                                                        <span class="input-group-btn">
                                                            <button id="multi_x @property.PropGuid" class="multi_image_button btn btn-primary" type="button"><i class="fa fa-upload"></i>@CmsLanguage.CATMAN_SELECT_IMAGE</button>
                                                        </span>
                                                        <span class="input-group-addon">
                                                            <label>
                                                                @Html.CheckBox("_" + property.PropGuid, isMultiLanguage, new { @class = "mlchk" })
                                                                @CmsLanguage.CATMAN_LABEL_ML
                                                            </label>
                                                        </span>
                                                    </div>
                                                    break;
                                                case PropTypes.TEMPLATE:
                                                    <div class="col-sm-1 no-padding-left">
                                                        @Html.TextBox(property.PropGuid, property.PropTransText, new { @class = "form-control", @readonly = "readonly" })
                                                        <input type="hidden" id="template_text_id" value="@property.PropGuid" />
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <div class="input-group">
                                                            @Html.DropDownList("Templates", (SelectList)ViewData["TemplateList"], new { @class = "form-control" })
                                                            <span class="input-group-addon">
                                                                <label>
                                                                    @Html.CheckBox("_" + property.PropGuid, isMultiLanguage, new { @class = "mlchk" })
                                                                    @CmsLanguage.CATMAN_LABEL_ML
                                                                </label>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    break;
                                                default:
                                                    <div class="input-group">
                                                        @Html.TextBox(property.PropGuid, property.PropTransText, new { @class = "form-control" })
                                                        <span class="input-group-addon">
                                                            <label>
                                                                @Html.CheckBox("_" + property.PropGuid, isMultiLanguage, new { @class = "mlchk" })
                                                                @CmsLanguage.CATMAN_LABEL_ML
                                                            </label>
                                                        </span>
                                                    </div>
                                                    break;
                                            }
                                        }
                                    </div>
                                </div>
                            }
                            <span id="savemessagetext"></span>
                            <button type="button" class="btn btn-primary pull-right" id="savebutton2" name="mailsavebutton"><i class="fa fa-save"></i>&nbsp;@CmsLanguage.CATMAN_ACTION_SAVE</button>
                        </div>
                    </div>
                }
            }
        </div>

        <div class="panel">
            <div class="panel-body">
                <div class="panel-group" id="accordion2" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading_promotedProducts">
                            <h2 class="panel-title">
                                <a data-toggle="collapse" href="#promotedProducts" aria-controls="promotedProducts"><i class="fa fa-plus-circle"></i>&nbsp;@CmsLanguage.LABEL_PROMOTIONAL_PRODUCTS</a>
                            </h2>
                        </div>

                        <div id="promotedProducts" class="collapse panel-collapse" role="tabpanel" aria-labelledby="promotedProducts">
                            <div class="panel-body">
                                @Html.Action("MailPromotionProducts", "MailTemplate")
                                @Html.ActionLink(@CmsLanguage.LABEL_SELECT_PRODUCTS , "AllProducts", "MailTemplate")
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
            </div>
        </div>
        
        <input id="id" name="id" type="hidden" value="@Model.MailMessage.MailMessageGuid" />
        <input id="pid" name="pid" type="hidden" value="@Model.MailMessage.MailMessageGuid" />
        <input id="langid" name="langid" type="hidden" value="@Session["CurrentLanguage"]" />
        <input id="pageLangId" name="langid" type="hidden" value="@Session["PageLanguageGuid"]" />
    </div>
</div>
@Html.Partial("Partials/FolderBrowser")

<script>

    $("[name=mailsavebutton]").click(function () {
        saveMailTemplate();
    });

    $("#promotedProducts").on("show.bs.collapse", function () {
        $("h2.panel-title").find("i").removeClass("fa-plus-circle").addClass("fa-minus-circle");
    });

    $("#promotedProducts").on("hide.bs.collapse", function () {
        $("h2.panel-title").find("i").removeClass("fa-minus-circle").addClass("fa-plus-circle");
    });

    function saveMailTemplate() {
        tinyMCE.triggerSave();
        var mailTemplateGuid = $('#id').val();
        var mailEditForm = $('#maileditform').serialize();
        $.ajax({
            type: "POST",
            async: false,
            url: rootUrl + "MailTemplate/EditMailMessage",
            data: "form=" + mailEditForm + "&messageGuid=" + mailTemplateGuid,
            success: function (result) {
                var theName = $('#NAME');
                var liref = $('#id_' + mailTemplateGuid + ' .grouptreelink:first');
                var theVal = theName.val();
                if (theVal == '') {
                    theVal = 'sUnknownProperty';
                }
                liref.html(theVal);
                $('.page-header').html(theVal);
                saveDisplay($("#savebutton"), result, 100, -25);
            },
            error: function (result) {

            }
        });
    }

    function saveDisplay(element, message, offLeft, offTop) {
        $('#savemessagetext').html(message).center().fadeIn().css({ color: 'greenyellow' });
        setTimeout(function () { $('#savemessagetext').fadeOut(); }, 3000);
    }

    function setChkClick() {
        $.fn.dataTable.ext.errMode = 'throw';
        $("#select_all").change(function () {
            if (this.checked) {
                $(".chk").each(function () {
                    this.checked = true;
                    $(this).parent().parent().addClass("ungrouped");
                });
            } else {
                $(".chk").each(function () {
                    this.checked = false;
                    $(this).parent().parent().removeClass("ungrouped");
                });
            }
        });

        $(".dataTable tbody tr").click(function (e) {
            if (e.target.type != "checkbox") {
                $(this).find("input[type=checkbox]").click();
            }
        });

        $(".chk").click(function () {
            console.log("click!");
            if (!$(this).is(":checked")) {
                $("#select_all").prop("checked", false);
                $(this).parent().parent().removeClass("ungrouped");
            } else {
                var flag = 0;
                $(".chk").each(function () {
                    if (!this.checked) {
                        flag = 1;
                        $(this).parent().parent().removeClass("ungrouped");
                    } else {
                        $(this).parent().parent().addClass("ungrouped");
                    }
                });
                if (flag == 0) { $("#select_all").prop("checked", true); }
            }
        });

        // Remove
        $('#button1, #button2').click(function (event) {
            event.stopImmediatePropagation();
            var deleteArray = new Array();
            var table = ExpandIT_MailProductPromotionTable.Table;
            $(".ungrouped").each(function () {
                var groupProductGuid = $(this).find(".chk").attr('name');
                var arrPos = inArray(groupProductGuid, deleteArray);
                if (arrPos == -1) { deleteArray.push(groupProductGuid); }
                //var aPos = table.fnGetPosition($(this).closest('tr')[0]);
                //table.fnDeleteRow(aPos);
            });
            //$.getJSON(rootUrl + "cms/MailTemplate/RemoveProducts", [{ "key": "mailMessageGuid", "value": deleteArray }], function () { table.fnDraw(); });

            $.ajax({
                type: "POST",
                async: false,
                url: rootUrl + "cms/MailTemplate/RemoveProducts",
                data: "id=" + $("#id").val() + "&collection=" + deleteArray,
                success: function() {
                    table.fnDraw();
                }
            });

            ////ExpandIT_MailProductPromotionTable.RemoveProducts(deleteArray, groupGuid);
            //table.fnDeleteRow(1);
        });

        function inArray(elem, array) {
            for (var i = 0; i < array.length; i++) { if (array[i] === elem) { return i; } }
            return -1;
        }
    };

    $(window).load(function () {

        var guid = '@Model.MailMessage.MailMessageGuid';

        ExpandIT_MailProductPromotionTable.Table = $("#mailPromotionProductTable").dataTable({
            "order": [1, 'asc'],
            "processing": true,
            "serverSide": true,
            "ajax": {
                "url": rootUrl + "MailTemplate/GetMailPromotionProducts",
                "type": "POST",
                "data": function (d) {
                    d.groupGuid = guid;
                }
            },
            "language": {
                "url": rootUrl + "Content/datatables/i18n/" + "en" + ".txt",
            },
            "columns": [
                { "data": "CheckboxHtml" },
                { "data": "ProductGuid" },
                { "data": "PictureHtml" },
                { "data": "ProductNameTranslate" },
                { "data": "ListPrice" },
                { "data": "ProductGrp" },
                { "data": "EditButtonHtml" }
            ],
            "columnDefs": [
                { 'orderable': false, 'aTargets': [0, 2, -1] }
            ],
            "drawCallback": function () {
                $("#select_all").attr("checked", false);
                setChkClick();
            }
        });

        

    });



</script>
