﻿@using Resources
@model EISCS.CMS.Models.ViewModels.MailViewModel

@{
    ViewBag.Title = "title";
    Layout = "~/EISCMS/Views/_CMSLayout.cshtml";
}

<h2>@CmsLanguage.LABEL_MAIL_MESSAGES</h2>

@foreach (var x in Model.MailMessages)
{
    <p>@x.MailMessageGuid</p>
}
