﻿@using Resources
@model FormModels.Cms2.FormModels.IndexViewModel
@{
    ViewBag.Title = CmsLanguage.LABEL_MAIL_SETTINGS;
    Layout = "~/EISCMS/Views/_CMSLayout.cshtml";
}

<div class="col-sm-12">
    <h1 class="page-header">@CmsLanguage.LABEL_GENERAL_MAIL_SETTINGS</h1>
</div>

<div class="row">
    <div class="col-sm-12 col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-cog fa-fw"></i>&nbsp;@CmsLanguage.LABEL_EMAIL_SERVER_SETTINGS
            </div>
            <div class="panel-body">
                @using (@Html.BeginForm("SaveMailServerSettings", "MailTemplate", FormMethod.Post, new { @role = "form", @id = "content" }))
                {
                    <div class="form-group">
                        <label class="control-label col-sm-4">@CmsLanguage.LABEL_FORCE_SSL</label>
                        <div class="col-sm-4 input-group">
                            @Html.CheckBoxFor(m => m.MailServerSettingsFormModel.ForceSsl)
                            @Html.HiddenFor(m => m.MailServerSettingsFormModel.ForceSsl)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">@CmsLanguage.LABEL_HOST</label>
                        <div class="col-sm-4 input-group">
                            @Html.TextBoxFor(m => m.MailServerSettingsFormModel.Host, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.MailServerSettingsFormModel.Host)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">@CmsLanguage.LABEL_PORT</label>
                        <div class="col-sm-4 input-group">
                            @Html.TextBoxFor(m => m.MailServerSettingsFormModel.Port, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.MailServerSettingsFormModel.Port)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">@CmsLanguage.CATMAN_LABEL_USERNAME</label>
                        <div class="col-sm-4 input-group">
                            @Html.TextBoxFor(m => m.MailServerSettingsFormModel.UserName, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">@Language.LABEL_USERDATA_PASSWORD</label>
                        <div class="col-sm-4 input-group">
                            @Html.PasswordFor(m => m.MailServerSettingsFormModel.Password, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-primary pull-right" id="standardsavebutton" name="standardsavebutton"><i class="fa fa-save"></i>&nbsp;@CmsLanguage.CATMAN_ACTION_SAVE</button>
                        </div>
                    </div>
                }
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-cog fa-fw"></i>&nbsp;@CmsLanguage.LABEL_STANDARD_EMAIL_SETTINGS
            </div>
            <div class="panel-body">
                @using (@Html.BeginForm("SaveMailMessageSettings", "MailTemplate", FormMethod.Post, new { @role = "form", @id = "content" }))
                {
                    <div class="form-group">
                        <label class="control-label col-sm-4">@CmsLanguage.LABEL_SEND_AS_NAME</label>
                        <div class="col-sm-4 input-group">
                            @Html.TextBoxFor(m => m.GeneralMailSettingsFormModel.SendAsName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.GeneralMailSettingsFormModel.SendAsName)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">@CmsLanguage.LABEL_SEND_AS_ADDRESS</label>
                        <div class="col-sm-4 input-group">
                            @Html.TextBoxFor(m => m.GeneralMailSettingsFormModel.SendAsAddress, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.GeneralMailSettingsFormModel.SendAsAddress)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">@CmsLanguage.LABEL_CC</label>
                        <div class="col-sm-4 input-group">
                            @Html.TextBoxFor(m => m.GeneralMailSettingsFormModel.CC, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.GeneralMailSettingsFormModel.CC)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">@CmsLanguage.LABEL_BCC</label>
                        <div class="col-sm-4 input-group">
                            @Html.TextBoxFor(m => m.GeneralMailSettingsFormModel.BCC, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.GeneralMailSettingsFormModel.BCC)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-primary pull-right" id="standardsavebutton" name="standardsavebutton"><i class="fa fa-save"></i>&nbsp;@CmsLanguage.CATMAN_ACTION_SAVE</button>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-cog fa-fw"></i>&nbsp;@CmsLanguage.LABEL_IDLE_CART_REMINDER_MAIL_SETTINGS
            </div>
            <div class="panel-body">
                @using (@Html.BeginForm("SaveStaleMailMessageSettings", "MailTemplate", FormMethod.Post, new { @role = "form", @id = "content" }))
                {
                    <div class="form-group">
                        <label class="control-label col-sm-4">@CmsLanguage.LABEL_SEND_REMINDER_EMAIL</label>
                        <div class="col-sm-4 input-group">
                            @Html.CheckBoxFor(m => m.StaleCartMailSettingsFormModel.SendReminderEmail)
                            @Html.HiddenFor(m => m.StaleCartMailSettingsFormModel.SendReminderEmailCurrentSetting)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">@CmsLanguage.LABEL_SEND_AFTER_STALE_PERIOD</label>
                        <div class="col-sm-4 input-group">
                            @Html.TextBoxFor(m => m.StaleCartMailSettingsFormModel.SendAfterStalePeriod, new { @class = "form-control", @id = "stale-days", @value = "1" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">@CmsLanguage.LABEL_REPEAT</label>
                        <div class="col-sm-4 input-group">
                            @Html.TextBoxFor(m => m.StaleCartMailSettingsFormModel.RepeatPeriod, new { @class = "form-control", @id = "repeat" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">@CmsLanguage.LABEL_SEND_TIME</label>
                        <div class="input-group bootstrap-timepicker col-sm-1">
                            @Html.TextBoxFor(m => m.StaleCartMailSettingsFormModel.SendTime, new { @class = "input-sm", @id = "timepicker1" })
                            <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-primary pull-right" id="idlecartsavebutton" name="idlecartsavebutton"><i class="fa fa-save"></i>&nbsp;@CmsLanguage.CATMAN_ACTION_SAVE</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@*<div class="col-sm-12 col-lg-4">
    
</div>*@

<script>
    $("input[name='StaleCartMailSettingsFormModel.SendAfterStalePeriod']").TouchSpin({
        min: 0,
        max: 100,
        step: 1,
        decimals: 0,
        boostat: 5,
        maxboostedstep: 10,
        postfix: 'day(s)'
    });

    $("input[name='StaleCartMailSettingsFormModel.RepeatPeriod']").TouchSpin({
        min: 0,
        max: 10,
        step: 1,
        decimals: 0,
        boostat: 5,
        maxboostedstep: 5,
        postfix: 'time(s)'
    });
    $('#timepicker1').timepicker({
        minuteStep: 1,
        showSeconds: true,
        showMeridian: false,
        defaultTime: false
    });
</script>
