﻿@using Resources

<div class="row">
    <div class="col-sm-12">
        
        <div class="product-actions">
            <button type="button" id="button1" class="btn btn-danger"><i class="fa fa-trash-o"></i> @CmsLanguage.LABEL_REMOVE_SELECTED</button>
        </div>

        <div class="table-responsive">
            <div class="productTable-wrapper" role="grid">
                <table class="table table-striped table-bordered table-hover dataTable no-footer" id="mailPromotionProductTable" style="width: 100%">
                    <thead>
                        <tr>
                            <th class="text-center small-column">
                                <input type="checkbox" id="select_all" />
                            </th>
                            <th class="">@Language.LABEL_PRODUCT_NUMBER</th>
                            <th class="text-center min-width-70 width-70"></th>
                            <th>@Language.LABEL_PRODUCT_NAME</th>
                            <th class="">@Language.LABEL_PRICE</th>
                            <th class="">@Language.LABEL_PRODUCT_GROUP</th>
                            <th class="small-column"></th>
                        </tr>
                    </thead>
                            
                </table>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="product-actions">
                            <button type="button" id="button2" class="btn btn-danger"><i class="fa fa-trash-o"></i> @CmsLanguage.LABEL_REMOVE_SELECTED</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*<input id="grpProductGuid" name="grpProductGuid" type="hidden" value="@Model.Group.GroupGuid" />*@
        <table class="table table-bordered">
        </table>
    </div>
</div>